<div class="vl-action-group vl-action-group--align-right">
  {{utils/simple-file-uploader}}
</div>
{{utils/user-table
  model=model
  sort=sort
  page=page
  filter=filter
  include=include
  size=size
  columns=columns
}}