<h4 class="vl-u-text--uppercase vlc-u-text-decoration-underline">
  {{#each this.mandatees as |mandatee|}}
    {{mandatee.title}}
    {{#if (not-eq mandatee this.mandatees.lastObject)}}
      <br/>&
    {{/if}}
  {{!-- In the printable view, don't show anything when no mandatees attached}}
  {{else}}
    Geen toegekende ministers
  {{--}}
  {{/each}}
</h4>