<div class="vl-u-display-flex vl-u-flex-align-center c-attachment">
  <div
    class="vl-badge vl-badge--icon vl-badge--small vl-badge--alt c-document-badge"
  >
    <i class="vl-badge__icon vl-vi vl-vi-file"></i>
  </div>
  <div>
    {{nonDigitalDocument.title}}
  </div>
  <a {{action "removeDocument" nonDigitalDocument}}>
    <i class="vl-vi vl-vi-cross"></i>
  </a>
</div>