{{page-title (await title)}}
{{utils/overviews-header-print
  title=(await title)
  model=(await model)
  routeModelPrefix=routeModel
  navigateBackToAgenda=(action "navigateBackToAgenda")
}}
<div class="auk-scroll-wrapper__body">
  {{outlet}}
</div>