{{#each subcases as |subcase|}}
  {{#subcases/subcase-item subcase=subcase}}
    <hr class="vlc-hr" />
    <div class="vl-u-spacer-extended-bottom-s">
      <p class="vlc-subline">
        {{await subcase.case.type.label}}
      </p>
    </div>
    <div class="vl-u-spacer-extended-bottom-s">
      <div class="vl-title vl-title--h5">
        {{subcase.shortTitle}}
      </div>
    </div>
    <div class="vl-u-spacer-extended-bottom">
      <p>
        {{subcase.title}}
      </p>
    </div>
    {{utils/documents-list-for-item item=subcase}}
  {{/subcases/subcase-item}}
{{/each}}