{{#web-components/vl-modal isOverlay=true closeModal=(action "close")}}
  <div class="vl-typography">
    <h3>
      {{t "press-agenda"}}
      {{moment-format currentSession.plannedStart "dddd DD-MM-YYYY"}}
    </h3>
    {{#each pressAgendaItems as |pressItem|}}
      <h4>
        {{pressItem.title}}
      </h4>
      <p>
        {{pressItem.content}}
      </p>
    {{/each}}
  </div>
{{/web-components/vl-modal}}