<div class="vlc-container vl-u-spacer-extended-top vl-u-spacer-extended-bottom">
  {{#each (await agendaitemGroups) as |agendaitemGroup|}}
    <div
      class="vl-u-spacer-extended-top vl-u-spacer-extended-bottom vlc-navbar--bordered-bottom"
    >
      {{#each agendaitemGroup.mandatees as |mandatee|}}
        <h2 class="vl-title vl-title--h5">
          {{mandatee.title}}
        </h2>
      {{/each}}
    </div>
    {{#each agendaitemGroup.agendaitems as |agendaitem|}}
      <div
        class="vlc-comments-comment-content vl-u-spacer-extended-top vl-u-spacer-extended-bottom"
      >
        <div class="vl-u-spacer">
          <h3 class="vl-title vl-title--h6">
            {{agendaitem.foundPriority}}. {{agendaitem.titlePress}}
          </h3>
          <p>
            {{agendaitem.textPress}}
          </p>
        </div>
      </div>
    {{/each}}
  {{/each}}
</div>