<WebComponents::VlAlert
  class="vl-alert-relative vl-alert-relative--center-mid"
  aria-live="assertive"
  @type="warning"
  @title="Document verwijderen"
  @closeable={{false}}
>
  <div class="vl-alert__message auk-u-text-capitalize">
    <p>
      {{@message}}
    </p>
    <button
      type="button"
      class="auk-button auk-button--borderless"
      {{action @options.onUndo}}
    >
      <span class="auk-button__content">
        <div class="auk-icon auk-icon--default">
          <i class="ki ki-redo"></i>
        </div>
        <div class="auk-button__label">
          {{t "undo"}}
        </div>
      </span>
    </button>
  </div>
</WebComponents::VlAlert>
