<WebComponents::VlAlert
  class="vl-alert-relative vl-alert-relative--center-mid"
  aria-live="assertive"
  @type="warning"
  @title="Document verwijderen"
  @closeable={{false}}
>
  <div class="vl-alert__message auk-u-text-capitalize">
    <p>
      {{@message}}
    </p>
    <Auk::Button
      @skin="borderless"
      @layout="icon-only"
      @icon="redo"
      {{action @options.onUndo}}
    >
      {{t "undo"}}
    </Auk::Button>
  </div>
</WebComponents::VlAlert>
