{{#if @toasts.length}}
  <div class="toasts-container">
    {{#each @toasts as |toast|}}
      {{#if (eq toast.type "revert-action")}}
        <Utils::Toaster::RevertActionToast ...toast />
      {{else if (eq toast.type "download-file")}}
        <Utils::Toaster::DownloadFileToast ...toast />
      {{else}}
        <Utils::Toaster::Toast ...toast />
      {{/if}}
    {{/each}}
  </div>
{{/if}}
