<label class="auk-radio">
  <input class="auk-radio__toggle" type="radio" ...attributes>
  {{@label}}
  {{#if this.sublabel}}
    <br/>
    <span class="u-muted u-text-small">{{@sublabel}}</span>
  {{/if}}
  <span class="auk-radio__box"></span>
</label>
