// sass-lint:disable variable-name-format
$grid-cols: 12;
$grid-wide-expansion: #{100 * 1 / 24 + "%"};

$grid_args: (
  config: (
    gridclass:           "vl-grid",
    itemclass:           "vl-col--",
    pushclass:           "vl-push--",
    push:                true,
    debug:               false,
    classdebug:          false,
    ie9:                  false
  ),
  grids: (
    default: (
      columns:          $grid-cols,
      gutter:           3rem,
      debug_name:       "default",
      debug_bg:           #f175c8,
    ),
    large: (
      columns:          $grid-cols,
      suffix:           "--l",
      breakpoint_min:   $bp-medium + 1,
      gutter:           3rem,
      debug_name:       "Large",
      debug_bg:         #1a4cf1,
    ),
    xlarge: (
      columns:          $grid-cols,
      suffix:           "--xl",
      breakpoint_min:   $bp-large + 1,
      gutter:           3rem,
      debug_name:       "X-Large",
      debug_bg:         #ea121d,
    ),
    medium: (
      columns:          $grid-cols,
      suffix:           "--m",
      breakpoint_max:   $bp-medium,
      gutter:           3rem,
      debug_name:       "Medium",
      debug_bg:         #0c9c2e,
    ),
  )
);

$form_grid_args: (
  config: (
    gridclass:           "vl-form-grid",
    itemclass:           "vl-form-col--",
    pushclass:           "vl-form-push--",
    push:                true,
    debug:               false,
    classdebug:          false,
    ie9:                  false
  ),
  grids: (
    default: (
      columns:          $grid-cols,
      gutter:           1.5rem,
      debug_name:       "default",
      debug_bg:           #f175c8,
    ),
  )
);
