<div class="auk-u-flex auk-u-flex--vertical-center c-attachment">
  <div class="vl-badge vl-badge--icon vl-badge--small vl-badge--alt c-document-badge">
    <i class="vl-badge__icon ki-document"></i>
  </div>
  <div>
    {{nonDigitalDocument.title}}
  </div>
  <a href="" {{action "removeDocument" nonDigitalDocument}}>
    <i class="ki-cross"></i>
  </a>
</div>
