<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    {{#utils/agendaitem-table
      model=model
      sort=sort
      page=page
      filter=filter
      size=size
      isLoadingModel=isLoadingModel as |row|
    }}
      <div class="vl-action-group vl-action-group--align-left">
        <button
          class="vl-button vl-button--tertiary vl-button--narrow"
          {{action "addDecision"}}
        >
          Voeg beslissing toe
        </button>
      </div>
      {{#if (is-pending row.decisions)}}
        {{web-components/vl-loader text="De beslissingen worden geladen.."}}
      {{/if}}
      {{#each (await row.decisions) as |decision|}}
        {{agenda/agendaitem/agendaitem-decision
          subcase=(await row.subcase)
          decision=decision
          agendaitem=row
        }}
      {{/each}}
    {{/utils/agendaitem-table}}
  </div>
</div>
{{outlet}}