<div class="auk-u-mb-8">
  <div class="auk-o-flex auk-u-mb-4">
    <div class="auk-printable-agenda-list__item-letter">{{letter}}.</div>
    <h3 class="auk-u-text-uppercase auk-u-m-0 auk-u-text-decoration-underline">{{title}}</h3>
  </div>
  {{yield}}
</div>
