<div class="agenda-navigation-banner">
    {{agenda/agenda-item-list agendaitems=model}}
</div>

{{#ember-wormhole to="sessions-subtitle-count"}}
  {{model.length}} {{t 'agenda.agendaitems'}}
{{/ember-wormhole}}