{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">{{t "style-guide-alerts"}}</h1>
<h4 class="vlc-kitchensink-header">Current used alert component:</h4>
<Styleguide::KitchensinkSample
  @title="Loading"
  @snippet="loading.hbs"
>
  {{!-- BEGIN-SNIPPET loading --}}
  <WebComponents::VlAlert @type="loading"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Closeable"
  @snippet="closeable.hbs"
>
  {{!-- BEGIN-SNIPPET closeable --}}
  <WebComponents::VlAlert @closeable="false"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Caution"
  @snippet="caution.hbs"
>
  {{!-- BEGIN-SNIPPET caution --}}
  <WebComponents::VlAlert @title="Caution!"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Changes alert"
  @snippet="changes.hbs"
>
  {{!-- BEGIN-SNIPPET changes --}}
  <ChangesAlert @message="The document has changed!"></ChangesAlert>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>
<hr>
<h4 class="vlc-kitchensink-header">New alert component :</h4>
<Styleguide::KitchensinkSample
  @title="AU alert Success"
  @code='<WebComponents::AuAlert @skin="success" @title="title" @message="message"/>'
>
  {{!-- BEGIN-SNIPPET changes --}}
  <WebComponents::AuAlert @skin="success" @title="title" @message="message"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>
<Styleguide::KitchensinkSample
        @title="AU alert Warning"
        @code='<WebComponents::AuAlert @skin="warning" @title="title" @message="message"/>'
>
  {{!-- BEGIN-SNIPPET changes --}}
  <WebComponents::AuAlert @skin="warning" @title="title" @message="message"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>
<Styleguide::KitchensinkSample
        @title="AU alert Error"
        @code='<WebComponents::AuAlert @skin="error" @title="title" @message="message"/>'

>
  {{!-- BEGIN-SNIPPET changes --}}
  <WebComponents::AuAlert @skin="error" @title="title" @message="message"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>
