{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">{{t "style-guide-alerts"}}</h1>

<h3 class="vlc-kitchensink__sample-header">Loading</h3>
<div class="vlc-kitchensink__sample">
  <WebComponents::VlAlert @type="loading"/>
</div>

<h3 class="vlc-kitchensink__sample-header">Closeable</h3>
<div class="vlc-kitchensink__sample">
  <WebComponents::VlAlert @closeable="false"/>
</div>

<h3 class="vlc-kitchensink__sample-header">Caution</h3>
<div class="vlc-kitchensink__sample">
  <WebComponents::VlAlert @title="Caution!"/>
</div>

<h3 class="vlc-kitchensink__sample-header">Changes alert</h3>
<div class="vlc-kitchensink__sample">
  <ChangesAlert @message="The document has changed!"></ChangesAlert>
</div>