// ==========================================================================
// Colors
// Are defined by the "Name That Color" principle.
// More info: http://chir.ag/projects/name-that-color/
// Below the standard color names you can find the used variables throughout Flanders UI.
// ==========================================================================

$white: #FFFFFF;
$black: #000;

$primary-yellow: #FEE539;
$primary-blue: #0055CC;
$blue-dark: #003BB0;


/* From designs: Alert colors
 ========================================================================== */

$red: #DB3434;
$red-light: #FF3333;
$green: #8BAE00;
$green-light: #B3E000;
$orange: #FFC515;
$orange-light: #FEE85C;

/* From designs: Pastels
 ========================================================================== */

$pastel-red: #FAE6E6;
$pastel-green: #F7FAE6;
$pastel-yellow: #FEF9E6;

// ================================
// Gray shaded
// ================================
$mine-shaft: #333332;
$gray-dark: #333333;
$dove-gray: #666666;
$gray-light: #B2B2B2;
$gray-lighter: #CCCCCC;
$gray-lightest: #DDDDDD;
$ghost: #cbd2da;
$athens-gray: #e8ebee;
$athens-gray-light: #f1f2f4;
$fuscous-gray: #434342;
$friar-gray: #80807d;
$cararra: #e5e5e1;
$gray-chateau: #9fa4aa;
$porcelain: #f3f5f6;
$geyser: #d3d9e0;
$silver-chalice: #b2b2b2;
$gray: #8c8c8c;
$ship-gray: #3b3b3c;
$loblolly: #c6cdd3;
$storm-dust: #5f6364;
$regent-gray: #8695a8;

/* From designs: Blue Gray
 ========================================================================== */

$blue-gray-dark: #79838F;
$blue-gray: #A5B3C2;
$blue-gray-light: #C6CDD3;
$blue-gray-lighter: #E8EBEE;
$blue-gray-lightest: #F3F5F6;

// ================================
// Brown shades
// ================================
$brown: #966729;
$frensh-beige: #a67f59;
$bon-jour: #e0d7d1;

// ================================
// Blue shades
// ================================
$science-blue: #05c;
$kashmir-blue: #557797;
$curious-blue: #003bb0;
$endeavour: #004099;
$regal-blue: #003a72;
$blue-bayoux: #607284;
$allports: #00789b;


// ================================
// Yellow shades
// ================================
$amber: #ffc515;
$yellow: #ffe615;
$off-yellow: #fef9e5;
$school-bus-yellow: #fedd00;

// ================================
// Red shades
// ================================
$tall-poppy: #af2929;
$punch: #db3434;
$linen: #fbeaea;
$bahia: #a6cf00;
$azalea: #f8d6d6;
$persian-red: #c92c2c;

// ================================
// Green shades
// ================================
$napier-green: #238000;


// ================================
// State colors
// ================================
$limeade: #8bae00;
$pistachio: #a3cc00;
$rum-swizzle: #f7fae5;
$map-background: #e5e3df;
$green: #a3cc00;
$background-green: #f6fae5;
$background-red: #fbeaea;
$background-yellow: #fef9e5;
$pink: #d53e5e;

// ================================
// Sharing colors
// ================================
$facebook-color: #36609f;
$twitter-color: #2caae1;
$linkedin-color: #0a6c9b;
$googleplus-color: #dc5442;

/* Table colors
	 ========================================================================== */

$white-background: #eee;

/* Environment Indicator Colors
	 ========================================================================== */

$environment-local-color: #e86ab9;
$environment-dev-color: #4CAF50;
$environment-test-color: #FFF176;
$environment-prod-color: #d53333;

/* Tooltips
	 ========================================================================== */

$tooltip-dark-color: #454545;

/* ==========================================================================
   App Universum Colors
   --------------------------------------------------------------------------
   Please use these in favour over other colors where possible!
   We're making the switch over to AU. This here is a copy from that repo.
   In the future we'll be including AU as an addon, but today is not that day

   Make no additions to this list as they will surely not be there
   in the future.

   Only make edits and additions if you **really know what you're doing**
   ========================================================================== */

// ==========================================================================
// Mapped colors
// Color variables based on their function or role, to see the color values
// see _colorsRaw.scss
// ==========================================================================
$page-bg: $white !default;

// ================================
// Text colors
// ================================
$text-color: $mine-shaft !default;
$alt-text-color: $dove-gray !default;
$sub-text-color: $gray !default;
$placeholder-color: $silver-chalice !default;
$icon-color: $silver-chalice !default;

// ================================
// Default widely used colors
// ================================
$action-color: $science-blue !default;
$action-fg-color: $page-bg !default;
$action-hover-color: $curious-blue !default;
$action-active-color: $endeavour !default;
$action-active-border-color: $regal-blue !default;
$action-text-color: $action-color !default;
$action-text-hover-color: $action-hover-color !default;
$action-text-active-color: $action-active-color !default;
$action-secondary-color: $limeade !default;
$action-tertiary-color: $loblolly !default;
$action-tertiary-hover-color: darken($loblolly, 20%) !default;
$accent-color: $yellow !default;
$accent-fg-color: $page-bg !default;
$accent-alt-color: darken($accent-color, 5%) !default;
$border-color: $ghost !default;
$outline-color: $amber !default;
$form-label-message-color: $regent-gray !default;
$label-color-light: $regent-gray !default;

// ================================
// Backgrounds
// ================================
$alt-bg: $athens-gray !default;
$alt-hover-bg: $athens-gray-light !default;
$overlay-bg: rgba($page-bg, 0.8) !default;

// ================================
// States
// ================================
$error-color: $punch !default;
$error-fg-color: $page-bg !default;
$error-hover-color: $tall-poppy !default;
$error-secondary-color: mix($azalea, $page-bg, 60%) !default;
$error-text-color: $error-color !default;
$warning-color: $amber !default;
$warning-text-color: $amber !default;
$warning-fg-color: $text-color !default;
$warning-hover-color: darken($warning-color, 5%) !default;
$warning-secondary-color: $off-yellow !default;
$success-color: $limeade !default;
$success-hover-color: $success-color !default;
$success-fg-color: $page-bg !default;
$success-secondary-color: $rum-swizzle !default;
$success-text-color: $success-color !default;
$bordered-content-border-color: $alt-bg !default;
$subtext-color: $alt-text-color !default;
$marker-bg-color: $yellow !default;
$marker-fg-color: $text-color !default;
$progress-color: $pink !default;

// ================================
// Disabled
// ================================
$disabled-color: $ghost !default;
$disabled-color-dark: darken($ghost, 20%);
$disabled-bg-color: mix($athens-gray, $page-bg, 50%) !default;
$disabled-text-color: $alt-text-color !default;

// ================================
// Regions
// ================================
$alt-region-bg: $alt-bg !default;
