@font-face {
    font-family: "kaleidos-icons";
    src: url("/fonts/kaleidos-icons.eot?7b2a66bf5daedce02081b2fc7b0600a1?#iefix") format("embedded-opentype"),
url("/fonts/kaleidos-icons.woff2?7b2a66bf5daedce02081b2fc7b0600a1") format("woff2"),
url("/fonts/kaleidos-icons.woff?7b2a66bf5daedce02081b2fc7b0600a1") format("woff"),
url("/fonts/kaleidos-icons.ttf?7b2a66bf5daedce02081b2fc7b0600a1") format("truetype"),
url("/fonts/kaleidos-icons.svg?7b2a66bf5daedce02081b2fc7b0600a1#kaleidos-icons") format("svg");
}

i[class^="ki-"]:before, i[class*=" ki-"]:before {
    font-family: kaleidos-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ki-add:before {
    content: "\f101";
}
.ki-alert-triangle:before {
    content: "\f102";
}
.ki-arrow-down:before {
    content: "\f103";
}
.ki-arrow-left:before {
    content: "\f104";
}
.ki-arrow-right:before {
    content: "\f105";
}
.ki-arrow-up:before {
    content: "\f106";
}
.ki-back:before {
    content: "\f107";
}
.ki-book:before {
    content: "\f108";
}
.ki-calendar-plus:before {
    content: "\f109";
}
.ki-calendar:before {
    content: "\f10a";
}
.ki-check:before {
    content: "\f10b";
}
.ki-chevron-down:before {
    content: "\f10c";
}
.ki-chevron-left:before {
    content: "\f10d";
}
.ki-chevron-right:before {
    content: "\f10e";
}
.ki-chevron-up:before {
    content: "\f10f";
}
.ki-circle-check:before {
    content: "\f110";
}
.ki-circle-info:before {
    content: "\f111";
}
.ki-circle-question:before {
    content: "\f112";
}
.ki-clock:before {
    content: "\f113";
}
.ki-close:before {
    content: "\f114";
}
.ki-comment:before {
    content: "\f115";
}
.ki-copy-paste:before {
    content: "\f116";
}
.ki-cross:before {
    content: "\f117";
}
.ki-delete:before {
    content: "\f118";
}
.ki-document-added:before {
    content: "\f119";
}
.ki-document-updated:before {
    content: "\f11a";
}
.ki-document:before {
    content: "\f11b";
}
.ki-download:before {
    content: "\f11c";
}
.ki-drag-handle-18:before {
    content: "\f11d";
}
.ki-drag-handle-2:before {
    content: "\f11e";
}
.ki-drag-handle:before {
    content: "\f11f";
}
.ki-edit:before {
    content: "\f120";
}
.ki-expand-vertical:before {
    content: "\f121";
}
.ki-external-link:before {
    content: "\f122";
}
.ki-file:before {
    content: "\f123";
}
.ki-filter:before {
    content: "\f124";
}
.ki-hide:before {
    content: "\f125";
}
.ki-hierarchical-back:before {
    content: "\f126";
}
.ki-import:before {
    content: "\f127";
}
.ki-info-circle:before {
    content: "\f128";
}
.ki-lightbulb:before {
    content: "\f129";
}
.ki-link-broken:before {
    content: "\f12a";
}
.ki-lock-closed:before {
    content: "\f12b";
}
.ki-lock-open:before {
    content: "\f12c";
}
.ki-mail:before {
    content: "\f12d";
}
.ki-more:before {
    content: "\f12e";
}
.ki-nav-down:before {
    content: "\f12f";
}
.ki-nav-left:before {
    content: "\f130";
}
.ki-nav-right:before {
    content: "\f131";
}
.ki-nav-up:before {
    content: "\f132";
}
.ki-not-visible:before {
    content: "\f133";
}
.ki-paperclip:before {
    content: "\f134";
}
.ki-pencil:before {
    content: "\f135";
}
.ki-plus:before {
    content: "\f136";
}
.ki-printer-view:before {
    content: "\f137";
}
.ki-question-mark:before {
    content: "\f138";
}
.ki-redo:before {
    content: "\f139";
}
.ki-remove:before {
    content: "\f13a";
}
.ki-search:before {
    content: "\f13b";
}
.ki-settings:before {
    content: "\f13c";
}
.ki-sitemap:before {
    content: "\f13d";
}
.ki-synchronize:before {
    content: "\f13e";
}
.ki-timeline:before {
    content: "\f13f";
}
.ki-upload:before {
    content: "\f140";
}
.ki-user:before {
    content: "\f141";
}
.ki-visible:before {
    content: "\f142";
}
