// Print stylesheet focussed on making agenda overview look good when printed

@media print {

  .vl-alert {
    display: none;
  }

  .auk-button-link {
    display: none;
  }

  html {
    font-size: 50%;
  }

  .vlc-u-box-model-maximize-height {
    height: auto !important;
  }

  .vl-u-spacer-extended-l {
    margin: 1rem !important;
  }

  // Hide top nav and side nav
  #c-main-nav {
    display: none !important;
  }

  .vlc-side-nav {
    display: none;
  }

  // Remove backgrounds
  .vl-u-bg-alt,
  .vlc-navbar--bg-alt,
  .auk-u-bg-alt {
    background: #fff;
  }

  .vlc-agenda-items__header {
    background: #ddd;
  }

  // Hide elements in page header & simplify page header

  .vlc-page-header {
    padding: 1rem;
    background: none;
  }

  .vlc-page-header__sub {
    display: none !important;
  }

  .vlc-toolbar__right {
    display: none;
  }

  .vlc-page-header .vlc-page-header__title--bordered {
    border: none;
  }

  .print-only {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p::before {
      border-top: 1px solid black;
    }
  }

  .no-print {
    display: none !important;
  }

  // Fix an issue which causes Firefox to only print a single page
  .vlc-scroll-wrapper {
    display: block;
  }

}

.print-only {
  display: none;
}

