@import 'ember-power-select';
@import 'ember-vo-webuniversum-data-table';
// TODO: Deze fix is om ervoor te zetten dat de variabelen voor de ember-rdfa-editor op voorhand gezet worden zodat ze niett overschreven worden door de !default
@import 'fixes/fix-ember-rdfa-editor';
@import 'ember-rdfa-editor';
/* ==========================================================================
   CSS file for Digikan
   ========================================================================== */

/* Official code
   ========================================================================== */

@import '_colors';
$icon-font-location: '/fonts/'; // overrides the default location for flanders-icons font files

// Components (loaded locally to easily read source)
@import 'govflanders/core/_setting.scss';
@import 'govflanders/core/_tool.scss';
@import 'govflanders/core/_generic.scss';
@import 'govflanders/core/_object.scss';

// Components (loaded locally to easily read source)
@import 'govflanders/components/_accordion';
@import 'govflanders/components/_alert';
@import 'govflanders/components/_toggle';
@import 'govflanders/components/_datepicker';
@import 'govflanders/components/_document';
@import 'govflanders/components/_input-addon';
@import 'govflanders/components/_input-field';
@import 'govflanders/components/_input-group';
@import 'govflanders/components/_upload';

// Interdependent components (loaded from node_modules)
// @import 'node_modules/@govflanders/vl-ui-select/src/scss/_select';
// @import 'node_modules/@govflanders/vl-ui-select/src/scss/_js-select';

/* Unofficial code
========================================================================== */

// Additions to existing components
@import 'govflanders/additions/_checkbox';

// Custom components
@import 'custom-components/vlc-agenda-detail-sidebar';
@import 'custom-components/vlc-agenda-detail-sidebar-item';
@import 'custom-components/vlc-agenda-detail-sidebar-section-header';
@import 'custom-components/vlc-agenda-items-section-header';
@import 'custom-components/vlc-agenda-items';
@import 'custom-components/vlc-agenda-meta';
@import 'custom-components/vlc-backlink';
@import 'custom-components/vlc-block-link';
@import 'custom-components/vlc-button';
@import 'custom-components/vlc-button-in-input';
@import 'custom-components/vlc-button-link';
@import 'custom-components/vlc-button-toolbar';
@import 'custom-components/vlc-subcase-description';
@import 'custom-components/vlc-container';
@import 'custom-components/vlc-date-range';
@import 'custom-components/vlc-document-card';
@import 'custom-components/vlc-document-list';
@import 'custom-components/vlc-environment-pill';
@import 'custom-components/vlc-dropdown-menu';
@import 'custom-components/vlc-hr';
@import 'custom-components/vlc-input-field-block';
@import 'custom-components/vlc-input';
@import 'custom-components/vlc-key-value';
@import 'custom-components/vlc-list-section-header';
@import 'custom-components/vlc-minister';
@import 'custom-components/vlc-mock-login';
@import 'custom-components/vlc-navbar';
@import 'custom-components/vlc-new-session';
@import 'custom-components/vlc-page-header';
@import 'custom-components/vlc-pagination';
@import 'custom-components/vlc-panel-layout';
@import 'custom-components/vlc-panel';
@import 'custom-components/vlc-pill';
@import 'custom-components/vlc-printable-agenda-list';
@import 'custom-components/vlc-preview-container';
@import 'custom-components/vlc-procedure-step';
@import 'custom-components/_vlc-publication-overview';
@import 'custom-components/vlc-publication-status-pill';
@import 'custom-components/vlc-rdfa-editor';
@import 'custom-components/vlc-scroll-wrapper';
@import 'custom-components/vlc-search';
@import 'custom-components/vlc-side-nav';
@import 'custom-components/vlc-status-timeline';
@import 'custom-components/vlc-subline';
@import 'custom-components/vlc-tabs-reverse';
@import 'custom-components/vlc-tabs';
@import 'custom-components/vlc-themes-selector';
@import 'custom-components/vlc-toaster-button';
@import 'custom-components/vlc-toolbar';
@import 'custom-components/vlc-user';
@import 'custom-components/vlc-user-management-table';
@import 'custom-components/vlc-link-actions';
@import 'custom-components/vlc-login';
@import 'custom-components/vlc-color-badge-holder';
@import 'custom-components/vlc-color-badge';
@import 'custom-components/vlc-decision-result-select';
@import 'custom-components/vlc-numac-nummer-list';

// Imports utilities (loaded from node_modules)
// @import 'node_modules/@govflanders/vl-ui-util/src/scss/util';

// Utilities (loaded locally to easily read source)
@import 'govflanders/util/_util';

// Fixes to the framework
@import 'fixes/fix-auk-modal-ember-select';
@import 'fixes/fix-full-height';
@import 'fixes/fix-light-table';
@import 'fixes/fix-icon-positioning';
@import 'fixes/fix-kaleidos-viewer';
@import 'fixes/fix-sortable-item';
@import 'fixes/fix-power-select';
@import 'fixes/fix-ember-data-table';

// Custom utilities
@import 'custom-utilities/_ember-tooltip';
@import 'custom-utilities/_autocomplete';
@import 'custom-utilities/_box-model';
@import 'custom-utilities/_text';
@import 'custom-utilities/_transparency';

// Print
@import 'print/print';
@import 'print';

//custom css added
@import 'custom-application/toast';
@import 'custom-application/compare';
@import 'custom-application/power-select';
@import 'custom-application/editor';
@import 'custom-application/ember-attacher';
@import 'custom-application/file-uploader';
@import 'custom-application/icons-overview';
@import 'custom-application/extra-fonts';
@import 'custom-application/loader';

// Components (from npm package)
// @import "node_modules/@kanselarij-vlaanderen/au-kaleidos-css/auk-standalone";
@import "au-kaleidos-css/auk-standalone";
@import "au-kaleidos-css/auk-additions";
