@import 'ember-power-select';
@import 'ember-vo-webuniversum-data-table';
// TODO: Deze fix is om ervoor te zetten dat de variabelen voor de ember-rdfa-editor op voorhand gezet worden zodat ze niett overschreven worden door de !default
@import 'fixes/fix-ember-rdfa-editor';
@import 'ember-rdfa-editor';
/* ==========================================================================
   CSS file for Digikan
   ========================================================================== */

/* Official code
   ========================================================================== */

@import '_colors';
$icon-font-location: '/fonts/';
@import '_icon-font';

// Components (loaded locally to easily read source)
@import 'govflanders/core/_setting.scss';
@import 'govflanders/core/_tool.scss';
@import 'govflanders/core/_generic.scss';
@import 'govflanders/core/_element.scss';
@import 'govflanders/core/_object.scss';

// Components (loaded locally to easily read source)
@import 'govflanders/components/_accordion';
@import 'govflanders/components/_action-group';
@import 'govflanders/components/_alert';
@import 'govflanders/components/_autocomplete';
@import 'govflanders/components/_badge';
@import 'govflanders/components/_button';
@import 'govflanders/components/_checkbox';
@import 'govflanders/components/_data-table';
@import 'govflanders/components/_datepicker';
@import 'govflanders/components/_description-data';
@import 'govflanders/components/_document';
@import 'govflanders/components/_form-message';
@import 'govflanders/components/_form-structure';
@import 'govflanders/components/_icon';
@import 'govflanders/components/_input-addon';
@import 'govflanders/components/_input-field';
@import 'govflanders/components/_input-group';
@import 'govflanders/components/_link-list';
@import 'govflanders/components/_link';
@import 'govflanders/components/_loader';
@import 'govflanders/components/_modal';
@import 'govflanders/components/_pager';
@import 'govflanders/components/_pill-input';
@import 'govflanders/components/_pill';
@import 'govflanders/components/_radio';
@import 'govflanders/components/_search';
@import 'govflanders/components/_side-navigation';
@import 'govflanders/components/_tabs';
@import 'govflanders/components/_textarea';
@import 'govflanders/components/_titles';
@import 'govflanders/components/_typography';
@import 'govflanders/components/_upload';

// Interdependent components (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-select/src/scss/_select";
// @import "node_modules/@govflanders/vl-ui-select/src/scss/_js-select";

// Interdependent components - These are source order dependent
@import 'govflanders/components/_select';
@import 'govflanders/components/_js-select';

/* Unofficial code
========================================================================== */

// Additions to existing components
@import 'govflanders/additions/_badge';
@import 'govflanders/additions/_button';
@import 'govflanders/additions/_checkbox';
@import 'govflanders/additions/_data-table';
@import 'govflanders/additions/_icon-list';
@import 'govflanders/additions/_link-list';
@import 'govflanders/additions/_loader';
@import 'govflanders/additions/_modal';
@import 'govflanders/additions/_pill';
@import 'govflanders/additions/_pill-input';
@import 'govflanders/additions/_tabs';

// Additions to existing utilities
@import 'govflanders/additions/_background';
@import 'govflanders/additions/_typography';

// Custom components
@import 'custom-components/vlc-agenda-detail-sidebar';
@import 'custom-components/vlc-agenda-detail-sidebar-item';
@import 'custom-components/vlc-agenda-detail-sidebar-section-header';
@import 'custom-components/vlc-agenda-items-section-header';
@import 'custom-components/vlc-agenda-items';
@import 'custom-components/vlc-agenda-meta';
@import 'custom-components/vlc-backlink';
@import 'custom-components/vlc-block-link';
@import 'custom-components/vlc-box';
@import 'custom-components/vlc-button';
@import 'custom-components/vlc-button-in-input';
@import 'custom-components/vlc-button-link';
@import 'custom-components/vlc-button-toolbar';
@import 'custom-components/vlc-container';
@import 'custom-components/vlc-date-range';
@import 'custom-components/vlc-document-card';
@import 'custom-components/vlc-document-list';
@import 'custom-components/vlc-environment-pill';
@import 'custom-components/vlc-dropdown-menu';
@import 'custom-components/vlc-hr';
@import 'custom-components/vlc-input-field-block';
@import 'custom-components/vlc-input';
@import 'custom-components/vlc-key-value';
@import 'custom-components/vlc-list-section-header';
@import 'custom-components/vlc-minister';
@import 'custom-components/vlc-mock-login';
@import 'custom-components/vlc-navbar';
@import 'custom-components/vlc-new-session';
@import 'custom-components/vlc-page-header';
@import 'custom-components/vlc-pagination';
@import 'custom-components/vlc-panel-layout';
@import 'custom-components/vlc-panel';
@import 'custom-components/vlc-pill';
@import 'custom-components/vlc-printable-agenda-list';
@import 'custom-components/vlc-preview-container';
@import 'custom-components/vlc-procedure-step';
@import 'custom-components/vlc-publication-status-pill';
@import 'custom-components/vlc-radio-inline';
@import 'custom-components/vlc-rdfa-editor';
@import 'custom-components/vlc-scroll-wrapper';
@import 'custom-components/vlc-search';
@import 'custom-components/vlc-search-legend';
@import 'custom-components/vlc-side-nav';
@import 'custom-components/vlc-status-timeline';
@import 'custom-components/vlc-subline';
@import 'custom-components/vlc-tabs-reverse';
@import 'custom-components/vlc-tabs';
@import 'custom-components/vlc-themes-selector';
@import 'custom-components/vlc-toaster-button';
@import 'custom-components/vlc-toolbar';
@import 'custom-components/vlc-user';
@import 'custom-components/vlc-user-management-table';
@import 'custom-components/vlc-link-actions';
@import 'custom-components/vlc-login';
@import 'custom-components/vlc-color-badge-holder';
@import 'custom-components/vlc-color-badge';
@import 'custom-components/vlc-decision-result-select';


// Kitchen sink
@import 'custom-components/_vlc-kitchensink-code-block';
@import 'custom-components/_vlc-kitchensink-container';
@import 'custom-components/_vlc-kitchensink-header';
@import 'custom-components/_vlc-kitchensink-navigation';
@import 'custom-components/_vlc-kitchensink-page-header';
@import 'custom-components/_vlc-kitchensink-sample-header';
@import 'custom-components/_vlc-kitchensink-sample';

// Imports utilities (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-util/src/scss/util";

// Utilities (loaded locally to easily read source)
@import 'govflanders/util/_util';

// Fixes to the framework
@import 'fixes/fix-badge-avatars';
@import 'fixes/fix-flex-utils';
@import 'fixes/fix-full-height';
@import 'fixes/fix-light-table';
@import 'fixes/fix-icon-positioning';
@import 'fixes/fix-kaleidos-viewer';
@import 'fixes/fix-pre';
@import 'fixes/fix-sortable-item';

// Custom utilities
@import 'custom-utilities/_box-model';
@import 'custom-utilities/_cursors';
@import 'custom-utilities/_extended-spacer';
@import 'custom-utilities/_spacing';
@import 'custom-utilities/_reset';
@import 'custom-utilities/_scroll';
@import 'custom-utilities/_text';
@import 'custom-utilities/_transparency';

// Print
@import 'print/print';
@import 'print';

//custom css added
@import 'custom-application/toast';
@import 'custom-application/compare';
@import 'custom-application/power-select';
@import 'custom-application/editor';
@import 'custom-application/ember-attacher';
@import 'custom-application/file-uploader';
@import 'custom-application/icons-overview';
@import 'custom-application/extra-fonts';
@import 'custom-application/loader';

//
@import 'appuniversum/au2-brand';
@import 'appuniversum/au2-button';
@import 'appuniversum/au2-input';
