/* ==================================
   KALEIDOS
   ================================== */

/**
 * CSS styling for the Kaleidos application
 */


// EXTERNAL COMPONENTS
@import 'ember-power-select';
@import 'ember-vo-webuniversum-data-table';


// AUK BASE
@import 'auk-base'; // sourced from "au-kaleidos-css" npm package


// GOVFLANDERS COMPONENTS
@import 'govflanders/components/_alert';
@import 'govflanders/components/_datepicker';
@import 'govflanders/components/_upload';


// VLC COMPONENTS
@import 'custom-components/vlc-agenda-detail-sidebar';
@import 'custom-components/vlc-agenda-items';
@import 'custom-components/vlc-agenda-meta';
@import 'custom-components/vlc-document-card';
@import 'custom-components/vlc-document-list';
@import 'custom-components/vlc-environment-pill';
@import 'custom-components/vlc-procedure-step';
@import 'custom-components/vlc-rdfa-editor';
@import 'custom-components/vlc-status-timeline';


// CUSTOM STYLING
@import 'custom-application/toast';
@import 'custom-application/compare';
@import 'custom-application/editor';
@import 'custom-application/ember-attacher';
@import 'custom-application/file-uploader';
@import 'custom-application/input-pills';
@import 'custom-application/loader';
@import 'custom-application/loadable-content';
@import 'custom-application/document-preview';
@import 'custom-application/power-select';


// AUK COMPONENTS
@import 'auk-components'; // sourced from "au-kaleidos-css" npm package


// LOCAL AUK ADDITIONS
@import 'au-kaleidos-css/auk-additions';


// LAYOUT STYLING
@import 'custom-application/m-header';


// PRINT STYLING
@import 'print/general';
