/* ==================================
   KALEIDOS
   ================================== */

/**
 * CSS styling for the Kaleidos application
 */


// EXTERNAL COMPONENTS
@import 'ember-power-select';
@import 'ember-vo-webuniversum-data-table';


// AUK BASE
@import 'auk-base'; // sourced from "au-kaleidos-css" npm package


// AUK ICONS STYLING
@import 'auk-icons'; // sourced from "au-kaleidos-icons" npm package


// AU STYLING
@import 'au/au-base';
@import 'au/au-components';


// WEBUNIVERSUM 2 LEGACY STYLING
@import 'wu/wu-legacy'; // partly copied from "lblod/ember-vo-webuniversum" npm package (needed for "lblod/ember-vo-webuniversum-data-table")


// GOVFLANDERS COMPONENTS
@import 'govflanders/components/_alert';
// @import 'govflanders/components/_datepicker';
@import 'govflanders/components/_upload';


// VLC COMPONENTS
@import 'custom-components/vlc-agenda-detail-sidebar';
@import 'custom-components/vlc-agenda-items';
@import 'custom-components/vlc-agenda-meta';
@import 'custom-components/vlc-document-card';
@import 'custom-components/vlc-document-list';
@import 'custom-components/vlc-environment-pill';
@import 'custom-components/vlc-procedure-step';
@import 'custom-components/vlc-status-timeline';


// CUSTOM STYLING
@import 'custom-application/pdf-viewer';
@import 'custom-application/toast';
@import 'custom-application/uploaded-document';

// AUK COMPONENTS
@import 'auk-components'; // sourced from "au-kaleidos-css" npm package


// LOCAL AUK EXTENSIONS & ADDITIONS
@import 'auk/auk-additions';


// EXTERNAL ADDON OVERRIDES
@import 'addon-overrides/ember-flatpickr';
@import 'addon-overrides/ember-power-select';
@import 'addon-overrides/ember-rdfa-editor';
@import 'addon-overrides/ember-tag-input';
@import 'addon-overrides/ember-tooltip';


// LAYOUT STYLING
@import 'layout/logo-header';
@import 'layout/printable-agenda';
@import 'layout/printable-newsletter';
@import 'layout/search';


// PRINT STYLING
@import 'print/general';


// PROTOTYPE
@import 'prototype/_agenda';
