@import 'ember-power-select';
@import 'ember-vo-webuniversum-data-table';
/* ==========================================================================
   CSS file for Digikan
   ========================================================================== */

/* Official code
   ========================================================================== */

@import '_colors';
$icon-font-location: '/fonts/';

// Components (loaded locally to easily read source)
@import 'govflanders/core/_setting.scss';
@import 'govflanders/core/_tool.scss';
@import 'govflanders/core/_generic.scss';
@import 'govflanders/core/_element.scss';
@import 'govflanders/core/_object.scss';

// Components (loaded locally to easily read source)
@import 'govflanders/components/_accordion';
@import 'govflanders/components/_action-group';
@import 'govflanders/components/_alert';
@import 'govflanders/components/_autocomplete';
@import 'govflanders/components/_badge';
@import 'govflanders/components/_button';
@import 'govflanders/components/_checkbox';
@import 'govflanders/components/_data-table';
@import 'govflanders/components/_datepicker';
@import 'govflanders/components/_description-data';
@import 'govflanders/components/_document';
@import 'govflanders/components/_form-message';
@import 'govflanders/components/_form-structure';
@import 'govflanders/components/_icon';
@import 'govflanders/components/_info-tile';
@import 'govflanders/components/_input-addon';
@import 'govflanders/components/_input-field';
@import 'govflanders/components/_input-group';
@import 'govflanders/components/_link-list';
@import 'govflanders/components/_link';
@import 'govflanders/components/_loader';
@import 'govflanders/components/_modal';
@import 'govflanders/components/_pager';
@import 'govflanders/components/_pill-input';
@import 'govflanders/components/_pill';
@import 'govflanders/components/_popover';
@import 'govflanders/components/_radio';
@import 'govflanders/components/_search';
@import 'govflanders/components/_side-navigation';
@import 'govflanders/components/_tabs';
@import 'govflanders/components/_textarea';
@import 'govflanders/components/_titles';
@import 'govflanders/components/_typography';
@import 'govflanders/components/_upload';

// Interdependent components (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-select/src/scss/_select";
// @import "node_modules/@govflanders/vl-ui-select/src/scss/_js-select";

// Interdependent components - These are source order dependent
@import 'govflanders/components/_select';
@import 'govflanders/components/_js-select';

/* Unofficial code
========================================================================== */

// Additions to existing components
@import 'govflanders/additions/_badge';
@import 'govflanders/additions/_button';
@import 'govflanders/additions/_checkbox';
@import 'govflanders/additions/_data-table';
@import 'govflanders/additions/_icon-list';
@import 'govflanders/additions/_link-list';
@import 'govflanders/additions/_modal';
@import 'govflanders/additions/_pill-input';
@import 'govflanders/additions/_popover';
@import 'govflanders/additions/_tabs';

// Additions to existing utilities
@import 'govflanders/additions/_background';
@import 'govflanders/additions/_typography';

// Custom components
@import 'custom-components/vlc-agenda-items-section-header';
@import 'custom-components/vlc-agenda-items';
@import 'custom-components/vlc-agenda-meta';
@import 'custom-components/vlc-backlink';
@import 'custom-components/vlc-box';
@import 'custom-components/vlc-button-toolbar';
@import 'custom-components/vlc-comment';
@import 'custom-components/vlc-container';
@import 'custom-components/vlc-date-range';
@import 'custom-components/vlc-document-card';
@import 'custom-components/vlc-document-list';
@import 'custom-components/vlc-hr';
@import 'custom-components/vlc-input-field-block';
@import 'custom-components/vlc-list-section-header';
@import 'custom-components/vlc-minister';
@import 'custom-components/vlc-navbar';
@import 'custom-components/vlc-page-header';
@import 'custom-components/vlc-panel-layout';
@import 'custom-components/vlc-pill';
@import 'custom-components/vlc-procedure-step';
@import 'custom-components/vlc-radio-inline';
@import 'custom-components/vlc-scroll-wrapper';
@import 'custom-components/vlc-side-nav';
@import 'custom-components/vlc-status-timeline';
@import 'custom-components/vlc-subline';
@import 'custom-components/vlc-tabs-reverse';
@import 'custom-components/vlc-toolbar';
@import 'custom-components/vlc-user';

// Imports utilities (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-util/src/scss/util";

// Utilities (loaded locally to easily read source)
@import 'govflanders/util/_util';

// Fixes to the framework
@import 'fixes/fix-pre';
@import 'fixes/fix-flex-utils';
@import 'fixes/fix-badge-avatars';

// Custom utilities
@import 'custom-utilities/_reset';
@import 'custom-utilities/_extended-spacer';
@import 'custom-utilities/_scroll';
@import 'custom-utilities/_box-model';

// Print
@import 'print/print';
@import 'print';

//custom css added
@import 'custom-application/toast';
@import 'custom-application/compare';
@import 'custom-application/power-select';
@import 'custom-application/editor';
@import 'custom-application/ember-attacher';
@import 'custom-application/file-uploader';
@import 'custom-application/extra-fonts';
@import 'custom-application/loader';
@import 'custom-application/oc-additions';

.vlc-scroll-wrapper {
  height: 100% !important;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

tr.disabled {
  text-decoration: none;
  pointer-events: none;
  opacity: 0.65;
  background-color: $porcelain;
}

.vlc-scroll-wrapper__body.full-height {
  > .ember-view {
    height: 100% !important;
  }
}

.full-height {
  height: 95% !important;
}

.max-width {
  text-overflow: ellipsis;
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
}

.max-width-title {
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.vl-tab__link {
  &.active {
    color: $text-color;
    border-bottom: $tabs-stroke-height solid $text-color;
    background-color: transparent;

    @include respond-to(small) {
      [data-vl-tabs] & {
        border: 0;
      }
    }
  }
}

.vlc-agenda-items__header--small {
  padding: 2rem 1.5rem 1.5rem !important;
}

a.disabled {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

body > .ember-view {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

.vlc-padding-bottom--large {
  padding-bottom: 6rem;
}

.transparant {
  opacity: 0.3 !important;
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
}

.border-left {
  border-left: 1px solid #cbd2da;
}

.vl-data-table__header-title__sort-icon.vl-vi {
  color: $primary-blue;
}

tr.lt-expanded-row:hover {
  background-color: white !important;
}

tr.postponed {
  opacity: 0.5;
  .vl-button__icon.vl-vi.vl-vi-pencil {
    color: $silver-chalice;
  }
  .vl-button__icon.vl-vi.vl-vi-document {
    color: $silver-chalice;
  }
}

.vlc-tabs-reverse__link {
  padding: 0.7rem 4rem 0.8rem;
}

.vlc-page-header__title {
  padding-bottom: 0.5rem !important;
}

ul {
  li {
    &.vl-pill {
      display: inline-flex;
      margin-bottom: 0.2em;
    }
  }
}

.vl-data-table--zebra {
  tbody {
    tr {
      &:nth-child(odd) {
        a:hover {
          background-color: #eee;
        }
      }
    }
  }
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.data-table-pagination {
  margin-bottom: 6em; //fix for firefox (agenda view height)
}

.table-header-unsortable {
  color: $dove-gray;
}

.sortable-item {
  transition: all 0.125s;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: 10;
}

.sortable-item.is-dropping {
  z-index: 10;
}

.col--4-12.u-align-right,
.editor-commands,
.col--2-12,
.print-only,
.ember-power-select-status-icon {
  display: none;
}

.data-table__actions.data-table__actions--top {
  border-bottom: none;
}

.newsletter-themes {
  margin: 0 !important;
  padding-left: 0 !important;
}

.full-width-selector {
  width: 100%;
}

.separate-children > * {
  margin-right: 1em;
}
.separate-children > *:last-child {
  margin-right: 0;
}

.vl-button-icon--error {
  color: $red;
}

.js-vl-popover__toggle:hover {
  background-color: $blue-gray-lighter;
}

.deleted-state {
  opacity: 0.3;
  pointer-events: none;
  cursor: none;
}

.no-capitalize {
  white-space: pre-line;
  display: inline-flex;
}

.checkbox-list-selector {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-gap: 10px;
}

.no-margin {
  margin: 0;
}

.padding-small {
  padding: 0.2em;
}
.vlc-list-section-header + .vlc-list-section-header {
  clear: both;
}
.display-none {
  display: none !important;
}

.vl-popover__link-list {
  overflow-y: scroll;
}

.vlc-pill--clickable {
  cursor: pointer;
}

pre {
  white-space: pre-line;
}

.vlc-agenda-items__status--positive {
  font-weight: 500;
  opacity: 1;
  color: $napier-green;
}

.vlc-document-card-item__title {
  .vl-title {
    margin-right: 0.5em;
  }
}

.ember-attacher-popper {
  max-height: 400px;
}

.opacity-lighter {
  opacity: 0.3;
}
.vl-u-flex-grow {
  flex-grow: 1;
}

.vl-loader-link {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vlc-button-in-input {
  position: absolute;
  top: 44%;
  right: 3.6rem;

  &:hover {
    background: none;
    color: #05c;
  }
}

.vlc-u-box-model-maximize-height.vlc-scroll-wrapper.vl-u-no-overflow.not-supported {
  display: flex;
  justify-content: center;
  align-items: center;
  .width-50 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.tr-hover {
  cursor: pointer;
}

.c-environment {
  pointer-events: none;
  background: #FFC;
  border: 1px solid #FFA;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 0.6rem;
  z-index: 99999;
}

.c-slide-in-toolbar {
  position: absolute;
  top: 0;
  right: 18rem;
  left: 18rem;
  max-height: 4.3rem;
  z-index: 3200;
  width: calc(100% - 37rem);
}
