@import "ember-power-select";
@import "ember-vo-webuniversum-data-table";
/* ==========================================================================
   CSS file for Digikan
   ========================================================================== */

/* Official code
   ========================================================================== */

@import "_colors";

$icon-font-location: "/fonts/";

// Core (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-core/src/scss/_setting.scss";
// @import "node_modules/@govflanders/vl-ui-core/src/scss/_tool.scss";
// @import "node_modules/@govflanders/vl-ui-core/src/scss/_core.scss";
// @import "node_modules/@govflanders/vl-ui-core/src/scss/_generic.scss";
// @import "node_modules/@govflanders/vl-ui-core/src/scss/_element.scss";
// @import "node_modules/@govflanders/vl-ui-core/src/scss/_object.scss";

// Components (loaded locally to easily read source)
@import "govflanders/core/_setting.scss";
@import "govflanders/core/_tool.scss";
@import "govflanders/core/_generic.scss";
@import "govflanders/core/_element.scss";
@import "govflanders/core/_object.scss";

// Components (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-accordion/src/scss/_accordion";
// @import "node_modules/@govflanders/vl-ui-action-group/src/scss/_action-group.scss";
// @import "node_modules/@govflanders/vl-ui-alert/src/scss/_alert";
// @import "node_modules/@govflanders/vl-ui-autocomplete/src/scss/_autocomplete";
// @import "node_modules/@govflanders/vl-ui-badge/src/scss/_badge";
// @import "node_modules/@govflanders/vl-ui-button/src/scss/_button.scss";
// @import "node_modules/@govflanders/vl-ui-checkbox/src/scss/_checkbox";
// @import "node_modules/@govflanders/vl-ui-data-table/src/scss/_data-table";
// @import "node_modules/@govflanders/vl-ui-datepicker/src/scss/_datepicker";
// @import "node_modules/@govflanders/vl-ui-description-data/src/scss/_description-data";
// @import "node_modules/@govflanders/vl-ui-document/src/scss/_document.scss";
// @import "node_modules/@govflanders/vl-ui-form-message/src/scss/_form-message.scss";
// @import "node_modules/@govflanders/vl-ui-form-structure/src/scss/_form-structure.scss";
// @import "node_modules/@govflanders/vl-ui-icon/src/scss/_icon.scss";
// @import "node_modules/@govflanders/vl-ui-info-tile/src/scss/_info-tile.scss";
// @import "node_modules/@govflanders/vl-ui-input-addon/src/scss/_input-addon.scss";
// @import "node_modules/@govflanders/vl-ui-input-field/src/scss/_input-field.scss";
// @import "node_modules/@govflanders/vl-ui-link-list/src/scss/link-list";
// @import "node_modules/@govflanders/vl-ui-link/src/scss/_link.scss";
// @import "node_modules/@govflanders/vl-ui-loader/src/scss/_loader.scss";
// @import "node_modules/@govflanders/vl-ui-modal/src/scss/_modal";
// @import "node_modules/@govflanders/vl-ui-pager/src/scss/_pager";
// @import "node_modules/@govflanders/vl-ui-pill-input/src/scss/_pill-input";
// @import "node_modules/@govflanders/vl-ui-pill/src/scss/_pill";
// @import "node_modules/@govflanders/vl-ui-popover/src/scss/_popover";
// @import "node_modules/@govflanders/vl-ui-radio/src/scss/_radio";
// @import "node_modules/@govflanders/vl-ui-search/src/scss/_search;
// @import "node_modules/@govflanders/vl-ui-tabs/src/scss/_tabs";
// @import "node_modules/@govflanders/vl-ui-textarea/src/scss/_textarea";
// @import "node_modules/@govflanders/vl-ui-titles/src/scss/_titles";
// @import "node_modules/@govflanders/vl-ui-typography/src/scss/_typography";
// @import "node_modules/@govflanders/vl-ui-upload/src/scss/_upload";
// @import "node_modules/@govflanders/vl-ui-input-group/src/scss/_input-group";

// Components (loaded locally to easily read source)
@import "govflanders/components/_accordion";
@import "govflanders/components/_action-group";
@import "govflanders/components/_alert";
@import "govflanders/components/_autocomplete";
@import "govflanders/components/_badge";
@import "govflanders/components/_button";
@import "govflanders/components/_checkbox";
@import "govflanders/components/_data-table";
@import "govflanders/components/_datepicker";
@import "govflanders/components/_description-data";
@import "govflanders/components/_document";
@import "govflanders/components/_form-message";
@import "govflanders/components/_form-structure";
@import "govflanders/components/_icon";
@import "govflanders/components/_info-tile";
@import "govflanders/components/_input-addon";
@import "govflanders/components/_input-field";
@import "govflanders/components/_input-group";
@import "govflanders/components/_link-list";
@import "govflanders/components/_link";
@import "govflanders/components/_loader";
@import "govflanders/components/_modal";
@import "govflanders/components/_pager";
@import "govflanders/components/_pill-input";
@import "govflanders/components/_pill";
@import "govflanders/components/_popover";
@import "govflanders/components/_radio";
@import "govflanders/components/_search";
@import "govflanders/components/_side-navigation";
@import "govflanders/components/_tabs";
@import "govflanders/components/_textarea";
@import "govflanders/components/_titles";
@import "govflanders/components/_typography";
@import "govflanders/components/_upload";

// Interdependent components (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-select/src/scss/_select";
// @import "node_modules/@govflanders/vl-ui-select/src/scss/_js-select";

// Interdependent components - These are source order dependent
@import "govflanders/components/_select";
@import "govflanders/components/_js-select";

/* Unofficial code
      ========================================================================== */

// Additions to existing components
@import "govflanders/additions/_badge";
@import "govflanders/additions/_button";
@import "govflanders/additions/_checkbox";
@import "govflanders/additions/_data-table";
@import "govflanders/additions/_icon-list";
@import "govflanders/additions/_link-list";
@import "govflanders/additions/_modal";
@import "govflanders/additions/_pill-input";
@import "govflanders/additions/_popover";
@import "govflanders/additions/_tabs";

// Additions to existing utilities
@import "govflanders/additions/_background";
@import "govflanders/additions/_typography";

// Custom components
@import "custom-components/temporary-header"; // To be replaced with Javascript in actual implementation.
@import "custom-components/vlc-agenda-item";
@import "custom-components/vlc-agenda-items-new";
@import "custom-components/vlc-backlink";
@import "custom-components/vlc-box";
@import "custom-components/vlc-comment";
@import "custom-components/vlc-container";
@import "custom-components/vlc-date-range";
@import "custom-components/vlc-document-card";
@import "custom-components/vlc-document-list";
@import "custom-components/vlc-hr";
@import "custom-components/vlc-input-field-block";
@import "custom-components/vlc-list-section-header";
@import "custom-components/vlc-minister";
@import "custom-components/vlc-navbar";
@import "custom-components/vlc-page-header";
@import "custom-components/vlc-panel-layout";
@import "custom-components/vlc-pill";
@import "custom-components/vlc-procedure-step";
@import "custom-components/vlc-radio-inline";
@import "custom-components/vlc-scroll-wrapper";
@import "custom-components/vlc-side-nav";
@import "custom-components/vlc-status-timeline";
@import "custom-components/vlc-subline";
@import "custom-components/vlc-tabs-reverse";
@import "custom-components/vlc-toolbar";
@import "custom-components/vlc-user";
// Imports utilities (loaded from node_modules)
// @import "node_modules/@govflanders/vl-ui-util/src/scss/util";

// Utilities (loaded locally to easily read source)
@import "govflanders/util/_util";

// Fixes to the framework
@import "fixes/fix-pre";
@import "fixes/fix-flex-utils";
@import "fixes/fix-badge-avatars";

// Custom utilities
@import "custom-utilities/_reset";
@import "custom-utilities/_extended-spacer";
@import "custom-utilities/_scroll";
@import "custom-utilities/_box-model";

// Print
@import "print/print";
@import "print";

//custom css added
@import "custom-application/toast";
@import "custom-application/compare";
@import "custom-application/power-select";
@import "custom-application/editor";
@import "custom-application/ember-attacher";
@import "custom-application/file-uploader";
@import "custom-application/extra-fonts";
@import "custom-application/loader";

a.vlc-agenda-items-new__sub-item {
  display: block;
  position: relative;
  font-size: 1.3rem;
  text-decoration: none;
  color: $black;
  background: #fff;
}

a.vlc-agenda-items-new__sub-item--active,
a.vlc-agenda-items-new__sub-item--active:hover,
a.vlc-agenda-items-new__sub-item--active:active {
  background: $science-blue;
  color: #fff;
  .vlc-agenda-items-new__status--positive {
    color: #fff;
  }
}

a.vlc-agenda-items-new__sub-item--active:focus {
  background: darken($science-blue, 5%);
}

.vlc-scroll-wrapper {
  height: 100% !important;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

tr.disabled {
  text-decoration: none;
  pointer-events: none;
  opacity: 0.65;
  background-color: $porcelain;
}

.vl-modal-dialog {
  display: block;
  z-index: 40;
  width: 80rem;
}

.vlc-scroll-wrapper__body.full-height {
  > .ember-view {
    height: 100% !important;
  }
}

.full-height {
  height: 95% !important;
}

.vl-modal {
  .vl-modal__backdrop {
    z-index: 52;
  }
}

.vl-modal-dialog__content {
  padding: 2rem 0;
}

.max-width {
  text-overflow: ellipsis;
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
}

.max-width-title {
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.vl-tab__link {
  &.active {
    color: $text-color;
    border-bottom: $tabs-stroke-height solid $text-color;
    background-color: transparent;

    @include respond-to(small) {
      [data-vl-tabs] & {
        border: 0;
      }
    }
  }
}

.vl-modal-dialog--large {
  width: 88rem;
}

.vlc-agenda-items__header--small {
  padding: 2rem 1.5rem 1.5rem !important;
}

a.disabled {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

body > .ember-view {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

.vlc-padding-bottom--large {
  padding-bottom: 6rem;
}

.transparant {
  opacity: 0.3 !important;
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
}

.border-left {
  border-left: 1px solid #cbd2da;
}

.vl-data-table__header-title__sort-icon.vl-vi {
  color: $primary-blue;
}

tr.lt-expanded-row:hover {
  background-color: white !important;
}

tr.postponed {
  opacity: 0.5;
  .vl-button__icon.vl-vi.vl-vi-pencil {
    color: $silver-chalice;
  }
  .vl-button__icon.vl-vi.vl-vi-document {
    color: $silver-chalice;
  }
}

.vlc-tabs-reverse__link {
  padding: 0.7rem 4rem 0.8rem;
}

.vlc-page-header__title {
  padding-bottom: 0.5rem !important;
}

ul {
  li {
    &.vl-pill {
      display: inline-flex;
      margin-bottom: 0.2em;
    }
  }
}

.vl-data-table--zebra {
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $porcelain;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.data-table-pagination {
  margin-bottom: 6em; //fix for firefox (agenda view height)
}

.sortable-item {
  transition: all 0.125s;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  background: red;
  z-index: 10;
}

.sortable-item.is-dropping {
  background: #f66;
  z-index: 10;
}

.col--4-12.u-align-right,
.editor-commands,
.col--2-12,
.print-only,
.ember-power-select-status-icon {
  display: none;
}

.data-table__actions.data-table__actions--top {
  border-bottom: none;
}

.newsletter-themes {
  margin: 0 !important;
  padding-left: 0 !important;
}

.vl-col--1-3 {
  #agendaitem-comments {
    padding: 1rem 1rem 0 0;
    margin-left: 0.1rem;
    border: 1px $porcelain solid;
  }
}

.full-width-selector {
  width: 100%;
}

.separate-children > * {
  margin-right: 1em;
}
.separate-children > *:last-child {
  margin-right: 0;
}

.vl-button-icon--error {
  color: $red;
}

.js-vl-popover__toggle:hover {
  background-color: $blue-gray-lighter;
}

.deleted-state {
  opacity: 0.3;
  pointer-events: none;
  cursor: none;
}

.no-capitalize {
  white-space:pre-line;
  display:inline-flex;
}

.checkbox-list-selector {
  display: grid;
  grid-template-columns: repeat(3,calc(100% / 3));
  grid-gap: 10px;
}

.vl-modal-dialog__content {
  .data-table-pagination {
    margin-bottom: 0em;
  }
}
 
.action-toggle-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1em;
}

.no-margin {
  margin:0;
}
