/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* (From designs) Simple Gray
 ========================================================================== */

 $gray-dark: #333;
 $gray: #666;
 $gray-light: #B2B2B2;
 $gray-lighter: #CCCCCC;
 $gray-lightest: #DDDDDD;
 
 /* (From designs) Blue Gray
	========================================================================== */
 
 $blue-gray-dark: #79838F;
 $blue-gray: #A5B3C2;
 $blue-gray-light: #C6CDD3;
 $blue-gray-lighter: #E8EBEE;
 $blue-gray-lightest: #F3F5F6;
 
 /* (From designs) Base colors
	========================================================================== */
 
 $black: #000;
 $primary-yellow: #FEE539;
 $primary-blue: #0055CC;
 $blue-dark: #003BB0;
 $white: #ffffff;
 
 /* (From designs) Alert colors
	========================================================================== */
 
 $red: #DB3434;
 $red-light: #FF3333;
 $green: #8BAE00;
 $green-light: #B3E000;
 $orange: #FFC515;
 $orange-light: #FEE85C;
 
 /* (From designs) Pastels
	========================================================================== */
 
 $pastel-red: #FAE6E6;
 $pastel-green: #F7FAE6;
 $pastel-yellow: #FEF9E6;
 
 
 /* (From colorsRaw) Black/white
	========================================================================== */
 
 $white: #fff;
 $black: #000;
 
 /* (From colorsRaw) Gray shaded
	========================================================================== */
 
 $mine-shaft: #333332;
 $dove-gray: #666;
 $ghost: #cbd2da;
 $athens-gray: #e8ebee;
 $athens-gray-light: #f1f2f4;
 $fuscous-gray: #434342;
 $friar-gray: #80807d;
 $cararra: #e5e5e1;
 $gray-chateau: #9fa4aa;
 $porcelain: #f3f5f6;
 $geyser: #d3d9e0;
 $silver-chalice: #b2b2b2;
 $gray: #8c8c8c;
 $ship-gray: #3b3b3c;
 $loblolly: #c6cdd3;
 $storm-dust: #5f6364;
 $regent-gray: #8695a8;
 
 /* (From colorsRaw) Brown shaded
	========================================================================== */
 
 $brown: #966729;
 $frensh-beige: #a67f59;
 $bon-jour: #e0d7d1;
 
 /* (From colorsRaw) Blue shades
	========================================================================== */
 
 $science-blue: #05c;
 $kashmir-blue: #557797;
 $curious-blue: #003bb0;
 $endeavour: #004099;
 $regal-blue: #003a72;
 $blue-bayoux: #607284;
 $allports: #00789b;
 
 
 /* (From colorsRaw) Yellow shades
	========================================================================== */
 
 $amber: #ffc515;
 $yellow: #ffe615;
 $off-yellow: #fef9e5;
 $school-bus-yellow: #fedd00;
 
 /* (From colorsRaw) Red shades
	========================================================================== */
 
 $tall-poppy: #af2929;
 $punch: #db3434;
 $linen: #fbeaea;
 $bahia: #a6cf00;
 $azalea: #f8d6d6;
 $persian-red: #c92c2c;
 
 /* (From colorsRaw) Green shades
	========================================================================== */
 
 $napier-green: #238000;
 
 /* (From colorsRaw) State shades
	========================================================================== */
 
 $limeade: #8bae00;
 $pistachio: #a3cc00;
 $rum-swizzle: #f7fae5;
 $map-background: #e5e3df;
 $green: #a3cc00;
 $background-green: #f6fae5;
 $background-red: #fbeaea;
 $background-yellow: #fef9e5;
 $pink: #d53e5e;
 
 /* (From colorsRaw) Sharing colors
	========================================================================== */
 
 $facebook-color: #36609f;
 $twitter-color: #2caae1;
 $linkedin-color: #0a6c9b;
 $googleplus-color: #dc5442;
 