<div class="vl-grid vl-grid--is-stacked">


      <div class="compare-left-column">
        {{#if hasLeftAgenda }}
          <div
            class="vlc-agenda-items__header vlc-agenda-items__header--small vl-u-text--marked"
          >
            {{#each left.mandatees as |mandatee|}}
              <h2 class="vl-title vl-title--h6">
                {{mandatee.title}}
              </h2>
            {{/each}}
          </div>
            {{#each (await left.agendaitems) as |agendaitem index|}}
              {{agenda/agenda-list/list-item
                agendaitem=agendaitem
                index=index
                isClickable=false
              }}
            {{/each}}

          {{/if}}
      </div>

      <div class="horizontal-line-wrap">
        <div class="horizontal-line"></div>
      </div>


  <div class="compare-right-column">

      {{#if hasRightAgenda }}
        <div class="vlc-agenda-items__header vlc-agenda-items__header--small vl-u-text--marked">
          {{#each right.mandatees as |mandatee|}}
            <h2 class="vl-title vl-title--h6">
              {{mandatee.title}}
            </h2>
          {{/each}}
        </div>
        {{#each (await right.agendaitems) as |agendaitem index|}}
          {{agenda/agenda-list/list-item
            agendaitem=agendaitem
            index=index
            isClickable=false
          }}
        {{/each}}

      {{/if}}

  </div>

</div>
