<div class="vlc-container vl-u-spacer-extended-top vl-u-spacer-extended-bottom">
  {{#each (await agendaitemGroups) as |agendaitemGroup|}}
    <div
      class="vl-u-spacer-extended-top vl-u-spacer-extended-bottom vlc-navbar--bordered-bottom"
    >
      {{#each agendaitemGroup.mandatees as |mandatee|}}
        <h2 class="vl-title vl-title--h5">
          {{mandatee.title}}
        </h2>
      {{/each}}
    </div>
<div class="vl-typography">
  {{#each agendaitemGroup.agendaitems as |agendaitem|}}
    <div class="vl-u-spacer-extended-top vl-u-spacer-extended-bottom">
      <div class="vl-u-spacer-extended-bottom">
        <div
          class="vlc-comments-comment-content vl-u-spacer-extended-top vl-u-spacer-extended-bottom"
        >
          <h6>
            {{await agendaitem.decision.shortTitle}}
          </h6>
          <p>
            {{await agendaitem.decision.description}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
  {{/each}}
</div>