<div class="vl-typography">
  {{#each decisions as |decision|}}
    <div class="vl-u-spacer-extended-top vl-u-spacer-extended-bottom">
      <div class="vl-u-spacer-extended-bottom">
        <div
          class="vlc-comments-comment-content vl-u-spacer-extended-top vl-u-spacer-extended-bottom"
        >
          <h6>
            {{decision.title}}
          </h6>
          <p>
            {{decision.description}}
          </p>
        </div>
        </div>
        </div>
    {{/each}}
</div>