<Auk::Sidebar
  @size="small"
  @position="left"
  @skin="gray-200"
  class="auk-scroll-wrapper"
  @isCollapsed={{false}}
>
  <Auk::Navbar @skin="gray-200">
    <Auk::Toolbar as |Toolbar|>
      <Toolbar.Group @position="left">
        <AuHeading @level="2" @skin="6">Procedurestappen</AuHeading>
      </Toolbar.Group>
      <Toolbar.Group @position="left" as |Group|>
        <Group.Item>
        </Group.Item>
      </Toolbar.Group>
    </Auk::Toolbar>
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    {{yield}}
  </div>
</Auk::Sidebar>
