<div>
  <div class="c-anchor-nav-holder">
    <p>{{t "on-this-page"}}: </p>
    <ul class="au-c-anchor-nav">
      <li>
        <a href="#case" class="js-anchor">{{t "overview"}}</a>
      </li>
      <li>
        <a href="#documents" class="js-anchor">{{t "documents"}}</a>
      </li>
      <li>
        <a href="#agenda" class="js-anchor">{{t "agenda-activities"}}</a>
      </li> 
    </ul>
  </div>
</div>
