{{!-- <Auk::Tabs>
  <Auk::Tab data-test-subcase-detail-nav-overview @route="cases.case.subcases.subcase.index">
    {{t "overview"}}
  </Auk::Tab>
  <Auk::Tab data-test-subcase-detail-nav-documents @route="cases.case.subcases.subcase.documents">
    {{t "documents"}}
  </Auk::Tab>
</Auk::Tabs> --}}
<ul class="au-c-anchor-nav">
  <li>
    <a href="#case" class="js-anchor">Dossier</a>
  </li>
  <li>
    <a href="#documents" class="js-anchor">Documenten</a>
  </li>
  <li>
    <a href="#agenda" class="js-anchor">Agendering</a>
  </li>
</ul>