<div class="vlc-toolbar vlc-toolbar--auto">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      {{#link-to
           "cases.case.subcases"
           data-test-navigation-walk-up=true
           class="vlc-backlink vl-link vl-link--bold"
      }}
      {{!-- template-lint-disable no-bare-strings  --}}
        &#8629;
      {{!-- template-lint-enable no-bare-strings  --}}
      {{/link-to}}
    </div>
    <div class="vlc-toolbar__item">
      <ul class="vlc-tabs-reverse" role="tablist">
        <li class="vlc-tabs-reverse__item">
          {{#link-to
            "cases.case.subcases.subcase.overview"
            class="border-left vlc-tabs-reverse__link"
            activeClass="vlc-tabs-reverse__link--active"
          }}
            {{t "overview"}}
          {{/link-to}}
        </li>
        <li class="vlc-tabs-reverse__item">
          {{#link-to
            "cases.case.subcases.subcase.documents"
            class="vlc-tabs-reverse__link"
            activeClass="vlc-tabs-reverse__link--active"
          }}
            {{t "documents"}}
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>