<div class="auk-u-mb-3" data-test-publication-case-panel-mandatees>
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">
              {{t "ise-code"}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    {{# if (gt (await @item.iseCodes.length) 0) }}
      <WebComponents::AuPanel::Body>
        <ul data-test-subcase-ise-codes-list>
          {{#each (await @item.iseCodes) as |iseCode|}}
            <li class="vl-pill" data-test-subcase-ise-codes-list-item>
              <WebComponents::AuPill>
                {{iseCode.name}}
              </WebComponents::AuPill>
            </li>
          {{/each}}
        </ul>
      </WebComponents::AuPanel::Body>
    {{else}}
      <WebComponents::AuPanel::Body>
        <WebComponents::AuEmptyState @message={{t "no-ise-codes-yet"}}/>
      </WebComponents::AuPanel::Body>
    {{/if}}
  </WebComponents::AuPanel>
</div>