{{#if (is-empty (await announcements))}}
  <div class="no-data-container">
    {{t "announcement.no-announcements"}}
  </div>
{{else}}
  <h5 class="vl-title vl-title--h5 vl-u-spacer">
    {{t "agendas.announcements-subtitle"}}
  </h5>
  {{#each (await announcements) as |announcement|}}
    {{agenda/announcement-list/list-item announcement=announcement}}
  {{/each}}
{{/if}}