{{#if (is-empty (await announcements)) }}
  <div class="no-data-container">
    {{t 'announcement.no-announcements'}}
  </div>
{{else}}
  <h3>{{t "agendas.announcements-subtitle"}}</h3>
  {{#each (await announcements) as |announcement|}}
    {{agenda/announcement-list/list-item announcement=announcement}}
  {{/each}}
{{/if}}