<div class="vl-u-spacer">

  <div class="agenda-item-link">
    {{#if announcement.id}}
      <h4>
        {{announcement.title}}
      </h4>
      <p>
        {{announcement.text}}
      </p>
    {{/if}}
  </div>

</div>