<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      {{agenda/agendaitem-search selectedAgenda=currentAgenda value=(readonly filter) search=(action "searchAgendaItems")}}
      
      {{agenda/agenda-list
        minutesApproval=(await model.minutesApproval)
        agendaitemGroups=(await model.groups)
        announcements=(await model.announcements)
        lastPrio=(await model.lastPrio)
        currentAgendaId=(await model.currentAgenda.id)
        selectedAgendaItem=selectedAgendaItem
        filteredAgendaItems=filteredAgendaItems
        selectAgendaItem=(action "selectAgendaItem")
      }}
    </div>
  </div>
</div>
{{outlet}}