<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    {{agenda/agendaitem-search
      selectedAgenda=currentAgenda
      value=(readonly filter)
      search=(action "searchAgendaItems")
    }}
    <div class="vlc-scroll-wrapper__body">
      {{agenda/agenda-list
        minutesApproval=(await model.minutesApproval)
        agendaitemGroups=(await model.groups)
        announcements=(await model.announcements)
        lastPrio=(await model.lastPrio)
        currentAgenda=(await model.currentAgenda)
        selectedAgendaItem=selectedAgendaItem
        filteredAgendaItems=filteredAgendaItems
        selectAgendaItem=(action "selectAgendaItem")
        brokenAgendaItems=(await model.brokenAgendaItems)
        refresh=(action "refresh")
      }}
    </div>
  </div>
</div>
{{outlet}}