<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      {{!-- {{#if selectedAgendaItem}}
          {{agenda/agendaitem-search selectedAgenda=currentAgenda search=(action "searchAgendaItems")}}
        {{/if}} --}}
      {{agenda/agenda-list
        agendaitems=(await model.agendaitems)
        agendaitemGroups=(await model.groups)
        announcements=(await model.announcements)
        selectedAgendaItem=selectedAgendaItem
        selectAgendaItem=(action "selectAgendaItem")
      }}
    </div>
  </div>
</div>
{{outlet}}