<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__body">
      {{!-- {{#if selectedAgendaItem}}
          {{agenda/agendaitem-search selectedAgenda=currentAgenda search=(action "searchAgendaItems")}}
        {{/if}} --}}
      {{agenda/agenda-list
        minutesApproval=(await model.minutesApproval)
        agendaitemGroups=(await model.groups)
        announcements=(await model.announcements)
        lastPrio=(await model.lastPrio)
        currentAgendaId=(await model.currentAgenda.id)
        selectedAgendaItem=selectedAgendaItem
        selectAgendaItem=(action "selectAgendaItem")
      }}
    </div>
  </div>
</div>
{{outlet}}