<div class={{agendaitemsClass}}>
  <div class="vlc-scroll-wrapper">
    {{agenda/agendaitem-search
      selectedAgenda=currentAgenda
      value=(readonly filter)
      search=(action "searchAgendaItems")
    }}
    <div class="vlc-scroll-wrapper__body">
      {{agenda/agenda-list
        announcements=(await model.announcements)
        agendaitems=sortedAgendaitems
        currentAgenda=(await model.currentAgenda)
        selectedAgendaItem=selectedAgendaItem
        filteredAgendaItems=filteredAgendaItems
        selectAgendaItem=(action "selectAgendaItem")
        refresh=(action "refresh")
      }}
    </div>
  </div>
</div>
{{outlet}}