<div class="vlc-scroll-wrapper vlc-u-box-model-maximize-width vl-u-scroll-scrollable">
  {{agenda/printable-agenda
    meeting=model.meeting
    notas=this.notaGroups
    announcements=model.announcements
  }}
</div>