<div class="auk-scroll-wrapper auk-u-maximize-width auk-u-scroll-scrollable vlc-hide-scrollbar-on-print">
  <Agenda::PrintableAgenda
    @meeting={{@model.meeting}}
    @notas={{this.notaGroups}}
    @announcements={{@model.announcements}}
  />
</div>