<div class="vlc-scroll-wrapper vlc-u-box-model-maximize-width vl-u-scroll-scrollable hide-scrollbar-on-print">
  {{agenda/printable-agenda-list
    agendaitems=(await sortedAgendaitems)
    announcements=(await sortedAnnouncements)
    currentSession=currentSession
  }}
</div>
