<button type="button" onclick={{action "onRowClick"}} class="vlc-link-pointer vl-button vl-button--link vl-button--icon u-padding--left--small vl-u-flex-justify-flex-end">
  <li class="vl-button__icon vl-vi vl-vi-nav-right"></li>
</button>
