<p>
  {{web-components/vl-form-label value=(t "edit-decision.approved")}}
  {{x-toggle value=decision.approved onToggle=(action (mut decision.approved))}}
</p>
<p>
  {{web-components/vl-form-label value=(t "edit-decision.decision-text")}}
  {{textarea class="vl-textarea vl-textarea--block" value=decision.description}}
</p>
