a {
  color: $action-text-color;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $action-text-hover-color;
  }
}

a,
button {
  &:focus {
    outline: auto $outline-color 3px;
  }
}

button {
  font-family: $base-font;
  cursor: pointer;
}
