{{!-- template-lint-disable no-bare-strings  --}}
<div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper auk-u-scroll-no-overflow auk-u-flex auk-u-flex--center">
  <p class="uk-u-flex auk-u-flex--center auk-u-flex--vertical" style="width: 50%; height: 100%;">
    U bent aangemeld in Kaleidos. Kaleidos is een web toepassing waarvoor de goede werking enkel gegarandeerd is in de
    recente PC, Mac en Linux versies van:
    <br/>
    <strong>
      <a href="https://www.google.com/intl/nl/chrome/">Download Google Chrome</a> of
      <a href="https://www.mozilla.org/nl/firefox/new/">Download Mozilla Firefox</a>
    </strong>
    <br/>
    Tot nader bericht kan je Kaleidos niet gebruiken met Internet Explorer, Microsoft Edge en andere browsers. Kadeidos
    is ook nog niet toegankelijk op mobiele browsers en tablets. Dat zal in de toekomst wel het geval zijn.
  </p>
</div>
