<div class="vl-grid vl-grid--is-stacked">
  <div class="vl-col--1-3 vl-col--1-1--xs"></div>
  <div class="vl-col--1-3 vl-col--1-1--xs"></div>
  <div class="vl-col--1-3 vl-col--1-1--xs">
    <span
      class="vl-description-data__data"
      itemprop="Person"
      itemtype="https://schema.org/Person"
    >
      Mark ANDRIES,
    </span>
    <span class="vl-description-data__subdata">
      Secretaris.
    </span>
  </div>
</div>