<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-4">
    <div class="auk-u-my-2">
      <WebComponents::AuNavbar class="vlc-publication-overview-navbar" @noPadding="true" @border="bottom">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group>
            <WebComponents::AuTabs>
              <WebComponents::AuTab @route="publications.in-progress.in-progress-minister" data-test-publication-in-progress-via-minister-tab>{{t "via-cabinet"}}</WebComponents::AuTab>
              <WebComponents::AuTab @route="publications.in-progress.in-progress-not-minister" data-test-publication-in-progress-not-via-minister-tab>{{t "not-via-cabinet"}}</WebComponents::AuTab>
            </WebComponents::AuTabs>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
    </div>
    {{outlet}}
  </div>
</div>
