{{page-title this.model.name}}

<div class="vlc-u-box-model-maximize-height auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body full-height">
    <Documents::DocumentView @file={{await this.model.file}} />
  </div>
</div>