<div class="vl-action-group vl-action-group--align-right auk-u-mb-2">
  {{#if this.currentSession.isEditor}}
    {{#if (not this.agenda.isFinal)}}
      <Agenda::Agendaitem::AgendaitemControls
        @agendaitem={{this.model}}
        @currentAgenda={{this.agenda}}
        @onDeleteAgendaitem={{this.reassignPrioritiesAndNavigateToNeighbouringAgendaitem}}
      />
    {{/if}}
  {{/if}}
</div>
<Agenda::Agendaitem::AgendaitemCase @agendaitem={{this.model}}/>