
@mixin vi-u-badge--color($colorname) {
  @each $name, $colors in $badge-colors {
    @if $colorname == $name {
      background-color: map-get($colors, bg);
      color: map-get($colors, fg);
    }
  }
}

@mixin vi-u-badge--size($sizename) {
  @each $name, $sizes in $badge-sizes {
    @if $sizename == $name {
      width: map_get($sizes, size);
      height: map_get($sizes, size);
      line-height: map_get($sizes, size);

      &::before {
        font-size: map_get($sizes, font);
      }
    }
  }
}
