// sass-lint:disable class-name-format max-line-length

@mixin icon-font-base($size: 16px) {
  font-family: "vlaanderen-icon" !important; // sass-lint:disable-line no-important
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

@mixin vi {
  &::before,
  &::after {
    @include icon-font-base;
  }
}
