$header-action-color: $text-color !default;
$header-action-hover-color: $science-blue !default;
$header-action-border-color: $text-color !default;

$header-top-border-color: rgba(0, 0, 0, 0.1) !default;
$header-top-border-size: 0.3rem;

@mixin header-has-actions($bg) {
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $header-top-border-size;
    background-color: $bg;
    z-index: 2;

    @include respond-to(small) {
      display: none;
    }
  }
}

@mixin header-actions-style($bg) {
  background-color: $bg;
}

@mixin header-action-style($class) {
  color: $header-action-color;

  + .vl-#{$class} {
    border-left: 1px solid $header-action-border-color;
  }

  a,
  button {
    color: $header-action-color;

    &:hover,
    &:focus {
      color: $header-action-hover-color;
    }
  }
}

@mixin outline {
  outline: auto $outline-color 3px;
}
