$pad: 1.2rem;
$pad-small: 1rem;
$pad-tiny: 0.3rem;

$table-hover-bg: $porcelain !default;
$table-border-color: $border-color !default;

@mixin data-table {
  width: 100%;
  max-width: 100%;

  thead {
    tr {
      border-bottom: 3px $table-border-color solid;
    }
  }

  tbody {
    tr {
      border-bottom: 1px $table-border-color solid;

      &[data-vl-table-selectable] {
        transition: background .2s ease-in-out;
        cursor: pointer;

        &:hover {
          background: $table-hover-bg;
        }
      }

      &.vl-data-table__grouped-row {
        &:not(.vl-data-table__grouped-row--last) {
          border-bottom: 0;
        }
      }
    }
  }

  // Table header, table data
  td,
  th {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.3;
    vertical-align: top;
    padding: $pad $pad-small;

    &:first-child {
      border-left: 0;
    }
  }

  th {
    font-weight: 500;
  }

  .vl-data-table__grouped-row {
    td {
      padding: $pad-tiny $pad-small $pad-tiny 0;
    }
  }

  .vl-data-table__grouped-row--first {
    td {
      padding-top: $pad;
    }
  }

  .vl-data-table__grouped-row--last {
    td {
      padding-bottom: $pad;
    }
  }

  // Modifications on table elements
  &__header-title {
    &--sortable {
      text-decoration: none;

      .vl-data-table__header-title__sort-icon {
        opacity: 0;
      }

      &:hover,
      &:focus {
        text-decoration: underline;

        .vl-data-table__header-title__sort-icon {
          opacity: 0.5;
        }
      }

      &-active {
        .vl-data-table__header-title__sort-icon {
          opacity: 1;
        }
      }
    }
  }

  &__body-title {
    max-width: 30rem;
  }

  // General modifiers
  &--alt {
    tr {
      td {
        &:not(:first-child) {
          padding: $pad;
        }
      }

      th {
        &:not(:first-child) {
          padding: 0 $pad $pad;
        }
      }

      th,
      td {
        &:first-child {
          border-right: 1px $table-border-color solid;
        }
      }
    }
  }

  &.vl-data-table--no-header {
    tbody {
      tr {
        &:first-child {

          border-top: 3px $table-border-color solid;

        }
      }
    }
  }
}
