$headers-typo: (
  1: (
    size: 4.8rem,
    space: 6rem,
    line-height: 1.2,
    weight: 300,
    size-s: 3rem,
    space-s: 3rem
  ),
  2: (
    size: 3.4rem,
    space: 2rem,
    line-height: 1.2,
    weight: 400,
    size-s: 2.2rem,
    space-s: 1.5rem
  ),
  3: (
    size: 2.4rem,
    space: 2rem,
    line-height: 1.2,
    weight: 500,
    size-s: 1.8rem,
    space-s: 1.5rem
  ),
  4: (
    size: 2rem,
    space: 0,
    line-height: 1.2,
    weight: 500,
    size-s: 1.8rem,
    space-s: 0
  ),
  5: (
    size: 1.8rem,
    space: 0,
    line-height: 1.44,
    weight: 500,
    size-s: 1.6rem,
    space-s: 0
  ),
  6: (
    size: 1.6rem,
    space: 0,
    line-height: 1.2,
    weight: 500,
    size-s: 1.4rem,
    space-s: 0
  )
);

@mixin title($header-size) {
  @each $size, $size-info in $headers-typo {
    @if $header-size == $size {
      font-size: map-get($size-info, size);
      font-weight: map-get($size-info, weight);
      margin-bottom: map-get($size-info, space);
      line-height: map-get($size-info, line-height);
    }
  }
}
