//
// sass-lint:disable no-duplicate-properties
//
@mixin font-face($family, $location, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($location+$name+".woff2") format("woff2"), url($location+$name+".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin vl-u-text--ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin vl-u-text--uppercase {
  text-transform: uppercase;
}

@mixin vl-u-text--capitalize {
  &::first-letter {
    text-transform: uppercase;
  }
}

@mixin vl-u-text--success {
  color: $success-text-color;
}

@mixin vl-u-text--error {
  color: $error-text-color;
}

@mixin vl-u-text--bold {
  font-weight: 500;
}

@mixin vl-u-text--italic {
  font-style: italic;
}

@mixin vl-u-text--small {
  font-size: 1.4rem !important; // sass-lint:disable-line no-important
}
