<div class="vlc-color-badge-holder">
  <div class="vlc-color-badge-holder__badge vlc-color-badge {{this.modifierClass}}"></div>
  <div class="vlc-color-badge-holder__label">{{@decisionResultCode.label}}</div>
</div>