<h4 class="vl-u-text--uppercase auk-u-text-decoration-underline indented">
  {{#each this.mandatees as |mandatee|}}
    {{mandatee.title}}
    {{#if (not-eq mandatee this.mandatees.lastObject)}}
      <br/>&
    {{/if}}
  {{/each}}
</h4>
