{{!
{{page-title (await documentTitle) replace=true} }
<div class="vlc-scroll-wrapper__body">
  {{agenda/agenda-decisions
    title=(await title)
    definite=definite
    meeting=(await model.meeting)
    agendaitemGroups=(await model.groups)
  } }
</div>
}}