/* ==========================================================================
  au2-toolbar-complex (complex variant)
   ========================================================================== */

   .au2-toolbar-complex {
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
  
    .au2-toolbar-complex__title {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
      display: inline;
      padding-right: .6rem;
    }
  
    .au2-toolbar-complex__title--small {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
      display: inline;
    }
  
  }
  
  .au2-toolbar-complex--auto {
    min-height: auto;
    height: auto;
  }
  
  
  .au2-toolbar-complex__left,
  .au2-toolbar-complex__right {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  
  .au2-toolbar-complex__left {
    justify-content: flex-start;
  }
  
  .au2-toolbar-complex__left .au2-toolbar-complex__item {
    margin-right: 1rem;
    max-width: 100%;
  }
  
  .au2-toolbar-complex__left .au2-toolbar-complex__item:only-child {
    margin: 0;
  }
  
  .au2-toolbar-complex__right {
    justify-content: flex-end;
  }
  
  .au2-toolbar-complex__right .au2-toolbar-complex__item {
    margin-left: 1rem;
    max-width: 100%;
  }
  
  .au2-toolbar-complex__right .au2-toolbar-complex__item:only-child {
    margin: 0;
  }