
/* ==========================================================================
  au2-label
   ========================================================================== */

.au2-label {
  font-weight: 500;
  color: $au-gray-700;
  display: block;
  padding-bottom: .6rem;
}
