/* ==========================================================================
  au2-agenda-items
  ========================================================================== */

.au2-agenda-items {
  list-style: none;

  svg path {
    fill: $au-gray-500;
  }
}

.au2-agenda-items__content {
  width: 100%;
}

.au2-agenda-items__item a {
  border-bottom: .1rem solid $au-gray-300;
  padding: 2rem 2rem 0;
  text-decoration: none;
  color: $au-gray-900;
  display: block;
  width:100%;
  height:100%;
}

.au2-agenda-items__item .active {
  background-color: $au-blue-600;
  color: #FFF;

  .au2-agenda-items__status {
    color: #FFF;
  }

  svg path {
    fill: currentColor;
  }

  &:hover {
    background-color: $au-blue-600;
    color: #FFF;
    cursor: default;

    .au2-agenda-items__status {
      color: currentColor;
    }
  }
}

.au2-agenda-items__item a:hover {
  background-color: $au-gray-200;
  color: $au-blue-600;

  .au2-agenda-items__status {
    color: $au-blue-600;
  }

  svg path {
    fill: currentColor;
  }
}

.au2-agenda-items__title:only-child {
  padding-bottom: 2rem;
}

.au2-agenda-items__number {
  padding-right: .6rem;
}

.au2-agenda-items__status {
  font-weight: 500;
  display: flex;
  align-items: center;

  span {
    padding-left: .6rem;
    font-size: 1.3rem;
  }

  svg path {
    fill: currentColor;
  }
}

.au2-agenda-items__status--ok {
  color: $au-green-500;
}

.au2-agenda-items__status--not-ok {
  color: $au-red-500;
}

.au2-agenda-items__status--waiting {
  color: $au-gray-600;
}

.au2-agenda-items__item-extensive {
  background-color: #FFF;
  border-bottom: .1rem solid $au-gray-300;
  padding: 2rem;

  .au2-agenda-items__content {
    padding-bottom: 1.8rem;
    border-bottom: .1rem solid $au-gray-300;
  }

  .au2-agenda-items__title {
    font-weight: 500;
    padding-bottom: .6rem;
  }

  .au2-agenda-items__long-title {
    padding-bottom: 1.2rem;
  }
}

.au2-agenda-items__note {
  font-style: italic;
}

.au2-agenda-items__meta {
  display: flex;

  .au2-agenda-items__meta-item {
    margin-right: 1.2rem;
  }

  .au2-agenda-items__meta-item:last-child {
    margin: 0;
  }
}

.au2-agenda-items__footer {
  padding-top: 1.8rem;
  border-top: .1rem solid $au-gray-300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au2-agenda-items--extensive {
  .au2-section-header {
    margin-top: 1.8rem;
  }

  .au2-section-header:first-child {
    margin: 0;
  }
}

