/* ==========================================================================
   Component: Menu
   ---
  Dropdown menu
   ========================================================================== */

.au2-menu {
  background: #FFF;
  min-width: 22rem;
  padding: 1rem 0;
}

.au2-menu__item {
  color: $au-blue-700;
  text-decoration: none;
  display: flex;
  padding: 0.8rem 1.6rem;

  &:hover {
    background-color: $au-gray-100;
    color: $au-blue-600;
  }
}

.au2-menu__item--danger {
  color: $au-red-600;
  &:hover {
    color: $au-red-500;
  }
}

.au2-menu__divider {
  border-top: .1rem solid $au-gray-300;
  display: block;
  margin-top: .4rem;
  padding-top: .4rem;
}
