/* ==========================================================================
    au2-procedure-step
   ========================================================================== */


.au2-procedure-step a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 2rem;
  &:before {
    content: " ";
    background: $au-gray-300;
    height: calc(100% + 2.2rem);
    width: 1px;
    position: absolute;
    left: 3rem;
    top: 0;
  }
}

.au2-procedure-step {
  &:last-child a {
    &:before {
      height: 50%;
    }
  }
}

.au2-procedure-step a {
  &.active {
    background: $au-gray-100;
    &:after {
      content: "";
      height: 100%;
      left: 0;
      top: 0;
      width: 0.4rem;
      position: absolute;
      background: $au-blue-600;
    }
  }
  &:hover {
    background-color: $au-gray-100;
  }
}

.au2-procedure-step__content {
  margin-left: 4rem;
}

.au2-procedure-step__meta {
  font-size: 1.3rem;
  color: $au-gray-600;
}

.au2-procedure-step__badge-wrapper {
  position: absolute;
  left: 2rem;
  top: calc(50% - 2rem);
}

.au2-procedure-step__title {
  color: $au-blue-700;
  font-weight: 500;
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

