/* ==========================================================================
  au2-label-error
   ========================================================================== */

  
.au2-label-error {
    color: #DB3434;
    font-family: 'flanders-sans', sans-serif;
    font-size: 14px;
}
