/* ==========================================================================
  au2-textarea
   ========================================================================== */

.au2-textarea {
  border: 0.1rem solid $au-gray-300;
  padding: .6rem;
  width: 100%;
  font-family: "Flanders Art Sans", sans-serif;
  font-size: 1.5rem;
}

.au2-textarea:focus {
  outline: 0;
  border-color: $au-yellow-400;
  box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
}
