/* ==========================================================================
  au2-checkbox
   ========================================================================== */

.au2-checkbox {
  display: block;
  position: relative;
  padding: .5rem 0 .5rem 2.8rem;
  height: 3rem;
}

.au2-checkbox--flipped {
  padding: .5rem 2.8rem .5rem 0;
  .au2-checkbox__box {
    right: 0;
    left: auto;
  }
}

.au2-checkbox__toggle {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.au2-checkbox__box {
  position: absolute;
  top: .6rem;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  border: .1rem solid $au-gray-300;
  background: #FFF;
}

/* When the checkbox is checked, add a blue background */
.au2-checkbox input:checked ~ .au2-checkbox__box {
  background-color: $au-blue-700;
  border: .1rem solid $au-blue-700;
}

/* Create the checkmark/indicator (hidden when not checked) */
.au2-checkbox__box:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.au2-checkbox input:checked ~ .au2-checkbox__box:after {
  display: block;
  left: .5rem;
  top: 0;
  width: .6rem;
  height: 1.2rem;
  border: solid white;
  border-width: 0 .2rem .2rem 0;
  transform: rotate(45deg);
}

.au2-checkbox input[type='checkbox']:focus ~ .au2-checkbox__box,
.au2-checkbox input[type='checkbox']:active ~ .au2-checkbox__box {
  border-color: $au-yellow-400;
  box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
}

.au2-checkbox-list--inline {
  display: flex;
  align-items: center;
  .au2-checkbox:not(:last-of-type) {
    margin-right: 2rem;
  }
}
