/* ==========================================================================
  c-brand
   ========================================================================== */

.au2-brand {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 0.3rem;
}

.au2-brand--link {
  &:focus {
    outline: none;
  }
}

.au2-brand__logo {
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  padding-left: .75rem;
  overflow: hidden;
  background-color: $au-yellow-300;

  svg {
    height: 100%;
    width: 56%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: -.1rem;
    bottom: -.3rem;
    border-top: 9rem solid #FFF;
    border-left: 3.07818rem solid
    transparent;
  }

  /* Gray border
  &::after {
    content: "";
    top: -.2rem;
    right: 17%;
    transform: rotate(-19deg);
    width: .1rem;
    height: calc(100% + .4rem);
    background-color: $au-gray-300;
    display: block;
    position: absolute;
  }*/
}

.au2-brand__logotype {
  font-size: 2.1rem;
  line-height: 1;
  position: relative;
  font-weight: 500;
  color: $au-gray-1000;
  margin-left: .6rem;
  transition: color 125ms cubic-bezier(.19,1,.22,1);
}
