/* ==========================================================================
  Block link
  ---
  Renders a link as a block
   ========================================================================== */

.au2-block-link {
  padding: 1.5rem;
  border: .1rem solid $au-gray-300;
  text-decoration: none;
  color: $au-gray-800;
  margin: 0 0 1.5rem;
  display: block;
  &:hover {
    background: $au-gray-100;
    border-color: $au-gray-500;
  }
  &:focus {
    outline: 0;
    border-color: $au-yellow-400;
    box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
  }
}
