/* ==========================================================================
  au2-form-group
   ========================================================================== */

.au2-form-group {
  margin: 0 0 1.8rem;
}

.au2-form-group:last-child {
  margin: 0;
}

.au2-form-group-layout--horizontal {
  .au2-form-group {
    display: flex;
  }

  .au2-label {
    width: 45%;
    max-width: 22rem;
    padding: 0;
    display: flex;
    align-items: center;
    align-self: center;
  }

  select,
  input,
  text-area {
    flex: 1 1 auto;
  }
}
