/* ==========================================================================
  au2-panel-layout
   ========================================================================== */

.au2-panel-layout {
  display: flex;
  height: 100%;
  min-height: 0;
}

.au2-panel-layout__agenda-history {
  width: 20rem;
  height: 100%;
}

.au2-panel-layout__agenda-history--collapsed {
  width: 8rem;
}

.au2-panel-layout__agenda-items {
  width: 32rem;
  height: 100%;

  @media (min-width: 128rem) {
    width: 40rem;
  }
  @media (min-width: 1440px) {
    width: 48rem;
  }
  // If there is a history panel, the agenda panel is 40px smaller
  .au2-panel-layout__agenda-history + & {
    width: 28rem;

    @media (min-width: 1280px) {
      width: 36rem;
    }

    @media (min-width: 1440px) {
      width: 44rem;
    }
  }
}

.au2-panel-layout__main-content {
  flex: 1;
  height: 100%;
  min-width: 0;
}

.au2-panel-layout__proceduresteps {
  width: 35rem;
  height: 100%;
}

.au2-panel-layout__sidebar {
  width: 24rem;
  height: 100%;
}

.au2-panel-layout__publication {
  width: 36rem;
  height: 100%;
}

.au2-panel-layout__publication--collapsed {
  width: 6.4rem;
}

