/* ==========================================================================
  au2-agenda-sidebar
   ========================================================================== */

.au2-publications-sidebar {
  height: 100%;
  border-left: .1rem solid $au-gray-300;
  background: $au-gray-100;
}
