.au2-icon {
    display: inline-block;
    vertical-align: middle;
  
    svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .au2-icon--default {
    width: 1.8rem;
    height: 1.8rem;
  }
  
  .au2-icon--large {
    width: 2.4rem;
    height: 2.4rem;
  }
  
  .au2-icon--small {
    width: 1.5rem;
    height: 1.5rem;
  }