/* ==========================================================================
  au2-agenda-sidebar
   ========================================================================== */

.au2-agenda-sidebar {
  height: 100%;
  border-right: .1rem solid $au-gray-300;
}

.au2-agenda-sidebar--gray-100 {
  background-color: $au-gray-100;
}

.au2-agenda-sidebar--gray-200 {
  background-color: $au-gray-200;
}

.au2-agenda-sidebar__item a {
  padding: 2rem 2rem 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $au-gray-800;
  border-left: .4rem solid transparent;
  border-bottom: .1rem solid $au-gray-300;

  &.active {
    background-color: $au-gray-300;
    border-left: .4rem solid $au-blue-600;
  }

  &:hover {
    background-color: $au-gray-300;
  }
}

.au2-agenda-sidebar__meta {
  font-size: 1.3rem;
  color: $au-gray-600;
}
