/* ==========================================================================
  au2-nota
   ========================================================================== */

.au2-nota {
  margin: 2rem 0;
}

.au2-nota__title {
  font-size: 2rem;
  font-weight: 500;
}

.au2-nota__kort-bestek,
.au2-nota__themes {
  margin: 1.2rem 0;
}
