/* ==========================================================================
  au2-document-list
  ========================================================================== */

.au2-document-list{
  display: flex;
  flex-wrap: wrap;
  padding: .6rem 0;
}
