/* ==========================================================================
  au2-pill
   ========================================================================== */

.au2-pill {
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 0 .6rem;
  border-radius: .6rem;
  height: 2.4rem;
}

.au2-pill .au2-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .6rem;
}

.au2-pill--icon-only {
  padding: 0 .4rem;
  .au2-icon {
    margin: 0;
  }
}

.au2-pill--icon-right {
  .au2-icon {
    margin-left: .6rem;
    margin-right: 0;
  }
}

.au2-pill svg path {
  fill: currentColor;
}

.au2-pill--default {
  color: #666;
  background: #F3F5F6;
  border: .1rem solid #CBD2DA;
}

.au2-pill--success {
  color: #FFF;
  background: $au-green-700;
}

.au2-pill--danger {
  color: #FFF;
  background: $au-red-600;
}

.au2-pill--warning {
  color: #000;
  background: $au-yellow-400;
}
