/* ==========================================================================
  au2-breadcrumb
   ========================================================================== */

.au2-breadcrumb {
  color: $au-gray-600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
