/* ==========================================================================
  au2-toolbar (simple variant)
   ========================================================================== */

   .au2-toolbar {
    display: flex;
    align-items: center;
  }
  
  .au2-toolbar__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
  }
  
  .au2-toolbar__spacer {
    flex: 1 1 auto;
  }