/* ==========================================================================
   File upload
   ---
   Hide an input type file inside a button that is fully clickable
   ========================================================================== */

.au2-file-upload {
  background: transparent;
  position: relative;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.au2-file-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.0001;
}

.au2-file-upload input[type="file"]:focus ~ .au2-file-upload__content {
  outline: 0;
  border-color: transparent;
  box-shadow: inset 0 0 0 0.2rem $au-yellow-400;
}

.au2-file-upload input[type="file"]:hover ~ .au2-file-upload__content {
  background-color: rgba(0, 0, 0, 0.05);
}

.au2-file-upload__content {
  border: .2rem dashed $au-gray-300;
  width: 100%;
  height: 100%;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.au2-file-upload__link {
  margin: 0 0 .5rem;
  display: inline-flex;
  align-items: center;
  color: $au-blue-700;
  text-decoration: underline;
  svg {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: .5rem;
  }
}

.au2-file-upload--full-height {
  height: 100%;
  .au2-file-upload__content {
    flex: 1 1 auto;
  }
}
