/* ==========================================================================
  Modal
  ========================================================================== */

.au2-modal-backdrop {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  z-index: 1;
}

.au2-modal {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  height: 100%;
  filter: drop-shadow(0 0 1rem rgba(0,0,0,0.2));
}

.au2-modal__push {
  flex: 1 0 auto;
}

.au2-modal--large {
  width: 72rem;
  margin: 0 auto;
}


.au2-modal--full-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 2rem;
  max-width: 100%;
  height: calc(100vh - 4rem);
  .au2-modal__content {
    height: 100%;
    flex: 1 1 auto;
  }
}


.au2-modal__header {
  padding: 0 2rem;
}

.au2-modal__header--bordered {
  border-bottom: 0.1rem solid $au-gray-300;
}

.au2-modal__footer {
  padding: 0 2rem;
}

.au2-modal__footer--bordered {
  border-top: 0.1rem solid $au-gray-300;
}

.au2-modal__header,
.au2-modal__content,
.au2-modal__footer {
  flex: 0 0 auto;
  background: #FFF;
}

.au2-modal__content {
  padding: 2rem;
  overflow: scroll;
}
