/* ==========================================================================
  au2-button
   ========================================================================== */

/* Mixins
   ========================================================================== */

@mixin button-focus {
  &:focus {
    outline: 0;
    border-color: $au-yellow-400;
    box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
  }
}

/* Component
   ========================================================================== */

.au2-button {
  font-family: "Flanders Art Sans", sans-serif;
  font-size: 1.6rem;
  border: none;
  appearance: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: .8rem 1.2rem;
  background-color: transparent;
  @include button-focus;
}

.au2-button {
  .au2-icon + .au2-button__label,
  .au2-button__label + .au2-icon {
    margin-left: .6rem;
  }
}

.au2-button--icon {
  padding: .8rem;
}

.au2-button--block {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.au2-button--icon img {
  display: block;
}

.au2-button svg path {
  fill: currentColor;
}

/* Skins
   ========================================================================== */

.au2-button--primary {
  background: $au-blue-700;
  color: #FFF;
  &:hover,
  &:active {
    background: $au-blue-600;
  }
}

.au2-button--secondary {
  box-shadow: inset 0 0 0 .2rem $au-blue-700;
  color: $au-blue-700;
  background: none;
  transition: box-shadow .2s;
  &:hover,
  &:active {
    box-shadow: inset 0 0 0 .3rem $au-blue-600;
  }
}

.au2-button--tertiary {
  box-shadow: inset 0 0 0 .1rem $au-gray-300;
  color: $au-blue-700;
  background: none;
  &:hover,
  &:active {
    color: $au-blue-600;
  }
}

.au2-button--borderless {
  border: .1rem solid transparent;
  color: $au-blue-700;
  background: none;
  &:hover,
  &:active {
    color: $au-blue-600;
  }
}

.au2-button--danger-primary {
  border: .1rem solid transparent;
  color: #FFF;
  background: $au-red-600;
  &:hover,
  &:active {
    background: $au-red-500;
  }
}

.au2-button--danger-hover {
  border: .1rem solid $au-gray-700;
  color: $au-gray-700;
  background: none;
  &:hover,
  &:active {
    color: $au-red-500;
    border-color: $au-red-500;
  }
}

.au2-button--disabled {
  color: $au-gray-500;
  background-color: none;

  &:hover {
    cursor: default;
  }
}

/* Sizes
   ========================================================================== */

.au2-button--size-s {
  font-size: 1.3rem;
}
