/* ==========================================================================
  au2-help-menu
   ========================================================================== */

.au2-help-menu__item {
  border-bottom: .1rem solid $au-gray-200;
}

.au2-help-menu__item:last-child {
  border-bottom: none;
}

.au2-help-menu__item a {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: $au-gray-700;

  .au2-help-menu__text {
    margin-right: .6rem;

    &:first-line {
      font-size: 1.5rem;
      color: $au-blue-600;
      font-weight: 500;
      padding-bottom: .6rem;
    }
  }

  &:hover,
  &:active {
    background: $au-gray-100;
    transition: 0.18s background ease-in-out;
  }
  &:focus {
    outline: 0;
    border-color: $au-yellow-400;
    box-shadow: inset 0 0 0 0.2rem $au-yellow-400;
  }

}
