/* ==========================================================================
  Key value
  The logic for the widths is: [short, medium, long, very long] where medium is the default
   ========================================================================== */

.au2-key-value-item__label {
  color: $au-gray-700;
  font-weight: 500;
  max-width: 22rem;
  margin-bottom: .5rem;
}

.au2-key-value-item {
  margin-bottom: 1rem;
}

.au2-key-value-item--horizontal {
    display: flex;
    align-items: center;
    height: 3.5rem;

  .au2-key-value-item__label {
    width: 45%;
    margin-bottom: 0;
  }
}
