<div class="auk-u-mb-2">
  <Agenda::Agendaitem::Decision
    @agendaitem={{this.agendaitem}}
    @decisionActivity={{this.model}}
    @agendaContext={{hash meeting=this.meeting agenda=this.agenda agendaitem=this.agendaitem}}
  />
</div>