<div class="auk-u-mb-2">
  <Agenda::Agendaitem::AgendaitemRatification
    @agendaitem={{this.model}}
    @subcase={{this.subcase}}
    @decisionActivity={{this.decisionActivity}}
    @agendaContext={{hash meeting=this.meeting agenda=this.agenda agendaitem=this.agendaitem}}
  />
</div>
