<div class="auk-u-flex auk-u-flex--justify-between vlc-u-box-model-maximize-width">
  <p class="vl-alert__content">
    {{message}}
  </p>
  <div class="button-container">
    <button data-test-changes-alert-close-button type="button" class="vl-button vl-button--reset"
      {{action "clearAction"}}>
      {{buttonText}}
    </button>
  </div>
</div>
