<div
  class="auk-o-flex auk-o-flex--justify-between auk-u-maximize-width vl-alert vl-alert--warning"
  data-test-changes-alert
>
  <p class="vl-alert__content">
    {{@message}}
  </p>
  <div class="button-container">
    <AuButton
      data-test-changes-alert-close
      @skin="secondary"
      {{on "click" this.clearAction}}
    >
      {{@buttonText}}
    </AuButton>
  </div>
</div>
