<div data-test-changes-alert class="auk-o-flex auk-o-flex--justify-between vlc-u-box-model-maximize-width">
  <p class="vl-alert__content">
    {{message}}
  </p>
  <div class="button-container">
    <Auk::Button
      @skin="warning-primary"
      {{action "clearAction"}}
      data-test-changes-alert-close
    >
      {{buttonText}}
    </Auk::Button>
  </div>
</div>
