{{!-- TODO: octane-refactor --}}
{{!-- template-lint-disable no-action --}}
<div data-test-changes-alert class="auk-o-flex auk-o-flex--justify-between auk-u-maximize-width">
  <p class="vl-alert__content">
    {{this.message}}
  </p>
  <div class="button-container">
    <AuButton
      data-test-changes-alert-close
      @skin="secondary"
      {{action "clearAction"}}
    >
      {{this.buttonText}}
    </AuButton>
  </div>
</div>
