<div data-test-changes-alert class="auk-o-flex auk-o-flex--justify-between vlc-u-box-model-maximize-width">
  <p class="vl-alert__content">
    {{message}}
  </p>
  <div class="button-container">
    <button data-test-changes-alert-close type="button" class="auk-button auk-button--warning-primary"
      {{action "clearAction"}}>
      <span class="auk-button__content">
        {{buttonText}}
      </span>
    </button>
  </div>
</div>
