{{#if this.isLoading}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else}}
  {{#if @signatureMockupAlt}}
    <AuPill
      @icon="sign"
      @skin="link"
      @route="signatures.signinghub"
      target="_blank"
      rel="noreferrer noopener"
    >
      Getekend
    </AuPill>
  {{else if @signatureMockup}}  
    <AuPill
      @icon="sign"
      @skin="link"
      @route="signatures.signinghub"
      target="_blank"
      rel="noreferrer noopener"
    >
      Verstuurd
    </AuPill>
  {{else}}
    {{#if (not this.isEditing)}}
      <AuPill
        @icon="sign"
        @skin="link"
        @route="signatures.open"
      >
        Te handtekenen
      </AuPill>
    {{else}}
    {{/if}}
  {{/if}}
{{/if}}