<div class="vl-form__group vl-u-reset-margin">
  <div class="vl-u-spacer-extended-left vl-u-spacer-extended-right">
    <div class="vl-form-grid vl-form-grid--is-stacked vl-u-flex-align-right">
      <div class="vl-col--5-12 vl-col--1-1--s">
        <label class="vl-form__label" for="dossierId">
          Dossier
        </label>
        <input
          class="vl-input-field vl-input-field--block"
          type="text"
          id="dossierId"
         />

      </div>
      <div class="vl-col--3-12 vl-col--1-1--s">
        <label class="vl-form__label" for="ministerId">
          Minister
        </label>
        <input
          class="vl-input-field vl-input-field--block"
          type="text"
          id="ministerId"
         />

      </div>
      <div class="vl-col--3-12 vl-col--1-1--s">
        <label class="vl-form__label" for="jurisdictionId">
          Bevoegdheid
        </label>
        <input
          class="vl-input-field vl-input-field--block"
          type="text"
          id="jurisdictionId"
         />

      </div>
      <div class="vl-col--1-12 vl-col--1-1--s">
        <button
          class="vl-button vl-button--tertiary vl-button--block"
          type="button"
        >
          Filter
        </button>
      </div>
    </div>
  </div>
</div>