// ==========================================================================
// Settings
// All variables and general declerations.
// ==========================================================================

@import "setting/general";
@import "setting/fonts";
@import "setting/breakpoints";
@import "setting/mobile";
@import "setting/grid";
@import "setting/page";
@import "setting/zindex";
@import "setting/typography";
@import "setting/form";
@import "setting/badge"; //@todo To be moved to the alert component
