<div class="compare-agenda-container">
  {{agenda/compare-agenda agendas=(await model.agendas) currentAgenda=firstAgenda}}
</div>
<div class="compare-agenda-container">
  {{agenda/compare-agenda agendas=(await model.agendas) currentAgenda=secondAgenda agendaToCompare=firstAgenda}}
</div>
