{{page-title (await title) replace=true}}
{{utils/overviews-header-decision
  title=(await title)
  model=(await model)
  routeModelPrefix=routeModel
  navigateBackToAgenda=(action "navigateBackToAgenda")
}}
<div class="vlc-scroll-wrapper__body">
  {{outlet}}
</div>