// To be moved to the alert component
$badge-colors: (
  positive: (
    fg: $auk-white,
    bg: $auk-green-500,
    hoverfg: $auk-white,
    hoverbg: $auk-green-700
  ),
  action: (
    fg: $auk-white,
    bg: $auk-color-primary,
    hoverfg: $auk-white,
    hoverbg: $auk-blue-700
  ),
  negative: (
    fg: $auk-white,
    bg: $auk-red-500,
    hoverfg: $auk-white,
    hoverbg: $auk-red-700
  ),
  warning: (
    fg: $auk-color-text,
    bg: $auk-yellow-500
  ),
  neutral: (
    fg: $auk-color-text,
    bg: $auk-gray-200,
    hoverfg: $auk-white,
    hoverbg: $auk-color-primary
  ),
  light: (
    fg: $auk-color-text,
    bg: $auk-white,
    hoverfg: $auk-white,
    hoverbg: $auk-color-primary
  )
);

// Note: xxsmall badge size used for icons that use the full width of their viewport (eg: vi-check)
$badge-sizes: (
  xxsmall: (size: 1.8rem, font: 0.8rem, respsize: 1.5rem, respfont: 0.7rem),
  xsmall: (size: 1.8rem, font: 1.3rem, respsize: 1.5rem, respfont: 1.1rem),
  small: (size: 2.6rem, font: 1.3rem, respsize: 2.2rem, respfont: 1.2rem),
  medium: (size: 4rem, font: 2rem, respsize: 3rem, respfont: 1.5rem),
  large: (size: 5rem, font: 2.5rem, respsize: 4rem, respfont: 2rem)
);
