@use "settings";
@use "tools";

/* ==========================================================================
  auk-tabs
   ========================================================================== */

.auk-tabs {
  display: flex;
  // overflow: hidden;
  // overflow-x: scroll; disable scrollbar on tabs
}

.auk-tabs--border-bottom {
  border-bottom: 0.1rem solid settings.$color-gray-300;
}

.auk-tabs__tab {
  //
}

.auk-tabs__tab__link {
  display: flex;
  align-items: center;

  height: 5rem;
  padding: 0;
  border: none;
  border-bottom: 0.3rem solid transparent;
  background-color: transparent;

  color: settings.$color-blue-500;
  font-family: flanders-sans, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;

  &:is(button) {
    appearance: none;
  }

  &:hover {
    background-color: settings.$color-gray-100;
  }

  @include tools.mixin-element-focus;
}

.auk-tabs__tab__inner {
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  top: 0.15rem;

  .auk-tabs__tab:not(:last-child) & {
    border-right: 0.1rem solid #ccc;
  }
}

.auk-tabs__tab__counter {
  font-weight: 400;
  color: settings.$color-blue-500;
}

.auk-tabs__tab__link--active {
  color: settings.$color-gray-900;

  &,
  &:focus {
    border-bottom: 0.3rem solid settings.$color-gray-900;
  }

  .auk-tabs__tab__counter {
    color: settings.$color-gray-600;
  }
}

/* Reversed tabs
  ========================================================================== */

.auk-tabs--reversed {
  border-top: 0.1rem solid settings.$color-gray-300;
  margin-top: 1.2rem;
}

.auk-tabs--reversed {
  .auk-tabs__tab__link {
    border-top: 0.3rem solid transparent;
    border-bottom: none;

    @include tools.mixin-element-focus;
  }
}

.auk-tabs--reversed .auk-tabs__tab__inner {
  bottom: 0.15rem;
}

.auk-tabs--reversed .auk-tabs__tab__link--active {
  color: settings.$color-gray-900;

  &,
  &:focus {
    border-top: 0.3rem solid settings.$color-gray-900;
    border-bottom: none;
  }
}

/* Hierarchical back tab
  ========================================================================== */

.auk-tabs__hierarchical-back {
  .auk-tabs__tab__link--active {
    color: settings.$color-blue-500;
    border-bottom: 0.3rem solid transparent;
  }
}

.auk-tabs--reversed .auk-tabs__hierarchical-back {
  .auk-tabs__tab__link--active {
    border-top: 0.3rem solid transparent;
    border-bottom: none;
  }
}

.auk-tabs__hierarchical-back .auk-tabs__tab__label { 
  display: none;
}