/* Appuniversum base
   ========================================================================== */

// Imports
// sourced from "@appuniversum/appuniversum" npm package

@import 'appuniversum/s-colors';
@import 'appuniversum/s-global';
@import 'appuniversum/s-utilities';
@import 'appuniversum/s-root';
@import 'appuniversum/t-font-size';
@import 'appuniversum/t-sass-mq';
@import 'appuniversum/u-hide';
