/* Appuniversum components
   ========================================================================== */

// Imports
// sourced from "@appuniversum/ember-appuniversum" npm package

// COMPONENTS
// @import "ember-appuniversum/c-accordion";
// @import "ember-appuniversum/c-alert";
// @import "ember-appuniversum/c-app";
@import "ember-appuniversum/c-badge";
@import "ember-appuniversum/c-body-container";
// @import "ember-appuniversum/c-brand";
@import "ember-appuniversum/c-button";
@import "ember-appuniversum/c-button-group";
@import "ember-appuniversum/c-card";
@import "ember-appuniversum/c-content";
// @import "ember-appuniversum/c-content-header";
@import "ember-appuniversum/c-control";
// @import "ember-appuniversum/c-data-table";
// @import "ember-appuniversum/c-dropdown";
@import "ember-appuniversum/c-fieldset";
// @import "ember-appuniversum/c-file-upload";
// @import "ember-appuniversum/c-form";
// @import "ember-appuniversum/c-form-row";
@import "ember-appuniversum/c-heading";
@import "ember-appuniversum/c-help-text";
@import "ember-appuniversum/c-hr";
@import "ember-appuniversum/c-icon";
// @import "ember-appuniversum/c-input";
@import "ember-appuniversum/c-label";
@import "ember-appuniversum/c-link";
@import "ember-appuniversum/c-list";
@import "ember-appuniversum/c-list-horizontal";
@import "ember-appuniversum/c-list-navigation";
// @import "ember-appuniversum/c-loader";
// @import "ember-appuniversum/c-pagination";
@import "ember-appuniversum/c-pill";
@import "ember-appuniversum/c-main-container";
// @import "ember-appuniversum/c-main-header";
// @import "ember-appuniversum/c-main-footer";
@import "ember-appuniversum/c-modal";
@import "ember-appuniversum/c-sidebar";
// @import "ember-appuniversum/c-sidebar-action";
@import "ember-appuniversum/c-table";
// @import "ember-appuniversum/c-textarea";
// @import "ember-appuniversum/c-timepicker";
@import "ember-appuniversum/c-toolbar";
@import "ember-appuniversum/c-toggle-switch";


// PLUGINS
// @import "ember-appuniversum/p-ember-power-select";
// @import "ember-appuniversum/p-duet-datepicker";


// Overrides
.au-c-pill {
  line-height: 1; // vertical alignment is a bit off in Kaleidos
}

// Change button link to Kaleidos style
.au-c-button--link {
  text-decoration: none;
  font-weight: 500;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Fix alignment of icons in helptext
.au-c-help-text {
  .au-c-icon {
    top: .2rem;
  }
}

// Fix icons in menu
.auk-menu__item {
  display: flex;
  align-items: center;
}

.auk-menu__item--danger {
  font-weight: 500;
}

// Modal fixes
.au-c-modal--fullscreen {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 0;
}

.au-c-modal__body {
  overflow: hidden;
}

.au-c-modal__title {
  @include au-font-size($au-h5);
}

.au-c-modal__close {
  background-color: $au-white;
}

// Make appuniversum button pointer consistent with kaleidos
.au-c-button {
  cursor: pointer;
}

// Fix missing noactions class
.auk-table--noactions .data-table__actions--top {
  display: none;
}
