/* Appuniversum components
   ========================================================================== */

// Imports
// sourced from "@appuniversum/ember-appuniversum" npm package

@import 'ember-appuniversum/c-icon';
@import 'ember-appuniversum/c-pill';
@import 'ember-appuniversum/c-heading';


// Overrides

.au-c-pill {
  border-radius: .5rem; // default border radius is .5rem in Kaleidos
  padding-top: 0;
}

.au-c-pill-action {
  &:focus {
    outline: 0.3rem solid $auk-yellow-500; // focus color of interaction elements is yellow in Kaleidos
  }
}

.au-c-pill--link {
  cursor: pointer;

  &:focus {
    outline: 0.3rem solid $auk-yellow-500; // focus color of interaction elements is yellow in Kaleidos
  }
}


// Additions

.au-c-pill--blank {
  color: $au-pill-color;
  background-color: transparent;
  border-color: transparent;
}

@media print {
  .au-c-pill {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
