<div class="vl-tabs__wrapper">
  <ul class="vl-tabs">
    <li class="vl-tab">
      {{#link-to "agendas" class="vl-tab__link"}}
        {{t "navigation.agendas"}}
      {{/link-to}}
    </li>
    <li class="vl-tab">
      {{#link-to "cases" class="vl-tab__link"}}
        {{t "navigation.cases"}}
      {{/link-to}}
    </li>
    <li class="vl-tab">
      {{#link-to "settings" class="vl-tab__link"}}
        {{t "navigation.settings"}}
      {{/link-to}}
    </li>
  </ul>
</div>