<menu>
  <div class="menu--content">
    <div class="menu--logo">
      {{#link-to "home"}}
        <img src="/assets/logo.svg" alt="Vlaamse overheid Logo">
      {{/link-to}}
    </div>
    <ul>
      <li>
        {{#link-to "cases" }}
          <span>{{t 'navigation.cases' }}</span>
          <div class="menu-item-active-border"/>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "sessions"}}
          <span>{{t 'navigation.sessions' }}</span>
          <div class="menu-item-active-border"/>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "settings"}}
        <span>{{t 'navigation.settings' }}</span>
        <div class="menu-item-active-border"/>
        {{/link-to}}
        </li>
      <li>
        <span>{{t 'navigation.notifications' }}</span>
        <div class="menu-item-active-border"/>
      </li>
    </ul>
  </div>
</menu>