<div class="vlc-toolbar u-border">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item u-padding--left">
      <h4 class="vlc-toolbar__title">{{title}}</h4>
    </div>
  </div>
  <div class="vlc-toolbar__right">
    {{yield}}
  </div>
</div>