.js-vl-sticky {
  position: relative;
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  z-index: 2;

  &--viewport-top,
  &--viewport-bottom {
    position: fixed;
  }

  &--container-bottom,
  &--viewport-unbottom {
    position: relative;
  }
}

.js-vl-sticky--placeholder {
  position: relative;
  width: 100%;
  will-change: min-height;
}
