<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-4">
    <div class="auk-u-my-2">
      <WebComponents::AuNavbar class="vlc-publication-overview-navbar" @noPadding="true">
        <WebComponents::AuToolbar>
          <WebComponents::AuToolbar::Group>
            <WebComponents::AuTabs>
              <WebComponents::AuTab @route="publications.paused.paused-minister" data-test-publication-paused-via-minister-tab>{{t "via-cabinet"}}</WebComponents::AuTab>
              <WebComponents::AuTab @route="publications.paused.paused-not-minister" data-test-publication-paused-not-via-minister-tab>{{t "not-via-cabinet"}}</WebComponents::AuTab>
            </WebComponents::AuTabs>
          </WebComponents::AuToolbar::Group>
          <WebComponents::AuToolbar::Group @position="right">
            <WebComponents::AuToolbar::Item>
            </WebComponents::AuToolbar::Item>
          </WebComponents::AuToolbar::Group>
        </WebComponents::AuToolbar>
      </WebComponents::AuNavbar>
    </div>
    {{outlet}}
  </div>
</div>
