<Auk::Panel class="auk-u-mt-4">
  <Auk::Panel::Header>
    <Auk::Toolbar>
      <Auk::Toolbar::Group @position="left">
        <Auk::Toolbar::Item>
          <h4 class="auk-panel__title">
            Documenten
          </h4>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
      <Auk::Toolbar::Group @position="right">
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="secondary"
            @icon="pencil"
          >
            Bewerken
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @icon="plus"
          >
            Document toevoegen
          </Auk::Button>
        </Auk::Toolbar::Item>
      </Auk::Toolbar::Group>
    </Auk::Toolbar>
  </Auk::Panel::Header>
  <Auk::Panel::Body class="auk-u-bg-alt">
    <Auk::AccordionPanel @isDefaultActive={{true}} as |accordionPanel| >
      <accordionPanel.Header @title={{t "reference-documents-council-of-ministers"}}/>
      <accordionPanel.Body>
        <Documents::DocumentCardList @pieces={{@model}} />
      </accordionPanel.Body>
    </Auk::AccordionPanel>
  </Auk::Panel::Body>
</Auk::Panel>
