<div class="auk-empty-state {{this.bordered}}" ...attributes>
  <AuBadge
    @icon="circle-info"
    @skin="grey"
    class="au-c-badge--medium"
  />
  <p class="auk-empty-state__content">{{@message}}</p>
</div>