<div data-test-au-empty-state class="auk-empty-state {{this.bordered}}">
  <Auk::Badge @icon="circle-info" @size="large" />
  <p data-test-au-empty-state-text class="auk-empty-state__content">{{@message}}</p>
</div>