{{#if @message}}
  <div data-test-auk-loader-wrapper class="auk-loader-wrapper auk-loader-wrapper--small auk-u-maximize-width auk-u-maximize-height">
    <div data-test-auk-loader class="auk-loader" role="alert" aria-busy="true"></div>
    <p>{{@message}}</p>
  </div>
{{else}}
  <div data-test-auk-loader class="auk-loader" role="alert" aria-busy="true"></div>
{{/if}}