<div class="auk-toggle">
    <Input
      ...attributes
      @type="checkbox"
      @checked={{@checked}}
      disabled={{@disabled}}
    />
    <div class="auk-toggle__back"></div>
    <div class="auk-toggle__knob"></div>
</div>