{{!-- template-lint-disable  --}}
<div class="c-icons-overview">
<h1>kaleidos-icons</h1><div class="preview">
            <span class="inner">
                <i class=" ki-add"/>
            </span>
            <br/>
            <span class="label">ki-add</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-alert-triangle"/>
            </span>
            <br/>
            <span class="label">ki-alert-triangle</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-arrow-down"/>
            </span>
            <br/>
            <span class="label">ki-arrow-down</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-arrow-left"/>
            </span>
            <br/>
            <span class="label">ki-arrow-left</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-arrow-right"/>
            </span>
            <br/>
            <span class="label">ki-arrow-right</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-arrow-up"/>
            </span>
            <br/>
            <span class="label">ki-arrow-up</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-back"/>
            </span>
            <br/>
            <span class="label">ki-back</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-book"/>
            </span>
            <br/>
            <span class="label">ki-book</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-calendar-plus"/>
            </span>
            <br/>
            <span class="label">ki-calendar-plus</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-calendar"/>
            </span>
            <br/>
            <span class="label">ki-calendar</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-check"/>
            </span>
            <br/>
            <span class="label">ki-check</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-chevron-down"/>
            </span>
            <br/>
            <span class="label">ki-chevron-down</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-chevron-left"/>
            </span>
            <br/>
            <span class="label">ki-chevron-left</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-chevron-right"/>
            </span>
            <br/>
            <span class="label">ki-chevron-right</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-chevron-up"/>
            </span>
            <br/>
            <span class="label">ki-chevron-up</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-circle-check"/>
            </span>
            <br/>
            <span class="label">ki-circle-check</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-circle-close"/>
            </span>
            <br/>
            <span class="label">ki-circle-close</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-circle-info"/>
            </span>
            <br/>
            <span class="label">ki-circle-info</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-circle-more"/>
            </span>
            <br/>
            <span class="label">ki-circle-more</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-circle-question"/>
            </span>
            <br/>
            <span class="label">ki-circle-question</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-clock"/>
            </span>
            <br/>
            <span class="label">ki-clock</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-close"/>
            </span>
            <br/>
            <span class="label">ki-close</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-comment"/>
            </span>
            <br/>
            <span class="label">ki-comment</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-copy-paste"/>
            </span>
            <br/>
            <span class="label">ki-copy-paste</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-cross"/>
            </span>
            <br/>
            <span class="label">ki-cross</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-delete"/>
            </span>
            <br/>
            <span class="label">ki-delete</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-document-added"/>
            </span>
            <br/>
            <span class="label">ki-document-added</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-document-updated"/>
            </span>
            <br/>
            <span class="label">ki-document-updated</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-document"/>
            </span>
            <br/>
            <span class="label">ki-document</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-download"/>
            </span>
            <br/>
            <span class="label">ki-download</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-drag-handle-18"/>
            </span>
            <br/>
            <span class="label">ki-drag-handle-18</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-drag-handle-2"/>
            </span>
            <br/>
            <span class="label">ki-drag-handle-2</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-drag-handle"/>
            </span>
            <br/>
            <span class="label">ki-drag-handle</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-edit"/>
            </span>
            <br/>
            <span class="label">ki-edit</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-expand-vertical"/>
            </span>
            <br/>
            <span class="label">ki-expand-vertical</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-external-link"/>
            </span>
            <br/>
            <span class="label">ki-external-link</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-file"/>
            </span>
            <br/>
            <span class="label">ki-file</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-filter"/>
            </span>
            <br/>
            <span class="label">ki-filter</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-folder"/>
            </span>
            <br/>
            <span class="label">ki-folder</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-hide"/>
            </span>
            <br/>
            <span class="label">ki-hide</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-hierarchical-back"/>
            </span>
            <br/>
            <span class="label">ki-hierarchical-back</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-import"/>
            </span>
            <br/>
            <span class="label">ki-import</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-info-circle"/>
            </span>
            <br/>
            <span class="label">ki-info-circle</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-lightbulb"/>
            </span>
            <br/>
            <span class="label">ki-lightbulb</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-link-broken"/>
            </span>
            <br/>
            <span class="label">ki-link-broken</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-lock-closed"/>
            </span>
            <br/>
            <span class="label">ki-lock-closed</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-lock-open"/>
            </span>
            <br/>
            <span class="label">ki-lock-open</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-mail"/>
            </span>
            <br/>
            <span class="label">ki-mail</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-more"/>
            </span>
            <br/>
            <span class="label">ki-more</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-down"/>
            </span>
            <br/>
            <span class="label">ki-nav-down</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-left"/>
            </span>
            <br/>
            <span class="label">ki-nav-left</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-right"/>
            </span>
            <br/>
            <span class="label">ki-nav-right</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-up"/>
            </span>
            <br/>
            <span class="label">ki-nav-up</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-not-started"/>
            </span>
            <br/>
            <span class="label">ki-not-started</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-not-visible"/>
            </span>
            <br/>
            <span class="label">ki-not-visible</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-paperclip"/>
            </span>
            <br/>
            <span class="label">ki-paperclip</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-pencil"/>
            </span>
            <br/>
            <span class="label">ki-pencil</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-plus"/>
            </span>
            <br/>
            <span class="label">ki-plus</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-printer-view"/>
            </span>
            <br/>
            <span class="label">ki-printer-view</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-question-mark"/>
            </span>
            <br/>
            <span class="label">ki-question-mark</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-redo"/>
            </span>
            <br/>
            <span class="label">ki-redo</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-remove"/>
            </span>
            <br/>
            <span class="label">ki-remove</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-search"/>
            </span>
            <br/>
            <span class="label">ki-search</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-settings"/>
            </span>
            <br/>
            <span class="label">ki-settings</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-sitemap"/>
            </span>
            <br/>
            <span class="label">ki-sitemap</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-synchronize"/>
            </span>
            <br/>
            <span class="label">ki-synchronize</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-timeline"/>
            </span>
            <br/>
            <span class="label">ki-timeline</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-upload"/>
            </span>
            <br/>
            <span class="label">ki-upload</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-user"/>
            </span>
            <br/>
            <span class="label">ki-user</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-visible"/>
            </span>
            <br/>
            <span class="label">ki-visible</span>
        </div>
</div>
