// Border utility
@mixin u-border($color: $accent-color, $width: .5rem, $padding: 3.5rem, $style: solid) {
  border-left-style: $style;
  border-left-width: $width;
  border-color: $color;
  padding-left: $padding;

  @include respond-to("small") {
    padding-left: #{$padding / 2};
  }
}

.vl-u-border {
  @include u-border;
}
