@media print {
  // Generic removals
  header,
  footer {
    display: none;

    [role="main"] &,
    main & {
      display: block;
    }
  }

  // Global header/footer ignore
  .iwgh3,
  .iwgh2,
  .iwgf3,
  .iwgf2 {
    display: none;
  }
}
