.vl-u-spacer {
  margin-bottom: $spacing-normal;
}

.vl-u-spacer--small {
  margin-bottom: $spacing-small;
}

.vl-u-spacer--large {
  margin-bottom: $spacing-large;

  @include respond-to(small) {
    margin-bottom: $spacing-medium;
  }
}
