// Typography
.vl-u-text--ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vl-u-text--uppercase {
  text-transform: uppercase;
}

.vl-u-text--capitalize {
  &::first-letter {
    text-transform: uppercase;
  }
}

.vl-u-text--success {
  color: $success-text-color;
}

.vl-u-text--error {
  color: $error-text-color;
}

.vl-u-text--small {
  font-size: 1.4rem !important; // sass-lint:disable-line no-important
}
