// Visible on breakpoint X
.vl-u-visible {
  @each $name, $align in $bp-list {
    @include respond-to(map-get($align, media)) {
      &--#{$name} {
        display: block !important; // sass-lint:disable-line no-important
      }
    }
  }
}

// Hidden on breakpoint X
.vl-u-hidden {
  display: none;

  @each $name, $align in $bp-list {
    @include respond-to(map-get($align, media)) {
      &--#{$name} {
        display: none !important; // sass-lint:disable-line no-important
      }
    }
  }
}
