<div class="auk-u-flex auk-u-mb-4">
  <div class="vlc-printable-agenda-list__item-letter">{{letter}}.</div>
  <h4 class="vl-u-text--uppercase auk-u-m-0 auk-u-text-decoration-underline">{{title}}</h4>
</div>
{{yield}}
