<div class="auk-u-mb-4">
  <Auk::Panel data-test-subcase-description-panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <Auk::Toolbar::Group @position="left">
          <Auk::Toolbar::Item>
            <h4 class="auk-panel__title">
              Contactpersonen
            </h4>
          </Auk::Toolbar::Item>
        </Auk::Toolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    <Auk::Panel::Body>
      <Auk::EmptyState @message="Er zijn nog geen contactpersonen toegevoegd" />
    </Auk::Panel::Body>
  </Auk::Panel>
</div>