<LinkTo
    data-test-next-button-user-detail
    @route="settings.users.user"
    @model={{await @row.account.user.id}}
    @class="auk-button auk-button--borderless auk-button--icon"
>
  <span class="auk-button__content">
    <div class="auk-icon auk-icon--default">
      <i class="ki ki-nav-right"></i>
    </div>
  </span>
</LinkTo>