<LinkTo
    data-test-agenda-overview-sub-item
    @route="settings.users.user"
    @model={{await @row.account.user.id}}
    @class="auk-button auk-button--borderless auk-button--icon"
>
  <div class="auk-icon auk-icon--default">
    <i class="ki ki-nav-right"></i>
  </div>
</LinkTo>