<div class="vlc-panel-layout__main-content">
  <Navbar>
    <Toolbar>
      <Toolbar::Group>
        <Toolbar::Item>
          <Tabs>
            <Tab>In behandeling (15)</Tab>
            <Tab>Behandeld (1155)</Tab>
          </Tabs>
        </Toolbar::Item>
      </Toolbar::Group>
      <Toolbar::Group @position="right">
        <Toolbar::Item>
          <button type="button" class="vl-button vl-button--icon-before">Nieuwe publicatie</button>
        </Toolbar::Item>
      </Toolbar::Group>
    </Toolbar>
  </Navbar>
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    {{outlet}}
  </div>
</div>
