<div class="vlc-panel-layout__main-content">
  <div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper">
    <div class="vlc-scroll-wrapper__header">
      <div class="vlc-navbar vlc-navbar--bordered-bottom vlc-navbar--tabs vlc-navbar--tabs-bottom">
        <div class="vl-tabs__wrapper">
          <Agenda::Agendaitem::AgendaitemNav
            @agendaitem={{this.model}}
            @meetingIsConcluded={{this.meeting.isFinal}}
          />
        </div>
      </div>
    </div>
    <div class="vlc-scroll-wrapper__body">
      <div class="auk-u-m-4">
        <div class="auk-u-mb-3">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>