<div class="auk-scroll-wrapper">
  <Auk::Navbar>
    <Agenda::Agendaitem::AgendaitemNav
      @agendaitem={{this.model}}
      @meetingIsConcluded={{this.meeting.isFinal}}
    />
  </Auk::Navbar>
  <div class="auk-scroll-wrapper__body auk-scroll-wrapper__body--vertical">
    <div class="auk-u-m-4">
      <div class="auk-u-mb-3">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
