<div class="auk-modal__header auk-modal__header--bordered">
  <Auk::Toolbar @size="large">
    <WebComponents::AuToolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <h2 data-test-au-modal-header-title class="auk-toolbar__title">{{@title}}</h2>
      </Auk::Toolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <Auk::Toolbar::Item>
        {{#if @resizeable}}
          <Auk::Button
            @icon={{if @isExpanded 'minimize' 'expand'}}
            @skin="borderless"
            @layout="icon-only"
            {{on "click" @onResize}}
            data-test-au-modal-header-resize
          />
        {{/if}}
        {{#if this.closeable}}
          <Auk::Button
            @icon="close"
            @skin="borderless"
            @layout="icon-only"
            {{on "click" @onClose}}
            data-test-au-modal-header-close
          />
        {{/if}}
      </Auk::Toolbar::Item>
    </WebComponents::AuToolbar::Group>
  </Auk::Toolbar>
</div>