<div class="vlc-procedure-step vlc-procedure-step--nopadding">
  <div class="vlc-procedure-step__badge-wrapper">
    <Auk::Badge @size="medium" @icon={{@badgeIcon}} @skin={{@badgeSkin}} />
  </div>
  {{yield @event}}
</div>