<div class="vlc-procedure-step vlc-procedure-step--nopadding">
  <div class="vlc-procedure-step__badge-wrapper">
    <AuBadge
      @icon={{@badgeIcon}}
      @skin={{@badgeSkin}}
      class="au-c-badge--medium"
    />
  </div>
  {{yield @event}}
</div>