$icon-font-location: "/font/" !default;
$icon-family: "vlaanderen-icon";

// sass-lint:disable mixin-name-format max-file-line-count class-name-format
@include font-face($icon-family, $icon-font-location, $icon-family, normal, normal);

// ### ICON: arrow
@mixin vi-arrow {
  &::before {
    content: "\f123";
  }
}

// ### ICON: cross
@mixin vi-cross {
  &::before {
    content: "\f16f";
  }
}

// ### ICON: check
@mixin vi-check {
  &::before {
    content: "\f150";
  }
}
