// sass-lint:disable max-line-length

$font-location: "/fonts/flanders-art/" !default;
$flanders-family: "flanders-sans";
$flanders-serif-family: "flanders-serif";
$file-name-base: "flanders-art";

@mixin font-face($family, $location, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($location+$name+".woff2") format("woff2"), url($location+$name+".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}


@include font-face($flanders-family, $font-location, $file-name-base + "-sans-light", 300, normal);
@include font-face($flanders-family, $font-location, $file-name-base + "-sans-regular", 400, normal);
@include font-face($flanders-family, $font-location, $file-name-base + "-sans-medium", 500, normal);
@include font-face($flanders-family, $font-location, $file-name-base + "-sans-bold", 700, normal);

@include font-face($flanders-serif-family, $font-location, $file-name-base + "-serif-light", 300, normal);
@include font-face($flanders-serif-family, $font-location, $file-name-base + "-serif-regular", 400, normal);
@include font-face($flanders-serif-family, $font-location, $file-name-base + "-serif-medium", 500, normal);
@include font-face($flanders-serif-family, $font-location, $file-name-base + "-serif-bold", 700, normal);
