{{#if (or (not agendaitem.retracted) (not agendaitem.postponedTo))}}
  <h2 class="vl-title vl-title--h3">
    {{t "buttons.agendaitem-comment"}}
  </h2>
  <div class="vlc-comments-input">
    <div class="vl-badge">
      <img class="vl-badge__img" src="/assets/icons/avatar-hilde-crevits.jpg" />
    </div>
    {{utils/custom-textarea
      rows="2"
      class="vl-textarea vl-textarea--block"
      value=text
      placeholder="Type hier jouw opmerking..."
      enter=(action "addComment")
    }}
  </div>
  {{#each (await agendaitem.remarks) as |comment|}}
    <div class="vlc-comments-comment">
      <div class="vl-badge">
        <img
          class="vl-badge__img"
          src="/assets/icons/avatar-hilde-crevits.jpg"
         />

      </div>
      <div class="vlc-comments-comment-content">
        <div class="vlc-comments-comment-content__header">
          <h4 class="vl-title vl-title--h6">
            Naam placeholder
          </h4>
          <div class="vlc-comments-comment-content__meta">
            {{moment-format comment.createdAt "DD MMMM YYYY - h:mm"}}
          </div>
        </div>
        <div class="vl-typography">
          <p>
            {{comment.text}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}