<Auk::ColorBadge
  @skin={{this.accessPillSkin}}
  class="auk-u-mr"
/>
<span ...attributes>
  {{#if @accessLevel.label}}
    {{@accessLevel.label}}
  {{else}}
    {{t "no-accessLevel"}}
  {{/if}}
</span>
