{{#light-table
  table
  tableClassNames="auk-table auk-table vl-data-table--hover auk-table--striped"
as |tab|
}}
  {{tab.head
    onColumnClick=(action "onColumnClick")
    iconSortable="vl-data-table__header-title__sort-icon ki-expand-vertical"
    iconAscending="vl-data-table__header-title__sort-icon ki-arrow-down"
    iconDescending="vl-data-table__header-title__sort-icon ki-arrow-up"
  }}
  {{#tab.body
    canExpand=true
    multiRowExpansion=false
    onScrolledToBottom=(action "onScrolledToBottom")
  as |body|
  }}
    {{#body.expanded-row as |row|}}{{yield row}}{{/body.expanded-row}}
    {{#if isLoading}}
      {{#body.loader}}
        {{web-components/vl-loader text=(t "agendaitems-loading-text")}}
      {{/body.loader}}
    {{/if}}
  {{/tab.body}}
{{/light-table}}
{{#if isScrolling}}
  <button type="button" class="vl-button vl-button--secondary vl-button--icon">
    <i class="vl-button__icon ki-add" aria-hidden="true"></i>
    <span class="vl-u-visually-hidden">
      {{t "back"}}
    </span>
  </button>
{{/if}}
