<Auk::Button @skin="borderless" data-test-auk-back-button {{on "click" this.goToParentRoute}}>
  <Auk::Icon @name="hierarchical-back" />
  <span class="au-u-hidden-visually">Terug</span>
</Auk::Button>