{{!-- TODO: octane-refactor, fix accessibility concern --}}
{{!-- template-lint-disable no-action no-invalid-interactive --}}
<Auk::Button @skin="borderless" data-test-auk-back-button {{action "goToParentRoute"}}>
  <Auk::Icon @name="hierarchical-back" />
  <span class="au-u-hidden-visually">Terug</span>
</Auk::Button>