<div data-test-auk-back-button class="u-padding--left--small auk-u-cursor-pointer" {{action "goToParentRoute"}}>
  <div class="auk-icon auk-icon--default">
    <i class="ki ki-nav-left"></i>
  </div>
</div>
