<div data-test-general-back-button class="vlc-link-pointer u-padding--left--small" {{action "goToParentRoute"}}>
  <div class="auk-icon auk-icon--default">
    <i class="ki ki-nav-left"></i>
  </div>
</div>
