<div class="mandatee-selector-container">
  {{#component (if @singleSelect "power-select" "power-select-multiple")
    options=this.mandatees
    selected=(await selectedMandatees)
    disabled=this.readOnly
    closeOnSelect=@singleSelect
    search=(perform this.searchMandatees)
    onchange=this.chooseMandatee
  as |mandatee|}}
      {{await mandatee.fullDisplayName}}
  {{/component}}
</div>
