<Auk::Navbar @skin="gray-100">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      {{#if @showBackButton}}
        <Utils::back-button/>
      {{/if}}
      <Auk::Toolbar::Item>
        <h4 data-test-settings-header-title class="auk-toolbar-complex__title">{{@title}}</h4>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{yield}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
