<FileUpload
  @name="files"
  @accept=".csv"
  @onfileadd={{action "uploadFile"}} as |queue|>

  <span class="auk-button auk-button--tertiary vl-button--icon-before">
    {{#if queue.files.length}}
      <a href="javascript://" class="auk-button auk-button--tertiary vl-button--icon-before">
        {{t "import-users-text"}}
      </a>
    {{else}}
      <div class="auk-icon auk-icon--default">
  <i class="ki vl-button__icon--before ki-import"></i>
</div>
      {{t "import-users"}}
    {{/if}}
  </span>

</FileUpload>
