<FileUpload
  @name="files"
  @accept=".csv"
  @onfileadd={{action "uploadFile"}} as |queue|>

  <span class="vl-button vl-button--tertiary vl-button--icon-before">
    {{#if queue.files.length}}
      <a href="javascript://" class="vl-button vl-button--tertiary vl-button--icon-before">
        {{t "import-users-text"}}
      </a>
    {{else}}
      <i class="vl-button__icon vl-button__icon--before ki-import"></i>
      {{t "import-users"}}
    {{/if}}
  </span>

</FileUpload>
