<FileUpload
  @name="files"
  @accept=".csv"
  @onfileadd={{action "uploadFile"}} as |queue|>

  {{!-- refactored the strucutre below a bit to remove redundant nesting (vl-refactor), but is still unintuitive --}}
  {{#if queue.files.length}}
    <button type="button" class="auk-button auk-button--tertiary" disabled>
      {{t "import-users-text"}}
    </button>
  {{else}}
    <span class="auk-button auk-button--tertiary">
      <span class="auk-icon auk-icon--default">
        <i class="ki ki-import"></i>
      </span>
      <span class="auk-button__label">
        {{t "import-users"}}
      </span>
    </span>
  {{/if}}

</FileUpload>
