<div class="auk-form-group">
  <WebComponents::AuLabel>{{t "text-templates"}}</WebComponents::AuLabel>
  {{#power-select
    options=items
    selected=selectedItems
    disabled=readOnly
    searchField=searchField
    placeholder=placeholder
    searchMessage=searchMessage
    loadingMessage=loadingMessage
    noMatchesMessage=noMatchesMessage
    search=(perform searchTask)
    oninput=(action "resetValueIfEmpty")
    onchange=(action "selectModel")
  as |model|
  }}
    {{model.label}}
  {{/power-select}}
</div>
