<div class="vlc-input-field vlc-input-field-block">
  {{web-components/vl-form-label value=(t "text-templates")}}
  {{#power-select
    options=items
    selected=selectedItems
    disabled=readOnly
    searchField=searchField
    placeholder=placeholder
    searchMessage=searchMessage
    loadingMessage=loadingMessage
    noMatchesMessage=noMatchesMessage
    search=(perform searchTask)
    oninput=(action "resetValueIfEmpty")
    onchange=(action "selectModel")
  as |model|
  }}
    {{model.label}}
  {{/power-select}}
</div>
