<button class="auk-table-sorter">
  <div class="auk-table-sorter__label">{{@label}}</div>
  <div class="auk-icon auk-icon--default auk-icon--muted">
    <i class="ki ki-caret-up-down"></i>
  </div>
</button>