{{#each (if (is-pending activeTabs) defaultTabs (await activeTabs)) as |tab|}}
  <li class="vl-tab">
    <a
            class="vl-tab__link
      {{active-class activeAgendaItemSection tab.name class="active"}}"
      {{action "setAgendaItemSection" tab.name}}
    >
      {{t tab.label}}
      {{#if (not-eq undefined tab.pillText)}}
        <button class="vl-pill vl-pill--clickable" type="button">
          {{await tab.pillText}}
        </button>
      {{/if}}
    </a>
  </li>
{{/each}}


