<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    {{#if (not isEditing)}}
      {{agenda/agendaitem/agendaitem-case/subcase-documents
        documents=(await model.meeting.documents)
        agendaitemOrSubcaseOrMeeting=(await model.meeting)
        shouldShowLinkedDocuments=false
      }}
    {{else}}
      {{agenda/agendaitem/agendaitem-case/edit-subcase-documents
        documents=(await model.meeting.documents)
        agendaitemOrSubcaseOrMeeting=(await model.meeting)
        cancelForm=(action "cancelEditing")
      }}
    {{/if}}
  </div>
</div>