{{page-title (t "flemish-parliament")}}

{{#if @model}}
  <div class="auk-panel-layout__main-content au-u-flex au-u-flex--column">
    <div class="auk-scroll-wrapper">
      <div class="auk-u-bg-alt">
        <Subcases::ParliamentSubcaseHeader />
      </div>
      <div class="auk-scroll-wrapper__body">
        <div class="auk-u-m-4">
          <div id="case" class="auk-u-mb-4">
            <Cases::Parliament::DescriptionPanel />
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <WebComponents::LoadingPage />
{{/if}}