<div class="cases--header-tile cases--sub-file-header">
  <h2>
    {{t "cases.subcases"}}
  </h2>
  {{#link-to "cases.case.subcases.create"}}
    <button class="vl-button vl-button--tertiary">
      {{t "buttons.create-subcase"}}
    </button>
  {{/link-to}}
</div>
<div class="cases--subcases">
  {{outlet}}
</div>