<div class="cases--header-tile cases--sub-file-header">
  <h2>{{t 'cases.subcases'}}</h2>
  {{#link-to "cases.case.subcases.create"}}
    <button>{{t 'buttons.create-subcase'}}</button>
  {{/link-to}}
</div>

<div class="cases--subcases">
  {{outlet}}
</div>