<div class="vl-page-header">
  <div class="vl-toolbar">
    <div class="vl-toolbar__left">
      <h3 class="vl-title vl-title--h3">
        {{t "cases.subcases"}}
      </h3>
    </div>
    <div class="vl-toolbar__right">
      {{#link-to "cases.case.subcases.create"}}
        <button class="vl-button vl-button--narrow vl-button--icon-before">
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
            aria-hidden="true"
          ></i>
          {{t "buttons.create-subcase"}}
        </button>
      {{/link-to}}
    </div>
  </div>
</div>
<div class="vl-u-spacer-extended-l">
  {{outlet}}
</div>