<div class="vl-u-spacer-extended-l">
  <div class="vl-u-spacer">
    <div class="vl-u-display-flex vl-u-flex-space-between">
      <h2 class="vl-title vl-title--h3">
        {{t "prepared-text-minutes"}}
      </h2>
      <button class="vl-button vl-button--tertiary vl-button--icon">
        <div
          class="vl-vi vl-vi-nav-show-more-horizontal vl-button__icon"
        ></div>
      </button>
    </div>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      Aanwezig
    </h3>
    <div class="vl-u-spacer">
      <p>
        De minister-president
      </p>
      <p>
        Geert Bourgeois
      </p>
    </div>
    <div class="vl-u-spacer">
      <p>
        De viceministers-presidenten
      </p>
      <ul>
        <li>
          Hilde Crevits
        </li>
        <li>
          Bart Tommelein
        </li>
        <li>
          Liesbeth Homans
        </li>
      </ul>
    </div>
    <div class="vl-u-spacer">
      <p>
        De Vlaamse ministers
      </p>
      <ul>
        <li>
          Ben Weyts
        </li>
        <li>
          Jo Vandeurzen
        </li>
        <li>
          Philippe Muyters
        </li>
        <li>
          Joke Schauvliege
        </li>
        <li>
          Sven Gatz
        </li>
      </ul>
    </div>
    <div class="vl-u-spacer">
      <p>
        De secretaris
      </p>
      <p>
        Mark Andries
      </p>
    </div>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      Datum
    </h3>
    <p>
      1 januari 2019
    </p>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      Datum volgende vergadering
    </h3>
    <p>
      4 januari 2019
    </p>
  </div>
  <div class="vl-u-spacer">
    <h3 class="vl-title vl-title--h6">
      Mededelingen
    </h3>
    <p>
      Suspendisse in dapibus enim. Duis imperdiet gravida diam, eu malesuada metus efficitur et. Mauris volutpat arcu tempus tincidunt ultricies. Fusce auctor nisl sed metus semper fermentum. Curabitur egestas urna ut arcu maximus
                                    sagittis. Nam nec aliquet magna. Etiam imperdiet ultrices nibh elementum posuere. Integer molestie efficitur volutpat.
    </p>
  </div>
</div>