<h1 class="vlc-kitchensink-header">{{t "style-guide-checkbox"}}</h1>
<Styleguide::KitchensinkSample
        @title="Checkbox"
        @code='<fieldset>
  <legend class="auk-label">Label</legend>
  <WebComponents::AuCheckboxList>
    <WebComponents::AuCheckbox @label="Label 1" checked />
    <WebComponents::AuCheckbox @label="Label 2" checked />
    <WebComponents::AuCheckbox @label="Label 3" />
  </WebComponents::AuCheckboxList>
</fieldset>'
>
  {{!-- BEGIN-SNIPPET loading --}}
  <fieldset>
    <legend class="auk-label">Label</legend>
    <WebComponents::AuCheckboxList>
      <WebComponents::AuCheckbox @label="Label 1" checked/>
      <WebComponents::AuCheckbox @label="Label 2" checked/>
      <WebComponents::AuCheckbox @label="Label 3"/>
    </WebComponents::AuCheckboxList>
  </fieldset>

  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
        @title="Checkbox inline"
        @code='<fieldset>
  <legend class="auk-label">Label</legend>
  <WebComponents::AuCheckboxList @layout="inline">
    <WebComponents::AuCheckbox @label="Label 1" checked />
    <WebComponents::AuCheckbox @label="Label 2" checked />
    <WebComponents::AuCheckbox @label="Label 3" />
  </WebComponents::AuCheckboxList>
</fieldset>'
>
  {{!-- BEGIN-SNIPPET loading --}}
  <fieldset>
    <legend class="auk-label">Label</legend>
    <WebComponents::AuCheckboxList @layout="inline">
      <WebComponents::AuCheckbox @label="Label 1" checked />
      <WebComponents::AuCheckbox @label="Label 2" checked />
      <WebComponents::AuCheckbox @label="Label 3" />
    </WebComponents::AuCheckboxList>
  </fieldset>

  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
        @title="Radio button"
        @code='<fieldset>
  <legend class="auk-label">Label</legend>
  <WebComponents::AuRadioList>
    <WebComponents::AuRadio @label="Label 1" name="styleguide-radio-1" checked />
    <WebComponents::AuRadio @label="Label 2" name="styleguide-radio-1"/>
    <WebComponents::AuRadio @label="Label 3" name="styleguide-radio-1"/>
  </WebComponents::AuRadioList>
</fieldset>'
>
  {{!-- BEGIN-SNIPPET loading --}}
  <fieldset>
    <legend class="auk-label">Label</legend>
    <WebComponents::AuRadioList>
      <WebComponents::AuRadio @label="Label 1" name="styleguide-radio-1" checked />
      <WebComponents::AuRadio @label="Label 2" name="styleguide-radio-1"/>
      <WebComponents::AuRadio @label="Label 3" name="styleguide-radio-1"/>
    </WebComponents::AuRadioList>
  </fieldset>

  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
        @title="Radio button inline"
        @code='<fieldset>
  <legend class="auk-label">Label</legend>
  <WebComponents::AuRadioList @layout="inline">
    <WebComponents::AuRadio @label="Label 1" name="styleguide-radio-2" checked />
    <WebComponents::AuRadio @label="Label 2" name="styleguide-radio-2"/>
    <WebComponents::AuRadio @label="Label 3" name="styleguide-radio-2"/>
  </WebComponents::AuRadioList>
</fieldset>'
>
  {{!-- BEGIN-SNIPPET loading --}}
  <fieldset>
    <legend class="auk-label">Label</legend>
    <WebComponents::AuRadioList @layout="inline">
      <WebComponents::AuRadio @label="Label 1" name="styleguide-radio-2" checked />
      <WebComponents::AuRadio @label="Label 2" name="styleguide-radio-2"/>
      <WebComponents::AuRadio @label="Label 3" name="styleguide-radio-2"/>
    </WebComponents::AuRadioList>
  </fieldset>

  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>