{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">Pills</h1>

<h3 class="vlc-kitchensink-sample-header">Normal pills</h3>
<div class="vlc-kitchensink-sample">
  <span class="vl-pill">Option 1</span>
  <span class="vlc-pill">Option 1</span>
  <span class="vlc-pill vlc-pill--success">Option 1</span>
  <span class="vlc-pill vlc-pill--warning">Option 1</span>
  <span class="vlc-pill vlc-pill--error">Option 1</span>
</div>

<h3 class="vlc-kitchensink-sample-header">Acceslevel pill</h3>
<div class="vlc-kitchensink-sample">
  <AccessLevelPill/>
</div>

