<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "edit-item.sub-title")}}
  {{textarea rows="2" class="vl-textarea vl-textarea--block" value=newsItem.subtitle}}

</div>
<div class="vlc-input-field-block">
  {{web-components/vl-form-label value=(t "edit-item.content")}}
  {{textarea rows="10" class="vl-textarea vl-textarea--block" value=newsItem.text
  }}
</div>