<div class="auk-u-m-4">
  {{page-title (t "publication-details-tab-decisions")}}
  <Publications::Publication::Decisions::Info::DecisionsInfoPanel
    @publicationFlow={{this.model}}
    class="auk-u-mb-3"
  />

  {{outlet}}
</div>
