{{page-title (t "proof")}}

<div class="auk-u-m-4">
  <Publications::Publication::Proofs::ProofInfoPanel
    @publicationSubcase={{this.model}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />
  {{outlet}}
</div>