{{agenda/agenda-search agendas=(await agendas) currentAgenda=currentAgenda}}
<div class="compare-agendaitem-container">
  {{agenda/compare-agenda-list
    currentAgenda=currentAgenda
    agendaToCompare=agendaToCompare
  }}
</div>