<div class="auk-u-mt-4">
  {{agenda/printable-agenda/list-section/item-group/item-group-header
    mandatees=items.firstObject.sortedMandatees
  }}
  {{#each items as |agendaitem|}}
    <div value={{agendaitem.priority}}>
      {{agenda/printable-agenda/list-section/item-group/item
        item=agendaitem
      }}
    </div>
  {{/each}}
</div>
