<div class="auk-u-mt-4">
  <Agenda::PrintableAgenda::ListSection::ItemGroup::ItemGroupHeader
    @mandatees={{this.items.firstObject.sortedMandatees}}
  />
  {{#each this.items as |agendaitem|}}
    <div value={{agendaitem.priority}}>
      <Agenda::PrintableAgenda::ListSection::ItemGroup::Item
        @item={{agendaitem}}
      />
    </div>
  {{/each}}
</div>