<div class="vl-u-display-flex vlc-u-margin-bottom-20">
  <div class="vlc-printable-agenda-list__item-letter">{{letter}}.</div>
  <h4 class="vl-u-text--uppercase vlc-u-no-margin vlc-u-text-decoration-underline">{{title}}</h4>
</div>
{{yield}}
