{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Dropdown" />

<StyleguideSample
  @title="Default"
  @snippet="dropdown-default.hbs"
  @modifier="dropdown"
>
  {{!-- BEGIN-SNIPPET dropdown-default --}}
  <div class="auk-u-position-relative auk-u-inline-block">
    <Auk::Button
      @skin="secondary"
      @layout="icon-right"
      @icon="chevron-down"
    >
      Button text
    </Auk::Button>
    <AttachPopover
      @renderInPlace={{true}}
      @class="ember-attacher-popper"
      @hideOn="clickout click"
      @showOn="click"
      @animation="shift"
      @placement="bottom-start"
    >
      <Auk::Dropdown>
        <Auk::Dropdown::Item @route="styleguide.accordion">
          Accordion
        </Auk::Dropdown::Item>
        <Auk::Dropdown::Item @route="styleguide.accordion-panel" @disabled={{true}}>
          Accordion panel
        </Auk::Dropdown::Item>
        <Auk::Dropdown::Item @route="styleguide.avatar">
          Avatar
        </Auk::Dropdown::Item>
        <Auk::Dropdown::Item @route="styleguide.badge">
          Badge
        </Auk::Dropdown::Item>
        <Auk::Dropdown::Item @route="styleguide.brand">
          Brand
        </Auk::Dropdown::Item>
        <Auk::Dropdown::Divider />
        <Auk::Dropdown::Item @route="styleguide.checkboxes-radio-buttons" @skin="danger">
          Checkboxes/radio buttons
        </Auk::Dropdown::Item>
      </Auk::Dropdown>
    </AttachPopover>
  </div>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
  @title="Text-only item"
  @snippet="dropdown-text-only-item.hbs"
  @modifier="dropdown"
  @align="end"
>
  {{!-- BEGIN-SNIPPET dropdown-text-only-item --}}
  <div class="auk-u-position-relative auk-u-inline-block">
    <Auk::ButtonLink
      @skin="muted"
      @icon="chevron-down"
      @layout="icon-right"
    >
      Button text
    </Auk::ButtonLink>
    <AttachPopover
      @renderInPlace={{true}}
      @class="ember-attacher-popper"
      @hideOn="clickout click"
      @showOn="click"
      @animation="shift"
      @placement="bottom-end"
    >
      <Auk::Dropdown>
        <Auk::Dropdown::Item @textOnly={{true}}>
          <Auk::Avatar @icon="user" @name="Admin">
            <p>Admin</p>
            <p class="auk-u-muted auk-u-text-small">Beheerdersgroep</p>
          </Auk::Avatar>
        </Auk::Dropdown::Item>
        <Auk::Dropdown::Divider />
        <Auk::Dropdown::Item @route="styleguide.checkboxes-radio-buttons">
          Afmelden
        </Auk::Dropdown::Item>
      </Auk::Dropdown>
    </AttachPopover>
  </div>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<h3 class="auk-h3">Arguments (item)</h3>

<table class="auk-table">
  <thead>
    <tr>
      <th>Argument</th>
      <th>Type</th>
      <th>Possible values</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>@skin</code></td>
      <td>string</td>
      <td class="auk-table__col--3"><code>danger</code></td>
      <td>Determines the skin of the dropdown item.</td>
    </tr>
    <tr>
      <td><code>@disabled</code></td>
      <td>boolean</td>
      <td class="auk-table__col--3"><code>false</code> (default) or <code>true</code></td>
      <td>Determines if the dropdown item is disabled.</td>
    </tr>
    <tr>
      <td><code>@textOnly</code></td>
      <td>boolean</td>
      <td class="auk-table__col--3"><code>false</code> (default) or <code>true</code></td>
      <td>Determines if the dropdown item is shown as text-only.</td>
    </tr>
  </tbody>
</table>

<p>The item component also takes the same arguments as a native link-element (<code>@href</code>) or a LinkTo component (<code>@route</code>, <code>@model</code>, <code>@models</code>, etc.), but only if <code>@textOnly</code> is <code>false</code>.</p>
