<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    <div class="vlc-container">
      {{newsletter/newsletter-meeting
        definite=definite
        meeting=(await model.meeting)
      }}
      {{#each (await model.groups) as |group|}}
        {{#each group.groups as |agendaitemGroup|}}
          {{#each agendaitemGroup.agendaitems as |agendaitem|}}
            {{newsletter/newsletter-item
              agenda=(await model.agenda)
              definite=definite
              agendaitem=agendaitem
            }}
          {{/each}}
        {{/each}}
      {{/each}}
    </div>
  </div>
</div>