{{!-- template-lint-disable  --}}
<h1 class="vlc-kitchensink-header">Kaleidos-icons</h1>
<div class="vlc-kitchensink-sample">
  <div class="auk-content">
    <Styleguide::ScriptIcons/>
  </div>
</div>