{{#if @message}}
  <div class="auk-loader-wrapper auk-loader-wrapper--small">
    <div class="auk-loader" role="alert" aria-busy="true"></div>
    <p class="auk-u-text-align--center">{{@message}}</p>
  </div>
{{else}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{/if}}
