<div class="vl-modal-dialog__content">
  <div class="vlc-input-field-block">
    {{web-components/vl-form-label value="Vergaderdatum"}}
    {{web-components/vl-datepicker dateChanged=(action "selectStartDate")}}
  </div>
</div>
{{web-components/vl-modal-footer
  isLoading=isLoading
  cancelButtonText=(t "cancel")
  saveButtonText=(t "add")
  cancelAction=(action "cancelForm")
  saveAction=(action "createNewSession")
}}