<div class="vl-modal">
  <div class={{backdropClass}}>
    <div class="vl-modal-dialog" tabindex="-1" role="dialog">
      <button class="vl-modal-dialog__close" type="button" {{action "close"}}>
        <i class="vl-modal-dialog__close__icon vl-vi vl-vi-cross"></i>
        <span class="vl-u-visually-hidden">
          {{t "web-components.close-modal"}}
        </span>
      </button>
      <div>
        {{yield}}
      </div>
    </div>
  </div>
</div>