<div class="au2-modal-backdrop">
  <div class="au2-modal au2-modal--large" data-test-au2-modal>
    <div class="au2-modal__push">&nbsp;</div>
    {{yield}}
    <div class="au2-modal__push">&nbsp;</div>
  </div>
</div>