<div class="auk-modal-backdrop">
  <div class="auk-modal auk-modal--large" data-test-auk-modal>
    <div class="auk-modal__push">&nbsp;</div>
    {{yield}}
    <div class="auk-modal__push">&nbsp;</div>
  </div>
</div>