<div class="auk-u-m-4">
  {{page-title (t "proof")}}
  <Publications::Publication::Proofs::ProofInfoPanel
    @publicationSubcase={{@model}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />
  {{outlet}}
</div>