<div class="auk-u-m-4">
  <Publications::Publication::Proofs::ProofInfoPanel
    @publicationSubcase={{this.publicationSubcase}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />

  <div class="auk-u-mb-4">
  </div>
</div>