<div class="auk-u-m-4">
  {{page-title (t "translation")}}
  <Publications::Publication::Translations::TranslationsInfoPanel
    @translationSubcase={{@model}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />
  {{outlet}}
</div>
