{{#each (await item.documentVersions) as |documentVersion|}}
  <li class="vlc-document-list__item">
    <a {{action "downloadFile" documentVersion}}>
      <div class="vl-badge vl-badge--icon vl-badge--small-medium vl-badge--alt">
        <i class="vl-badge__icon vl-vi vl-vi-document" aria-hidden="true"></i>
      </div>
      <p>
        {{document-name
          documentVersion=documentVersion
          item=agendaitem
        }}
      </p>
    </a>
  </li>
{{/each}}