{{#if caseToEdit}}
  <div class="auk-modal__body">
    <div class="auk-u-p-4">
      <div class="auk-u-mb-4">
        <div class="auk-form-group">
          <WebComponents::AuLabel>{{t "name-subcase"}}</WebComponents::AuLabel>
          {{textarea
            rows="2"
            class="auk-textarea"
            value=(mut caseToEdit.shortTitle)
          }}
        </div>
      </div>
    </div>
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    cancelButtonText=(t "cancel")
    saveButtonText=(t "save")
    cancelAction=(action "toggleIsEditing")
    saveAction=(action "saveChanges")
  }}
{{/if}}