{{#if caseToEdit}}
  <div class="vl-modal-dialog__content">
    <div class="auk-u-mb-4">
      <div class="vlc-input-field-block">
        {{web-components/vl-form-label value=(t "name-subcase")}}
        {{textarea
          rows="2"
          class="vl-textarea vl-textarea--block"
          value=(mut caseToEdit.shortTitle)
        }}
      </div>
    </div>
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    cancelButtonText=(t "cancel")
    saveButtonText=(t "save")
    cancelAction=(action "toggleIsEditing")
    saveAction=(action "saveChanges")
  }}
{{/if}}