{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Form group" />

<StyleguideSample
        @title="Default form grouping"
        @snippet="default-form-grouping.hbs"
>
  {{!-- BEGIN-SNIPPET default-form-grouping --}}
  <div class="auk-form-group-layout auk-form-group-layout--standard">
    <div class="auk-form-group">
      <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
    </div>
    <div class="auk-form-group">
      <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
    </div>
    <div class="auk-form-group">
      <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
    </div>
  </div>
  {{!-- END-SNIPPET default-form-grouping --}}
</StyleguideSample>

<StyleguideSample
        @title="Form grouping - Horizontal"
        @snippet="horizontal-form-grouping.hbs"
>
  {{!-- BEGIN-SNIPPET horizontal-form-grouping --}}
  <div class="auk-form-group-layout auk-form-group-layout--horizontal">
    <div class="auk-form-group">
      <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" id="defaultInput"/>
    </div>
    <div class="auk-form-group">
      <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" id="defaultInput"/>
    </div>
    <div class="auk-form-group">
      <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" id="defaultInput"/>
    </div>
  </div>
  {{!-- END-SNIPPET horizontal-form-grouping --}}
</StyleguideSample>

<StyleguideSample
        @title="Form grouping - Grid"
        @snippet="grid-form-grouping.hbs"
>
  {{!-- BEGIN-SNIPPET grid-form-grouping --}}
  <div class="auk-form-group-layout auk-form-group-layout--grid">
    <div class="auk-o-grid">
      <div class="auk-o-grid-col-6">
        <div class="auk-form-group">
          <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
        </div>
        <div class="auk-form-group">
          <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
        </div>
      </div>
      <div class="auk-o-grid-col-6">
        <div class="auk-form-group">
          <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
        </div>
        <div class="auk-form-group">
          <WebComponents::AuLabel for="defaultInput">Label</WebComponents::AuLabel>
          <WebComponents::AuInput type="text" id="defaultInput" @block="true"/>
        </div>
      </div>
    </div>
  </div>
  {{!-- END-SNIPPET grid-form-grouping --}}
</StyleguideSample>

<StyleguideSample
        @title="Form grouping - Validation"
        @snippet="form-grouping-validation.hbs"
>
  {{!-- BEGIN-SNIPPET form-grouping-validation --}}
  <div class="auk-form-group-layout auk-form-group-layout--standard">
    <div class="auk-form-group">
      <WebComponents::AuLabel @error="true">Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text"@block="true" @error="true" />
      <Auk::FormHelpText @text="This is an error message." @skin="danger" @icon="alert-triangle" />
    </div>
    <div class="auk-form-group">
      <WebComponents::AuLabel>Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" @block="true"/>
      <Auk::FormHelpText @text="This is a success message." @skin="success" @icon="check" />
    </div>
    <div class="auk-form-group">
      <WebComponents::AuLabel>Label</WebComponents::AuLabel>
      <WebComponents::AuInput type="text" @block="true"/>
      <Auk::FormHelpText @text="This is a warning message." @icon="alert-triangle" @skin="warning" />
    </div>
  </div>
  {{!-- END-SNIPPET form-grouping-validation --}}
</StyleguideSample>