{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">Typography</h1>
<div>
  <div class="vlc-kitchensink-sample">
    <div class="vl-typography">
      <h1>A first level heading</h1>
      <h2>A second level heading</h2>
      <h3>A third level heading</h3>
      <h4>A fourth level heading</h4>
      <p>
        This longer body text where we show a bit more content in a paragraph is set as <strong>body 1</strong>,
        and it
        contains <em>italic</em> text.</p>
    </div>
  </div>

</div>
