{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Typography" />

<div class="br-styleguide-sample">
  <div class="auk-content">
    <h3>Individual styling</h3>
  </div>

  <table class="br-type-sample-table">
    {{#each model as |typeStyle|}}
      <tr>
        <TypeSample
                @title="{{typeStyle.name}}"
                @code='{{{typeStyle.code}}}
          '>
          {{{typeStyle.code}}}
        </TypeSample>
      </tr>
    {{/each}}
  </table>
</div>

<div class="br-styleguide-sample">
  <div class="auk-content">
    <h3>Content styling</h3>
  </div>

  <div class="br-styleguide-sample__sample">
    <div class="auk-content">
      <h1>A first level heading</h1>
      <h2>A second level heading</h2>
      <h3>A third level heading</h3>
      <h4>A fourth level heading</h4>
      <p>This is body text where we show a bit more content in a paragraph. It contains <strong>bold</strong> and <em>italic</em> text.</p>
      <p>
        <small>This is smaller body text where we show a bit more content in a paragraph. It contains <strong>bold</strong> and <em>italic</em> text.</small>
      </p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>
</div>