{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Accordion" />

<StyleguideSample @title="Default" @snippet="accordion-default.hbs">
  {{!-- BEGIN-SNIPPET accordion-default --}}
  <WebComponents::AuAccordion @label="Accordion">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ipsam labore sequi. Eaque alias consequatur totam iste error, ipsam quis reprehenderit. Itaque consectetur ex est placeat tenetur, modi consequatur quibusdam.</p>
  </WebComponents::AuAccordion>
  {{!-- END-SNIPPET --}}
</StyleguideSample>
