{{#if (is-empty (await agendaitems)) }}
	<div class="no-data-container">
		{{t 'agenda-item.no-agendaitems'}}
	</div>
{{else}}
{{#each (await agendaitems) as |agendaitem|}}
  {{agenda/agenda-item agendaitem=agendaitem selectedAgendaItem=selectedAgendaItem addStatement=addStatement}}
{{/each}}
{{/if}}