{{#if (is-empty (await agendaitems))}}
  <div class="no-data-container">
    {{t "agenda-item.no-agendaitems"}}
  </div>
{{else}}
  {{#each (await agendaitems) as |agendaitem index|}}
    {{agenda/agenda-item
      agendaitem=agendaitem
      index=index
      selectedAgendaItem=selectedAgendaItem
    }}
  {{/each}}
{{/if}}