<div class="vl-alert__icon">
  <i class={{iconClass}} aria-hidden="true"></i>
</div>
<div class="vl-alert__content">
  <p class="vl-alert__title">
    {{title}}
  </p>
  <div class="vl-alert__message">
    <p>
      {{message}}
    </p>
  </div>
</div>