{{!-- template-lint-disable  --}}
<div class="icons-page">
<h1>kaleidos-icons</h1><div class="preview">
            <span class="inner">
                <i class=" ki-cross"/>
            </span>
            <br/>
            <span class="label">ki-cross</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-hierarchical-back"/>
            </span>
            <br/>
            <span class="label">ki-hierarchical-back</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-info-circle"/>
            </span>
            <br/>
            <span class="label">ki-info-circle</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-down"/>
            </span>
            <br/>
            <span class="label">ki-nav-down</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-left"/>
            </span>
            <br/>
            <span class="label">ki-nav-left</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-right"/>
            </span>
            <br/>
            <span class="label">ki-nav-right</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-nav-up"/>
            </span>
            <br/>
            <span class="label">ki-nav-up</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-pencil"/>
            </span>
            <br/>
            <span class="label">ki-pencil</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-question-mark"/>
            </span>
            <br/>
            <span class="label">ki-question-mark</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-redo"/>
            </span>
            <br/>
            <span class="label">ki-redo</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-search"/>
            </span>
            <br/>
            <span class="label">ki-search</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-sitemap"/>
            </span>
            <br/>
            <span class="label">ki-sitemap</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" ki-user"/>
            </span>
            <br/>
            <span class="label">ki-user</span>
        </div>
</div>
