{{!-- template-lint-disable  --}}
<div class="icons-page">
<h1>kaleidos-icons</h1>
<div class="preview">
            <span class="inner">
                <i class=" ki-calendar-plus"/>
            </span>
            <br/>
            <span class="label">test-calendar-plus</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-cross"/>
            </span>
            <br/>
            <span class="label">test-cross</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-document-added"/>
            </span>
            <br/>
            <span class="label">test-document-added</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-document"/>
            </span>
            <br/>
            <span class="label">test-document</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-hide"/>
            </span>
            <br/>
            <span class="label">test-hide</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-hierarchical-back"/>
            </span>
            <br/>
            <span class="label">test-hierarchical-back</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-info-circle"/>
            </span>
            <br/>
            <span class="label">test-info-circle</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-lock-closed"/>
            </span>
            <br/>
            <span class="label">test-lock-closed</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-min"/>
            </span>
            <br/>
            <span class="label">test-min</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-nav-down"/>
            </span>
            <br/>
            <span class="label">test-nav-down</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-nav-left"/>
            </span>
            <br/>
            <span class="label">test-nav-left</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-nav-right"/>
            </span>
            <br/>
            <span class="label">test-nav-right</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-nav-up"/>
            </span>
            <br/>
            <span class="label">test-nav-up</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-pencil"/>
            </span>
            <br/>
            <span class="label">test-pencil</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-plus"/>
            </span>
            <br/>
            <span class="label">test-plus</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-question-mark"/>
            </span>
            <br/>
            <span class="label">test-question-mark</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-redo"/>
            </span>
            <br/>
            <span class="label">test-redo</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-search"/>
            </span>
            <br/>
            <span class="label">test-search</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-sitemap"/>
            </span>
            <br/>
            <span class="label">test-sitemap</span>
        </div>
<div class="preview">
            <span class="inner">
                <i class=" ki-user"/>
            </span>
            <br/>
            <span class="label">test-user</span>
        </div>

</div>