// Print stylesheet focussed on making agenda overview look good when printed

.vlc-show-on-print {
  display: none;
}

@media print {
  html {
    font-size: 50%;
  }

  .vlc-u-box-model-maximize-height {
    height: auto !important;
  }

  // Hide top nav and side nav
  #vlaanderen-header {
    display: none;
  }

  #c-main-nav {
    display: none;
  }

  .auk-sidebar {
    display: none;
  }

  // Remove backgrounds
  .auk-navbar--gray-100,
  .auk-navbar--gray-200,
  .auk-u-bg-alt {
    background: #fff;
  }

  .vlc-agenda-items__header {
    background: #ddd;
  }

  // Hide elements in page header & simplify page header

  .auk-navbar {
    padding: 1rem;
    background: none;
  }

  .auk-toolbar-complex__right {
    display: none;
  }

  .auk-navbar--bordered-bottom {
    border-bottom: none;
  }


  body > .ember-view {
    display: block !important;
  }

  .vlc-hide-on-print {
    display: none;
  }

  .auk-navbar {
    display: none;
  }

  .auk-panel-layout__agenda-history {
    display: none;
  }

  .vlc-show-on-print {
    display: block;
  }

  // Firefox printable agenda requires the panel not to be display flex
  .auk-panel-layout {
    display: block;
  }

  .vlc-hide-scrollbar-on-print {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
