{{#if this.textTooLong}}
  {{this.textAbbreviated}}
  <div class="auk-u-flex auk-u-flex--inline auk-u-align-middle">
    <WebComponents::AuButtonLink
            @icon="circle-more"
            @skin="mute"
            @layout="icon-only">
      <EmberTooltip @tooltipClass="auk-tooltip">
        {{@text}}
      </EmberTooltip>
    </WebComponents::AuButtonLink>
  </div>
{{else}}
  {{@text}}
{{/if}}