.l-compare-agenda-list {
  //
}

.l-compare-agenda-list__controls,
.l-compare-agenda-list__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5%;
}

.l-compare-agenda-list__block {
  display: flex;
  align-items: stretch;

  > * {
    display: flex;
    align-items: stretch;
    width: 100%;

    > * {
      display: flex;
      align-items: stretch;
      width: 100%;

      > * {
        width: 100%;
      }
    }
  }
}
