/* Decision viewer
   ========================================================================== */

.l-decision-viewer {
    overflow-y: auto;
    background-color: var(--au-gray-200);
}

.l-decision-viewer__page {
    width: 90rem;
    margin: 0 auto;
    background-color: var(--au-white);
}

.l-decision-viewer__header-underline {
    width: 19rem;
    border-color: var(--au-gray-1000);
}
