@use "../auk";

/* Printable agenda list
   ========================================================================== */

.l-printable-agenda {
  p {
    color: auk.$color-text;
    line-height: 1.5;
  }
}

@media print {
  .l-printable-agenda {
    max-width: none;
  }
}

.l-printable-agenda__header-prefix {
  min-width: 3rem;
}

.l-printable-agenda__section-header {
  font-size: 2rem;
  font-weight: 500;
}

.l-printable-agenda__section-content {
  margin-left: 4rem;
}

.l-printable-agenda__item-group{
  max-width: 750px;
}

.l-printable-agenda__item-group:not(:first-of-type) {
  margin-top: 5rem;
}

.l-printable-agenda__item-group-header {
  line-height: 1.2;
  max-width: 80%;
}

.l-printable-agenda__item-group-header--muted { // we can't use `auk-u-text-muted` class here because because the light gray is not really suited (not light enough) for headings
  color: auk.$color-gray-500 !important;
}

.l-printable-agenda__item + div[value],
.l-printable-agenda__faux-item + div[value] {
    margin-top: 3rem;
}

.l-printable-agenda__item-header {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;

  .l-printable-agenda__header-prefix {
    min-width: 2.5rem;
  }
}

.l-printable-agenda__item-header__edit{
  position: absolute;
  top: -8px;
  left: -5rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;

  > svg{
    fill: #8E98A6;
  }

  &:hover{
    background-color: #fff;
    border: 0.1rem solid #C6CDD3;
    cursor: pointer;

    > svg{
      fill: #0055CC;
    }
  }
}

.l-printable-agenda__item-list {
  break-inside: auto;
}

.proto-select{
  width: 150px
}

.l-printable-agenda__document-list {
  list-style: none !important;
  margin-inline-start: 25px !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
  background-color: rgb(247, 249, 252);
  border: 0.1rem solid #C6CDD3;
  border-radius: 0.3rem;

  & > li{
    padding: 1rem 1rem;
  }

  & > li:not(:last-child){
    border-bottom: 0.1rem solid #C6CDD3;
  }

  .document-content{
    width: 100%;

    .au-c-icon {
      cursor: pointer;
    }
  }
}

.l-printable-agenda__item-indented {
  padding-left: 2.5rem;
}

.l-printable-agenda__subcase-name-indented {
  padding-left: 2rem;
}

.title-container{
  display: flex; justify-content: space-between;
}

.l-printable-agenda__item{
  input, textarea{
    width: 100%;
  }
  textarea{
    min-height: 100px;
  }
}

// Functional
#mock-agenda__item--editing.hidden,
#mock-agenda__item--view.hidden,
#mock-agenda__item__file--editing.hidden,
#mock-agenda__item__file--view.hidden,
#mock-agenda__item__name--editing.hidden,
#mock-agenda__item__name--view.hidden
{
  display: none !important;
}
