/* Search page
   ========================================================================== */

// Search container
.l-search-container {
  position: relative;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  height: auto;
  min-height: 0;

  @include mq(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
  }

  > .au-c-main-container__sidebar {
    flex: 0 0 auto;

    @include mq(medium) {
      flex: 0 1 auto;
    }
  }

  .au-c-main-container {
    height: 100%;
    display: block;

    @include mq(medium) {
      display: flex;
    }
  }
}


// Result cards
// Workaround until we adapt mu-search to send more specific tags for highlights
.l-result-card em {
  font-style: inherit;
  background: var(--au-blue-200);
}

// Make sure long document links break on mobile
.l-result-card__link {
  @include mq($until: medium) {
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

// Workaround for popover exiting view window on small display for search legend
@media screen and (max-width: 780px) {
  .l-search-legend .auk-popover {
    max-width: calc(100vw - (2 * 6px)); // 6px is the default placement padding of the popover
  }
}


// Improve search categories on mobile
.l-search-categories {
  @include mq($until: medium) {
    display: flex;
    flex-wrap: wrap;
    gap: $au-unit-tiny
  }
}
