<span class='publications-status-pill publications-status-pill--{{@status}}' ...attributes>
  <div class="publications-status-pill__status-icon">
    {{#if @status}}
      {{#if (eq @status 'in-progress')}}
        <i class="ki-clock"/>
      {{/if}}
      {{#if (eq @status 'not-started')}}
        <span class="publications-status-pill__not-started-symbol" />
      {{/if}}

      {{#if (eq @status 'done')}}
        <i class="ki-circle-check"/>
      {{/if}}
    {{else}}
      <i class="ki-clock"/>
    {{/if}}
  </div>
  {{#if hasBlock}}
    <span class="publications-status-pill__label">{{yield}}</span>
  {{/if}}
</span>
