<div class="cases--new-item">
  <label class="vl-form__label">
    {{t "short-title"}}
  </label>
  {{input type="text" id="record" class="vl-input-field" value=record}}
</div>
<button type="button" {{action "createComment"}}>
  {{t "create-comment"}}
</button>