{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Datepicker">
  {{!-- <p></p> --}}
</ComponentPageIntro>

<StyleguideSample
  @title="Datepicker"
  @snippet="datepicker.hbs"
>
  {{!-- BEGIN-SNIPPET datepicker --}}
  <Auk::Datepicker />
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<table class="auk-table">
  <thead>
    <tr>
      <th>Argument</th>
      <th>Type</th>
      <th>Possible values</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{!-- --}}
  </tbody>
</table>