<div class="auk-u-flex auk-u-flex--justify-around">
  <WebComponents::AuModal @size="xsmall">
    <WebComponents::AuModal::Body>
      <WebComponents::AuLoader
              @message={{this.getMessage}}
      />
    </WebComponents::AuModal::Body>
  </WebComponents::AuModal>
</div>
