<div
  class="vl-action-group vl-action-group--space-between vl-u-spacer-extended-s"
>
  <button
    class="vl-button vl-button--tertiary vl-button--icon-before vl-button--narrow"
    {{action "navigateToSubCases"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
    {{t "buttons.add-case"}}
  </button>
  <button
    class="vl-button vl-button--tertiary vl-button--icon-before vl-button--narrow"
    {{action "navigateToCreateAnnouncement"}}
  >
    <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"></i>
    {{t "buttons.create-announcement"}}
  </button>
</div>