{{#power-select
  options=subcases
  placeholder="Zoek op naam..."
  selected=currentSession
  searchField="plannedstart"
  search=(perform searchTask)
  oninput=(action "resetValue")
  onchange=(action "chooseItem") as |agendaitem|
}}
  {{agendaitem.title}}
{{/power-select}}
{{!-- {{#link-to "sessions.session.subcases" currentSession.id class="invert-color" tagName="button" }}
		{{fa-icon "plus" }} Dossier toevoegen
{{/link-to}} --}}

<button {{action "navigateToSubCases"}} class="invert-color">
	{{fa-icon "plus" }} Dossier toevoegen
</button>