<div class="vlc-navbar vlc-navbar--bordered-bottom">
  <div class="vlc-toolbar vlc-toolbar--auto">
    <div class="vlc-toolbar__justified">
      <div class="vlc-toolbar__item">
        <div class="vl-input-field--inline">
          {{input value=value key-press=(perform searchTask) class="vl-input-field vl-input-field__input"}}
          <button class="vl-input-field__submit vl-button" {{action "search" value}}>
            <i class="vl-vi vl-vi-magnifier"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>