
{{#power-select
  options=subcases
  placeholder="Zoek op naam..."
  selected=currentSession
  searchField="plannedstart"
  search=(perform searchTask)
  oninput=(action "resetValue")
  onchange=(action "chooseItem") as |agendaitem|
}}
  {{agendaitem.title}}
{{/power-select}}
<button class="invert-color" {{action "navigateToSubCases"}}>
  {{fa-icon "plus"}}
  Dossier toevoegen
</button>
