// Variables
$alert-padding: 2rem;
$alert-padding-small: 1.5rem;

// Alert
.vl-alert {
  display: flex;
  position: relative;
  background-color: $alt-bg;
  font-size: 1.6rem;
  line-height: 1.4;
  border: 0.1rem solid $alt-bg;
  padding: $alert-padding;
  margin-bottom: 1.5rem;

  // Alert close
  &__close {
    display: flex;
    position: absolute;
    border: 0;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.2s;
    top: 0.3rem;
    right: 0.3rem;
    padding: 0.5rem;
    overflow: hidden;

    &:hover,
    &:focus {
      color: $action-color;
      transform: rotate(90deg);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  // Alert icon
  &__icon {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;

    // place the icon in the middle
    &::before {
      margin: 0;
      display: block;
    }

    &--link {
      margin-right: 1rem;
    }

    &--link-after {
      margin-left: 1rem;
    }

    @include vi-u-badge--size("medium");
    flex: 0 0 auto;
    background: $white;
    margin-right: $alert-padding;
  }

  // Alert loader
  &__loader {
    margin-right: $alert-padding;
  }

  // Alert title
  &__title {
    font-weight: 500;
  }


  // Error modifier
  &--error {
    background-color: $error-secondary-color;

    .vl-alert__icon {
      @include vi-u-badge--color("negative");
    }
  }

  // Warning modifier
  &--warning {
    background-color: $warning-secondary-color;

    .vl-alert__icon {
      @include vi-u-badge--color("warning");
    }
  }

  // Success modifier
  &--success {
    background-color: $success-secondary-color;

    .vl-alert__icon {
      // @include vi-check;
      @include vi-u-badge--color("positive");
    }
  }

  // Small modifier
  &--small {
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 1rem;

    .vl-alert__icon {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      margin-right: 0.8rem;
    }
  }
}

.vl-alert__icon-padding-bottom--small {
  padding-bottom: 0.5rem;
}
