$autocomplete-box-shadow-color: rgba($border-color, .6);

.js-vl-autocomplete {
  position: relative;

  input,
  select {
    position: relative;
    z-index: 2;
  }

  .vl-autocomplete {
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    left: 0;

    border: 1px $autocomplete-box-shadow-color solid;
    background: $page-bg;
    box-shadow: 0 2px 2px 1px $autocomplete-box-shadow-color;

    z-index: 3;

    .no-js & {
      display: none !important; // sass-lint:disable-line no-important
    }

    &[data-vl-position="up"] {
      top: auto;
      bottom: calc(100% - 1px);
      box-shadow: 0 0 2px 1px $autocomplete-box-shadow-color;
    }

    &[data-vl-show="false"] {
      display: none;
    }

    // Form
    &__form {
      display: block;
      position: relative;
      padding: 1rem;
      border-bottom: 1px $border-color solid;

      &__submit {
        position: absolute;
        top: 0;
        right: 0;

        margin: 1rem;
        padding: .9rem 1.1rem .7rem !important; // sass-lint:disable-line no-important
        transition: opacity .1s;
        border: 0;
        outline: none;
        background: none;
        color: $text-color;
        font-size: 1.6rem;

        opacity: .7;
        z-index: 2;

        &:hover,
        &:focus {
          opacity: 1;
        }

        &:focus {
          outline: thin dotted;
        }

        @include vi;
        @include vi-magnifier;

        span {
          @include u-hidden;
        }
      }
    }

    // List of items
    &__list {
      &-wrapper {
        max-height: 35vh;
        overflow: auto;
      }
    }

    // AC items
    &__item {
      &:first-child {
        .vl-autocomplete__cta {
          border: 0 !important; // sass-lint:disable-line no-important
        }
      }
    }

    // AC call-to-actions
    &__cta {
      display: block;
      padding: 1rem;
      transition: background 0.1s ease-in-out;
      border-top: 1px $border-color solid;
      font-weight: 400;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $alt-hover-bg;

        .vl-autocomplete__cta__title--location {
          text-decoration: none;
        }
      }

      &:focus {
        outline: thin dotted;
      }

      &.vl-autocomplete__cta--focus {
        outline: thin dotted;
        background: $alt-hover-bg;
      }

      &__sub {
        display: block;
        color: $alt-text-color;
        font-size: 1.4rem;
      }

      &__title {
        display: block;
        color: $text-color;
        font-size: 1.6rem;

        &--location {
          @include vi;
          @include vi-location;
          color: $science-blue;
          text-decoration: underline;

          &::before {
            display: inline-block;
            margin: 0 1rem 0 0.3rem;
            transform: scale(1.5);
            color: $mine-shaft;
            font-size: 0.7em;
            vertical-align: middle;
          }
        }
      }
    }

    // AC Alert (when no options are available)
    &__alert {
      display: block;
      padding: 1rem;
      border-top: 1px $ghost solid;
      font-weight: 400;
      text-decoration: none;

      &__title {
        display: block;
        font-size: 1.6rem;
        line-height: 1.2;
      }

      &__subtitle {
        display: block;
        color: $alt-text-color;
        font-size: 1.4rem;
      }
    }

    // Preloader - div added through JS
    &__loader {
      position: absolute;
      top: 0;
      right: 0;
      width: 5rem;
      height: 3.5rem;
      z-index: 2;

      &::before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -22px;
        border-radius: 50%;
        box-shadow: 10px -0px $border-color, 20px -0px $border-color, 30px 0px $border-color;
        content: "";

        @if (lightness($page-bg) > 50) {
          @include waving-shadow-dark;
        } @else {
          @include waving-shadow;
        }
      }

      &[data-vl-show="false"] {
        display: none;
      }
    }
  }
}
