@mixin badge-size($size) {
  width: map-get($badge, $size);
  height: map-get($badge, $size);
  border-radius: map-get($badge, $size) / 2;
}

$badge: (
  "size-small": 2.75rem,
  "size-medium": 4.5rem,
  "fsz-small": 1.2rem,
  "fsz-medium": 2rem,
  "alt-bg-color": $alt-bg
);

.vl-badge {
  @include badge-size("size-medium");
  display: inline-block;
  overflow: hidden;
  border: 0;

  &--small {
    @include badge-size("size-small");

    &.vl-badge--icon {
    }

    &.vl-badge--initials {
      span {
        font-size: map-get($badge, "fsz-small");
      }
    }
  }

  &--medium {
    @include badge-size("size-medium");

    &.vl-badge--initials {
      span {
        font-size: map-get($badge, "fsz-medium");
      }
    }
  }

  &--alt {
    background-color: map-get($badge, "alt-bg-color");
  }

  &--success {
    color: $white;
    background-color: $success-color;

    span {
      color: $white;
    }
  }

  &--warning {
    background-color: $warning-color;
  }

  &--icon {
    position: relative;

    &.vl-badge--success {
      .vl-badge__icon {
        color: $white;
      }
    }
  }

  &--icon & {
    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.25rem;
      line-height: 1;
      color: $text-color;
      fill: $text-color;
    }
  }
}
