$button-border: 0.2rem;
$button-border-small: 0.1rem;

.vl-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  border: 0;
  display: inline-flex;
  align-items: center;
  height: $form-input-height;
  font-size: $form-font-size;
  font-family: $base-font;
  line-height: $form-input-height;
  padding: 0 1rem;
  background-color: $action-color;
  text-decoration: none;
  color: $action-fg-color;
  text-align: center;
  outline: 0;
  cursor: default;

  &:hover,
  &:focus {
    background-color: $action-hover-color;
    text-decoration: none;
    color: $action-fg-color;
  }

  &:focus {
    outline: .2rem solid $outline-color;
  }

  &:active {
    background-color: $action-active-color;
  }

  &:visited {
    color: $white;
  }

  // Secondary button
  &--secondary {
    background-color: transparent;
    color: $action-color;
    border: $button-border solid currentColor;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s;
    line-height: $form-input-height - $button-border * 2;

    &:visited {
      color: $action-color;
    }

    &:hover,
    &:focus,
    &:active {
      color: $action-hover-color;
      background-color: transparent;
      box-shadow: inset 0px 0px 0px $button-border $action-hover-color;
    }
  }

  // Tertiary button
  &--tertiary {
    background-color: transparent;
    color: $action-color;
    border: 0.1rem $action-tertiary-color solid;
    transition: background-color 0.2s, box-shadow 0.2s;
    line-height: $form-input-height - $button-border-small * 2;

    &:visited {
      color: $action-color;
    }

    &:hover,
    &:focus,
    &:active {
      color: $action-color;
      background-color: transparent;
      border-color: $action-tertiary-hover-color;
      box-shadow: inset 0px 0px 0px $button-border $action-tertiary-hover-color;
    }
  }

  // Block modifier
  &--block {
    display: block;
    width: 100%;
    padding: 0;
  }

  // Disabled modifier
  &--disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $page-bg;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background-color: $disabled-color;
      border-color: $disabled-color;
      color: $page-bg;
      box-shadow: none;
    }

    &.vl-button--secondary {
      background-color: $white;
      color: $disabled-color;

      &:visited {
        color: $disabled-color;
      }
    }
  }

  // Error modifier
  &--error {
    &.vl-button {
      background: $error-color;
    }

    &.vl-button--secondary {
      background-color: $white;
      color: $error-color;

      &:visited {
        color: $error-color;
      }

      &:hover,
      &:focus,
      &:active {
        color: $error-hover-color;
        background-color: transparent;
        box-shadow: inset 0px 0px 0px $button-border $error-hover-color;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $error-hover-color;
    }
  }

  // Loading modifier
  &--loading {
    background-color: $disabled-color;
    border-color: $disabled-color;
    position: relative;
    cursor: not-allowed;
    color: $text-color;
    padding: 0 8rem 0 4rem;

    &:hover,
    &:focus,
    &:active {
      background-color: $disabled-color;
      border-color: $disabled-color;
      box-shadow: none;
      color: $text-color;


      &::after {
        background-color: $disabled-color;
      }

    }

    &:visited {
      color: $text-color;
    }

    &::after {
      @include waveanim($text-color, waving-light);
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 4rem;
      margin-top: -0.2rem;
      margin-right: 3.2rem;
      width: 0.4rem;
      height: 0.4rem;
      background-color: $disabled-color;
      border-radius: 50%;
      box-shadow: 1rem 0 $page-bg, 2rem 0 $page-bg, 3rem 0 $page-bg;
    }

    &.vl-button--secondary {
      &::after {
        @include waveanim($text-color, waving-dark);
      }
    }
  }

  // Icon in button
  &__icon {
    display: flex;

    &--before {
      margin-right: 0.8rem;
    }

    &--after {
      margin-left: 0.8rem;
    }
  }
}
