$pad: 1.2rem;
$pad-small: 1rem;
$pad-tiny: 0.3rem;

.vl-data-table {
  width: 100%;
  max-width: 100%;

  caption {
    text-align: left;
  }

  thead {
    tr {
      border-bottom: 0.3rem $border-color solid;
    }
  }

  tfoot {
    tr {
      border-top: 0.3rem $border-color solid;
    }

    td {
      font-weight: 500;
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      border-bottom: 0.1rem $border-color solid;

      &[data-vl-table-selectable] {
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: $porcelain;
        }
      }

      &.vl-data-table__grouped-row {
        &:not(.vl-data-table__grouped-row--last) {
          border-bottom: 0;
        }
      }
    }
  }

  td,
  th {
    font-size: 1.6rem;
    line-height: 1.3;
    text-align: left;
    vertical-align: top;
    padding: $pad $pad-small;

    &:first-child {
      border-left: 0;
    }

    &.vl-data-table__icon-container {
      background-color: $porcelain;
      color: $text-color;

      .vl-vi {
        color: $alt-text-color;
        font-size: 3rem;
      }

      .vl-vi & {
        text-align: center;
      }
    }
  }

  th {
    font-weight: 500;
    white-space: nowrap;
  }

  // Data table grouped row
  .vl-data-table__grouped-row {
    td {
      padding: $pad-tiny $pad-small $pad-tiny 0;
    }

    // Data table grouped row first modifier
    &--first {
      td {
        padding-top: $pad;
      }
    }

    // Data table grouped row last modifier
    &--last {
      td {
        padding-bottom: $pad;
      }
    }
  }

  // Data table header title
  &__header-title {
    // Data table header title sortable modifier
    &--sortable {
      text-decoration: none;

      .vl-data-table__header-title__sort-icon {
        opacity: 0;

        .vl-vi {
          color: $primary-blue;
        }
      }

      &:hover,
      &:focus {
        text-decoration: underline;

        .vl-data-table__header-title__sort-icon {
          opacity: 0.5;
        }
      }

      // Data table header title sortable modifier active
      &-active {
        .vl-data-table__header-title__sort-icon {
          opacity: 1;
        }
      }
    }
  }

  &--no-scroll {
    .data-table-content {
      overflow: hidden;
    }
  }

  .vl-pill {
    vertical-align: middle;
  }
}

.no-js [data-vl-table-check-all] + span {
  display: none !important; // sass-lint:disable-line no-important
}

// Imports
@import "data-table/hover";
@import "data-table/matrix";
@import "data-table/lined";
@import "data-table/zebra";
@import "data-table/actions";
