// Description data
//
// .vl-description-data

// Description data
.vl-description-data {
  // Description data label / subdata
  &__label,
  &__subdata {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: $alt-text-color;
  }

  // Description data value / data
  &__value,
  &__data {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    color: $text-color;
  }

  // Description data label
  &__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
