.vl-document {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
  display: flex;
  align-items: center;
  text-decoration: none;

  &__metadata {
    display: block;
    color: $alt-text-color;
    font-size: 1.6rem;
    margin-top: 0.6rem;
  }
}
