// Mixins
@mixin form-message {
  font-size: $form-font-size;
  font-weight: 400;
  color: $alt-text-color;

  @include respond-to(small) {
    font-size: $base-mobile-font-size;
  }
}

// Form label
.vl-form__label {
  @include form-message;
  line-height: 1;
  font-weight: 500;

  &--block {
    display: block;
  }

  &--offset {
    margin-top: 1rem;
  }

  &--light {
    color: $label-color-light;
  }

  &__message {
    font-weight: normal;
    color: $form-label-message-color;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

// Form error
// Form success
.vl-form__error,
.vl-form__success {
  @include form-message;
  font-size: 1.4rem;
  color: $error-color;

  &--block {
    display: block;
  }

  .vl-vi {
    margin-left: .5rem;
    font-size: .8rem;
  }
}

.vl-form__error {
  color: $error-color;
}

.vl-form__success {
  color: $success-color;
}

// Form annotation
.vl-form__annotation {
  @include form-message;
  font-size: 1.4rem;
  line-height: 1.25;

  @include respond-to(small) {
    font-size: 1.3rem;
  }

  &--block {
    display: block;
  }
}
