.vl-icon-wrapper {
  display: flex;

  .vl-icon {
    display: inline-flex;
  }
}

.vl-icon {
  font-size: 1em;
  display: inline;
  color: inherit;

  &--large {
    font-size: 1.2em;
  }

  &--before {
    margin-right: 0.5em;
  }
}
