.vl-input-field {
  display: inline-block;
  background: $page-bg;
  font-family: $base-font;
  font-size: $form-font-size;
  color: $text-color;
  max-width: 100%;
  height: $form-input-height;
  line-height: $form-input-height;
  border-radius: 0;
  border: 0.1rem solid $border-color;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  padding: 0 1rem;

  &:hover {
    box-shadow: none;
  }

  &:focus,
  &--focus {
    outline: none;
    border-color: $outline-color;
    box-shadow: inset 0 0 0 0.1rem $outline-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &::-webkit-search-cancel-button { // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  }

  // Input field block modifier
  &--block {
    display: block;
    width: 100%;
  }

  // Input field small modifier
  &--small {
    max-width: 6rem;
    padding: 0 0.8rem;
  }

  &.invalid.validated,
  &--error {
    background-color: $error-secondary-color;
    border-color: $error-color;
    box-shadow: inset 0 0 0 0.1rem $error-color;

    &:focus {
      background-color: $page-bg;
    }
    display: inline;

    .vl-select {
      background-color: $error-secondary-color;
      border-color: $error-color;
      box-shadow: inset 0 0 0 0.1rem $error-color;

      &:focus {
        background-color: $page-bg;
      }
    }

    .js-vl-select {
      &[data-type*="select-one"],
      &[data-type*="select-multiple"] {
        background-color: $error-secondary-color;
        border-color: $error-color;
        box-shadow: inset 0 0 0 0.1rem $error-color;

        &:focus {
          background-color: $page-bg;
        }

        .vl-select__inner {
          background-color: $error-secondary-color;
          border-color: $error-color;
          box-shadow: inset 0 0 0 0.1rem $error-color;

          &:focus {
            background-color: $page-bg;
          }
          background-color: transparent;
        }
      }
    }
  }

  &.valid.validated,
  &--success {
    background-color: $rum-swizzle;
    border-color: $limeade;
    box-shadow: inset 0 0 0 1px $limeade;

    display: inline;

    .vl-select {
      background-color: $rum-swizzle;
      border-color: $limeade;
      box-shadow: inset 0 0 0 1px $limeade;
    }

    .js-vl-select {
      &[data-type*="select-one"],
      &[data-type*="select-multiple"] {
        background-color: $rum-swizzle;
        border-color: $limeade;
        box-shadow: inset 0 0 0 1px $limeade;

        .vl-select__inner {
          background-color: $rum-swizzle;
          border-color: $limeade;
          box-shadow: inset 0 0 0 1px $limeade;

          background-color: transparent;
        }
      }
    }
  }


  // Input field disabled modifier
  &--disabled,
  &[disabled] {
    background-color: $disabled-bg-color;
  }

  // Input field inline modifier
  &--inline {
    position: relative;
    display: block;
    max-width: 100%;
  }

  &--inline & {
    &__submit {
      position: absolute;
      display: block;
      color: $white;
      width: 4.3rem;
      height: 3.5rem;
      opacity: 0;
      padding: 0;
      margin-bottom: -2rem;
      transform: translateX(100%);
      top: 0;
      right: 0;
      z-index: -1;

      &:focus {
        transform: translateX(0%);
        transition: opacity 0.2s, transform 0.2s;
        opacity: 1;
        z-index: 1;
      }

      &::before {
        position: absolute;
        font-size: 1.7rem;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }

    &__input {
      display: block;
      width: 100%;
      text-align: left;
      padding-right: 5rem;

      &:focus,
      &--focus {
        width: calc(100% - 4.7rem);
        padding-right: 0;
        transition: width 0.2s;

        + .vl-input-field__submit {
          transform: translateX(0%);
          transition: opacity 0.2s, transform 0.2s;
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}
