.vl-input-addon {
  height: 3.5rem;
  line-height: 3.5rem;
  min-width: 3.5rem;
  border: 1px solid $border-color;
  text-decoration: none;
  text-align: center;
  padding: 0 1rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  color: $text-color;
  z-index: 1;
}
