.vl-link {
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  border: 0;
  background-color: transparent;
  padding: 0;
  display: inline-flex;
  align-items: center;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  color: $action-text-color;
  font-weight: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $action-text-hover-color;
  }

  &:focus {
    color: $action-text-active-color;
  }

  &__icon {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 0.75em;
    color: $text-color;
    flex: 0 0 auto;
    margin-bottom: -0.4rem;

    &::before,
    &::after {
      display: inline-block;
    }

    &--before {
      padding-right: 0.2rem;
    }

    &--after {
      padding-left: 0.2rem;
    }
  }
}

// Block modifier
.vl-link--block {
  display: flex;
  align-items: flex-start;
}


