.vl-link-list {
  &__item {
    font-size: $base-font-size;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    @include respond-to(small) {
      font-size: $base-mobile-font-size;
    }
  }

  &--bordered & {
    &__item {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $alt-bg;

      .vl-region--alt & {
        border-bottom-color: darken($alt-bg, 10%);
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;

        .vl-region--alt & {
          border-bottom: 0;
        }
      }

      &--no-border {
        border-bottom: 0;
      }
    }
  }

  &--small & {
    &__item {
      font-size: 1.4rem;
    }
  }

  &--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 #{-$link-list-spacing / 2};
  }
}

.vl-link-list__item {
  .vl-link-list--inline & {
    padding: 0 #{$link-list-spacing / 2};
    margin-bottom: 1rem;
  }
}
