.vl-loader {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: $base-font-size;

  &::before {
    @include waveanim($alt-text-color, loader-wave);
    position: absolute;
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    box-shadow: 1rem 0 $alt-text-color, 2rem 0 $alt-text-color, 3rem 0 $alt-text-color;
    border-radius: 50%;
    margin-top: -0.2rem;
    margin-left: -2.2rem;
    top: 50%;
    left: 50%;
  }
}
