$modal-width: 60rem;
$modal-padding: 3rem;
$modal-padding-small: 1.5rem;
$modal-content-padding: 1.5rem;
$toolbar-size: 6.5rem !default;
$nav-header-height: 44px;
$modal-max-height: calc(100vh - #{$nav-header-height});

.vl-modal {
  .vl-action-group {
    margin-top: 1.5rem;
  }

  .backdrop,
  .vl-modal__backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: z("overlay");
    background-color: $overlay-bg;
    backdrop-filter: blur(2px);
  }

  .vl-modal__backdrop {
    z-index: 52;
  }

  tbody {
    background-color: white;
  }
}

.vl-modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: $modal-width;
  max-width: 95vw;
  max-height: $modal-max-height;
  top: calc(50% + (#{$nav-header-height} / 2)); // Nudges the modal out of the nav bar's sight
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 0;
  box-shadow: $base-box-shadow;
  z-index: z("modal");
  outline: none;

  &::backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: z("overlay");
    background-color: $overlay-bg;
    backdrop-filter: blur(2px);
  }
}

.vl-modal-dialog--large {
  width: 80rem;
}

.vl-modal-dialog__content {
  padding: 2rem;
  max-height: calc(#{$modal-max-height} - (#{$toolbar-size} * 2));
  overflow: auto;

  .data-table-pagination {
    margin-bottom: 0;
  }
}
