.vl-pager {
  font-size: 1.6rem;

  // Pager list
  &__list {
    text-align: left;

    .vl-pager--align-center & {
      text-align: center;

    }
  }

  // Pager element
  &__element {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.5rem;

    &__cta,
    a {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }
}
