$pill-height: 2.4rem;
$pill-padding: 0.7rem;
$custom-easing: cubic-bezier(1, 0.1, 0, 0.9);

// Pill
.vl-pill {
  display: inline-flex;
  align-items: center;
  background-color: $alt-bg;
  font-size: 1.4rem;
  font-weight: 500;
  color: $alt-text-color;
  height: $pill-height;
  text-decoration: none;
  vertical-align: bottom;
  border-radius: 0.6rem;
  border: 0.1rem solid $border-color;
  transition: color 0.2s, background-color 0.2s;
  padding: 0 $pill-padding;

  // Pill success modifier
  &--success {
    background-color: $success-color;
    color: $success-fg-color;
  }
}
