// Popover functionality, it is always positioned to the left of the toggle.
// The modifier --right can position it to the right
$custom-easing: cubic-bezier(1, .1, 0, 0.9);

@keyframes slideIn {
  0% {
    display: none;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
    display: block;
  }

  99% {
    opacity: 0;
    transform: translateY(120%);
  }

  100% {
    display: none;
  }
}

@mixin arrow-bottom {
  top: auto;
  bottom: -12px;
  border: 12px solid transparent;
  border-top-color: $page-bg;
  border-bottom-width: 0;
}

.vl-popover {
  display: inline-block;

  .vl-popover__toggle {
    @include reset-button;
    text-decoration: none;
    display: inline-block;
    font-size: $form-font-size;
    font-family: $base-font;
  }

  &.js-vl-popover--open {
    .vl-popover__content {
      display: block;
      @include respond-to(small) {
        opacity: 0;
        animation: slideIn 0.5s $custom-easing;
        animation-fill-mode: forwards;
      }
    }
  }

  &.js-vl-popover--closing {
    .vl-popover__content {
      @include respond-to(small) {
        will-change: transform;
        display: block;
        animation: slideOut 0.5s $custom-easing;
        animation-fill-mode: forwards;
      }
    }
  }

  .vl-popover__close-btn {
    padding: 1.5rem;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;

    &:hover {
      color: $action-color;
    }

    &:focus {
      color: $action-active-color;
      outline: 2px solid $outline-color;
    }

    @include respond-to(small) {
      display: inline-flex;
      top: -4.5rem;
      font-size: 1.4rem;
    }
  }

  &--closable {
    .vl-popover__close-btn {
      display: inline-flex;
    }
  }
}

.vl-backdrop {
  @include backdrop;
  opacity: 0;
  z-index: -1;
  transition: $custom-easing .4s opacity, $custom-easing .4s z-index;
  will-change: opacity;

  &--active {
    @include respond-to(small) {
      opacity: 1;
      z-index: z("overlay");
    }
  }
}

.vl-popover__content {
  background-color: $page-bg;
  box-shadow: 0 3px 17px rgba(#000, 0.15); // sass-lint:disable-line no-color-literals
  width: 23rem;
  min-width: 23rem;
  max-width: 90vw;
  max-height: 300px;
  z-index: z("dropdown");

  @include respond-to(small) {
    max-height: 65vh;
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: z("popover");
    transform: translateY(120%);
  }

  @include respond-to(medium-up) {
    max-height: 200px;
    max-width: 100%;
    margin: 0;
    display: none;
  }

  .vl-popover--align-left & {
    &::before {
      left: 10px;
      right: auto;
    }

    &[x-placement="top-start"] {
      &::before {
        @include arrow-bottom;
      }

      &::after {
        bottom: -0.7rem;
      }
    }
  }

  .vl-popover--align-center & {
    &::before {
      left: 50%;
      right: auto;
      margin-left: -6px;
    }

    &[x-placement="top"] {
      &::before {
        @include arrow-bottom;
      }
    }
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    right: 12px;
    top: -10px;
    border: 12px solid transparent;
    border-bottom-color: $page-bg;
    border-top-width: 0;

    @include respond-to(small) {
      display: none;
    }
  }

  &[x-placement="top-end"] {
    &::before {
      @include arrow-bottom;
    }

    &::after {
      bottom: -0.7rem;
    }
  }
}

.vl-link-list {
  padding: .5rem 0;
  max-height: inherit;
  overflow-y: auto;

  &__item {
    .vl-link {
      .vl-popover & {
        padding: .8rem 1.5rem;
      }
    }

    &:first-child {
      .vl-popover--closable & {
        max-width: calc(100% - 4.5rem);
      }
    }
  }
}

.vl-popover .vl-link-list, // sass-lint:disable-line force-element-nesting
.vl-popover__link-list,
.vl-link-list {
  padding: .5rem 0;
  max-height: inherit;
  overflow-y: auto;

  li {
    .vl-link {
      padding: .8rem 1.5rem;
    }

    &:first-child {
      .vl-popover--closable & {
        max-width: calc(100% - 4.5rem);
      }
    }
  }

  &__separator {
    height: 1px;
    background: $border-color;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &--bordered {
    .vl-link {
      padding: 1.1rem 1.5rem;
    }
  }

  &--bordered & {
    &__item {
      &:not(:last-of-type) {
        .vl-link {
          position: relative;
        }
      }
    }
  }

  .vl-link {
    font-size: 1.5rem;
    line-height: 1.2;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
