.vl-search {
  position: relative;

  &--inline {
    display: inline-block;
    width: 25rem;
    max-width: 100%;
    overflow: hidden;

    @include respond-to(small) {
      display: block;
      width: auto;
    }

    .vl-search__submit,
    .vl-search__label {
      display: block;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 4.3rem;
      color: $page-bg;
      font-size: 0 !important; // sass-lint:disable-line no-important

      .vl-vi {
        font-size: 1.7rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .vl-search__label {
      color: $text-color;
    }

    .vl-search__submit {
      z-index: -1;
      opacity: 0;
      transform: translateX(100%);
      margin-bottom: -2rem;
      height: 3.5rem;
    }

    .vl-search__submit,
    & .vl-search__input {
      &:focus,
      &:focus + .vl-search__submit {
        transition: opacity .2s, transform .2s;
        z-index: 1;
        opacity: 1;
        transform: translateX(0%);
      }
    }

    & .vl-search__submit {
      &:focus {
        transition: none;
      }
    }

    .vl-search__input {
      display: block;
      width: 100%;
      text-align: left;
      padding-right: 5rem;

      &:focus {
        transition: width .2s;
        width: calc(100% - 4.7rem);
        padding-right: 0;
      }
    }

    // this has to be seperate due to IE9
    & .vl-search__input {
      &:valid + .vl-search__submit {
        transition: none;
        z-index: 1;
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }

  &--block {

    @include mobile-full-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: $alt-bg;

    @include respond-to(small) {
      display: block;
      padding: 1.5rem 1rem;
    }

    .vl-search__label {
      color: $alt-text-color;
      font-weight: 400;
      font-size: $form-font-size;

      @include respond-to(small) {
        font-size: $base-mobile-font-size;
      }

      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .vl-search__input {
      flex: 6;
      margin: 0 2rem;

      @include respond-to(medium) {
        margin: 0 1rem;
        flex: 4;
      }

      @include respond-to(small) {
        margin: 0;
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }

    &.vl-search--alt {
      background-color: $page-bg;
    }
  }
}
