// Side navigation
$invisible: rgba($black, 0) !default;
$seethrough: rgba($black, .3) !default;


.vl-side-navigation {
  max-height: 90vh;
  overflow: auto;

  @include respond-to(medium-up) {
    // sass-lint:disable no-vendor-prefixes
    &::-webkit-scrollbar {
      width: 16px;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      height: 8px;
      border: 6px solid $invisible;
      border-radius: 7px;
      background-clip: padding-box;
      background-color: $athens-gray;
    }

    &::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  @include respond-to(small) {
    display: none;
    min-height: 10rem;
    max-height: calc(100vh - 15rem);
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    background: $page-bg;
    box-shadow: 0 0 2.1rem $seethrough;
    animation: fade-transition 0.3s;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // Mobile navigation active state
  .js-vl-scrollspy-mobile--active & {
    display: block !important; // sass-lint:disable-line no-important
  }

  .js-vl-scrollspy-active {
    color: $text-color;
    font-weight: 700;
  }

  &[data-vl-side-navigation-scrollable] {
    @include respond-to(medium-up) {
      max-height: none;
    }
  }
}

.vl-side-navigation__content {
  padding: 0 0 2rem;
  border-bottom: 1px solid $alt-bg;
  font-size: 1.6rem;

  @include respond-to(small) {
    padding: 0;
    border: 0 !important; // sass-lint:disable-line no-important
    font-size: $base-mobile-font-size;
    overflow: hidden;
  }
}

// seperate groups of links in the navigation
.vl-side-navigation__group {
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $alt-bg;

  @include respond-to(small) {
    padding: 0;
    border: 0 !important; // sass-lint:disable-line no-important
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--has-title {
    padding-top: 3rem;
    border-top-width: 3px;

    @include respond-to(small) {
      padding-top: 1.5rem;
    }
  }
}

.vl-side-navigation__title {
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.vl-side-navigation__item {
  padding: 0.2rem;

  .vl-side-navigation__item {
    padding: 0;
  }

  @include respond-to(small) {
    padding: 0;
    font-size: 1.4rem;
  }

  .vl-side-navigation__group--spaced &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .vl-side-navigation__group--has-title & + & {
    margin-top: 0.5rem;
  }

  > a {
    @include respond-to(small) {
      display: block;
      margin: .7rem 0 1.4rem;
    }
  }

  &:last-child {
    > a {
      @include respond-to(small) {
        margin-bottom: .7rem;
      }
    }
  }

  // Level two list
  > ul {
    display: none;
    padding: 0.7rem 0 0.7rem 2rem;

    @include respond-to(small) {
      padding: 0.7rem 1rem 0.7rem 1.3rem;
    }

    &.vl-side-navigation__subgroup--active {
      display: block;
    }
  }
}

.vl-side-navigation__toggle {
  display: block;
  position: relative;

  &[aria-expanded="true"] {
    .vl-vi {
      &::before {
        transform: rotate(90deg);
      }
    }

    + ul {
      display: block;
      animation: side-navigation-transition 0.3s;
    }
  }

  .vl-vi {
    color: $text-color;
    font-size: 1.15rem;
    position: absolute;
    top: 50%;
    right: 0.4rem;
    transform: translateY(-50%);

    &::before {
      transition: transform 0.1s ease-in-out;
    }
  }
}

@keyframes side-navigation-transition {
  0% {
    display: none;
    transform: translateX(-10px);
  }

  1% {
    display: block;
    transform: translateX(-10px);
  }

  100% {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
}
