$tabs-stroke-height: 3px;

.vl-tabs {
  margin-bottom: 3rem;
  border-bottom: $tabs-stroke-height $border-color solid;
  font-size: 0;
  text-align: left;

  &__wrapper {
    position: relative;

    &--fit-to-content {
      display: inline-flex;
    }
  }

  .no-js & {
    display: none;
  }

  .vl-functional-header & {
    margin: 0;
    border: 0;
  }
}

.vl-tabs--alt {
  position: relative;

  &::before {
    position: absolute;
    bottom: -$tabs-stroke-height;
    left: -200%;
    width: 500%;
    height: $tabs-stroke-height;
    background: $border-color;
    content: "";
  }
}

.vl-tab {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: top;
  top: $tabs-stroke-height;

  // Gray stroke
  &:not(:first-child) &__link {
    position: relative;
    border-left: 0;

    &::after {
      position: absolute;
      content: "";
      top: calc(50% - (1.8rem / 2));
      bottom: 0;
      left: 0;
      height: 1.8rem;
      width: 1px;// Functional header tabs implementation
      background: $border-color;

      @include respond-to(xsmall) {
        height: 1.4rem;
        top: calc(50% - (1.4rem / 2));
      }
    }
  }

  // General tab link
  &__link {
    display: block;
    padding: 1rem 1.1rem 1rem 1.2rem;
    transition: all 0.2s;
    border-bottom: $tabs-stroke-height solid transparent;

    color: $action-text-color;
    font-family: $base-font;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparent;
      border-bottom-color: $text-color;
      color: $action-hover-color;
    }

    .vl-tab--active & {
      color: $text-color;
      border-bottom: $tabs-stroke-height solid $text-color;
      background-color: transparent;

      // Functional header tabs implementation
      .vl-functional-header & {
        border-top: $tabs-stroke-height $text-color solid !important; // sass-lint:disable-line no-important
      }
    }
  }

  // General tab pane
  &__pane {
    display: none;

    &[data-vl-show="true"] {
      display: block;
    }

    .no-js & {
      display: block;
    }
  }

  .vl-functional-header & {
    top: 0;
    margin: 0;

    .vl-tab__link {
      padding: 1rem 1.2rem 0.7rem;
      border: 0;
      border-top: $tabs-stroke-height solid transparent;

      &:hover {
        border-top: $tabs-stroke-height solid $border-color;
      }
    }
  }
}

// #### Tabs toggle used on mobile
.vl-tabs__toggle {
  display: none;
  position: relative;
  left: -1.5rem;

  width: calc(100% + 3rem);
  height: 4.2rem;

  margin: 0 auto 1rem;
  padding: 0 0 0 1.5rem;

  border: 0;
  border-top: 1px $border-color solid;
  border-bottom: 1px $border-color solid;
  background: none;

  font-family: $base-font;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  cursor: pointer;

  .vl-functional-header & {
    border-top: 0px;
  }

  span {
    display: block;
    width: calc(100% - 6rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  // Icon
  @include caret-before-absolute;

  &::before {
    top: 0;
    right: 0;
    padding: 1.2rem 1.4rem;
    transform: rotate(90deg);
    transition: color 0.2s ease-in-out;
    font-size: 1.5rem;
  }

  &:hover,
  &:focus {
    text-decoration: underline;

    &::before {
      color: $action-text-color;
    }

    // Stroke next to icon
    &::after {
      background: $border-color;
    }
  }

  // Stroke next to icon
  &::after {
    position: absolute;
    top: 0;
    right: 4.2rem;
    width: 1px;
    height: 100%;
    background: $border-color;
    content: "";
  }

  &:focus {
    outline: thin dotted;
  }

  // Transform normal button to close button
  &[data-vl-close="true"] {
    position: absolute;
    top: 0;
    right: -1.5rem;
    left: auto;
    width: 4.2rem;
    height: 4.2rem;
    border: 0;
    z-index: 2;

    &::after {
      display: none;
    }

    @include vi-cross;

    &::before {
      padding: 1.4rem;
      font-size: 1.3rem;
    }

    span {
      display: none;
    }

    // Functional header tabs implementation
    .vl-functional-header & {
      right: 0;
      left: auto;
      width: 4.2rem;
      border: 0;
      border-bottom: 1px $border-color solid;
    }
  }
}
