$tabs-stroke-height: 3px;

.vl-tabs {
  margin-bottom: 3rem;
  border-bottom: $tabs-stroke-height $border-color solid;
  font-size: 0;
  text-align: left;

  &__wrapper {
    position: relative;
  }
}

.vl-tab {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: top;
  top: $tabs-stroke-height;

  // Gray stroke
  &:not(:first-child) &__link {
    position: relative;
    border-left: 0;

    &::after {
      position: absolute;
      content: "";
      top: calc(50% - (1.8rem / 2));
      bottom: 0;
      left: 0;
      height: 1.8rem;
      width: 1px;// Functional header tabs implementation
      background: $border-color;
    }
  }

  // General tab link
  &__link {
    display: block;
    padding: 1rem 1.1rem 1rem 1.2rem;
    transition: all 0.2s;
    border-bottom: $tabs-stroke-height solid transparent;

    color: $action-text-color;
    font-family: $base-font;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparent;
      border-bottom-color: $text-color;
      color: $action-hover-color;
    }
  }
}
