.vl-title {
  &--sans {
    // use of !important to allow proper use of --sans modifier
    // ( becuase font-family is applied to specific heading elements)
    font-family: $base-font !important; // sass-lint:disable-line no-important
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @each $level, $settings in $headers-typo {
    &--h#{$level} {
      @include title($level);
    }
  }
}

// apply the same styling for WYSIWYG elements
@each $level, $settings in $headers-typo {
  .vl-typography h#{$level} { // sass-lint:disable-line force-element-nesting
    @include title($level);

    &:not(:first-child) {
      margin-top: 2 * map-get($settings, space);
    }
  }
}
