.vl-title {
  &--sans {
    // use of !important to allow proper use of --sans modifier
    // ( becuase font-family is applied to specific heading elements)
    font-family: $base-font !important; // sass-lint:disable-line no-important
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @each $level, $settings in $headers-typo {
    &--h#{$level} {
      @include title($level);
    }
  }
}
