.vl-toggle__wrapper {
  .vl-toggle {
    position: absolute !important; // sass-lint:disable-line no-important
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    &:focus {
      + .vl-toggle__label {
        box-shadow: 0 0 0 0.2rem $outline-color;
      }
    }

    &:checked {
      + .vl-toggle__label {
        background: $action-color;

        &::after {
          left: 50%;
        }

        &:active {
          box-shadow: none;

          &::after {
            margin-left: -0.8em;
          }
        }
      }
    }

    + .vl-toggle__label {
      position: relative;
      display: inline-block;
      width: 3rem;
      height: 1.6rem;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      outline: transparent solid 0.2rem;
      margin: 0 0.5rem 0 0;
      top: -0.1rem;
      background: $border-color;
      border-radius: 2em;
      transition: all 0.4s ease;
      padding: 0.2rem;

      span {
        position: relative;
        display: block;
        width: inherit;

        &::before,
        &::after {
          position: absolute;
          color: $page-bg;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1;
        }

        &::before {
          content: "I";
          left: 0.6rem;
        }

        &::after {
          content: "O";
          right: 0.6rem;
        }
      }

      &:hover {
        &::after {
          will-change: padding;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 2em $cararra;

        &::after {
          padding-right: 0.8em;
        }
      }

      &::after,
      &::before {
        position: relative;
        display: block;
        content: "";
        width: 2rem;
        height: 2rem;
        top: -0.4rem;
      }

      &::before {
        display: none;
      }

      &::after {
        left: -0.5rem;
        border-radius: 2em;
        background: $page-bg;
        border: 0.1rem $border-color solid;
        box-shadow: 0 0.1rem 0.2rem $cararra;
        transition:
        left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        padding 0.3s ease,
        margin 0.3s ease;
      }
    }
  }
}
