$upload-overlay-opacity: .9;
$upload-overlay-border: 2px dashed $action-color;
$upload-overlay-color: #fff;
$upload-overlay-icon-color: $action-color;
$upload-overlay-icon-size: 2rem;

$upload-file-padding: .5rem;
$upload-file-border: 1px solid $border-color;

$upload-file-margin-bottom: 1rem;
$upload-file-name-color: $text-color;
$upload-file-size-color: $alt-text-color;
$upload-file-cross-position: .75rem;
$upload-file-error-color: $error-color;
$upload-file-error-font-size: 1.2rem;
$upload-file-error-border: 0 solid $error-color;
$upload-file-error-bg-color: #e7d8db;
$upload-element-padding: 1rem;
$upload-element-border: 2px dashed $border-color;
$upload-element-margin-bottom: 1rem;
$upload-element-label-color: $action-color;
$upload-element-label-icon-size: 1.4rem;
$upload-element-input-background-color: rgba(0, 0, 0, .05);
$upload-element-input-border-color: rgba($border-color, 0.5);

.vl-upload {
  position: relative;
  margin-bottom:  $upload-element-margin-bottom;
  transition: background-color .3s ease-out;

  &--basic {
    .vl-upload__element {
      &__input {
        width: 100%;
        height: auto;
        margin: 0;
        opacity: 1;
        pointer-events: auto;
        position: relative;
        overflow: auto;
      }
    }
  }

  &__overlay {
    position: absolute;
    display: none;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $upload-overlay-color;
    border: $upload-overlay-border;
    z-index: 10;
    opacity: $upload-overlay-opacity;
    font-family: $base-font;

    &__text {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 1.4rem;

      .vl-vi {
        font-size: $upload-overlay-icon-size;
        display: block;
        color: $upload-overlay-icon-color;
      }
    }
  }

  &__files {
    border: $upload-file-border;
    padding: 0;
    margin-bottom: $upload-file-margin-bottom;
    display: none;
    position: relative;

    &--has-files {
      display: block;
    }

    &__close {
      display: none;
    }
  }

  &__file {
    position: relative;
    padding: $upload-file-margin-bottom;
    z-index: 5;
    font-family: $base-font;
    border-bottom: 1px solid $upload-element-input-border-color;

    &:last-child {
      border-bottom: 0;
    }

    &__size {
      color: $upload-file-size-color;
    }

    &__name {
      color: $upload-file-name-color;
      max-width: calc(100% - 2rem);
      word-break: break-all;

      @supports (overflow-wrap: break-word) {
        overflow-wrap: break-word;
        word-break: normal;
      }
    }

    &__close {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: $upload-file-cross-position;
      margin-right: 1rem;
      box-shadow: none;

      .vl-vi {
        height: 1.1rem;
        width: 1.1rem;
        font-size: 1.1rem;
      }

      &:hover {
        box-shadow: none;
      }
    }

    &.dz-error,
    &--error {
      border: $upload-file-error-border;
      background-color: $upload-file-error-bg-color;

      .vl-upload__file__error,
      .dz-error-message {
        color: $upload-file-error-color;
        font-size: $upload-file-error-font-size;
      }

      .vl-upload__file__size {
        color: $upload-file-error-color;
      }

      .vl-vi {
        color: $upload-file-error-color;
      }
    }
  }

  .vl-upload--dragging &,
  &.upload--dragging {
    [vl-upload-full-body-drop],
    .vl-upload__overlay {
      opacity: 1;
      display: block;
    }

    .vl-upload__element {
      min-height: 8.75rem;
    }
  }

  &__element {
    font-family: $base-font;
    border:  $upload-element-border;
    text-align: center;
    position: relative;
    z-index: 4;
    min-height: 100%;

    &__input {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: $upload-element-padding;
      overflow: hidden;

      &:focus {
        outline: none;

        + label {
          background-color: $upload-element-input-background-color;
        }
      }
    }

    &__label {
      color:  $upload-element-label-color;
      display: block;
      padding:  $upload-element-padding;
      cursor: pointer;
      background-color: transparent;
      transition: all .3s ease-out;
      height: 100%;

      span,
      button {
        text-decoration: underline;
      }

      &:hover {
        background-color: $upload-element-input-background-color;
      }

      .vl-vi {
        display: inline-block;
        text-decoration: none;
        font-size:  $upload-element-label-icon-size;
        margin-right: .6rem;
      }

      small {
        font-size: 1.2rem;
        color: $text-color;
        display: none;
        text-decoration: none;
        text-align: center;
      }
    }
  }

  .vl-upload__element__label {
    small {
      display: block;
    }

    &__error {
      color: $upload-file-error-color;
      font-size: $upload-file-error-font-size;
    }
  }
}

.vl-upload--dragging {
  [vl-upload-full-body-drop],
  .vl-upload__overlay {
    opacity: 1;
    display: block;
  }
}

.no-js {
  .vl-upload__element__label {
    display: none;
  }
}

// Thumbnails
.dz-image-preview {
  overflow: hidden;
}

// Accessibility button
// Looks like a span, acts like a button
.vl-upload__element__button {
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  border: 0;
  background-color: transparent;
  padding: 0;

  color: inherit;
  font-size: inherit;
}

[data-vl-upload-full-body-drop] {
  .vl-upload--dragging & {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: z("upload");
    margin: 0;
  }
}

