{{!-- template-lint-disable  --}}
<ComponentPageIntro
        @title="Brand"
>
  <p>The Vlaanderen logo + Kaleidos brand.</p>
</ComponentPageIntro>

<StyleguideSample
        @title="Default"
        @snippet="brand.hbs"
>
  {{!-- BEGIN-SNIPPET brand --}}
  <Auk::Brand @logotype="Kaleidos" />
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<h3 class="auk-h3">Arguments</h3>

<table class="auk-table">
  <thead>
  <tr>
    <th>Argument</th>
    <th>Type</th>
    <th>Possible values</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>@logotype</code></td>
    <td>string</td>
    <td></td>
    <td>Determines the name of the app.</td>
  </tr>
  </tbody>
</table>