<div class="vlc-kitchensink-sample">
  <div class="vl-typography">
    <h1>Buttons</h1>
    {{#each model as |typeStyle|}}
      {{typeStyle.name}}
      <br>
      {{{typeStyle.code}}}
      <br>
    {{/each}}
  </div>
</div>