{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">Components</h1>
<div class="vlc-kitchensink__sample">
  <h2>Alerts</h2>
  <div class="vlc-kitchensink__sample">
    <h3>Loading</h3>
    <WebComponents::VlAlert @type="loading"/>
    <h3>Closeable</h3>
    <WebComponents::VlAlert @closeable="false"/>
    <h3>With title</h3>
    <WebComponents::VlAlert @title="Causion!"/>
    <h3>Changes alert</h3>
    <ChangesAlert @message="The document has changed!"></ChangesAlert>
  </div>
  <h2>Checkbox</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlCheckbox @label="label"/>
  </div>
  <h2>Datepicker</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlDatepicker/>
  </div>
  <h2>Document</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlDocument/>
  </div>
  <h2>Forms</h2>
  <div class="vlc-kitchensink__sample">
    <h4>Message</h4>
    <WebComponents::VlFormMessage @message="message example"/>
    <h4>Label</h4>
    <WebComponents::VlFormLabel @value="label example"/>
    <h4>Input</h4>
    <WebComponents::VlFormInput/>
  </div>
</div>