{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">Components</h1>
<div class="vlc-kitchensink__sample">

  <h2>Checkbox</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlCheckbox @label="label"/>
  </div>
  <h2>Datepicker</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlDatepicker/>
  </div>
  <h2>Document</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlDocument/>
  </div>

</div>