{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">Components</h1>
<div class="vlc-kitchensink__sample">
  <h2>Alerts</h2>
  <div class="vlc-kitchensink__sample">
    <h3>Loading</h3>
    <WebComponents::VlAlert @type="loading"></WebComponents::VlAlert>
    <h3>Closeable</h3>
    <WebComponents::VlAlert @closeable="false"></WebComponents::VlAlert>
    <h3>With title</h3>
    <WebComponents::VlAlert @title="Causion!"></WebComponents::VlAlert>
    <h3>Changes alert</h3>
    <ChangesAlert @message="The document has changed!"></ChangesAlert>
  </div>
  <h2>Checkbox</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlCheckbox @label="label"></WebComponents::VlCheckbox>
  </div>
  <h2>Datepicker</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlDatepicker></WebComponents::VlDatepicker>
  </div>
  <h2>Document</h2>
  <div class="vlc-kitchensink__sample">
    <WebComponents::VlDocument></WebComponents::VlDocument>
  </div>
  <h2>Forms</h2>
  <div class="vlc-kitchensink__sample">
    <h4>Message</h4>
    <WebComponents::VlFormMessage @message="message example"></WebComponents::VlFormMessage>
    <h4>Label</h4>
    <WebComponents::VlFormLabel @value="label example"></WebComponents::VlFormLabel>
    <h4>Input</h4>
    <WebComponents::VlFormInput></WebComponents::VlFormInput>
  </div>
</div>