{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Datepicker">
  {{!-- <p></p> --}}
</ComponentPageIntro>

<StyleguideSample
  @title="Datepicker"
  @snippet="datepicker.hbs"
>
  {{!-- BEGIN-SNIPPET datepicker --}}
  <Auk::Datepicker />
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
  @title="Datepicker with time"
  @snippet="datepicker-with-time.hbs"
>
  {{!-- BEGIN-SNIPPET datepicker-with-time --}}
  <Auk::Datepicker
    @enableTime={{true}}
  />
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<h3 class="auk-h3">Arguments</h3>

<div class="auk-u-mb-6">
  <p>Possible configurations and settings can be found at: <a href="https://shipshapecode.github.io/ember-flatpickr/docs/usage" target="_blank">https://shipshapecode.github.io/ember-flatpickr/docs/usage</a>. Additional arguments can be found below:</p>
</div>

<table class="auk-table">
  <thead>
    <tr>
      <th>Argument</th>
      <th>Type</th>
      <th>Possible values</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>@placeholder</code></td>
      <td>string</td>
      <td class="auk-table__col--3">(defaults to <code>Kies een datum</code>)</td>
      <td>Determines the input placeholder.</td>
    </tr>
    <tr>
      <td><code>@multiple</code></td>
      <td>boolean</td>
      <td class="auk-table__col--3"><code>false</code> (default) or <code>true</code></td>
      <td>Determines if multiple dates can be selected. If set to <code>true</code>, the <code>onChange</code> actions return an array instead of a single date.</td>
    </tr>
  </tbody>
</table>