{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Dropdown" />

<StyleguideSample
  @title="Default"
  @snippet="dropdown-default.hbs"
  @modifier="dropdown"
>
  {{!-- BEGIN-SNIPPET dropdown-default --}}
  <Auk::DropdownMenu
    @type="button"
    @skin="secondary"
    @label="Button text"
    @placement="bottom-start"
  as |Menu|>
    <Menu.Item @route="styleguide.accordion">
      Accordion
    </Menu.Item>
    <Menu.Item @route="styleguide.accordion-panel" @disabled={{true}}>
      Accordion panel
    </Menu.Item>
    <Menu.Item @route="styleguide.avatar">
      Avatar
    </Menu.Item>
    <Menu.Item @route="styleguide.badge">
      Badge
    </Menu.Item>
    <Menu.Item @route="styleguide.brand">
      Brand
    </Menu.Item>
    <Menu.Divider />
    <Menu.Item @route="styleguide.checkboxes-radio-buttons" @skin="danger">
      Checkboxes/radio buttons
    </Menu.Item>
  </Auk::DropdownMenu>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
  @title="Text-only item"
  @snippet="dropdown-text-only-item.hbs"
  @modifier="dropdown"
  @align="end"
>
  {{!-- BEGIN-SNIPPET dropdown-text-only-item --}}
  <Auk::DropdownMenu
    @type="button-link"
    @skin="muted"
    @label="Button text"
    @placement="bottom-end"
  as |Menu|>
    <Menu.Item @textOnly={{true}}>
      <Auk::Avatar @icon="user" @name="Admin">
        <p>Admin</p>
        <p class="auk-u-text-muted auk-u-text-size--small">Beheerdersgroep</p>
      </Auk::Avatar>
    </Menu.Item>
    <Auk::Menu::Divider />
    <Menu.Item @route="styleguide.checkboxes-radio-buttons">
      Afmelden
    </Menu.Item>
  </Auk::DropdownMenu>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<h3 class="auk-h3">Arguments (DropdownMenu)</h3>

<div class="auk-u-mb-4">
  <p>Wether <span class="auk-u-text-code">button</span> or <span class="auk-u-text-code">button-link</span> is defined as <span class="auk-u-text-code">@type</span>, it will be possible to pass the same arguments as the corresponding component. See <LinkTo @route="styleguide.button-skins">Button (skins)</LinkTo>, <LinkTo @route="styleguide.button-types">Button (types)</LinkTo> or <LinkTo @route="styleguide.link-button">Buttons (link)</LinkTo> for all references. If such an argument is defined in the table below anyways, it has a default added to it (within this component).</p>
</div>

<table class="auk-table">
  <thead>
    <tr>
      <th>Argument</th>
      <th>Type</th>
      <th>Possible values</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>@type</code></td>
      <td>string</td>
      <td class="auk-table__col--3"><code>button</code> (default) or <code>button-link</code></td>
      <td>Determines wether the initiator is rendered as <code>Button</code> or <code>ButtonLink</code>.</td>
    </tr>
    <tr>
      <td><code>@layout</code></td>
      <td>string</td>
      <td class="auk-table__col--3"><code>icon-only</code>, <code>icon-left</code> or <code>icon-right</code> (default)</td>
      <td>Determines the layout of the initiator. The layout is automatically determined from the presence of <code>@label</code>, unless <code>icon-only</code> is specified this will result in a button layout with icon on the right.</td>
    </tr>
    <tr>
      <td><code>@icon</code></td>
      <td>string</td>
      <td class="auk-table__col--3">Name of the icon, see <LinkTo @route="styleguide.icons">Icons</LinkTo> for all references.</td>
      <td>Determines the icon used within the initiator. Defaults to <code>chevron-down</code> if <code>@layout</code> starts with <code>right-</code>, <code>bottom-</code> & <code>left-</code> or <code>chevron-up</code> if it starts with <code>top-</code>.</td>
    </tr>
    <tr>
      <td><code>@placement</code></td>
      <td>string</td>
      <td class="auk-table__col--3"><code>top</code>, <code>top-start</code>, <code>top-end</code>, <code>right</code>, <code>right-start</code>, <code>right-end</code>, <code>bottom</code>, <code>bottom-start</code>, <code>bottom-end</code> (default), <code>left</code>, <code>left-start</code>, <code>left-end</code></td>
      <td>Determines position of the menu against the initiator.</td>
    </tr>
  </tbody>
</table>

<h3 class="auk-h3">Arguments (AttachPopover)</h3>

<div class="auk-u-mb-6">
  <p>Possible configurations and settings can be found at: <a href="https://github.com/kybishop/ember-attacher" target="_blank">https://github.com/kybishop/ember-attacher</a></p>
</div>

<h3 class="auk-h3">Arguments (Menu::Item)</h3>

<table class="auk-table">
  <thead>
    <tr>
      <th>Argument</th>
      <th>Type</th>
      <th>Possible values</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>@skin</code></td>
      <td>string</td>
      <td class="auk-table__col--3"><code>danger</code></td>
      <td>Determines the skin of the dropdown item.</td>
    </tr>
    <tr>
      <td><code>@disabled</code></td>
      <td>boolean</td>
      <td class="auk-table__col--3"><code>false</code> (default) or <code>true</code></td>
      <td>Determines if the dropdown item is disabled.</td>
    </tr>
    <tr>
      <td><code>@textOnly</code></td>
      <td>boolean</td>
      <td class="auk-table__col--3"><code>false</code> (default) or <code>true</code></td>
      <td>Determines if the dropdown item is shown as text-only.</td>
    </tr>
  </tbody>
</table>

<p>The Item component also takes the same arguments as a native link-element (<code>@href</code>) or a LinkTo component (<code>@route</code>, <code>@model</code>, <code>@models</code>, etc.), but only if <code>@textOnly</code> is <code>false</code>.</p>