{{!-- template-lint-disable  --}}
<h1 class="vlc-styleguide-header">kaleidos-icons</h1>
<div class="vlc-kitchensink-sample">
  <div class="vl-typography">
    <Styleguide::ScriptIcons></Styleguide::ScriptIcons>
  </div>
</div>