{{!-- template-lint-disable  --}}
<h1 class="vlc-kitchensink__header">kaleidos-icons</h1>
<div class="vlc-kitchensink__sample">
  <div class="vl-typography">
    <Styleguide::ScriptIcons/>
  </div>
</div>