{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">{{t "style-guide-inputs"}}</h1>


<h2>Forms</h2>
<div class="vlc-kitchensink__sample">
  <h4>Message</h4>
  <WebComponents::VlFormMessage @message="message example"/>
  <h4>Label</h4>
  <WebComponents::VlFormLabel @value="label example"/>
  <h4>Input</h4>
  <WebComponents::VlFormInput/>
</div>