{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Pagination" />

<StyleguideSample
        @title="Pagination"
        @snippet="pagination.hbs"
>
  {{!-- BEGIN-SNIPPET pagination --}}
  <div class="auk-pagination">
    <ul class="auk-pagination__list">
      <li class="auk-pagination__element">
        <p><strong>1-10</strong> van 142</p>
      </li>
      <li class="auk-pagination__element">
        <Auk::ButtonLink @icon="chevron-left" disabled>Vorige</Auk::ButtonLink>
      </li>
      <li class="auk-pagination__element">
        <Auk::ButtonLink @icon="chevron-right" @layout="icon-right">Volgende</Auk::ButtonLink>
      </li>
    </ul>
  </div>
  {{!-- END-SNIPPET --}}
</StyleguideSample>
