{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">Panels</h1>

<h3 class="vlc-kitchensink__sample-header">Panel body</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
  </Panel>
</div>

<h3 class="vlc-kitchensink__sample-header">Panel with header</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Header>
      <h4 class="vlc-panel__title">Panel header</h4>
    </panel.Header>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
  </Panel>
</div>

<h3 class="vlc-kitchensink__sample-header">Panel with header and action</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Header>
      <Toolbar>
        <Toolbar::Group @side="left">
          <h4 class="vlc-panel__title">Panel header</h4>
        </Toolbar::Group>
        <Toolbar::Group @side="right">
          <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before">
            <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
            Bewerken
          </button>
        </Toolbar::Group>
      </Toolbar>
    </panel.Header>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
  </Panel>
</div>

<h3 class="vlc-kitchensink__sample-header">Panel with header and 2 actions</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Header>
      <Toolbar>
        <Toolbar::Group @side="left">
          <h4 class="vlc-panel__title">Panel header</h4>
        </Toolbar::Group>
        <Toolbar::Group @side="right">
          <div class="vlc-button-toolbar">
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before">
              <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-edit"></i>
              Bewerken
            </button>
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon">
              <i class="vl-button__icon vl-vi vl-vi-nav-show-more-horizontal"></i>
            </button>
          </div>
        </Toolbar::Group>
      </Toolbar>
    </panel.Header>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
  </Panel>
</div>

<h3 class="vlc-kitchensink__sample-header">Panel with header and checkbox</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Header>
      <Toolbar>
        <Toolbar::Group @side="left">
          <h4 class="vlc-panel__title">Panel header</h4>
        </Toolbar::Group>
        <Toolbar::Group @side="right">
          <WebComponents::VlCheckbox @label="Toon opties"/>
        </Toolbar::Group>
      </Toolbar>
    </panel.Header>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
  </Panel>
</div>

<h3 class="vlc-kitchensink__sample-header">Panel with double body</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Header>
      <h4 class="vlc-panel__title">Panel header</h4>
    </panel.Header>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
    <panel.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </panel.Body>
  </Panel>
</div>

<h3 class="vlc-kitchensink__sample-header">Panel with footer</h3>
<div class="vlc-kitchensink__sample">
  <Panel as |panel|>
    <panel.Header>
      <h4 class="vlc-panel__title">Panel header</h4>
    </panel.Header>
    <panel.Body>
      <div class="vlc-input-field-block">
        <WebComponents::VlFormLabel @value="Label"/>
        {{textarea class="vl-textarea vl-textarea--block" rows="2" value=shortTitle}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::VlFormLabel @value="Label"/>
        {{textarea class="vl-textarea vl-textarea--block" rows="2" value=shortTitle}}
      </div>
    </panel.Body>
    <panel.Footer>
      <Toolbar>
        <Toolbar::Group @side="left">
        </Toolbar::Group>
        <Toolbar::Group @side="right">
          <div class="vlc-button-toolbar">
            <button type="button" class="vl-button vl-button--link">
              Annuleren
            </button>
            <button type="button" class="vl-button">
              Opslaan
            </button>
          </div>
        </Toolbar::Group>
      </Toolbar>
    </panel.Footer>
  </Panel>
</div>