<div class="vlc-kitchensink-sample">
  <h1>Pills</h1>
  <div class="vlc-kitchensink-sample">

    <span class="vl-pill">Option 1</span>
    <span class="vlc-pill">Option 1</span>
    <span class="vlc-pill vlc-pill--success">Option 1</span>
    <span class="vlc-pill vlc-pill--warning">Option 1</span>
    <span class="vlc-pill vlc-pill--error">Option 1</span>
  </div>

  <h1>Acceslevel pill</h1>
  <div class="vlc-kitchensink-sample">
    <AccessLevelPill/>
  </div>
</div>

