{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink__header">Pills</h1>
<div class="vlc-kitchensink__sample">
  <h1>Normal pills</h1>
  <div class="vlc-kitchensink__sample">

    <span class="vl-pill">Option 1</span>
    <span class="vlc-pill">Option 1</span>
    <span class="vlc-pill vlc-pill--success">Option 1</span>
    <span class="vlc-pill vlc-pill--warning">Option 1</span>
    <span class="vlc-pill vlc-pill--error">Option 1</span>
  </div>

  <h1>Acceslevel pill</h1>
  <div class="vlc-kitchensink__sample">
    <AccessLevelPill/>
  </div>
</div>

