{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Radio buttons" />

<StyleguideSample
        @title="Radio button"
        @snippet="radio-default.hbs">
  {{!-- BEGIN-SNIPPET radio-default --}}
  <fieldset>
    <legend class="auk-label">Label</legend>
    <Auk::RadioList as |List|>
      <List.Radio @label="Label 1" checked />
      <List.Radio @label="Label 2" />
      <List.Radio @label="Label 3" />
    </Auk::RadioList>
  </fieldset>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Radio button inline"
        @snippet="radio-inline.hbs">
  {{!-- BEGIN-SNIPPET radio-inline --}}
  <fieldset>
    <legend class="auk-label">Label</legend>
    <Auk::RadioList @layout="inline" as |List|>
      <List.Radio @label="Label 1" checked />
      <List.Radio @label="Label 2" />
      <List.Radio @label="Label 3" />
    </Auk::RadioList>
  </fieldset>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Toggle"
        @snippet="toggle.hbs">
  {{!-- BEGIN-SNIPPET toggle --}}
  <div class="auk-form-group">
    <Auk::Label for="toggle1">Label 1</Auk::Label>
    <Auk::Toggle id="toggle1" @checked={{true}} />
  </div>

  <div class="auk-form-group">
    <Auk::Label for="toggle2">Label 2</Auk::Label>
    <Auk::Toggle id="toggle2" />
  </div>

  <div class="auk-form-group">
    <Auk::Label for="toggle3">Label 3</Auk::Label>
    <Auk::Toggle id="toggle3" @checked={{true}} @disabled={{true}} />
  </div>
  {{!-- END-SNIPPET --}}
</StyleguideSample>