{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Status Pills" />

<h3 class="auk-h2">Statuses</h3>

<StyleguideSample
        @title="In Progress"
        @snippet="status-pill-in-progress.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-in-progress --}}
  <Auk::StatusPill @step={{6}}>Rappel proef</Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Success"
        @snippet="status-pill-success.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-success --}}
  <Auk::StatusPill @status="success">Gepubliceerd</Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Error"
        @snippet="status-pill-error.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-error --}}
  <Auk::StatusPill @status="error">Geannuleerd</Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Paused"
        @snippet="status-pill-paused.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-paused --}}
  <Auk::StatusPill @status="paused">Gepauzeerd</Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<h3 class="auk-h2">Sizes</h3>

<StyleguideSample
        @title="Small"
        @snippet="status-pill-small.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-small --}}
  <Auk::StatusPill @size="small">Naar vertaaldienst</Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<h3 class="auk-h2">Actionable</h3>

<StyleguideSample
        @title="Actionable"
        @snippet="status-pill-actionable.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-actionable --}}
  <Auk::StatusPill
    @isActionable={{true}}
    @actionLabel="Status aanpassen"
  >
    Naar vertaaldienst
  </Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Small actionable"
        @snippet="status-pill-small-actionable.hbs"
>
  {{!-- BEGIN-SNIPPET status-pill-small-actionable --}}
  <Auk::StatusPill
    @size="small"
    @status="paused"
    @isActionable={{true}}
    @actionLabel="Status aanpassen"
  >
    Gepauzeerd
  </Auk::StatusPill>
  {{!-- END-SNIPPET --}}
</StyleguideSample>




<table class="auk-table">
  <thead>
  <tr>
    <th>Argument</th>
    <th>Type</th>
    <th>Possible values</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>@status</td>
    <td>string</td>
    <td><code>in-progress</code> (default), <code>success</code>, <code>error</code>, <code>paused</code></td>
    <td>Determines the status of the pill. Unless specified, the default skin is set to <code>in-progress</code>.</td>
  </tr>
  <tr>
    <td>@step</td>
    <td>number</td>
    <td><code>0</code> (default) to <code>7</code></td>
    <td>Determines the step number of the pill if the status is defined as <code>in-progress</code>.</td>
  </tr>
  <tr>
    <td>@size</td>
    <td>string</td>
    <td><code>small</code> (optional)</td>
    <td>Determines the size of the pill.</td>
  </tr>
  <tr>
    <td>@isActionable</td>
    <td>boolean</td>
    <td><code>false</code> (default) or <code>true</code></td>
    <td>Determines if an action can be coupled to the pill. This adds an button-like element to the right side of the component.</td>
  </tr>
  <tr>
    <td>@actionIcon</td>
    <td>string</td>
    <td>Name of the icon (defaults to <code>pencil</code>)</td>
    <td>Determines the icon of the action element. Only works if @isActionable is set to <code>true</code>.</td>
  </tr>
  <tr>
    <td>@actionLabel</td>
    <td>string</td>
    <td></td>
    <td>Determines the label of the action element. Only works if @isActionable is set to <code>true</code>.</td>
  </tr>
  </tbody>
</table>