{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Toggle" />

<StyleguideSample
        @title="Toggle"
        @snippet="toggle.hbs">
  {{!-- BEGIN-SNIPPET toggle --}}
  <div class="auk-form-group">
    <Auk::Label for="toggle1">Label 1</Auk::Label>
    <Auk::Toggle id="toggle1" @checked={{true}} />
  </div>

  <div class="auk-form-group">
    <Auk::Label for="toggle2">Label 2</Auk::Label>
    <Auk::Toggle id="toggle2" />
  </div>

  <div class="auk-form-group">
    <Auk::Label for="toggle3">Label 3</Auk::Label>
    <Auk::Toggle id="toggle3" @checked={{true}} @disabled={{true}} />
  </div>
  {{!-- END-SNIPPET --}}
</StyleguideSample>