<div>
  <h1>Typography</h1>
  <div class="vlc-kitchensink-sample">
    <div class="vl-typography">
      <div class="vlc-kitchensink-object">
        <h1>A first level heading</h1>
      </div>
      <div class="vlc-kitchensink-object">
        <h2>A second level heading</h2>
      </div>
      <div class="vlc-kitchensink-object">
        <h3>A third level heading</h3>
      </div>
      <div class="vlc-kitchensink-object">
        <h4>A fourth level heading</h4>
      </div>
      <div class="vlc-kitchensink-object">
        <p>This longer body text where we show a bit more content in a paragraph is set as <strong>body 1</strong>,
          and it
          contains <em>italic</em> text.</p>
      </div>
    </div>
  </div>

</div>
