{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">Panels</h1>

<Styleguide::KitchensinkSample
  @title="Panel body"
  @snippet="body.hbs"
>
  {{!-- BEGIN-SNIPPET body --}}
  <Panel as |pl|>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Panel with header"
  @snippet="panel-header.hbs"
>
  {{!-- BEGIN-SNIPPET panel-header --}}
  <Panel as |pl|>
    <pl.Header>
      <h4 class="vlc-panel__title">Panel header</h4>
    </pl.Header>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Panel with header and action"
  @snippet="panel-header-action.hbs"
>
  {{!-- BEGIN-SNIPPET panel-header-action --}}
  <Panel as |pl|>
    <pl.Header>
      <Toolbar as |t|>
        <t.Group @position="left">
          <t.Item>
            <h4 class="vlc-panel__title">Panel header</h4>
          </t.Item>
        </t.Group>
        <t.Group @position="right">
          <t.Item>
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before">
              <i class="vl-button__icon vl-button__icon--before ki-pencil"></i>
              Bewerken
            </button>
          </t.Item>
        </t.Group>
      </Toolbar>
    </pl.Header>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Panel with header and 2 actions"
  @snippet="panel-header-2-actions.hbs"
>
  {{!-- BEGIN-SNIPPET panel-header-2-actions --}}
  <Panel as |pl|>
    <pl.Header>
      <Toolbar as |t|>
        <t.Group @position="left">
          <t.Item>
            <h4 class="vlc-panel__title">Panel header</h4>
          </t.Item>
        </t.Group>
        <t.Group @position="right">
          <t.Item>
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon-before">
              <i class="vl-button__icon vl-button__icon--before ki-pencil"></i>
              Bewerken
            </button>
          </t.Item>
          <t.Item>
            <button type="button" class="vl-button vl-button--tertiary vl-button--icon">
              <i class="vl-button__icon ki-more"></i>
            </button>
          </t.Item>
        </t.Group>
      </Toolbar>
    </pl.Header>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Panel with header and checkbox"
  @snippet="panel-header-checkbox.hbs"
>
  {{!-- BEGIN-SNIPPET panel-header-checkbox --}}
  <Panel as |pl|>
    <pl.Header>
      <Toolbar as |t|>
        <t.Group @position="left">
          <t.Item>
            <h4 class="vlc-panel__title">Panel header</h4>
          </t.Item>
        </t.Group>
        <t.Group @position="right">
          <t.Item>
            <WebComponents::VlCheckbox @label="Toon opties"/>
          </t.Item>
        </t.Group>
      </Toolbar>
    </pl.Header>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Panel with double body"
  @snippet="panel-double-body.hbs"
>
  {{!-- BEGIN-SNIPPET panel-double-body --}}
  <Panel as |pl|>
    <pl.Header>
      <h4 class="vlc-panel__title">Panel header</h4>
    </pl.Header>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
    <pl.Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </pl.Body>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>

<Styleguide::KitchensinkSample
  @title="Panel with footer"
  @snippet="panel-footer.hbs"
>
  {{!-- BEGIN-SNIPPET panel-footer --}}
  <Panel as |pl|>
    <pl.Header>
      <h4 class="vlc-panel__title">Panel header</h4>
    </pl.Header>
    <pl.Body>
      <div class="vlc-input-field-block">
        <WebComponents::VlFormLabel @value="Label"/>
        {{textarea class="auk-textarea" rows="2" value=shortTitle}}
      </div>
      <div class="vlc-input-field-block">
        <WebComponents::VlFormLabel @value="Label"/>
        {{textarea class="auk-textarea" rows="2" value=shortTitle}}
      </div>
    </pl.Body>
    <pl.Footer>
      <Toolbar as |t|>
        <t.Group @position="left">
        </t.Group>
        <t.Group @position="right">
          <t.Item>
            <button type="button" class="vl-button vl-button--link">
              Annuleren
            </button>
          </t.Item>
          <t.Item>
            <button type="button" class="vl-button">
              Opslaan
            </button>
          </t.Item>
        </t.Group>
      </Toolbar>
    </pl.Footer>
  </Panel>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>
