<div class="auk-scroll-wrapper vlc-u-box-model-maximize-width auk-u-scroll-scrollable vlc-hide-scrollbar-on-print">
  {{agenda/printable-agenda
    meeting=model.meeting
    notas=this.notaGroups
    announcements=model.announcements
  }}
</div>