<div class="auk-scroll-wrapper vlc-u-box-model-maximize-width auk-u-scroll-scrollable vlc-hide-scrollbar-on-print">
  <Agenda::PrintableAgenda
    @meeting={{this.model.meeting}}
    @notas={{this.notaGroups}}
    @announcements={{this.model.announcements}}
  />
</div>