{{page-title (await documentTitle) replace=true}}
<div class="vlc-scroll-wrapper__body">
  {{agenda/press-agenda
    title=(await title)
    definite=definite
    currentSession=(await model.meeting)
    agendaitemGroups=(await model.groups)
  }}
</div>