{{#if @isHeader}}
  <strong>{{this.label}}</strong>
{{else}}
  <li
    data-test-submission-status-change-activity-item
    class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
  >
    <div class="vlc-status-timeline__dot"></div>
    <div class="vlc-status-timeline__text">
      {{this.label}}
    </div>
  </li>
{{/if}}
