{{#if (is-empty agendaitems)}}
  <div class="no-data-container">
    {{t "agenda-item.no-agendaitems"}}
  </div>
{{else}}
  <h5 class="vl-title vl-title--h5 vl-u-spacer">
    {{t "agendas.agendaitems-subtitle"}}
  </h5>
  {{#each agendaitems as |agendaitem index|}}
    {{agenda/agenda-list/list-item
      agendaitem=agendaitem
      index=index
      selectedAgendaItem=selectedAgendaItem
    }}
  {{/each}}
{{/if}}