<div class="auk-o-flex auk-o-flex--justify-around">
  <Auk::Modal @size={{this.getSize}}>
    <WebComponents::AuModal::Header
      @title={{this.getTitle}}
      @hideCloseButton={{true}}
    />
    <WebComponents::AuModal::Body>
      <WebComponents::AuLoader
        @message={{this.getMessage}}
      />
    </WebComponents::AuModal::Body>
  </Auk::Modal>
</div>