<div class="auk-o-flex auk-o-flex--justify-around">
  <WebComponents::AuModal @size={{this.getSize}}>
    <WebComponents::AuModal::Header
      @title={{this.getTitle}}
      @hideCloseButton={{true}}
    />
    <WebComponents::AuModal::Body>
      <Auk::Loader @message={{this.getMessage}} />
    </WebComponents::AuModal::Body>
  </WebComponents::AuModal>
</div>