<div class="loadable-content">
  <div class="content {{if @isLoading "is-loading"}}">
    {{yield}}
  </div>
  {{#if @isLoading}}
    <div class="auk-loader-wrapper">
      <WebComponents::AuLoader />
    </div>
  {{/if}}
</div>
