<div class="auk-o-flex auk-o-flex--justify-around">
  <Auk::Modal @size={{this.getSize}}>
    <Auk::Modal::Header
      @title={{this.getTitle}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      <WebComponents::AuLoader
        @message={{this.getMessage}}
      />
    </Auk::Modal::Body>
  </Auk::Modal>
</div>