<div class="auk-modal-backdrop auk-modal-backdrop--visible">
  <div class="auk-modal {{this.size}}" data-test-au-modal>
    <div class="auk-modal__push"></div>
    <div class="auk-modal__content">
      {{yield}}
    </div>
    <div class="auk-modal__push"></div>
  </div>
</div>
