<label class="auk-radio">
  <input class="auk-radio__toggle" type="radio" checked={{@checked}} name={{this.name}} ...attributes>
  {{@label}}
  {{#if this.sublabel}}
    <br/>
    <span class="auk-u-muted auk-u-text-small">{{@sublabel}}</span>
  {{/if}}
  <span class="auk-radio__box"></span>
</label>
