<div class="auk-o-flex">
  <Auk::Modal @size={{this.getSize}}>
    <Auk::Modal::Header
      @title={{this.getTitle}}
      @closeable={{false}}
    />
    <Auk::Modal::Body>
      <Auk::Loader @message={{this.getMessage}} />
    </Auk::Modal::Body>
  </Auk::Modal>
</div>