<p class="auk-u-text-capitalize auk-u-text-bold">
  {{row.shortTitle}}
</p>
<p class="auk-u-text-capitalize">
  {{row.title}}
</p>
<p class="auk-u-text-capitalize auk-u-italic auk-u-text-capitalize">
  {{row.agendaActivity.subcase.subcaseName}}
</p>