<div data-test-vl-loader class="auk-loader-wrapper auk-loader-wrapper--small auk-u-maximize-width auk-u-maximize-height">
  <Auk::Loader />
  {{#if (not this.text)}}
    <p>
      {{t "loading-text"}}
    </p>
  {{else}}
    <p>
      {{this.text}}
    </p>
  {{/if}}
</div>