<div data-test-vl-loader class="auk-loader-wrapper auk-loader-wrapper--small auk-u-maximize-width auk-u-maximize-height">
  <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{#if (not text)}}
    <p>
      {{t "loading-text"}}
    </p>
  {{else}}
    <p>
      {{text}}
    </p>
  {{/if}}
</div>