{{#if (is-pending value)}}
  <div class="skeletal-loader" role="alert" aria-busy="true"></div>
{{else if (gt (await value.length) 0)}}
  {{#each value as |mandatee|}}
    {{#if (is-pending mandatee.person)}}
      <div class="skeletal-loader" role="alert" aria-busy="true"></div>
    {{/if}}
    {{await mandatee.person.nameToDisplay}}
    <br/>
  {{/each}}
{{else}}
  <p class="auk-u-muted auk-u-italic">
    {{t "no-mandatees"}}
  </p>
{{/if}}