<div class="auk-modal-backdrop auk-modal-backdrop--visible" data-test-vl-modal-container data-test-vl-modal>
  {{#click-outside
    action=(action "clickOutside")
    except-selector=".flatpickr-calendar"
  }}
    <div class="auk-modal {{sizeClass}}" role="dialog" data-test-vl-modal-dialogwindow>
      <div class="auk-modal__push"></div>
      <div class="auk-modal__content">
        <div class="auk-modal__header auk-modal__header--bordered">
          <Auk::Toolbar>
            <WebComponents::AuToolbar::Group @position="left">
              <Auk::Toolbar::Item>
                <h2 class="auk-toolbar__title">{{title}}</h2>
              </Auk::Toolbar::Item>
            </WebComponents::AuToolbar::Group>
            <WebComponents::AuToolbar::Group @position="right">
              <Auk::Toolbar::Item>
                {{#if showCloseButton}}
                  <Auk::Button
                    @icon="close"
                    @skin="borderless"
                    @layout="icon-only"
                    {{action "close"}}
                    data-test-vl-modal-close
                  />
                {{/if}}
              </Auk::Toolbar::Item>
            </WebComponents::AuToolbar::Group>
          </Auk::Toolbar>
        </div>
        {{yield}}
      </div>
      <div class="auk-modal__push"></div>
    </div>
  {{/click-outside}}
</div>