<span class="auk-button__content">
  {{#if (not isLoading)}}
    {{#if text}}
      {{text}}
    {{else}}
      {{yield}}
    {{/if}}
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
</span>
