<span class="auk-button__content">
  {{#if (not this.isLoading)}}
    {{#if this.text}}
      {{this.text}}
    {{else}}
      {{yield}}
    {{/if}}
  {{else}}
    <div class="auk-loader" role="alert" aria-busy="true"></div>
  {{/if}}
</span>
