<input class="vl-toggle"
       type="checkbox"
       value="1"
       checked={{value}}
/>

<label class="vl-toggle__label" data-test-vl-toggle {{action "valueChanged"}}>
  <span aria-hidden="true"></span>
  <span class="vl-u-visually-hidden"></span>
</label>