<div class="auk-u-flex auk-u-flex--align-baseline">
  <div class="auk-u-flex__item auk-u-flex__item--shrink">
    <WebComponents::AuColorBadge @skin="{{this.skin}}" />
  </div>
  <div class="auk-u-flex__item auk-u-ml-2">{{@decisionResultCode.label}}</div>
</div>