<div class="auk-o-flex auk-o-flex--align-baseline">
  <div class="auk-o-flex__item auk-o-flex__item--shrink">
    <Auk::ColorBadge @skin={{this.skin}} />
  </div>
  <div class="auk-o-flex__item auk-u-ml-2">{{@decisionResultCode.label}}</div>
</div>