<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  <div class="auk-u-mb-8">
    <WebComponents::AuAccordion @title={{t "reference-documents-council-of-ministers"}}>
      <Documents::DocumentCardList @pieces={{@model}}>

      </Documents::DocumentCardList>
    </WebComponents::AuAccordion>
  </div>
</div>