<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  <div class="auk-u-mb-8">
    <Auk::Accordion>
      <Auk::Accordion::Item @title={{t "reference-documents-council-of-ministers"}} @isActive={{true}}>
        <Documents::DocumentCardList @pieces={{@model}} />
      </Auk::Accordion::Item>
    </Auk::Accordion>
  </div>
</div>