<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  <Publications::Publication::Decisions::PublicationInfo @publicationFlow={{this.model}} @didChange={{this.saveSidebarProperty}} />

  {{outlet}}
</div>