<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  <div class="auk-u-mb-8">
    <Auk::Accordion @label={{t "reference-documents-council-of-ministers"}}>
      <Documents::DocumentCardList @pieces={{@model}} />
    </Auk::Accordion>
  </div>
</div>