<h1 class="vlc-kitchensink-header">{{t "style-guide-brand"}}</h1>
<Styleguide::KitchensinkSample
        @title="Brand"
        @code='<WebComponents::AuBrand @logotype="Kaleidos" />'
>
  {{!-- BEGIN-SNIPPET loading --}}
  <WebComponents::AuBrand @logotype="Kaleidos"/>
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>