<div class="cases--new-item">
  <label>{{t 'metadata-form.short-title'}}</label>
  {{input
    type="text"
    id="record"
    class="cases--new-item-input"
    value=record
  }}
</div>



<button {{action "createComment"}}>
  {{t 'buttons.create-comment'}}
</button>