{{#if (is-pending value.newsletterInfo)}}
  <div class="skeletal-loader" role="alert" aria-busy="true"></div>
{{else if value.newsletterInfo}}
  {{{await value.newsletterInfo.richtext}}}
{{else}}
  <p class="vl-u-text--muted">
    {{t "no-newsletter-info"}}
  </p>
{{/if}}