{{#each model as |case|}}
  <div class="cases--list">
    {{#link-to "cases.case" case.id class="cases-list-item"}}
        <div class="cases-list-item-column">
          {{input type="checkbox"  }}
        </div>
        <div class="cases-list-item-column">
          <h4>{{case.title}}</h4>
        </div>
        <div class="cases-list-item-column">
          <p>{{case.status}}</p>
        </div>
        <div class="cases-list-item-column">
          {{moment-format case.created "dddd DD-MM-YYYY"}}
        </div>
        <div class="cases-list-item-column">
          options
        </div>
    {{/link-to}}
  </div>
{{/each}}