/* ==========================================================================
  Utilities: box model
   ======================================================================== */

.vlc-u-box-model-maximize-height {
  height: 100% !important;
}

.vlc-u-box-model-maximize-width {
  width: 100% !important;
}
