/* ==========================================================================
  Utility: spacer
  Extended spacer utilities
   ========================================================================== */

/* Variables
   ========================================================================== */

$vl-u-spacer-extended-unit: 1rem !default;

/* All
   ========================================================================== */

.vl-u-spacer-extended-s {
  margin: $vl-u-spacer-extended-unit !important;
}

.vl-u-spacer-extended {
  margin: $vl-u-spacer-extended-unit * 2 !important;
}

.vl-u-spacer-extended-l {
  margin: $vl-u-spacer-extended-unit * 4 !important;
}

.vl-u-spacer-extended-l--padding {
  padding: $vl-u-spacer-extended-unit * 4 !important;
}

/* Top
   ========================================================================== */

.vl-u-spacer-extended-top-s {
  margin-top: $vl-u-spacer-extended-unit !important;
}

.vl-u-spacer-extended-top {
  margin-top: $vl-u-spacer-extended-unit * 2 !important;
}

.vl-u-spacer-extended-top-l {
  margin-top: $vl-u-spacer-extended-unit * 4 !important;
}

/* Bottom
   ========================================================================== */

.vl-u-spacer-extended-bottom-s {
  margin-bottom: $vl-u-spacer-extended-unit !important;
}

.vl-u-spacer-extended-bottom {
  margin-bottom: $vl-u-spacer-extended-unit * 2 !important;
}

.vl-u-spacer-extended-bottom-l {
  margin-bottom: $vl-u-spacer-extended-unit * 4 !important;
}


/* Left
   ========================================================================== */

.vl-u-spacer-extended-left-s {
  margin-left: $vl-u-spacer-extended-unit !important;
}

.vl-u-spacer-extended-left {
  margin-left: $vl-u-spacer-extended-unit * 2 !important;
}

.vl-u-spacer-extended-left-l {
  margin-left: $vl-u-spacer-extended-unit * 4 !important;
}

/* Right
   ========================================================================== */

.vl-u-spacer-extended-right-s {
  margin-right: $vl-u-spacer-extended-unit !important;
}

.vl-u-spacer-extended-right {
  margin-right: $vl-u-spacer-extended-unit * 2 !important;
}

.vl-u-spacer-extended-right-l {
  margin-right: $vl-u-spacer-extended-unit * 4 !important;
}

