/* Resets
   ========================================================================== */

.vl-u-reset-margin {
  margin: 0 !important;
}

.vl-u-reset-padding {
  padding: 0 !important;
}

.vl-u-reset-padding-bottom {
  padding-bottom: 0 !important;
}

.vl-u-reset-margin-bottom {
  margin-bottom: 0 !important;
}
