/* ==========================================================================
  Utility: scroll
   ========================================================================== */

.vl-u-scroll-scrollable {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}

.vl-u-no-overflow { // Same as existing .vl-u-no-overflow with !important
  overflow: hidden !important;
}
