/* ==========================================================================
	 Utilities: spacing
	 ========================================================================== */

.vlc-u-padding-2 {
  padding: 0.2rem;
}

.auk-u-pb {
  padding-bottom: 0.5rem !important;
}

.auk-u-p-0 {
  padding: 0 !important;
}

.auk-u-m-0 {
  margin: 0 !important;
}

.auk-u-mb-4 {
  margin-bottom: 2rem;
}
