/* ==========================================================================
	 Utilities: text
	 ========================================================================== */

.vlc-u-pre-line-wrap {
  white-space: pre-line;
}

.vlc-u-text-decoration-underline {
  text-decoration: underline !important;
}

.vlc-u-text--nowrap {
  white-space: nowrap !important;
}

.vlc-u-font-weight-normal {
  font-weight: normal;
}

.vlc-u-font-weight-500 {
  font-weight: 500;
}

.vlc-u-font-color-dove-gray {
  color: #666;
}

.vlc-u-opacity-50 {
  opacity: 50%;
}

.vlc-u-white-space-normal {
  white-space: normal;
}

.vlc-u-font-weight-bold {
  font-weight: bold;
}

.vlc-u-align-right {
  text-align: right !important;
}
.vlc-u-pre {
  white-space: pre !important;
}


