/* ==========================================================================
	 Utilities: text
	 ========================================================================== */

.vlc-u-opacity-50 {
  opacity: 50% !important;
}

// TODO: Dit staat verkeerd
.vlc-mail-content {
  background-color: $au-gray-100;
  font-size: 90%;
  padding: 1rem;
}



