/* ==========================================================================
  Spacing utitilities
   ========================================================================== */

/* Margin utilities
   ========================================================================== */

// All sides

.u-m-0 {
    margin: 0;
  }
  
  .u-m {
    margin: .5rem;
  }
  
  .u-m-2 {
    margin: 1rem;
  }
  
  .u-m-3 {
    margin: 1.5rem;
  }
  
  .u-m-4 {
    margin: 2rem;
  }
  
  // Bottom
  
  .u-mb {
    margin-bottom: .5rem;
  }
  
  .u-mb-2 {
    margin-bottom: 1rem;
  }
  
  .u-mb-3 {
    margin-bottom: 1.5rem;
  }
  
  .u-mb-4 {
    margin-bottom: 2rem;
  }
  
  // Top
  
  .u-mt {
    margin-top: .5rem;
  }
  
  .u-mt-2 {
    margin-top: 1rem;
  }
  
  .u-mt-3 {
    margin-top: 1.5rem;
  }
  
  
  // Right
  
  .u-mr {
    margin-right: .5rem;
  }
  
  .u-mr-2 {
    margin-right: 1rem;
  }
  
  .u-mr-3 {
    margin-right: 1.5rem;
  }
  
  // Left
  
  .u-ml {
    margin-left: .5rem;
  }
  
  .u-ml-2 {
    margin-left: 1rem;
  }
  
  .u-ml-3 {
    margin-left: 2rem;
  }
  
  // Margin both horizontal sides
  .u-mx {
    margin: 0 .5rem;
  }
  
  .u-mx-2 {
    margin: 0 2rem;
  }
  
  .u-mx-3 {
    margin: 0 1.5rem;
  }
  
  .u-mx-4 {
    margin: 0 2rem;
  }
  
  // Margin both vertical sides
  .u-my {
    margin: .5rem 0;
  }
  
  .u-my-2 {
    margin: 1.5rem 0;
  }
  
  .u-my-3 {
    margin: 1.5rem 0;
  }
  
  .u-my-4 {
    margin: 2rem 0;
  }
  
  /* Padding utilities
     ========================================================================== */
  
  // Reset
  .u-p-0 {
    padding: 0;
  }
  
  // All sides
  
  .u-p {
    padding: 0.5rem;
  }
  
  .u-p-2 {
    padding: 1.5rem;
  }
  
  .u-p-3 {
    padding: 1.5rem;
  }
  
  .u-p-4 {
    padding: 2rem;
  }
  
  // Bottom
  
  .u-pb {
    padding: 0 0 .5rem;
  }
  
  .u-pb-2 {
    padding: 0 0 1.5rem;
  }
  
  .u-pb-3 {
    padding: 0 0 1.5rem;
  }
  
  .u-pb-4 {
    padding: 0 0 2rem;
  }
  