<p class="vl-u-text--capitalize vl-u-text--bold">
  {{row.shortTitle}}
</p>
<p class="vl-u-text--capitalize">
  {{row.title}}
</p>
<p class="vl-u-text--capitalize auk-u-italic vl-u-text--capitalize">
  {{row.agendaActivity.subcase.subcaseName}}
</p>