{{#unless this.loadSubcasePhases.isRunning}}
  {{#if this.phases}}
  <ul class="vlc-status-timeline">
    {{#each this.phases as |phase|}}
      <li
        class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        data-test-subcase-timeline-item
      >
        <div class="vlc-status-timeline__dot"></div>
          <div class="vlc-status-timeline__text">
            {{this.subcaseTimelineItemText phase}}
          </div>
      </li>
    {{/each}}
  </ul>
  {{else}}
  <Auk::EmptyState @message="Nog geen versies" />
  {{/if}}
{{/unless}}
