{{#unless this.loadSubcasePhases.isRunning}}
  <ul class="vlc-status-timeline">
    {{#each this.phases as |phase|}}
      <li
        class="vlc-status-timeline__item vlc-status-timeline__item--neutral"
        data-test-subcase-timeline-item
      >
        <div class="vlc-status-timeline__dot"></div>
        {{#if (is-pending phase)}}
          <div
            class="auk-skeleton auk-skeleton--rectangle"
            role="alert"
            aria-busy="true"
          ></div>
        {{else}}
          <div class="vlc-status-timeline__text">
            {{subcase-timeline-item-text phase=phase}}
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/unless}}
