{{#unless this.loadData.isRunning}}
  <span class="auk-next-step">
    {{#if @translationSubcase.endDate}}
      <Auk::StatusPill data-test-translation-statuspill-done @status="done">
        Gepubliceerd
      </Auk::StatusPill>
    {{else}}
      {{#if (gt this.requests.length 0)}}
        <Auk::StatusPill data-test-translation-statuspill-in-progress>
          Nalezen
        </Auk::StatusPill>
      {{else}}
        <Auk::StatusPill
          data-test-translation-statuspill-not-started
          @status="not-started"
        >
          Te vertalen
        </Auk::StatusPill>
      {{/if}}
    {{/if}}
  </span>
{{/unless}}