<div class="auk-form-group">
  {{#unless this.loadData.isRunning}}
    <WebComponents::VlCheckbox
            @value={{this.isUrgent}}
            @toggle={{this.toggleUrgency}}
            @label={{t "priority-procedure"}}/>
  {{/unless}}
</div>