<div class="auk-form-group">
  <Auk::Checkbox
    data-test-urgency-level-checkbox
    @checked={{@urgencyLevel.isUrgent}}
    @label={{t "priority-procedure"}}
    {{on "input" this.toggleUrgency}}
  />
</div>