<div class="auk-form-group">
  {{#if loadData.last.isSuccessful}}
    <WebComponents::VlCheckbox
            @value={{this.checkboxValue}}
            @toggle={{this.toggleUrgency}}
            @label={{t "priority-procedure"}}/>
  {{/if}}
</div>