<label class="vl-checkbox">
  {{input
    class="vl-checkbox__toggle"
    type="checkbox"
    checked=value
    data-test-vl-checkbox=true
    input=(action "toggle")
  }}
  <div class="vl-checkbox__label">
    <i class="vl-checkbox__box"></i>
    {{label}}
  </div>
</label>