<div class="vlc-input-field-block">
  {{#if (not hideLabel)}}
    {{web-components/vl-form-label value=(t "kind")}}
  {{/if}}
  {{#if isLoading}}
    <div class="auk-u-muted">
      {{t "please-be-patient"}}
      <div class="vl-loader" role="alert" aria-busy="true"></div>
    </div>
  {{else}}
    {{#power-select
      options=options
      selected=selectedkind
      onchange=(action "setAction")
    as |option|
    }}
      {{option.label}}
    {{/power-select}}
  {{/if}}
</div>