<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body auk-u-p-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">
          {{t "publication-reports-title"}}
        </h4>
      </Auk::Panel::Header>
      <Auk::Panel::Body>
        ...
      </Auk::Panel::Body>
    </Auk::Panel>
  </div>
</div>