<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body auk-u-p-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">
          {{t "publications-reports-title"}}
        </h4>
      </Auk::Panel::Header>

      {{#each this.model as |row|}}
        <Auk::Panel::Body class="auk-o-flex auk-o-flex--justify-between">
          <div>
            <h4 class="auk-h4">{{t row.titleKey}}</h4>
          </div>
          <div>
            <Auk::Button {{on "click" (perform row.triggerGenerateReport)}}>
              {{t "generate-report"}}
            </Auk::Button>
          </div>
        </Auk::Panel::Body>
      {{/each}}
    </Auk::Panel>
  </div>
</div>