<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body auk-u-p-4">
    <Auk::Panel>
      <Auk::Panel::Header>
        <h4 class="auk-panel__title">
          {{t "publication-reports-title"}}
        </h4>
      </Auk::Panel::Header>

      {{#each this.model as |row|}}
        <Auk::Panel::Body>
          <h4 class="auk-h4">{{t row.titleKey}}</h4>
        </Auk::Panel::Body>
      {{/each}}
    </Auk::Panel>
  </div>
</div>