<div class="auk-u-mb-3">
  <Auk::Panel>
    <Auk::Panel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">
              {{t "ise-code"}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </Auk::Panel::Header>
    {{#if @iseCodes.length }}
      <WebComponents::AuPanel::Body>
        <WebComponents::AuPillList data-test-subcase-ise-codes-list>
          {{#each @iseCodes as |iseCode|}}
            <WebComponents::AuPill data-test-subcase-ise-codes-list-item>
              {{iseCode.name}}
            </WebComponents::AuPill>
          {{/each}}
        </WebComponents::AuPillList>
      </WebComponents::AuPanel::Body>
    {{else}}
      <WebComponents::AuPanel::Body>
        <Auk::EmptyState @message={{t "no-ise-codes-yet"}} />
      </WebComponents::AuPanel::Body>
    {{/if}}
  </Auk::Panel>
</div>