<div class="auk-u-mb-3">
  <Auk::Panel>
    <Auk::Panel::Header>
      <Auk::Toolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">
              {{t "ise-code"}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </Auk::Toolbar>
    </Auk::Panel::Header>
    {{#if @iseCodes.length }}
      <Auk::Panel::Body>
        <Auk::PillList data-test-subcase-ise-codes-list>
          {{#each @iseCodes as |iseCode|}}
            <Auk::Pill data-test-subcase-ise-codes-list-item>
              {{iseCode.name}}
            </Auk::Pill>
          {{/each}}
        </Auk::PillList>
      </Auk::Panel::Body>
    {{else}}
      <Auk::Panel::Body>
        <Auk::EmptyState @message={{t "no-ise-codes-yet"}} />
      </Auk::Panel::Body>
    {{/if}}
  </Auk::Panel>
</div>