<div class="auk-u-mb-3">
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">
              {{t "ise-code"}}
            </h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    {{#if @iseCodes.length }}
      <WebComponents::AuPanel::Body>
        <WebComponents::AuPillList data-test-subcase-ise-codes-list>
          {{#each @iseCodes as |iseCode|}}
            <Auk::Pill data-test-subcase-ise-codes-list-item>
              {{iseCode.name}}
            </Auk::Pill>
          {{/each}}
        </WebComponents::AuPillList>
      </WebComponents::AuPanel::Body>
    {{else}}
      <WebComponents::AuPanel::Body>
        <Auk::EmptyState @message={{t "no-ise-codes-yet"}} />
      </WebComponents::AuPanel::Body>
    {{/if}}
  </WebComponents::AuPanel>
</div>