<div class="vl-u-display-flex vl-u-flex-space-between full-width-selector">
  <p class="vl-alert__content">
    {{message}}
  </p>
  <div class="button-container">
    <button class="vl-button vl-button--narrow vl-button--reset"
      {{action "clearAction"}}>
      {{buttonText}}
    </button>
  </div>
</div>