<div class="vl-u-flex-space-between" style="display:flex; width:100%;">
    <p class="vl-alert__content">{{message}}</p>
    <button class="vl-button vl-button--narrow vl-button--reset" {{action
            "clearAction"}}>{{buttonText}}</button>
</div>