<div>
  {{#each @events as |event|}}
    {{yield
      (hash
        Event=(component "utils/generic/timeline/event" event=event)
      )
      event
    }}
  {{else}}
    <Auk::EmptyState @message={{@emptyMessage}} />
  {{/each}}
</div>