/* ==========================================================================
  Addition:
    * custom badge
   ========================================================================== */

/* Custom badge size
   Design is 32x32?
   ========================================================================== */

.vl-badge--small-medium {
  width: 3rem;
  height: 3rem;
}
