/* ==========================================================================
   Additions to buttons
   ========================================================================== */

.vl-button--icon {
  width: 3.5rem;
  padding: 0 .7rem;
  .vl-button__icon {
    display: inline-block;
    margin: 0 auto;
  }
}

// Additions to buttons

/* ==========================================================================
  We believe that the .vl-button logic is broken; .vl-button on its own outputs styles for a “primary” type button, whereas we think it should be handled with a required modifier class (e.g. vl-button vl-button--primary). Because of this past code decision, we have to override the styles to get a link button.
   ========================================================================== */

.vl-button--link {
  color: $action-color;
}

.vl-button--link-muted {
  color: $gray;
}

.vl-button--link,
.vl-button--link-muted {
  background: none;
  &:hover,
  &:focus {
    background: $blue-gray-lightest;
    color: $mine-shaft;
  }

  // Fix for white color on visited button links
  &:visited {
    color: $action-color;
  }
}
