/* ==========================================================================
  Addition:
    * Custom checkbox list tree
    * Indeterminate state
   ========================================================================== */

.vlc-checkbox-tree  {
  ul {
      padding-left: 2.7rem;
  }

  li {
      margin: 0.5rem 0;
  }

  ul li:first-child {
    margin-top: 1rem;
  }
}
