/* ==========================================================================
   Additions to data-table
   ========================================================================== */

/* Table column widths
   ========================================================================== */

$tableColCount: 12;
$i: 1;

@while $i < $tableColCount {
  .vl-data-table-col-#{$i} {
    width: #{$i / $tableColCount * 100%};
  }

  $i: $i + 1;
}

/* Middle alignment
   ========================================================================== */

.vl-data-table--align-middle {
  td {
    vertical-align: middle;
  }
}
