/* ==========================================================================
	 Addition:
   * Different styling for loader link
	 ========================================================================== */

.vl-loader-link {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
