/* ==========================================================================
  Addition:
  * Support a modal footer
  * Support a modal header
  * Other positioning of controls
   ========================================================================== */

.vl-custom {

  .vl-modal-dialog {
    padding: 1rem 3rem;
  }

  /* Content
     ========================================================================== */

  .vl-modal-dialog__content {
    padding: 2rem 0;
  }

  /* Header & footer
     ========================================================================== */

  .vl-modal-dialog__title {
    margin: 0;
  }

  /* Bugfix to .vl-link
     ========================================================================== */

  .vl-modal {
    .vl-link {
      &__icon--before {
        font-size: 1.4rem;
        padding-right: 0.4rem;
      }
    }
  }

  /* Sizes
     ========================================================================== */

  .vl-modal-dialog--large {
    width: 88rem;
  }
}
