/* ==========================================================================
  Addition:
  * Support a modal footer
  * Support a modal header
  * Other positioning of controls
   ========================================================================== */

.vl-modal.vl-modal--padding-custom {
  .vl-modal-dialog {
    padding: 1rem 3rem;
  }

/* Content
    ========================================================================== */

  .vl-modal-dialog__content {
    padding: 2rem 0;
  }


/* Sizes
    ========================================================================== */

  .vl-modal-dialog--large {
    width: 88rem;
  }
}

/* Firefox fix for pagination
	 ========================================================================== */

 .data-table-pagination {
   margin-bottom: 6em; //fix for firefox (agenda view height)
 }
