/* ==========================================================================
  Addition:
    * red color for popover link list option
   ========================================================================== */

 .vl-popover__link-list {
   overflow-y: scroll;
 }

.vl-popover__link-list__item--action-danger .auk-button-link {
  color: $red;
  &:hover {
    color: $red;
  }
}
