// Tabs in context of toolbar (6.6rem)
.vlc-toolbar .vl-tabs__wrapper {
  position: relative;
  bottom: 1.1rem;
  .vl-tab__link {
    padding: 2.3rem 2.1rem 1.7rem 2.2rem;
  }
}

.vl-tab__link {
  &.active {
    color: $text-color;
    border-bottom: $tabs-stroke-height solid $text-color;
    background-color: transparent;
  }
}
