<div class="auk-scroll-wrapper__body">
  <div class="auk-u-m-8">
    <div class="au-c-content au-c-content--small">
      <h1>Export titel</h1>
      <p class="au-u-h4">Beslissing van 18-11-2022 om 10:23</p>
      <hr>
      <p class="au-u-h4">Resultaat beslissing: goedgekeurd</p>
      <hr>
      <h4>Betreft :</h4>
      <p>Toegang havens<br/>Voorontwerp van koninklijk besluit betreffende het verbieden van toegang tot de Belgische havens door gesanctioneerde schepen<br/>Betrokkenheid van de Vlaamse Regering<br/>Standpuntbepaling<br/>(VR 2022 3009 DOC.1056/1 en DOC.1056/2)</p> 
      <h4>Beslissing :</h4>
      <p>De Vlaamse Regering beslist:</p>
      <ol><li>in te stemmen met bovengenoemd voorontwerp van koninklijk besluit;</li><li>de minister-president van de Vlaamse Regering te gelasten de federale minister van Noordzee van deze beslissing in kennis te stellen.</li></ol>
      <hr>
      <p class="au-u-h4">Ondertekend door ... op ...</p>
    </div>
  </div>
</div>
