{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Panels" />

<StyleguideSample
        @title="Panel body"
        @snippet="panel.hbs"
>
  {{!-- BEGIN-SNIPPET panel --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Panel with header"
        @snippet="panel-with-header.hbs"
>
  {{!-- BEGIN-SNIPPET panel-with-header --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <h4 class="auk-panel__title">Panel header</h4>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Panel with header and action"
        @snippet="panel-with-header-and-action.hbs"
>
  {{!-- BEGIN-SNIPPET panel-with-header-and-action --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">Panel header</h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="tertiary" @icon="edit">Button label</WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Panel with header and 2 actions"w
        @snippet="panel-with-header-and-2-actions.hbs"
>
  {{!-- BEGIN-SNIPPET panel-with-header-and-2-actions --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">Panel header</h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="tertiary" @icon="edit">Button label</WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="tertiary" @icon="more" @layout="icon-only">Button label</WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Panel with header and checkbox"
        @snippet="panel-with-header-and-checkbox.hbs"
>
  {{!-- BEGIN-SNIPPET panel-with-header-and-checkbox --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="left">
          <WebComponents::AuToolbar::Item>
            <h4 class="auk-panel__title">Panel header</h4>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <label class="auk-checkbox" for="checkbox-1">
              <input class="auk-checkbox__toggle" type="checkbox" id="checkbox-1" name="checkbox-1" value="1" />
              Toon opties
              <span class="auk-checkbox__box"></span>
            </label>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>


<StyleguideSample
        @title="Panel with double body"
        @snippet="panel-with-double-body.hbs"
>
  {{!-- BEGIN-SNIPPET panel-with-double-body --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <h4 class="auk-panel__title">Panel header</h4>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
    <WebComponents::AuPanel::Body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa leo, consequat at tortor a, pretium efficitur diam. Praesent mollis euismod elit, quis consequat nulla lacinia a. Nulla facilisi. Vestibulum volutpat et urna in auctor. Pellentesque pulvinar volutpat quam at egestas. Maecenas mattis velit lacus, in gravida elit bibendum a. </p>
    </WebComponents::AuPanel::Body>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>

<StyleguideSample
        @title="Panel with footer"
        @snippet="panel-with-footer.hbs"
>
  {{!-- BEGIN-SNIPPET panel-with-footer --}}
  <WebComponents::AuPanel>
    <WebComponents::AuPanel::Header>
      <h4 class="auk-panel__title">Panel header</h4>
    </WebComponents::AuPanel::Header>
    <WebComponents::AuPanel::Body>
      <div class="auk-form-group">
        <WebComponents::AuLabel>Label</WebComponents::AuLabel>
        <textarea class="auk-textarea" rows="2"></textarea>
      </div>
      <div class="auk-form-group">
        <WebComponents::AuLabel>Label</WebComponents::AuLabel>
        <textarea class="auk-textarea" rows="4"></textarea>
      </div>
    </WebComponents::AuPanel::Body>
    <WebComponents::AuPanel::Footer>
      <WebComponents::AuToolbar>
        <WebComponents::AuToolbar::Group @position="right">
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="borderless">Annuleren</WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
          <WebComponents::AuToolbar::Item>
            <WebComponents::AuButton @skin="primary">Opslaan</WebComponents::AuButton>
          </WebComponents::AuToolbar::Item>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuPanel::Footer>
  </WebComponents::AuPanel>
  {{!-- END-SNIPPET --}}
</StyleguideSample>
