{{#if this.agendaitemDocuments}}
<Documents::DocumentList
  @pieces={{this.agendaitemDocuments}}
as |documents|>
    <ul class="l-printable-agenda__document-list l-printable-agenda__item-indented">
      {{#each documents as |piece|}}
        <li>
          <span class="auk-o-flex--inline auk-o-flex--vertical-center">
            <span>({{piece.name}})</span>
            {{#if piece.confidential}}
              <Auk::Icon @name="lock-closed" @skin="danger" class="auk-u-ml" />
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
</Documents::DocumentList>
{{/if}}