<ul class="l-printable-agenda__document-list l-printable-agenda__item-indented">
  {{#each @pieces as |piece|}}
    <li>
      <span class="auk-o-flex--inline auk-o-flex--vertical-center">
        <span>({{piece.name}})</span>
      </span>
    </li>
  {{/each}}
</ul>