<span>({{@piece.name}})</span>
{{#if this.showAccessLevel}}
  <AccessLevelPill
    @accessLevel={{@accessLevel}}
    @isDraft={{await
      (is-draft-access-level
        meeting=@isDraftAccessLevelArgs.meeting
        agenda=@isDraftAccessLevelArgs.agenda
        agendaitem=@isDraftAccessLevelArgs.agendaitem
        piece=@piece
        accessLevel=@accessLevel
      )
    }}
  />
{{/if}}