<div class="vl-u-spacer-extended-bottom-s">
  <h4 class="vlc-printable-agenda-list__title">{{{if this.item.shortTitle this.item.shortTitle this.item.title}}}</h4>{{!-- Fallback for legacy data that doesn't have a short title --}}
  <p class="vlc-printable-agenda-list__description">{{{this.item.title}}}</p>
</div>
<ul class="vlc-printable-agenda-list__document-list">
  {{#each this.item.sortedDocumentVersions as |document|}}
    <li>({{document.name}})</li>
  {{/each}}
</ul>