<div class="vl-u-spacer-extended-bottom-s">
  <h4>
    {{if this.item.shortTitle this.item.shortTitle this.item.title}}{{!-- Fallback for legacy data that doesn't have a short title --}}
  </h4>
  <p>
    {{this.item.title}}
  </p>
</div>
<ul class="vlc-printable-agenda-list__document-list">
  {{#each this.item.sortedDocumentVersions as |document|}}
    <li>({{document.name}})</li>
  {{/each}}
</ul>