<div class="auk-u-m-4">
  {{ page-title
    (t "documents")
  }}
  <div class="auk-u-mb-8">
    <Auk::AccordionPanel @isDefaultActive={{true}} as |accordionPanel| >
      <accordionPanel.Header @title={{t "reference-documents-council-of-ministers"}}/>
      <accordionPanel.Body>
        <Documents::DocumentCardList @pieces={{@model}} />
      </accordionPanel.Body>
    </Auk::AccordionPanel>
  </div>
</div>