@font-face {
    font-family: "icons";
    src: url("./icons.eot?5edd20a4d13c1c3eed22e814f12a52c1?#iefix") format("embedded-opentype"),
url("./icons.woff2?5edd20a4d13c1c3eed22e814f12a52c1") format("woff2"),
url("./icons.woff?5edd20a4d13c1c3eed22e814f12a52c1") format("woff"),
url("./icons.ttf?5edd20a4d13c1c3eed22e814f12a52c1") format("truetype"),
url("./icons.svg?5edd20a4d13c1c3eed22e814f12a52c1#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\f101";
}
.icon-alert-triangle:before {
    content: "\f102";
}
.icon-arrow-down:before {
    content: "\f103";
}
.icon-arrow-left:before {
    content: "\f104";
}
.icon-arrow-right:before {
    content: "\f105";
}
.icon-arrow-up:before {
    content: "\f106";
}
.icon-bin:before {
    content: "\f107";
}
.icon-calendar:before {
    content: "\f108";
}
.icon-check-small:before {
    content: "\f109";
}
.icon-cross:before {
    content: "\f10a";
}
.icon-hierarchical-back:before {
    content: "\f10b";
}
.icon-info-circle:before {
    content: "\f10c";
}
.icon-nav-down:before {
    content: "\f10d";
}
.icon-nav-left:before {
    content: "\f10e";
}
.icon-nav-right:before {
    content: "\f10f";
}
.icon-nav-up:before {
    content: "\f110";
}
.icon-pencil:before {
    content: "\f111";
}
.icon-question-mark:before {
    content: "\f112";
}
.icon-redo:before {
    content: "\f113";
}
.icon-search:before {
    content: "\f114";
}
.icon-sitemap:before {
    content: "\f115";
}
.icon-user:before {
    content: "\f116";
}
