{{!-- TODO: replace custom HTML structure with adjusted AuAlert component when support for action buttons is implemented --}}
<div
  class="au-c-alert au-c-alert--warning au-c-alert--small auk-o-flex--vertical-center"
  role="alert"
>
  <div class="auk-o-flex__item auk-o-flex">
    <div class="au-c-alert__icon">
      <AuIcon @icon="alert-triangle"/>
    </div>
    <div class="au-c-alert__content">
      <div class="au-c-alert__message">{{t "retracted-item"}}</div>
    </div>
  </div>
  {{#if this.decisionmakingFlow}}
    <Auk::Button
      @skin="primary"
      @layout="icon-right"
      @icon="chevron-right"
      @route="cases.case.subcases"
      @model={{this.decisionmakingFlow.id}}
      class="auk-u-ml-2"
    >
      {{t "view-case"}}
    </Auk::Button>
  {{/if}}
</div>