@font-face {
  font-family: vlaanderen_iconfont;
  src: url(https://dij151upo6vad.cloudfront.net/2.latest/fonts/iconfont/vlaanderen_iconfont.woff) format("woff"),
  url(https://dij151upo6vad.cloudfront.net/2.latest/fonts/iconfont/vlaanderen_iconfont.ttf) format("truetype"),
  url(https://dij151upo6vad.cloudfront.net/2.latest/fonts/iconfont/vlaanderen_iconfont.svg#gmIcon) format("svg")
}

.vi:after,.vi:before {
  font-family: vlaanderen_iconfont !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none
}

.data-table__action__toggle--arrow:before,.vi-arrow--after:after,.vi-arrow:before {
  content: "\E004"
}

.vi-long-arrow--after:after,.vi-long-arrow:before {
  content: "\E021"
}

.vi-magnifier--after:after,.vi-magnifier:before {
  content: "\E022"
}

button.vi {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: 0;
  cursor: pointer
}

.data-table__action__toggle--arrow:before {
  font-family: vlaanderen_iconfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none
}

a.vi {
  text-decoration: none
}

.vi.vi-u-hidden-text {
  font-size: 0
}

.vi.vi-u-xs:before {
  font-size: .8rem
}

.vi.vi-u-s:before {
  font-size: 1.3rem
}

.vi.vi-u-m:before {
  font-size: 1.7rem
}

.vi.vi-u-l:before {
  font-size: 2rem
}

.vi.vi-u-xl:before {
  font-size: 2.2rem
}

.vi.vi-u-90deg:before {
  display: inline-block;
  transform: rotate(90deg)
}

.vi.vi-u-180deg:before {
  display: inline-block;
  transform: rotate(180deg)
}

.vi.vi-u-link-after:before,.vi.vi-u-link:before {
  display: inline-block;
  margin-right: 1rem;
  color: #000;
  font-size: 1.3rem;
  text-decoration: none
}

.vi.vi-u-link-after:before {
  margin-left: 1rem;
  margin-right: 0
}

.vi.vi-u-color-grey {
  color: #cbd2da
}

.loader {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 1.8rem
}

.loader:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -22px;
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 10px 0 #fff,20px 0 #fff,30px 0 #fff;
  animation: loader-wave infinite 1s linear
}

@keyframes loader-wave {
  0%,100%,60% {
      box-shadow: 10px 0 #666,20px 0 #666,30px 0 #666
  }

  10% {
      box-shadow: 10px -3px #666,20px 0 #666,30px 0 #666
  }

  20% {
      box-shadow: 10px -6px #666,20px -3px #666,30px 0 #666
  }

  30% {
      box-shadow: 10px -3px #666,20px -6px #666,30px -3px #666
  }

  40% {
      box-shadow: 10px 0 #666,20px -3px #666,30px -6px #666
  }

  50% {
      box-shadow: 10px 0 #666,20px 0 #666,30px -3px #666
  }
}

.loader--light:before {
  animation: loader-light-wave infinite 1s linear
}

@keyframes loader-light-wave {
  0%,100%,60% {
      box-shadow: 10px 0 #fff,20px 0 #fff,30px 0 #fff
  }

  10% {
      box-shadow: 10px -3px #fff,20px 0 #fff,30px 0 #fff
  }

  20% {
      box-shadow: 10px -6px #fff,20px -3px #fff,30px 0 #fff
  }

  30% {
      box-shadow: 10px -3px #fff,20px -6px #fff,30px -3px #fff
  }

  40% {
      box-shadow: 10px 0 #fff,20px -3px #fff,30px -6px #fff
  }

  50% {
      box-shadow: 10px 0 #fff,20px 0 #fff,30px -3px #fff
  }
}

.pager {
  font-size: 1.5rem
}

@media screen and (max-width: 767px) {
  .pager {
      font-size: 1.4rem
  }
}

.pager a {
  text-decoration: none
}

.pager a:focus,.pager a:hover {
  text-decoration: underline
}

.pager__list {
  text-align: center
}

.pager__list--right {
  text-align: right
}

.pager__element {
  display: inline-block;
  padding: 0 .5rem;
  vertical-align: middle
}

.pager__element--active {
  font-weight: 700
}

.pager__element--previous {
  margin-right: 1rem
}

.pager__element--next {
  margin-left: 1rem
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 0;
  display: inline-block;
  max-width: 100%;
  color: #000;
  background: #fff;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  font-family: flanders-sans,sans-serif;
  padding: 0 1rem;
  text-indent: 0;
  appearance: none
}

.input-field:hover,.textarea:hover {
  box-shadow: none
}

.input-field--focus,.input-field--focus:hover,.input-field:focus,.textarea:focus {
  outline: 0;
  border-color: #ccc;
  box-shadow: inset 0 0 0 1px #ccc
}

.input-field::placeholder,.textarea::placeholder {
  color: #b2b2b2
}

.input-field--block {
  display: block;
  width: 100%
}

.input-field--error {
  background-color: #fbe6e6;
  border-color: #c00;
  box-shadow: inset 0 0 0 1px #c00
}

.input-field--error:focus {
  background-color: #fff
}

.input-field--success {
  background-color: #f7fae5;
  border-color: #8bae00;
  box-shadow: inset 0 0 0 1px #8bae00
}

.input-field--disabled {
  background-color: #f7f7f7
}

.input-field--small {
  max-width: 6rem;
  padding: 0 .8rem
}

@media screen and (max-width: 767px) {
  .input-field {
      font-size:1.5rem
  }
}

.input-field {
  border: 1px solid #cbd2da;
  color: #333;
  background: #fff;
}

.input-field--focus,
.input-field--focus:hover,
.input-field:focus {
  border-color: #ffc515;
  box-shadow: inset 0 0 0 1px #ffc515;
}

.input-field::placeholder {
  color: #b2b2b2;
}

.input-field--error {
  background-color: #fbe6e6;
  border-color: #db3434;
  box-shadow: inset 0 0 0 1px #db3434;
}

.input-field--error:focus {
  background-color: #fff;
}

.input-field--success {
  background-color: #f7fae5;
  border-color: #8bae00;
  box-shadow: inset 0 0 0 1px #8bae00;
}

.input-field--disabled {
  background-color: #f4f5f7;
}

.data-table tbody tr[data-table-selectable]:hover,.data-table.data-table--hover tbody tr:hover,.scheduler-option__info table tbody tr[data-table-selectable]:hover,.scheduler-option__info table.data-table--hover tbody tr:hover,.scheduler-slot__text__info table tbody tr[data-table-selectable]:hover,.scheduler-slot__text__info table.data-table--hover tbody tr:hover,.typography table tbody tr[data-table-selectable]:hover,.typography table.data-table--hover tbody tr:hover {
  background: #f3f5f6
}

.data-table {
  width: 100%;
  max-width: 100%
}

.data-table thead tr {
  border-bottom: 3px #ccc solid
}

.data-table tbody tr {
  border-bottom: 1px #ccc solid
}

.data-table tbody tr[data-table-selectable] {
  transition: background .2s ease-in-out;
  cursor: pointer
}

.data-table tbody tr.data-table__grouped-row:not(.data-table__grouped-row--last) {
  border-bottom: none
}

.data-table td,.data-table th {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.3;
  vertical-align: top;
  padding: 1.2rem 1rem
}

@media screen and (max-width: 767px) {
  .data-table td {
      padding: 1rem;
      font-size: 1.4rem
  }

  .data-table .data-table__grouped-row td {
      padding: .3rem 1rem .3rem 0
  }
}

.data-table td:first-child {
  border-left: 0
}

.data-table th {
  font-weight: 500
}

.data-table .data-table__grouped-row td {
  padding: .3rem 1rem .3rem 0
}

.data-table .data-table__grouped-row--first td {
  padding-top: 1.2rem
}

.data-table .data-table__grouped-row--last td {
  padding-bottom: 1.2rem
}

@media screen and (max-width: 767px) {
  .data-table .data-table__grouped-row--first td {
      padding-top:1rem
  }

  .data-table .data-table__grouped-row--last td {
      padding-bottom: 1rem
  }
}

.data-table__header-title--sortable {
  text-decoration: none
}

.data-table__header-title--sortable .data-table__header-title__sort-icon {
  opacity: 0
}

.data-table__header-title--sortable:focus,.data-table__header-title--sortable:hover {
  text-decoration: underline
}

.data-table__header-title--sortable:focus .data-table__header-title__sort-icon,.data-table__header-title--sortable:hover .data-table__header-title__sort-icon {
  opacity: .5
}

.data-table__header-title--sortable-active .data-table__header-title__sort-icon {
  opacity: 1
}

.data-table__body-title {
  max-width: 30rem
}

.data-table--alt tr td:not(:first-child) {
  padding: 1.2rem
}

.data-table--alt tr th:not(:first-child) {
  padding: 0 1.2rem 1.2rem
}

.data-table--alt tr td:first-child,.data-table--alt tr th:first-child {
  border-right: 1px #ccc solid
}

.data-table.data-table--no-header tbody tr:first-child {
  border-top: 3px #ccc solid
}

@media screen and (max-width: 767px) {
  .u-table-overflow {
      overflow-x: scroll;
      width: 100%
  }

  .u-table-overflow .data-table {
      overflow: scroll;
      min-width: 50rem
  }
}

.data-table.data-table--hover tbody tr {
  transition: background .2s ease-in-out
}

.data-table.data-table--matrix tr th:first-child {
  border-right: 3px #ccc solid
}

.data-table.data-table--lined td,.data-table.data-table--lined th {
  padding: 1.2rem
}

.data-table.data-table--lined td:not(:first-child),.data-table.data-table--lined th:not(:first-child) {
  border-left: 1px solid #ccc
}

.data-table.data-table--lined td:first-child[rowspan],.data-table.data-table--lined th:first-child[rowspan] {
  border-right: 1px solid #ccc
}

.data-table.data-table--zebra tbody tr:nth-child(odd) {
  background-color: #f3f5f6
}

.data-table__actions--top {
  margin: 0 0 2rem
}

.data-table__actions--bottom {
  margin: 2rem 0 0
}

@media screen and (max-width: 500px) {
  .data-table__actions--bottom .data-table__actions__list {
      margin:0 0 1rem
  }
}

.data-table__actions__list .data-table__action:not(:last-child) {
  margin-right: .6rem
}

.data-table__actions__list--right {
  text-align: right
}

.data-table__action {
  display: inline-block;
  margin-bottom: .6rem
}

.data-table__action[data-show=false] {
  display: none
}

.no-js .data-table__action[data-show=false] {
  display: inline-block
}

.data-table__action__toggle {
  display: block;
  background: 0 0;
  border: 1px solid #cbd2da;
  text-decoration: none;
  cursor: pointer;
  padding: .9rem 1.5rem .8rem;
  line-height: 1;
  font-family: flanders-sans,sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  color: #333332
}

.data-table__action__toggle--arrow {
  padding: .9rem 3.1rem .8rem 1.5rem
}

.data-table__action__toggle--arrow:before {
  position: absolute;
  right: 1rem;
  transform: rotate(90deg)
}

.js-sticky-placeholder,.slider,.slider__frame {
  position: relative
}

@media screen and (max-width: 500px) {
  .data-table__action__toggle--contract-xs span {
      display:none
  }

  .data-table__action__toggle--contract-xs .vi:before {
      margin: 0
  }
}

.data-table__action__toggle:focus {
  outline: #cbd2da solid 2px
}

@media screen and (max-width: 767px) {
  .data-table__action__toggle--arrow {
      padding:.9rem 2.7rem .8rem 1.3rem
  }

  .data-table__action__toggle {
      font-size: 1.5rem
  }
}

.u-ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-bold-text,
.u-error-text,
.u-marker,
.u-success-text,
mark {
  font-weight: 500;
}

.u-hr {
  border-bottom: 1px solid #cbd2da;
  margin-top: 0;
  margin-bottom: 0;
}

.u-spacer--small {
  margin-bottom: 2rem;
}

.u-spacer--tiny {
  margin-bottom: 1rem;
}

.u-spacer {
  margin-bottom: 3rem;
}

.u-spacer--large {
  margin-bottom: 6rem;
}

@media screen and (max-width: 767px) {
  .u-spacer--large {
    margin-bottom: 4rem;
  }
}

.u-spacer--none {
  margin-bottom: 0;
}

.u-space--horizontal + .u-space--horizontal {
  margin-left: 3rem;
}

@media screen and (max-width: 767px) {
  .u-mobile-spacer {
    margin-bottom: 2rem;
  }
}

.u-float-right {
  float: right !important;
}

.u-float-left {
  float: left !important;
}

.u-float-none {
  float: none !important;
}

.u-display-inline-block {
  display: inline-block !important;
}

.u-no-overflow {
  overflow: hidden;
}

.u-named-anchor:before {
  content: "";
  display: block;
  height: 90px;
  margin: -90px 0 0;
  z-index: -1;
  position: relative;
}

@media screen and (max-width: 767px) {
  .u-hidden-mobile {
    display: none !important;
  }
}

.u-visible-mobile {
  display: none;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-hidden-text {
  font-size: 0;
  overflow: hidden;
}

.u-error-text {
  color: #c00;
}

.u-success-text {
  color: #0c0;
}

.u-bordered-content {
  border-left: 5px solid #eee;
  padding-left: 3rem;
}

.u-small-text {
  font-size: 1.5rem;
}

.u-textcolor-sub {
  color: #666;
}

.u-marker,
mark {
  background: #ccc;
  color: #000;
}

@media screen and (max-width: 767px) {
  .u-visible-mobile {
    display: block;
  }
  .u-bordered-content {
    border-left-width: 3px;
    padding-left: 2rem;
  }
  .u-small-text {
    font-size: 1.5rem;
  }
  .u-mobile-no-equal-height {
    min-height: 0 !important;
  }
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  padding: 0;
  border: 0;
  left: 0;
  top: 0;
}

.u-align-left {
  text-align: left !important;
}

.u-align-center {
  text-align: center !important;
}

.u-align-right {
  text-align: right !important;
}

@media screen and (min-width: 1023.1px) {
  .u-align-left--l {
    text-align: left !important;
  }
  .u-align-center--l {
    text-align: center !important;
  }
  .u-align-right--l {
    text-align: right !important;
  }
}

@media screen and (max-width: 1023px) {
  .u-align-left--m {
    text-align: left !important;
  }
  .u-align-center--m {
    text-align: center !important;
  }
  .u-align-right--m {
    text-align: right !important;
  }
}

@media screen and (max-width: 767px) {
  .u-align-left--s {
    text-align: left !important;
  }
  .u-align-center--s {
    text-align: center !important;
  }
  .u-align-right--s {
    text-align: right !important;
  }
}

@media screen and (max-width: 500px) {
  .u-align-left--xs {
    text-align: left !important;
  }
  .u-align-center--xs {
    text-align: center !important;
  }
  .u-align-right--xs {
    text-align: right !important;
  }
}

::selection {
  background: rgba(255, 230, 21, 0.3);
}

::-moz-selection {
  background: rgba(255, 230, 21, 0.3);
}

@media print {
  .u-hide-on-print,
  footer,
  header {
    display: none;
  }
  .main footer,
  .main header,
  [role="main"] footer,
  [role="main"] header,
  main footer,
  main header {
    display: block;
  }
  .iwgf2,
  .iwgf3,
  .iwgh2,
  .iwgh3 {
    display: none;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button,
a {
  cursor: pointer;
}

[class^="u-background--"] .data-table__action__toggle {
  background-color: #fff;
}

.input-field-icon-container--left,
.input-field-icon-container--right {
  position: relative;
  display: inline-block;
}
.input-field-icon-container--left.input-field-icon-container--block,
.input-field-icon-container--right.input-field-icon-container--block {
  display: block;
}

i.input-field__icon {
  position: absolute;
  left: 1.5rem;
  top: 0.5rem;
  color: #666666;
  font-size: 1.5rem;
  pointer-events: none;
}

.input-field.input-field--large + i.input-field__icon {
  font-size: 2rem;
  top: 0.7rem;
}

.input-field.input-field--small + i.input-field__icon {
  font-size: 1.4rem;
  top: 0.45rem;
}

.input-field-icon-container--left > .input-field {
  padding-left: 4rem;
}
.input-field-icon-container--left > .input-field + i.input-field__icon {
  left: 1.5rem;
}

.input-field-icon-container--left > .input-field.input-field--large {
  padding-left: 4.5rem;
}

.input-field-icon-container--left > .input-field.input-field--small {
  padding-left: 4rem;
}
.input-field-icon-container--left
  > .input-field.input-field--small
  + i.input-field__icon {
  left: 1rem;
}

.input-field-icon-container--right .input-field {
  padding-right: 4rem;
}
.input-field-icon-container--right .input-field + i.input-field__icon {
  left: auto;
  right: 1.5rem;
}

.input-field-icon-container--right > .input-field.input-field--large {
  padding-right: 4.5rem;
}

.input-field-icon-container--right > .input-field.input-field--small {
  padding-right: 3rem;
}
.input-field-icon-container--right
  > .input-field.input-field--small
  + i.input-field__icon {
  right: 1rem;
}

.data-table--nowrap table.data-table th,
table.data-table.data-table--nowrap th {
  white-space: nowrap;
}

.data-table--zebra tbody tr:nth-child(odd).data-table__row-active,
tr.data-table__row-active {
  background-color: #e8ebee;
}
.data-table--zebra
  tbody
  tr:nth-child(odd).data-table__row-active
  td:first-child,
tr.data-table__row-active td:first-child {
  box-shadow: inset 4px 0 0 #0f68c9;
}

table.data-table.data-table--gray-head thead tr {
  background-color: #e8ebee;
  border-bottom: 1px solid #cbd2da;
}

.data-table--tight th,
.data-table--tight td {
  font-size: 1.5rem;
  padding: 1rem 0.8rem;
}

.data-table--collapse-left th,
.data-table--collapse-left td {
  padding: 1rem 0.8rem 1rem 0;
}

.data-table--tight th,
.data-table--tight td {
  font-size: 1.5rem;
  padding: 1rem 0.8rem;
}

tr.tr-expand {
  background-color: #e8ebee;
  transition: all 200ms;
  min-height: 1px;
  height: auto;
}
tr.tr-expand.u-hidden {
  height: 0;
  overflow: hidden;
}
tr.tr-expand td:first-child {
  position: relative;
}
tr.tr-expand td:first-child:after {
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-left: 1px solid #cbd2da;
  border-bottom: 1px solid #cbd2da;
  position: absolute;
  top: 0.5rem;
  left: 1.4rem;
  bottom: 1rem;
}

.data-table__thead-capped__content {
  display: block;
  max-height: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 200ms;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.data-table thead:hover .data-table__thead-capped__content {
  max-height: 20rem;
  overflow: visible;
  transition: all 200ms;
  display: block;
  /* to make sure the transition actually happens */
  -webkit-line-clamp: initial;
}

.data-table__actions {
  padding: 1rem;
}
.data-table__actions .data-table__action__toggle {
  background-color: #fff;
}
.data-table__actions.data-table__actions--top,
.data-table__actions.data-table__actions--bottom {
  margin: 0 !important;
}

.data-table__actions--top {
  border-bottom: 1px solid #cbd2da;
}

.data-table__actions--bottom {
  border-top: 1px solid #cbd2da;
}

table.data-table.data-table--blocks {
  overflow-x: hidden;
  border-right: 1px solid #e8ebee;
}
table.data-table.data-table--blocks tbody {
  width: calc(100% + 1px);
}
table.data-table.data-table--blocks td {
  padding: 2rem 1rem;
}
table.data-table.data-table--blocks td p {
  font-size: 1.3rem;
  line-height: 1.6;
}
table.data-table.data-table--blocks td:first-child {
  padding-left: 2rem;
}
table.data-table.data-table--blocks td:last-child {
  padding-right: 2.5rem;
}
table.data-table.data-table--blocks tr {
  border-bottom-color: rgba(203, 210, 218, 0.8);
  background-color: #fff;
  cursor: pointer;
}
table.data-table.data-table--blocks tr:hover {
  background-color: #f3f5f6;
}
table.data-table.data-table--blocks tr:hover td:first-child {
  box-shadow: inset 0.5rem 0 0 #0f68c9;
}
table.data-table.data-table--blocks tr.data-table__element--active {
  background-color: #0f68c9;
  color: #fff;
  border-bottom-color: transparent;
  box-shadow: inset 2px 4px 5px rgba(0, 0, 0, 0.1);
}
table.data-table.data-table--blocks
  tr.data-table__element--active
  a.link--icon.link--disabled,
table.data-table.data-table--blocks
  tr.data-table__element--active
  a.link--icon.link--disabled
  .vi {
  color: rgba(255, 255, 255, 0.7);
}
table.data-table.data-table--blocks tr.data-table__element--active a,
table.data-table.data-table--blocks tr.data-table__element--active a .vi {
  color: #fff;
}
table.data-table.data-table--blocks tr.data-table__element--active + tr {
  box-shadow: inset 2px 4px 5px rgba(0, 0, 0, 0.1);
}
table.data-table.data-table--blocks a.link--icon {
  font-size: 1.4rem;
}
table.data-table.data-table--blocks a.link--icon .vi {
  top: 0.2rem;
  padding-right: 0.1rem;
  color: #0f68c9;
}
table.data-table.data-table--blocks a.link--icon:hover {
  text-decoration: underline;
}
table.data-table.data-table--blocks a.link--icon.link--disabled {
  color: #666666;
  cursor: default;
}
table.data-table.data-table--blocks a.link--icon.link--disabled .vi {
  color: #666666;
}
table.data-table.data-table--blocks a.link--icon.link--disabled:hover {
  text-decoration: none;
}
table.data-table.data-table--blocks a.link--icon:last-child {
  padding-right: none;
}

.u-white-space--none {
  white-space: nowrap;
}

.data-table__scroll {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  overflow: auto;
}
.data-table__scroll.tab__pane {
  display: none;
}
.data-table__scroll.tab__pane[data-show="true"] {
  display: flex;
}

.container-flex--scroll {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.container-flex--contain {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.container-flex--contain > .grid {
  min-height: 0;
  height: 100%;
}
.container-flex--contain > .grid > div[class^="col--"] {
  min-height: 0;
  height: 100%;
}
.container-flex--contain.tab__pane[data-show="false"] {
  display: none;
}
.container-flex--contain.tab__pane[data-show="true"] {
  display: flex;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: calc(50% - 3rem);
  text-align: center;
  padding: 1rem;
}

@media (max-width: 766px) {
  .u-hidden--s,
  .u-hidden--mobile {
    display: none !important;
  }
}

@media (min-width: 767px) {
  .u-hidden--tablet-portrait-up {
    display: none !important;
  }
}

@media (min-width: 1023px) {
  .u-hidden--tablet-landscape-up {
    display: none !important;
  }
}

.u-visible--tablet-portrait-up {
  display: none !important;
}
@media (min-width: 767px) {
  .u-visible--tablet-portrait-up {
    display: block !important;
  }
}

th.u-visible--tablet-portrait-up,
td.u-visible--tablet-portrait-up {
  display: none !important;
}
@media (min-width: 767px) {
  th.u-visible--tablet-portrait-up,
  td.u-visible--tablet-portrait-up {
    display: table-cell !important;
  }
}

span.u-visible--tablet-portrait-up {
  display: none !important;
}
@media (min-width: 767px) {
  span.u-visible--tablet-portrait-up {
    display: inline-block !important;
  }
}

.u-visible--tablet-landscape-up {
  display: none !important;
}
@media (min-width: 1023px) {
  .u-visible--tablet-landscape-up {
    display: block !important;
  }
}

th.u-visible--tablet-landscape-up,
td.u-visible--tablet-landscape-up {
  display: none !important;
}
@media (min-width: 1023px) {
  th.u-visible--tablet-landscape-up,
  td.u-visible--tablet-landscape-up {
    display: table-cell !important;
  }
}

span.u-visible--tablet-landscape-up {
  display: none !important;
}
@media (min-width: 1023px) {
  span.u-visible--tablet-landscape-up {
    display: inline-block !important;
  }
}

.u-visible--desktop-up {
  display: none !important;
}
@media (min-width: 1200px) {
  .u-visible--desktop-up {
    display: block !important;
  }
}

th.u-visible--desktop-up,
td.u-visible--desktop-up {
  display: none !important;
}
@media (min-width: 1200px) {
  th.u-visible--desktop-up,
  td.u-visible--desktop-up {
    display: table-cell !important;
  }
}

span.u-visible--desktop-up {
  display: inline-block !important;
}
@media (min-width: 1200px) {
  span.u-visible--desktop-up {
    display: table-cell !important;
  }
}

.u-visible--s,
.u-visible-mobile {
  display: none !important;
}
@media (max-width: 766px) {
  .u-visible--s,
  .u-visible-mobile {
    display: block !important;
  }
}

span.u-visible--s,
span.u-visible-mobile,
.button.u-visible--s,
.button.u-visible-mobile {
  display: none !important;
}
@media (max-width: 766px) {
  span.u-visible--s,
  span.u-visible-mobile,
  .button.u-visible--s,
  .button.u-visible-mobile {
    display: inline-block !important;
  }
}

th.u-visible--s,
th.u-visible-mobile,
td.u-visible--s,
td.u-visible-mobile {
  display: none !important;
}
@media (max-width: 766px) {
  th.u-visible--s,
  th.u-visible-mobile,
  td.u-visible--s,
  td.u-visible-mobile {
    display: table-cell !important;
  }
}

.u-display--block {
  display: block;
}

.u-display--block-100 {
  display: block;
  width: 100%;
}

.u-display--inline {
  display: inline;
}

.u-display--inline-block {
  display: inline-block;
}

th.u-hidden,
td.u-hidden,
.u-hidden {
  display: none !important;
}

.u-position--relative {
  position: relative;
}

.u-position--absolute {
  position: absolute;
}

.u-align--right {
  text-align: right !important;
}

@media (min-width: 767px) {
  .u-align-right--tablet-portrait-up {
    text-align: right !important;
  }
}

@media (min-width: 1023px) {
  .u-align-right--tablet-landscape-up {
    text-align: right !important;
  }
}

@media (min-width: 1200px) {
  .u-align-right--desktop-up {
    text-align: right !important;
  }
}

.u-spacer--top {
  margin-top: 3rem !important;
}

.u-spacer--top--tinier {
  margin-top: 0.5rem !important;
}

.u-spacer--top--tiny {
  margin-top: 1rem !important;
}

.u-spacer--top--small {
  margin-top: 2rem !important;
}

.u-spacer--top--large {
  margin-top: 4rem !important;
}

.u-spacer--top--none {
  margin-top: 0 !important;
}

.u-spacer--right {
  margin-right: 3rem !important;
}

.u-spacer--right--tinier {
  margin-right: 0.5rem !important;
}

.u-spacer--right--tiny {
  margin-right: 1rem !important;
}

.u-spacer--right--small {
  margin-right: 2rem !important;
}

.u-spacer--right--large {
  margin-right: 4rem !important;
}

.u-spacer--right--none {
  margin-right: 0 !important;
}

.u-spacer--bottom {
  margin-bottom: 3rem !important;
}

.u-spacer--bottom--tinier {
  margin-bottom: 0.5rem !important;
}

.u-spacer--bottom--tiny {
  margin-bottom: 1rem !important;
}

.u-spacer--bottom--small {
  margin-bottom: 2rem !important;
}

.u-spacer--bottom--large {
  margin-bottom: 4rem !important;
}

.u-spacer--bottom--none {
  margin-bottom: 0 !important;
}

.u-spacer--left {
  margin-left: 3rem !important;
}

.u-spacer--left--tinier {
  margin-left: 0.5rem !important;
}

.u-spacer--left--tiny {
  margin-left: 1rem !important;
}

.u-spacer--left--small {
  margin-left: 2rem !important;
}

.u-spacer--left--large {
  margin-left: 4rem !important;
}

.u-spacer--left--none {
  margin-left: 0 !important;
}

.u-spacer--none,
.u-spacer--round--none {
  margin: 0 !important;
}

.u-spacer--round {
  margin: 3rem !important;
}

.u-spacer--round--tinier {
  margin: 0.5rem !important;
}

.u-spacer--round--tiny {
  margin: 1rem !important;
}

.u-spacer--round--small {
  margin: 2rem !important;
}

.u-spacer--round--large {
  margin: 4rem !important;
}

.u-spacer--tb {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.u-spacer--tb--tinier {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.u-spacer--tb--tiny {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-spacer--tb--small {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.u-spacer--tb--large {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.u-padding--none {
  padding: 0;
}

.u-padding--top {
  padding-top: 3rem !important;
}

.u-padding--top--tinier {
  padding-top: 0.5rem !important;
}

.u-padding--top--tiny {
  padding-top: 1rem !important;
}

.u-padding--top--small {
  padding-top: 2rem !important;
}

.u-padding--top--large {
  padding-top: 4rem !important;
}

.u-padding--top--none {
  padding-top: 0 !important;
}

.u-padding--right {
  padding-right: 3rem !important;
}

.u-padding--right--tinier {
  padding-right: 0.5rem !important;
}

.u-padding--right--tiny {
  padding-right: 1rem !important;
}

.u-padding--right--small {
  padding-right: 2rem !important;
}

.u-padding--right--large {
  padding-right: 4rem !important;
}

.u-padding--right--none {
  padding-right: 0 !important;
}

.u-padding--bottom {
  padding-bottom: 3rem !important;
}

.u-padding--bottom--tinier {
  padding-bottom: 0.5rem !important;
}

.u-padding--bottom--tiny {
  padding-bottom: 1rem !important;
}

.u-padding--bottom--small {
  padding-bottom: 2rem !important;
}

.u-padding--bottom--large {
  padding-bottom: 4rem !important;
}

.u-padding--bottom--none {
  padding-bottom: 0 !important;
}

.u-padding--left {
  padding-left: 3rem !important;
}

.u-padding--left--tinier {
  padding-left: 0.5rem !important;
}

.u-padding--left--tiny {
  padding-left: 1rem !important;
}

.u-padding--left--small {
  padding-left: 2rem !important;
}

.u-padding--left--large {
  padding-left: 4rem !important;
}

.u-padding--left--none {
  padding-left: 0 !important;
}

.u-padding--round {
  padding: 3rem !important;
}

.u-padding--round--tinier {
  padding: 0.5rem !important;
}

.u-padding--round--tiny {
  padding: 1rem !important;
}

.u-padding--round--small {
  padding: 2rem !important;
}

.u-padding--round--large {
  padding: 4rem !important;
}

.u-padding--round--none {
  padding: 0 !important;
}

.u-padding--trl {
  padding-top: 3rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.u-padding--trl--tinier {
  padding-top: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.u-padding--trl--tiny {
  padding-top: 1rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.u-padding--trl--small {
  padding-top: 2rem !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.u-padding--trl--large {
  padding-top: 4rem !important;
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.u-padding--rl {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.u-padding--rl--tiny {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.u-padding--rl--small {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.u-padding--rl--large {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.u-padding--tb {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.u-padding--tb--tinier {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.u-padding--tb--tiny {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.u-padding--tb--small {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.u-padding--tb--large {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
