version: '3.4'

services:
  frontend:
    networks:
      - default
    build: ../.
    user: ${HOST_UID_GID}
  elasticsearch:
    volumes:
      - /usr/share/elasticsearch/data
  e2e-electron:
    image: "kanselarij/kaleidos-cypress:2.0.0"
    ipc: host
    environment:
      NO_COLOR: 1
    volumes:
      - ../cypress:/app/cypress
      - ../cypress.test.json:/app/cypress.json
  login:
    entrypoint: "echo 'service disabled'"
    restart: "no"
    user: ${HOST_UID_GID}
  cache:
    user: ${HOST_UID_GID}
  forever-cache:
    user: ${HOST_UID_GID}
  resource:
    user: ${HOST_UID_GID}
  database-healthcheck:
    entrypoint: "echo 'service disabled'"
    restart: "no"
    user: ${HOST_UID_GID}
  newsletter:
    entrypoint: "echo 'service disabled'"
    restart: "no"
    user: ${HOST_UID_GID}
  search:
    user: ${HOST_UID_GID}
    environment:
      UPDATE_WAIT_INTERVAL_MINUTES: 0
  # The DELTA_INTERVAL_MS is the value that yggdrasil waits between runs in milliseconds
  # Default is 5 minutes but results in 10 minutes between runs
  yggdrasil:
    user: ${HOST_UID_GID}
    environment:
      DELTA_INTERVAL_MS: 10000
  # The RELEASE_CRON_PATTERN is the value that the service cron job runs for and defaults to once per minute.
  # This is too slow for testing so making the cron shorter here
  document-release:
    environment:
      RELEASE_CRON_PATTERN: "0/30 * * * * *"
  cache-warmup:
    environment:
      AUTO_RUN: "true"
      ENABLE_RECENT_AGENDAS_CACHE: "false"
      ENABLE_LARGE_AGENDAS_CACHE: "false"
      ENABLE_CONCEPTS_CACHE: "true"
  publication-report:
    user: ${HOST_UID_GID}
  staatsblad-uuid-generation:
    image: lblod/sink-service:1.0.0
    restart: "no"
  staatsblad-import:
    entrypoint: "echo 'service disabled'"
    restart: "no"
  staatsblad-scraping:
    entrypoint: "echo 'service disabled'"
    restart: "no"
  staatsblad-linking:
    image: lblod/sink-service:1.0.0
    restart: "no"
  delta-producer:
    image: lblod/sink-service:1.0.0
    restart: "no"
  lod-sbmb:
    entrypoint: "echo 'service disabled'"
    restart: "no"
  mail-delivery:
    entrypoint: "echo 'service disabled'"
    restart: "no"
