{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">Custom select components</h1>

<Styleguide::KitchensinkSample
  @title="Decision result selector"
  @snippet="decision-result-select.hbs"
>
  {{!-- BEGIN-SNIPPET decision-result-select --}}
  <Decision::DecisionResultSelect
    @selected={{this.value}}
    @onChange={{fn (mut this.value)}}
  />
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>