.vl-data-table--zebra {
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $porcelain;

        a:hover {
          background-color: $white-background;
        }
      }
    }
  }
}
