.not-clickable:active {
  background: #fff !important;
  cursor: default !important;

  *:not(.vlc-agenda-item__meta) {
    color: unset !important;
    cursor: default;
  }

  .vlc-agenda-item__meta {
    color: $silver-chalice;
  }

  .active {
    color: unset;
  }
}

.not-clickable:hover {
  background: #fff !important;
  cursor: default !important;

  * {
    cursor: default;
  }
}

.compare-left-column {
  width: calc(47%);
  margin-right: 6%;
}

.compare-right-column {
  width: 47%;
}

.compare-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-row-gap: 10px;
  grid-column-gap: 6%;

  .grid-item {
    height: 100%;

    & > div {
      height: 100%;

      background: #fff !important;
      cursor: default !important;

      :not(.vlc-document-list__item a) {
        cursor: default;
      }
    }
  }

  padding-bottom: 10px;
}
