.vl-editor {
  min-height: 160px;

  .toolbar {
    .col--4-12 {
      display: none;
    } 
  }

  .editor-commands {
    display: none;
  }
  .editor-loading-events {
    display: none;
  }
  .editor-hints {
    display: none;
  }
}

.container-flex--contain {
  &.editor-container {
    border: 0.1rem solid $ghost;
    border-top: none;
  }

  .toolbar {
    border: 0.1rem solid $ghost;
    background: $page-bg;
  }

  .col--8-12 {
    max-width: 100%;
    margin-top: 0;
    min-width: 100%;

    .editor {
      box-shadow: none;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;

      .editor__paper {
        margin: 0;
        padding: 1rem;
        max-width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 100%;
        height: unset;
        min-height: 160px;

        ul {
          li {
            margin-left: 1em;
            list-style-type: circle;
          }
        }

        ol {
          list-style: none;
          list-style-position: inside;
          counter-reset: my-awesome-counter;
        }

        ol ol > li {
          display: block;
          margin-left: 20px;
        }

        ol ol > li:before {
          content: counters(my-awesome-counter, ".") ". ";
        }

        ol ol > li {
          list-style-position: inside;
        }
        ol li {
          counter-increment: my-awesome-counter;
        }
        ol li::before {
          content: counter(my-awesome-counter) ". ";
          font-weight: bold;
        }

        em {
          font-style: italic;
        }
      }
    }
  }
} 
