.mandatee-selector-container,
.domains-selector-container,
.people-selector-container {
  width: 100%;
}

.ember-attacher-tooltip {
  font-size: 1.3rem;
}

.ember-attacher-popper {
  background-color: $page-bg;
  width: 23rem;
  min-width: 23rem;
  max-width: 90vw;
  z-index: 11000;

  &.ember-attacher-tooltip {
    background-color: $tooltip-dark-color;
    min-width: unset;
    width: unset;

    & > div[x-arrow] {
      background-color: $tooltip-dark-color;
      border-color: $tooltip-dark-color;
    }
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    right: 12px;
    top: -10px;
    border-top-width: 0;
  }

  &[x-placement='top-end'] {
    &::before {
      @include arrow-bottom;
    }

    &::after {
      bottom: -0.7rem;
    }
  }
}

.ember-attacher {
  top: 4px !important;
}

.ember-attacher-popper-small {
  padding: 1em;
  &::before {
    display: none;
  }
}

.ember-attacher-popper-wide {
  width: 400px;
  display: block;
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::before {
    display: none;
  }
  background-color: $porcelain;

  ul {
    li {
      margin-left: 1em;
      list-style-type: circle;
    }
  }

  ol {
    list-style: none;
    list-style-position: inside;
    counter-reset: my-awesome-counter;
  }

  ol ol > li {
    display: block;
    margin-left: 20px;
  }

  ol ol > li:before {
    content: counters(my-awesome-counter, '.') '. ';
  }

  ol ol > li {
    list-style-position: inside;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) '. ';
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .ember-attacher-popper-info {
    padding: 0;
  }
}
