@font-face {
  font-family: 'Flanders Art Serif';
  src: url('/fonts/FlandersArtSerif-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/FlandersArtSerif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/flandersartserif-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/FlandersArtSerif-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/FlandersArtSerif-Regular.svg#2b9d61f061270f4cf79a9fe41ecbe34f') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

.auk-content {
  &--definite {
    font-family: 'Flanders Art Serif' !important;

    h4 {
      font-family: 'Flanders Art Serif' !important;
      margin: 0 !important;
    }
  }
}

p {
  word-break: break-word;
  white-space: normal;
   &::first-letter {
    text-transform: uppercase;
  }
}
