.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  progress {
    width: 100%;
  }
}

.vl-upload__element {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 300px;
  margin: 0 auto;

  .vl-upload__element__button__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
  }

  .vl-upload__element__label {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    justify-content: center;
    text-decoration: none;

    em {
      display: block;
    }

    a {
      text-decoration: none;
      font-size: 1.2rem;
      color: #333332;
      text-decoration: none;
      text-align: center;
      height:100%;
      width:100%;
    }
  }
}

.vl-uploaded-document {
  padding: 2rem;

  .metadata-container {
    margin-left: 4rem;
  }

  &__title-container {
    margin-left: 1rem;
    margin-bottom: 1rem;
    .title {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    display: flex;
  }
}
