.au-c-panel-grid {
  @include mq(medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    > * {
      width: calc(33% - 2rem);
      margin-top: 0 !important;
    }
  }
}