.c-icons-overview {

  h1 {
    display: none;
  }
  
  .preview {
    width: 10rem;
    display: inline-block;
    margin: 1rem;
  }

  .preview .inner {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .preview .inner i {
    line-height: 8.5rem;
    font-size: 3.2rem;
    color: #333;
  }

  .label {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Monaco, monospace;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0 0 0.3rem 0.3rem;
    text-align: center;
    color: #666;
  }

}
