@import './power-select';

// original css selectors are left here as a reference
// TODO: replace use of ember power select classes by auk-classes
//    when available
.emberTagInput {
  @extend .ember-power-select-trigger;
  @extend .ember-power-select-multiple-options;

  // remove caret down
  background-image: none;
  // consistent with text input field
  padding-left: 0.7rem;
  padding-right: 0.7rem;

  // readonly state not implemented
  .emberTagInput--readOnly { }
  li { }
  emberTagInput-tag,
  emberTagInput-input { }

  .emberTagInput-tag {
    @extend .ember-power-select-multiple-option;

    // ember-tag-input orders pills and remove button in correct order
    // ember-power-select puts pills in reverse order: row-reverse)
    flex-direction: row;
  }

  li.emberTagInput-tag--remove {
    opacity: 0.75;
  }

  .emberTagInput-remove {
    @extend .ember-power-select-multiple-remove-btn;
    // remove <a />-tag decoration
    text-decoration: none;
  }

  .emberTagInput-remove:before {
    content: '×';
  }

  .emberTagInput-new {
    display: flex;
  }

  input.emberTagInput-input {
    @extend .ember-power-select-trigger-multiple-input;
    // fix for ember-power-select not having a own container,
    //    but having the input inside a <li />
    width: 100%;
  }

  input.emberTagInput-input:focus {}
  // disabled state not implemented
  input.emberTagInput-input.is-disabled {}
}
