@import 'auk-filter-pill';
@import 'auk-icon';

.emberTagInput {
  @extend .auk-input;
  @extend .auk-filter-pill-list;

  width: 100%;

  // .emberTagInput--readOnly {}

  li.emberTagInput-tag {
    @extend .auk-filter-pill;
  }

  li.emberTagInput-tag--remove {
    opacity: 0.75;
  }

  .emberTagInput-remove {
    @extend .auk-icon;
    @extend .auk-icon--close;
    // remove <a />-tag styling
    text-decoration: none;
    color: inherit;
  }

  // substitute <i class="ki-close" />
  .emberTagInput-remove::after {
    // copied from:
    // @kanselarij-vlaanderen/au-kaleidos-icons/iconfont/icons
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // ki-close icon
    content: "\f115";
  }

  .emberTagInput-new {
    display: inline-flex;
  }

  input.emberTagInput-input {
    border: none;
    padding: 0;

    font-family: flanders-sans, sans-serif;
    font-size: 1.5rem;
    color: $auk-gray-800;
  }

  input.emberTagInput-input:focus {
    outline: none;
  }

  input.emberTagInput-input.is-disabled { }
}
