.utils--loadable-content {
  height: 100%;
  display: grid;

  &> .content {
    grid-area: 1/1/1/1;

    &.is-loading {
      visibility: hidden;
    }
  }

  &> .auk-loader-wrapper {
    grid-area: 1/1/1/1;
  }
}
