.vlc-panel-layout__agenda-items-oc {
  min-width: 500px;
}

.vlc-agenda-items__sub-item--oc {
  .vlc-agenda-items__subject {
    margin-left: 1.5rem;

    .oc-agendaitem-priority {
      position: absolute;
      left: 1.5rem;
      font-weight: 500;
    }
  }
  .vlc-agenda-items__times-passed.vl-u-text--capitalize {
    margin-left: 1.5rem;
  }
}
