.ember-basic-dropdown-content--left.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioned-in {
  display: block;
  top: 100%;
  width: 100%;
  transform: translateY(-1px);
  border: 1px $ghost solid;
  border-radius: 0;
  background-color: $white;
}

.ember-power-select-trigger,
.ember-basic-dropdown-trigger {
  height: unset !important;
}

.ember-power-select-selected-item {
  display: inline-block;
}

.ember-power-select-option {
  border-top: 1px solid $ghost;
  display: block;
  position: relative;
  width: 100%;
  padding: 0.7rem 0 0.5rem 1rem;
  color: $black;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    position: relative;
    background-color: $athens-gray;
    color: $action-text-color;
  }
}

.ember-basic-dropdown-trigger {
  max-height: 10rem;
}

.ember-power-select-search-input {
  width: 100%;
  display: inline-block;
  background: $page-bg;
  font-family: $base-font;
  font-size: $form-font-size;
  color: $text-color;
  max-width: 100%;
  height: unset !important;
  line-height: $form-input-height;
  border-radius: 0;
  border: 0.1rem solid $border-color;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  padding: 0 1rem;

  &:hover {
    box-shadow: none;
  }

  &:focus,
  &--focus {
    outline: none;
    border-color: $outline-color;
    box-shadow: inset 0 0 0 0.1rem $outline-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &::-webkit-search-cancel-button {
    // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  }

  // Input field block modifier
  &--block {
    display: block;
    width: 100%;
  }

  // Input field small modifier
  &--small {
    max-width: 6rem;
    padding: 0 0.8rem;
  }
  line-height: 3.5rem !important;
}

.ember-power-select-multiple-option {
  background: $porcelain;
  font-weight: 400;
  color: $text-color;
  padding: 0 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
  border-radius: 0;

  .ember-power-select-multiple-remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.4em;
    font-size: 2rem;
    border: none;
    color: $gray-light;
  }
}

.ember-power-select-trigger,
.ember-basic-dropdown-trigger {
  background-color: $page-bg;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath d='M0.42,9.77a3.27,3.27,0,0,1,.91-2.21,3.12,3.12,0,0,1,4.41,0L16,17.82,26.25,7.56A3.12,3.12,0,0,1,30.67,12L18.2,24.44a3.12,3.12,0,0,1-4.41,0L1.33,12A3.17,3.17,0,0,1,.42,9.77'/%3e%3ctext y='90'%3e' %26apos; %23 %25 %26amp; %c2%bf %f0%9f%94%a3%3c/text%3e%3c/svg%3e"); // sass-lint:disable-line max-line-length
  background-repeat: no-repeat;
  background-size: 11px 11px; //should be in px rem doesn't work in ie 11
  background-position: calc(100% - 1.5rem) 50%;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes, this one is needed
  appearance: none;
  position: relative;
  padding: 0 6rem 0 1.5rem;
  max-width: 100%;
  height: $form-input-height;
  line-height: $form-input-height;
  border: 1px solid $border-color;
  border-radius: 0;
  text-decoration: none;
  color: $text-color;
  font-family: $base-font;
  font-size: $form-font-size;
  display: block;
  //width: 100%;
  min-height: 3.5rem;

  &::-ms-expand {
    display: none;
  }

  &[disabled] {
    color: $disabled-color;
    border-color: $disabled-color;
    background-color: $disabled-bg-color;
  }

  &:focus,
  &--focus {
    outline: none;
    border-color: $outline-color;
    box-shadow: inset 0 0 0 0.1rem $outline-color;
  }

  &[multiple] {
    height: auto;
  }
}

.ember-power-select-clear-btn {
  margin-right:0.2em;
  line-height: 1.2em;
  font-size:2.6rem;
}

.ember-power-select-status-icon {
  display: none;
}

/* Custom overrides
	 ========================================================================== */

.ember-power-select-trigger {
  width: 100%;
}

// Kaleidos specific css class name
.ember-power-select--block-item .ember-power-select-selected-item {
  display: block;
}
