.vl-uploaded-document {
  padding: 2rem;

  .metadata-container {
    margin-left: 4.5rem;
  }

  &__title-container {
    margin-left: 1rem;
    margin-bottom: 1rem;
    .title {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    display: flex;
  }
}
