{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Layout grid">
  <p>12 columns based grid for easily layouting forms and other components. This uses flexbox internally.</p>
</ComponentPageIntro>

<StyleguideSample>
  <div class="br-styleguide-grid-documentation">
    <div class="auk-o-grid">
      <div class="auk-o-grid-col-24">24</div>
      <div class="auk-o-grid-col-12 auk-o-grid-col-sm-24">12</div>
      <div class="auk-o-grid-col-12 auk-o-grid-col-sm-24">12</div>
      <div class="auk-o-grid-col-6">6</div>
      <div class="auk-o-grid-col-6">6</div>
      <div class="auk-o-grid-col-6">6</div>
      <div class="auk-o-grid-col-6">6</div>
      <div class="auk-o-grid-col-4">4</div>
      <div class="auk-o-grid-col-4">4</div>
      <div class="auk-o-grid-col-4">4</div>
      <div class="auk-o-grid-col-4">4</div>
      <div class="auk-o-grid-col-4">4</div>
      <div class="auk-o-grid-col-4">4</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-3">3</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-2">2</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-1">1</div>
      <div class="auk-o-grid-col-static">This column will adapt to its content.</div>
      <div class="auk-o-grid-col-flex">This column will fill the remaining space.</div>
    </div>
  </div>
</StyleguideSample>