// Hotfix for pre styles (code styles)
// See https://github.com/mono-company/digikan/issues/24

.auk-content {
  code,
  kdb,
  samp {
    font-family: monospace; // Fix bug. "monospace" is not a font family.
  }

  pre {
    color: #FFF;
    font-family: monospace;
    white-space: pre-wrap;
  }

  pre code {
    color: #FFF;
    background: none;
  }
}

pre {
  white-space: pre-line;
}
