/* ==========================================================================
  Bugfix - Fix flex utils
  related to https://github.com/mono-company/digikan/issues/37
   ========================================================================== */

.vl-u-flex-space-between {
  justify-content: space-between !important;
}

.vl-u-flex-align-baseline {
  align-items: baseline !important;
}

.vl-u-display-flex-align-center {
  align-items: center;
}

.vl-u-flex-justify-center {
  justify-content: center !important;
}

.vl-u-flex-direction-column {
  flex-direction: column !important;
}
