/* ==========================================================================
  Bugfix - Fix flex utils
  related to https://github.com/mono-company/digikan/issues/37
   ========================================================================== */

.vlc-u-flex-space-between {
  justify-content: space-between !important;
}

.vlc-u-flex-align-baseline {
  align-items: baseline !important;
}

.vlc-u-display-flex-align-center {
  align-items: center;
}

.vlc-u-flex-justify-center {
  justify-content: center !important;
}

.vlc-u-flex-justify-flex-end {
  justify-content: flex-end !important;
}

.vlc-u-flex-direction-column {
  flex-direction: column !important;
}

.vlc-u-flex-wrap {
  flex-wrap: wrap;
}

.vlc-u-flex-grow {
  flex-grow: 1;
}

.vlc-u-flex-inline-flex {
  display: inline-flex;
}

.vlc-u-display-flex-align-items-flex-end {
  align-items: flex-end;
}

.vlc-u-flex-justify-space-evenly {
  justify-content: space-evenly;
}
