$say-paper: false;
$say-paper-sidebar: false;
$say-editor-background: white;
$say-toolbar-background: white;
$say-editor-padding: 1rem;
// $say-font: $base-font; // Currently the default editor fonts. https://github.com/lblod/ember-rdfa-editor/blob/039156d2f4d4933551fbc31939bd8893a7d01211/app/styles/ember-rdfa-editor/_s-settings.scss#L26
