<div class="vlc-input-field-block" data-test-metadata-form>
  {{web-components/vl-form-label value=(t "short-title-case")}}
  {{textarea class="vl-textarea vl-textarea--block" rows="2" value=shortTitle}}
</div>
