@use "settings";

/* ==========================================================================
  auk-button-link
   ========================================================================== */

.auk-button-link {
  // Reset default button
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;

  // Reset default link
  text-decoration: none;

  // Build styles
  font-family: flanders-sans,  sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: settings.$color-blue-500;
  display: flex;
  cursor: pointer;

  border-radius: .3rem;

  &:hover,
  &:active {
    color: settings.$color-blue-700;
  }

  &:focus {
    border-color: settings.$color-yellow-500;
    outline: 0.3rem solid settings.$color-yellow-500;
    outline-offset: 0.2rem;
 }
}

.auk-button-link {
  &[disabled],
  &:disabled,
  &.auk-button--disabled {
    color: settings.$color-gray-400;
    text-decoration: none;
    pointer-events: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.auk-button-link--muted {
  color: settings.$color-gray-600;
  &:hover,
  &:active {
    color: settings.$color-gray-800;
  }
}

.auk-button-link--light {
  font-weight: 400;
}

.auk-button-link--small {
  .auk-button__label {
    font-size: 1.3rem;
  }
}

.auk-button-link--block {
  display: flex;
  width: 100%;
}

.auk-button-link--padded-y {
  padding: 0.6rem 0;
}

.auk-button-link--padded {
  padding: 0.6rem;
}

.auk-button-link {
  .au-c-icon + .auk-button__label,
  .auk-button__label + .au-c-icon {
    margin-left: .5rem;
  }
}

.auk-button-link--icon {
  padding: .8rem;
}

.auk-button-link .au-c-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  line-height: 0;
}

.auk-button-link--small .au-c-icon {
  width: 1.5rem;
  height: 1.5rem;
}
