@use "../auk";

/* ==========================================================================
  auk-select
   ========================================================================== */

.auk-select {
  appearance: none;
  border: 0.1rem solid $au-input-border-color;
  border-radius: $au-input-border-radius;
  padding: 0 $au-unit-small 0.1ex;
  height: $au-input-height;
  max-width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5L0 0H9L4.5 5Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-color: var(--au-white);
  background-repeat: no-repeat, repeat;
  background-position: right 1.2rem top 50%, 0 0;

  color: $au-input-color;
  font-family: var(--au-font);
  font-size: $au-input-font-size;
  font-weight: var(--au-regular);

  &:focus {
    outline: var(--au-outline);
    outline-offset: var(--au-outline-offset);
    border-color: $au-input-border-color;
    box-shadow: none;
  }

  &[disabled],
  &:disabled {
    background-color: $au-input-disabled-background-color;
    border-color: $au-input-disabled-border-color;
    color: $au-input-disabled-color;
    cursor: not-allowed;
  }
}

.auk-select--block {
  display: block;
  width: 100%;
}

.auk-select--error {
  border: .1rem solid var(--au-red-500);
}
