/* Framework & external component fixes
   ========================================================================== */

// General

:target {
  scroll-margin-block: $au-unit-small;
}


// Ember data table

.auk-panel .au-c-table-wrapper {
  border: 0;

  tr:last-child {
    border-bottom: 0;
  }
}


// Simplified document-card. Publication reference-documents.

// Note that despite its name, "vlc-procedure-step" is used for displaying
// *document* details. Both the CSS component itself and its name are suboptimal
// in this context, but used since no alternative for a minimal document card
// is currently available.

// Adjust procedure step to fit inside a panel

.auk-panel .vlc-procedure-step {
  &:first-child:before {
    top: -2.2rem;
    height: calc(100% + 4.4rem);
  }

  &:before {
    z-index: 0;
  }
}

.vlc-procedure-step .auk-panel,
.vlc-procedure-step .auk-accordion-panel {
  border: 0;
}

.vlc-procedure-step .auk-accordion__button {
  padding-left: .5rem !important;
}

.vlc-procedure-step .auk-accordion__title {
  padding-left: .5rem;
}


// File uploader

.auk-file-upload input[type="file"] {
  &:hover,
  &:focus,
  &:active {
    &:not([disabled]) ~ .auk-file-upload__content {
      .auk-file-upload__action-button {
        box-shadow: none;

        color: $au-button-secondary-hover-color;
        background-color: transparent;
        border-color: $au-button-secondary-hover-color;
      }
    }
  }
}


// Help text + Errors on forms

.auk-form-help-text {
  .au-c-input + &,
  .au-c-input-wrapper + &,
  .au-c-input-with-clear-action + &,
  .auk-datepicker + &  {
    margin-top: 0.5rem;
  }
}


// Select

.auk-select {
  border: 0.1rem solid $au-input-border-color;
  color: $au-input-color;
  font-size: $au-input-font-size;
  font-weight: var(--au-regular);
  font-family: var(--au-font);
  height: $au-input-height;
  max-width: 100%;
  padding: 0 $au-unit-small 0.1ex;
  border-radius: $au-input-border-radius;

  &[disabled],
  &:disabled {
    background-color: $au-input-disabled-background-color;
    border-color: $au-input-disabled-border-color;
    color: $au-input-disabled-color;
    cursor: not-allowed;
  }

  &:focus {
    outline: var(--au-outline);
    outline-offset: var(--au-outline-offset);
    border-color: $au-input-border-color;
    box-shadow: none;
  }
}


// Hierarchical back tab
// Override the visibility of the back button label within Kaleidos only
.auk-tabs__hierarchical-back .auk-tabs__tab__label {
  display: block;
}

// Tab

.auk-tabs__tab__label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

// Remove left padding
.auk-tabs__hierarchical-back  .auk-tabs__tab__inner {
  padding-left: 0;
}

// Responsive panel layout
.auk-panel-layout--responsive {
  @include mq($until: medium) {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    height: 100% !important;

    .auk-panel-layout__main-content {
      height: 100% !important;
      overflow: hidden !important;
    }
  }
}

.auk-panel-layout__sidebar--responsive {
  @include mq($until: medium) {
    flex: 0 1 auto !important;
    max-width: 100% !important;
    height: initial !important;

    .auk-sidebar {
      position: relative !important;
      display: block !important;
      overflow: initial !important;
      width: 100% !important;
      border-right: none !important;
    }

    .auk-scroll-wrapper__body {
      padding: $au-unit-tiny $au-unit-small !important;
      border-bottom: 1px solid var(--au-gray-300) !important;
      overflow: initial !important;
    }
  }
}

.auk-panel-layout__agenda-items {
  @include mq($until: medium) {
    height: auto !important;
    width: 100% !important;
    border-bottom: 1px solid var(--au-gray-200);

    .auk-sidebar {
      position: initial !important;
      display: block !important;
      overflow: initial !important;
      width: 100% !important;
      border-right: none !important;
    }
  }
}

.auk-panel-layout--documents {
  @include mq($until: medium) {
    flex-direction: column;

    .auk-panel-layout__main-content {
      display: flex;
      flex-direction: column;
      width: 100%;

      .auk-document-view {
        flex: 1 1 auto;
        height: 100%;
      }
    }

    .auk-panel-layout__sidebar {
      height: auto;
    }

    .auk-sidebar {
      width: 100%;
      border-top: .1rem solid var(--au-gray-200);
    }

    .auk-sidebar--right {
      border-left: none;
    }

    .auk-sidebar[data-collapsed="true"] {
      .auk-navbar--bordered-bottom {
        border-bottom: none;
      }
    }

    .auk-sidebar[data-collapsed="false"] {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50rem;
      // max-height: 50dvh;

      box-shadow:
        0 0 12px rgba($au-gray-900, 0.15),
        0 0 2px rgba($au-gray-900, 0.1);
    }
  }

  @include mq(medium) {
    .auk-panel-layout__main-content {
      aspect-ratio: 1/1.4;
    }

    .auk-sidebar[data-collapsed="false"] {
      width: 40rem;
    }
  }

  @include mq(large) {
    .auk-sidebar[data-collapsed="false"] {
      width: 55rem;
    }
  }
}

.auk-panel-layout--agenda {
  @include mq($until: medium) {
    &:has(.auk-agenda-subnav) .auk-panel-layout__agenda-items,
    &:has(.auk-agenda-subnav) .auk-panel-layout__agenda-history {
      display: none;
    }
  }
}

// Improve search categories on mobile
.auk-search-categories {
  @include mq($until: medium) {
    display: flex;
    flex-wrap: wrap;
    gap: $au-unit-tiny
  }
}

// Responsive tables
.auk-table__col--8 {
  @include mq($until: medium) {
    min-width: 20rem;
  }
}

// Sidebar extension
$scroll-sidebar-width: 50rem;

.auk-scroll-wrapper--sidebar {
display: flex;
flex-direction: row;
flex-wrap: nowrap;

.auk-scroll-wrapper__body {
  width: calc(100% - #{$scroll-sidebar-width});
}

.auk-scroll-wrapper__sidebar {
  position: relative;
  height: 100%;
  width: #{$scroll-sidebar-width};
  background-color: $auk-gray-100;
  border-left: .1rem solid $auk-gray-300;
}

.auk-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
}

.auk-sidebar__header {
border-bottom: .2rem solid $auk-gray-300;
padding: .7rem 1.2rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.auk-sidebar__body {
flex-grow: 1;
overflow: auto;
padding: .9rem 1.2rem;
}

.auk-sidebar__footer {
border-top: .1rem solid $auk-gray-300;
min-height: 5rem;
padding: .9rem 1.2rem;
}

// Empty state

.auk-empty-state {
  width: 100%;
}
