/* Framework & external component fixes
   ========================================================================== */

// General

:target {
  scroll-margin-block: $au-unit-small;
}


// Ember data table

.auk-panel .au-c-table-wrapper {
  border: 0;

  tr:last-child {
    border-bottom: 0;
  }
}


// Simplified document-card. Publication reference-documents.

// Note that despite its name, "vlc-procedure-step" is used for displaying
// *document* details. Both the CSS component itself and its name are suboptimal
// in this context, but used since no alternative for a minimal document card
// is currently available.

// Adjust procedure step to fit inside a panel

.auk-panel .vlc-procedure-step {
  &:first-child:before {
    top: -2.2rem;
    height: calc(100% + 4.4rem);
  }

  &:before {
    z-index: 0;
  }
}

.vlc-procedure-step .auk-panel,
.vlc-procedure-step .auk-accordion-panel {
  border: 0;
}

.vlc-procedure-step .auk-accordion__button {
  padding-left: .5rem !important;
}

.vlc-procedure-step .auk-accordion__title {
  padding-left: .5rem;
}


// Help text + Errors on forms

.auk-form-help-text {
  .au-c-input + &,
  .au-c-input-wrapper + &,
  .au-c-input-with-clear-action + &,
  .auk-datepicker + &  {
    margin-top: 0.5rem;
  }
}


// Responsive tables
// TODO: refactor

.auk-table__col--8 {
  @include mq($until: medium) {
    min-width: 20rem;
  }
}
