/* ==========================================================================
   auk-input-group
   ========================================================================== */

// Widths
.auk-input-group--w-xsmall { width: 6rem; }
.auk-input-group--w-small { width: 15rem; }
.auk-input-group--w-medium { width: 30rem; }
.auk-input-group--w-large { width: 40rem; }