.auk-mobile-sidebar__panel {
  @include mq($until:medium) {
    display: none;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100%;
    overflow: hidden;
    z-index: $z-index-dropdown;
    background-color: var(--au-white);
    box-shadow:
      0 0 12px rgba($au-gray-900, 0.15),
      0 0 2px rgba($au-gray-900, 0.1);
    border-radius: var(--au-radius);

    &.is-open {
      display: flex;
    }
  }
}

.auk-mobile-sidebar__content {
  @include mq($until:medium) {
    overflow: auto;
    height: 100%;
  }
}

