.auk-u-cursor-grab {
  cursor: grab !important;
}

.auk-u-cursor-grab:active {
  cursor: grabbing !important;
}

.auk-u-cursor-pointer {
  cursor: pointer !important;
}

.auk-u-cursor-default {
  cursor: default !important;
}
