/* Framework & external component fixes
   ========================================================================== */

.auk-u-flex-grow {
  flex-grow: 1;
}

// Modal

.auk-modal-backdrop > .ember-view {
  height: 100%;
}


// Ember data table

.auk-table--no-scroll {
  .data-table-content {
    overflow: hidden;
  }
}

.auk-table {
  .data-table,
  &.data-table {
    tbody {
      tr:hover {
        background: $auk-gray-100;
      }
    }
  }
}

.auk-table--striped {
  .data-table,
  &.data-table {
    tbody {
      tr:hover {
        td {
          background: $auk-gray-200;
        }
      }
    }
  }

  tbody {
    tr.lt-expanded-row {
      td {
        background: $auk-white;
      }
    }
  }
}

.auk-table--noactions {
  .data-table tbody tr:hover {
    background-color: transparent !important;
  }
}

.auk-panel .au-c-table-wrapper {
  border: 0;

  tr:last-child {
    border-bottom: 0;
  }
}

.data-table__actions--top {
  border-bottom: none;
}

table tr.lt-expanded-row {
  &:hover {
    background-color: $auk-white !important;
  }
}

.auk-table__actions--bottom {
  border-top: 2px solid #cbd2da;
  padding: 0 1rem 0 1rem;
}

// When using au-modal, the ember power select wormhole is behind the modal so we use the $ember-power-select-dropdown-z-index value from ember-appuniversum here to fix this
.ember-power-select-dropdown {
  z-index: 10000;
}


// Sortable

.sortable-item {
  transition: all 0.125s;

  &.is-dragging {
    transition-duration: 0s;
  }

  &.is-dragging,
  &.is-dropping {
    z-index: $z-index-drag;
  }
}


// Simplified document-card. Publication reference-documents.

// Note that despite its name, "vlc-procedure-step" is used for displaying
// *document* details. Both the CSS component itself and its name are suboptimal
// in this context, but used since no alternative for a minimal document card
// is currently available.

// Adjust procedure step to fit inside a panel

.auk-panel .vlc-procedure-step {
  &:first-child:before {
    top: -2.2rem;
    height: calc(100% + 4.4rem);
  }

  &:before {
    z-index: 0;
  }
}

.vlc-procedure-step .auk-panel,
.vlc-procedure-step .auk-accordion-panel {
  border: 0;
}

.vlc-procedure-step .auk-accordion__button {
  padding-left: .5rem !important;
}

.vlc-procedure-step .auk-accordion__title {
  padding-left: .5rem;
}

.vlc-procedure-step--nopadding {
  padding: 0;
}


// File uploader

.auk-file-upload input[type="file"] {
  &:hover,
  &:focus,
  &:active {
    &:not([disabled]) ~ .auk-file-upload__content {
      .auk-file-upload__action-button {
        box-shadow: none;

        color: $au-button-secondary-hover-color;
        background-color: transparent;
        border-color: $au-button-secondary-hover-color;
      }
    }
  }
}


// Temporary overrides for AuButton & AuLink refactor

// List

.auk-list--view {
  .auk-list__item {
    .au-c-button,
    .au-c-link {
      margin-left: auto;
    }
  }
}

// Table

.auk-table--list {
  thead {
    display: none;
  }

  td {
    border-bottom: 0;
  }

  td,
  tr td:first-child,
  tr td:last-child {
    padding: 0 0 $au-unit-small 0;
  }

  .auk-table--clickable-rows {
    tr:focus-within td {
      background-color: transparent;
    }
  }
}

.auk-table-row-disabled {
  opacity: .7 !important;
  cursor: not-allowed;

  &:hover td {
    background-color: transparent !important;
  }
}

// Button

.auk-button {
  &:focus {
    box-shadow: none;

    outline: var(--au-outline);
    outline-offset: var(--au-outline-offset);
  }
}

.auk-button--secondary {
  &:focus {
    box-shadow: inset 0 0 0 0.2rem $auk-blue-500;

    &:hover {
      box-shadow: inset 0 0 0 0.2rem $auk-blue-700;
    }

    &:active {
      box-shadow: inset 0 0 0 0.2rem $auk-blue-800;
    }
  }
}

.auk-button--tertiary {
  &:focus {
    box-shadow: inset 0 0 0 0.1rem $auk-gray-300;

    &:hover {
      box-shadow: inset 0 0 0 0.1rem $auk-blue-500;
    }

    &:active {
      box-shadow: inset 0 0 0 0.1rem $auk-blue-800;
    }
  }
}

.auk-button-link {
  border-radius: $au-button-border-radius;

  &:focus {
    box-shadow: none;

    outline: var(--au-outline);
    outline-offset: var(--au-outline-offset);
  }
}

.auk-button--muted {
  &.au-c-button--naked {
    &,
    &:visited {
      color: $auk-gray-600;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: $auk-gray-800;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus-visible,
    &.is-disabled:active {
      color: $auk-gray-700;
    }

    &.is-loading,
    &.is-loading:hover,
    &.is-loading:focus-visible {
      color: $auk-gray-700;
    }
  }
}

// Input with clear action

.auk-input-with-clear-action {
  display: block;
  position: relative;
  width: 100%;

  > .au-c-input-wrapper {
    > .au-c-input {
      padding-right: 3.5rem;
    }
  }

  > .au-c-button {
    position: absolute;
    top: .1rem;
    right: .1rem;
    bottom: 0;

    outline-offset: calc(var(--au-outline-offset) * -1);
  }
}

// Help text + Errors on forms

.auk-form-help-text {
  .au-c-input + &,
  .au-c-input-wrapper + &,
  .auk-input-with-clear-action + &,
  .auk-datepicker + &  {
    margin-top: 0.5rem;
  }
}

// Alignment helpers

.auk-u-text-vertical-align-middle {
  vertical-align: middle;
}

// Result cards
// Workaround until we adapt mu-search to send more specific tags for highlights
.result-card em {
  font-style: inherit;
  background: #E4EBF5;
}

// Bigger font
// workaround for search legend sign example
.auk-u-text-size--xlarge {
  font-size: 2.5rem !important;
}

// Bigger container
// workaround for search legend popover having a max-width of 45rem
.auk-u-max-width-xxlarge {
  max-width: 65rem;
}

// Workaround for popover exiting view window on small display for search legend
@media screen and (max-width: 780px) {
  .auk-u-max-width-xxlarge.ember-popover {
    transform: translate3d(10px, 64px, 0px) !important;
  }
}

// Text ellipsis helper
.auk-u-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Loadable content
.auk-loadable-content__content {
  min-width: 0;
}

.auk-u-text-uncapitalize {
  &::first-letter {
    text-transform: lowercase !important;
  }
}

// Select

.auk-select {
  border: 0.1rem solid $au-input-border-color;
  color: $au-input-color;
  font-size: $au-input-font-size;
  font-weight: var(--au-regular);
  font-family: var(--au-font);
  height: $au-input-height;
  max-width: 100%;
  padding: 0 $au-unit-small 0.1ex;
  border-radius: $au-input-border-radius;

  &[disabled],
  &:disabled {
    background-color: $au-input-disabled-background-color;
    border-color: $au-input-disabled-border-color;
    color: $au-input-disabled-color;
    cursor: not-allowed;
  }

  &:focus {
    outline: var(--au-outline);
    outline-offset: var(--au-outline-offset);
    border-color: $au-input-border-color;
    box-shadow: none;
  }
}

// System alert

.auk-system-alert {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  margin-bottom: 0;
}
