@use "settings";

/* ==========================================================================
  Utilities: dimensions
  ========================================================================== */

.auk-u-maximize-width {
  width: 100% !important;
}

.auk-u-minimize-width {
  width: 0 !important;
}

.auk-u-width-3\/4 {
  width: 25% !important;
}

.auk-u-width-1\/2 {
  width: 50% !important;
}

.auk-u-width-3\/4 {
  width: 75% !important;
}

@each $dimension, $value in settings.$global-dimensions {
  .auk-u-width-#{$dimension} {
    width: $value !important;
  }

  .auk-u-min-width-#{$dimension} {
    min-width: $value !important;
  }

  .auk-u-max-width-#{$dimension} {
    max-width: $value !important;
  }
}

.auk-u-maximize-height {
  height: 100% !important;
}

.auk-u-height-3\/4 {
  height: 25% !important;
}

.auk-u-height-1\/2 {
  height: 50% !important;
}

.auk-u-height-3\/4 {
  height: 75% !important;
}

@each $dimension, $value in settings.$global-dimensions {
  .auk-u-height-#{$dimension} {
    height: $value !important;
  }

  .auk-u-min-height-#{$dimension} {
    min-height: $value !important;
  }

  .auk-u-max-height-#{$dimension} {
    max-height: $value !important;
  }
}