/* ==========================================================================
   auk-form-help-text
   ========================================================================== */

.auk-form-help-text {
  color: var(--au-gray-600);
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  .au-c-icon {
    margin-right: 0.5rem;
  }
}

.auk-form-help-text--danger {
  color: var(--au-red-700);

  .au-c-icon {
    color: var(--au-red-500);
  }
}

.auk-form-help-text--success {
  color: var(--au-green-700);

  .au-c-icon {
    color: var(--au-green-500);
  }
}

.auk-form-help-text--warning {
  color: var(--au-yellow-600);

  .au-c-icon {
    color: var(--au-yellow-400);
  }
}

.auk-form-help-text + .auk-form-help-text {
  margin-top: 0.5rem;
}
