/* ==========================================================================
   auk-skeleton
   ========================================================================== */

.auk-skeleton {
  position: relative;
  display: inline-block;
  background-color: var(--au-gray-300);
}

.auk-skeleton--rectangle {
  height: 1.6rem;
  width: 100px;
}
