{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">Documents</h1>

<Styleguide::KitchensinkSample
  @title="Document"
  @snippet="document.hbs"
>
  {{!-- BEGIN-SNIPPET document --}}
  <Documents::DocumentCard
    @piece={{this.model}}
  />
  {{!-- END-SNIPPET --}}
</Styleguide::KitchensinkSample>