{{! template-lint-disable no-bare-strings }}

<h1 class="vlc-kitchensink-header">{{t "style-guide-inputs"}}</h1>

<h3 class="vlc-kitchensink-sample-header">Message</h3>
<div class="vlc-kitchensink-sample">
  <WebComponents::VlFormMessage @message="message example"/>
</div>

<h3 class="vlc-kitchensink-sample-header">Label</h3>
<div class="vlc-kitchensink-sample">
  <WebComponents::VlFormLabel @value="label example"/>
</div>

<h3 class="vlc-kitchensink-sample-header">Input</h3>
<div class="vlc-kitchensink-sample">
  <WebComponents::VlFormInput/>
</div>


<h3 class="vlc-kitchensink-sample-header">Checkbox</h3>
<div class="vlc-kitchensink-sample">
  <WebComponents::VlCheckbox @label="label"/>
</div>


<h3 class="vlc-kitchensink-sample-header">Toggle</h3>
<div class="vlc-kitchensink-sample">
  <WebComponents::VlToggle />
</div>

<h3 class="vlc-kitchensink-sample-header">Datepicker</h3>
<div class="vlc-kitchensink-sample">
  <WebComponents::VlDatepicker/>
</div>