<div class="session-header">
  <div class="session-title-container">
    <strong class="sessions-title">
      Agenda van
    </strong>
  </div>
  {{#power-select
    options=sessions
    placeholder="2019-01-21"
    selected=currentSession
    searchField="plannedstart"
    search=(perform searchTask)
    oninput=(action "resetValue")
    onchange=(action "chooseSession") as |session|
  }}
    {{#if session.plannedstart}}
      {{moment-format session.plannedstart "dddd DD-MM-YYYY"}}
    {{/if}}
  {{/power-select}}
  <button {{action "createNewSession"}}>
    Nieuwe zitting
  </button>
</div>
<div class="lol">
  {{#if selectedAgenda}}
    <p class="sessions-subtitle">
      {{await selectedAgenda.agendaitems.length}} agendapunten 
    </p>
  {{/if}}
</div>