<button
        class="vl-button vl-button--link vl-button--icon"
  {{action "deleteAccount" bubbles=false}}
>
    <i class="vl-vi vl-vi-trash" aria-hidden="true"></i>
    <span class="vl-u-visually-hidden">
      {{t "delete"}}
    </span>
</button>