// Agenda
$vl-picton-blue: #16465B;
$vl-orange-130: #9F5804;
$vl-orange-100: #FFA10A;
$vl-orange-10: #FFF9E8;
$vl-gray-70: #687483;
$vl-gray-50: #8695A8;
$vl-green-130: #007A37;
$vl-green-100: #009E47;
$vl-green-10: #ECF6EE;



.auk-table--agenda {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  tr {
    position: relative;
  }

  table {
    border-collapse: separate;
  }

  thead th {
    z-index: 1;
  }

  thead th:last-child,
  tbody td:last-child {
    width: 57px !important;
    min-width: 57px !important;
    max-width: 57px !important;
  }

  thead th:first-child,
  tbody td:first-child {
    padding-left: 2rem;
  }

  .data-table__actions--top {
    display: none;
  }

  .vlc-pagination__container {
    align-items: center;
  }
}

// Section header overrides
.vlc-list-section-header {
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  align-items: center;
}

// Fix left_side {
.left_side {
  width: 100%;
}

// Fix small button
.auk-u-text-small > .auk-button__content > .auk-button__label {
  font-size: 1.5rem;
}

// Agenda detail side nav
.vlc-agenda-detail-sidebar-sub-item__numbering {
  min-width: 2.5rem;
  text-align: left;
  font-weight: 500;
  padding-top: .2rem;
}

a.vlc-agenda-detail-sidebar__sub-item--active {
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.4rem;
    background-color: #0055CC;
    height: 100%;
  }
}

.vlc-agenda-detail-sidebar__sub-item > a,
.vlc-agenda-detail-sidebar__sub-item > span { // a
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

.vlc-agenda-detail-sidebar__subject {
  color: #0055CC;
  text-decoration: underline;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: .2rem;
  padding-bottom: .3rem;

  a.vlc-agenda-detail-sidebar__sub-item--active &,
  a:hover &,
  a:focus & {
    text-decoration: none;
  }

  a.vlc-agenda-detail-sidebar__sub-item--active & {
    color: #2A2D31;
  }
}

.vlc-agenda-detail-sidebar-item__icon {
  margin-top: .2rem;
}

.vlc-agenda-items__status {
  color: $vl-picton-blue !important;
}

.vlc-agenda-items__status--positive {
  color: #238000 !important;
}

.vlc-agenda-detail-sidebar__formally-ok-label {
  padding-top: 0;
}

.vlc-agenda-items__status.formally-ok-icon:before {
  margin-right: 0;
  padding: 0;
}

.ki-circle-question.formally-ok-icon:before {
  color: #16465B;
}

// Document card
.vlc-document-card__content .auk-h4 {
  margin: 0;
  color: #0055CC;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #004099;
  }
}

.vlc-document-card {
  padding: 0;
}

.vlc-document-card__summary {
  padding: 1.8rem;
}

.vlc-document-card-versions {
  border-top: .1rem solid #CCD1D9;
  margin-top: 0;
}

.vlc-document-card-versions .auk-accordion__item .auk-accordion__content {
  margin: 0;
}

.auk-model-selector {
  width: 100%;

  .ember-power-select-trigger.ember-basic-dropdown-trigger {
    background-position: calc(100% - 1rem) 50%;
    width: 100%;
  }

  .ember-power-select-clear-btn {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #E6E8EB;
    color: #545961;
    height: 2rem;
    width: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding-bottom: .5rem;
  }
}

// Pills
.auk-pill {
  white-space: nowrap;
  font-weight: 500 !important;
  text-decoration: none;
}

.auk-pill--future {
  border: .1rem dashed $vl-gray-50;
  color: $vl-gray-70;
}

.auk-pill--active {
  border: .1rem solid $vl-picton-blue;
  color: $vl-picton-blue;
}

.auk-pill--action {
  border: .1rem solid #D4E3F7;
  color: #0055CC;
  margin-left: .3rem;

  &:hover,
  &:focus {
    color: #004099;
    background-color: #D4E3F7;
  }
}

.auk-pill--active-future {
  border: .1rem dashed $vl-picton-blue;
  color: $vl-picton-blue;
  border-radius: .2rem;
}

.auk-pill--warning {
  border: .1rem solid $vl-orange-100;
  color: $vl-orange-130 !important;
  background-color: $vl-orange-10;

  .auk-icon {
    color: $vl-orange-130;
  }
}

.auk-pill--success {
  border: .1rem solid $vl-green-100;
  color: $vl-green-130 !important;
  background-color: $vl-green-10;

  .auk-icon {
    color: $vl-green-130;
  }
}

.auk-pill--warning-future {
  border: .1rem dashed $vl-orange-100;
  color: $vl-orange-130 !important;
  border-radius: .2rem;

  .auk-icon {
    color: $vl-orange-130 !important;
  }
}

.auk-pill--invisible {
  height: 24px;
  width: 1px;
  display: block;
}

// Sidebar nav
.auk-sidebar.auk-sidebar--gray-200.auk-sidebar--small.auk-sidebar--left[data-collapsed="true"] {
  .auk-sidebar__item a {
    padding: 1rem 1rem 1rem 1.35rem;
  }
}

// Document card
.vlc-document-card--header {
  border-bottom: 0;
}

// Tiny button
.auk-button--tiny {
  padding: .25rem !important;
  margin-left: .3rem;
}
