.au-c-panel-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 95%;
  z-index: 9;
  box-shadow: $auk-shadow-small;

  &::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.1);
  }

  > .auk-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
  }

  > .auk-panel > .auk-panel__body {
    flex-grow: 1;
    overflow: auto;
  }
}

.auk-table td.auk-table-drag-col {
  width: 2rem;
  padding: 1.75rem 1rem 1.2rem;
}

.auk-table--sortable {
  position: relative;
}

.c-document-panel > .ember-view {
  counter-reset: documents;

  .vlc-document-card [data-test-document-card-number]::after {
    display: inline;
    counter-increment: documents;
    content: counter(documents);
    margin-left: -.5rem;
  }
}
