// Agenda
$vl-picton-blue: #16465B;
$vl-orange-130: #9F5804;
$vl-orange-100: #FFA10A;
$vl-orange-10: #FFF9E8;
$vl-gray-70: #687483;
$vl-gray-50: #8695A8;
$vl-green-130: #007A37;
$vl-green-100: #009E47;
$vl-green-10: #ECF6EE;


// Section header overrides
.vlc-list-section-header {
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  align-items: center;
}

// Fix left_side {
.left_side {
  width: 100%;
}

// Fix small button
.auk-u-text-small > .auk-button__content > .auk-button__label {
  font-size: 1.5rem;
  margin-left: .3rem;
}

.auk-u-text-small > .auk-button__content > .auk-icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

// Agenda detail side nav
.vlc-agenda-detail-sidebar-sub-item__numbering {
  min-width: 2.5rem;
  text-align: left;
  font-weight: 500;
  padding-top: .2rem;
}

a.vlc-agenda-detail-sidebar__sub-item--active {
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.4rem;
    background-color: #0055CC;
    height: 100%;
  }
}

.vlc-agenda-detail-sidebar__sub-item > a,
.vlc-agenda-detail-sidebar__sub-item > span { // a
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

.vlc-agenda-detail-sidebar__subject {
  color: #0055CC;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: .2rem;
  padding-bottom: .3rem;

  a.vlc-agenda-detail-sidebar__sub-item--active &,
  a:hover &,
  a:focus & {
    text-decoration: none;
    color: #004099;
  }

  a.vlc-agenda-detail-sidebar__sub-item--active & {
    color: #2A2D31;
  }
}

.vlc-agenda-detail-sidebar-item__icon {
  margin-top: .2rem;
}

.vlc-agenda-items__status {
  color: $vl-picton-blue !important;
}

.vlc-agenda-items__status--positive {
  color: #238000 !important;
}

.vlc-agenda-detail-sidebar__formally-ok-label {
  padding-top: 0;
}

.vlc-agenda-items__status.formally-ok-icon:before {
  margin-right: 0;
  padding: 0;
}

.ki-circle-question.formally-ok-icon:before {
  color: #16465B;
}

.auk-model-selector {
  width: 100%;

  .ember-power-select-trigger.ember-basic-dropdown-trigger {
    background-position: calc(100% - 1rem) 50%;
    width: 100%;
  }

  .ember-power-select-clear-btn {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #E6E8EB;
    color: #545961;
    height: 2rem;
    width: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding-bottom: .5rem;
  }
}

// Pills
.auk-pill {
  white-space: nowrap;
  font-weight: 500 !important;
  text-decoration: none;
}

.auk-pill--future {
  border: .1rem dashed $vl-gray-50;
  color: $vl-gray-70;
}

.auk-pill--active {
  border: .1rem solid $vl-picton-blue !important;
  color: $vl-picton-blue !important;
}

.auk-pill--blank {
  color: #69717C;
}

.auk-pill--action {
  border: .1rem solid #D4E3F7;
  color: #0055CC;
  margin-left: .3rem;

  &:hover,
  &:focus {
    color: #004099;
    background-color: #D4E3F7;
  }
}

.auk-pill--active-future {
  border: .1rem dashed $vl-picton-blue !important;
  color: $vl-picton-blue !important;
  border-radius: .2rem;
}

.auk-pill--warning {
  border: .1rem solid $vl-orange-100;
  color: $vl-orange-130 !important;
  background-color: $vl-orange-10;

  .auk-icon {
    color: $vl-orange-130;
  }
}

.auk-pill--success {
  border: .1rem solid $vl-green-100;
  color: $vl-green-130 !important;
  background-color: $vl-green-10;

  .auk-icon {
    color: $vl-green-130;
  }
}

.auk-pill--success-future {
  border: .1rem dashed $vl-green-100;
  color: $vl-green-130 !important;
  border-radius: .2rem;

  .auk-icon {
    color: $vl-green-130 !important;
  }
}

.auk-pill--warning-future {
  border: .1rem dashed $vl-orange-100;
  color: $vl-orange-130 !important;
  border-radius: .2rem;

  .auk-icon {
    color: $vl-orange-130 !important;
  }
}

.auk-pill--invisible {
  height: 24px;
  width: 1px;
  display: block;
}

// Sidebar nav
.auk-sidebar.auk-sidebar--gray-200.auk-sidebar--small.auk-sidebar--left[data-collapsed="true"] {
  .auk-sidebar__item a {
    padding: 1rem 1rem 1rem 1.35rem;
  }
}

// Agenda items
.vlc-agenda-items__subject {
  font-size: 1.5rem;

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    background: transparent;
  }
}

// Document card
.vlc-document-card--header {
  border-bottom: 0;
}

.vlc-document-card-item {
  margin-left: 2.4rem;
}

.vlc-document-card-item__icon {
  color: #545961;
  left: -2.4rem;
  top: 0;
}

.vlc-document-holder {
  & + & {
    margin-top: 1rem;
  }
}

.vlc-document-card-item__title {
  display: flex;
  justify-content: space-between;
}

.vlc-document-card-item__title-link {
  color: #69717C;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #545961;
  }
}

// Document list
.vlc-document-list__item > span > a {
  > span:not([class]),
  > .auk-icon {
    color: #545961;
  }

  > span:not([class]) {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    background: none;
    border-radius: 0;

    span,
    > .auk-icon {
      color: #69717C;
      text-decoration: none;
    }
  }
}

// Tiny button
.auk-button--tiny {
  padding: .25rem !important;
  margin-left: .3rem;
}

.auk-button--flush {
  padding: 0 !important;

  svg {
    position: relative;
    bottom: .1rem;
    fill: currentColor;
  }
}

// Auto height for panel title
.auk-panel__header {
  height: auto;
  min-height: 5.5rem;
}

.auk-panel {
  .vlc-document-card {
    border: 0;
  }
}

.auk-panel__body--no-pad {
  .auk-u-mb-2 {
    margin-bottom: 0 !important;
  }
}

// Content
.auk-content {
  > *:last-child {
    margin-bottom: 0;
  }
}

// Icons
.auk-u-icon-left {
  .auk-icon {
    vertical-align: baseline;
    margin-right: .15rem;
  }
}

// Accordion
.auk-accordion__item .auk-accordion__title {
  padding-left: .5rem;
}


// Upload
.vl-uploaded-document__title-container {
  width: 100%;
}

.auk-modal__body {
  .vl-uploaded-document {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

// Dirty fix for notification on agenda order
.auk-u-show-last {
  display: none;

  &:last-of-type {
    display: block;
  }
}

.au-c-pill {
  white-space: nowrap;
}

.vlc-agenda-items--spaced .auk-section-header {
  margin-top: 1.5rem;
}

.au-c-pill {
  line-height: var(--au-global-line-height) !important;
  display: inline-flex !important;
  font-weight: var(--au-medium) !important;
  padding: 0.1rem 0.6rem 0 !important;
}

.au-c-pill--small {
  padding: .1rem 0.6rem .13rem !important;
}

.au-c-pill--ongoing {
  color: var(--vl-picton-120) !important;
}

.au-c-pill--warning {
  color: var(--vl-orange-120) !important;
}

.au-c-pill--success {
  color: var(--vl-green-130) !important;
}

.auk-pill-list {
  gap: 1rem;
}
