.au-c-panel-tree {
  .au-c-control-group--grid > * {
    width: calc(50% - 2rem);
  }

  @include mq(medium) {
    .au-c-control-group--grid > * {
      width: calc(20% - 2rem);
    }
  }
}

.au-c-panel-grid {
  @include mq(medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    > * {
      width: calc(33% - 2rem);
      margin-top: 0 !important;
    }
  }
}

.au-c-case-form {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: $au-unit;
}

.au-c-anchor-nav {
  display: flex;
  gap: $au-unit-small;

  > li + li {
    border-left: 1px solid var(--au-gray-300);
    padding-left: $au-unit-small;
  }

  a {
    font-weight: var(--au-medium);
    text-decoration: none;
  }

  a.active {
    color: var(--au-gray-900);
  }
}

:target {
  scroll-margin-block: $au-unit-small;
}

.au-c-alert {
  margin-bottom: 0;
}

.au-c-alert + * {
  margin-bottom: $au-unit;
}

.vlc-status-timeline__text {
  @include au-font-size($au-base);
}