.au-c-panel-tree {
  .au-c-control-group--grid > * {
    width: calc(50% - 2rem);
  }

  @include mq(medium) {
    .au-c-control-group--grid > * {
      width: calc(20% - 2rem);
    }
  }
}

.au-c-panel-grid {
  @include mq(medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    > * {
      width: calc(33% - 2rem);
      margin-top: 0 !important;
    }
  }
}

.au-c-case-form {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: $au-unit;
}

.au-c-anchor-nav {
  display: flex;
  gap: $au-unit-small;

  > li + li {
    border-left: 1px solid var(--au-gray-300);
    padding-left: $au-unit-small;
  }

  a {
    font-weight: var(--au-medium);
    text-decoration: none;
  }

  a.active {
    color: var(--au-gray-900);
  }
}

:target {
  scroll-margin-block: $au-unit-small;
}

.au-c-alert {
  margin-bottom: 0;
}

.au-c-alert + * {
  margin-bottom: $au-unit;
}



.vlc-status-timeline {

}

.vlc-status-timeline__item.vlc-status-timeline__item--neutral {

}

.vlc-status-timeline__item + .vlc-status-timeline__item {
  margin-top: $au-unit-tiny;
  padding-top: $au-unit-tiny;
}

.vlc-status-timeline__item + .vlc-status-timeline__item .vlc-status-timeline__dot {
  position: relative;

  &:after {
    content: '';
    border-left: 2px solid var(--au-gray-300);
    width: 1px;
    height: 2.6rem;
    position: absolute;
    left: calc(50% - 1px);
    bottom: 100%;
  }
}

.vlc-status-timeline__dot {
  border: 2px solid var(--au-gray-300);
  background-color: #fff !important;
  margin-right: $au-unit-tiny * 1.2;
}

.vlc-status-timeline__text {
  @include au-font-size($au-base);
}