// Sticky last column in tables
.auk-table--sticky-ovrb {
  padding-left: 2rem;

  thead th {
    z-index: 1;
  }

  thead th:last-child,
  tbody td:last-child {
    position: sticky;
    background-color: white;
    width: 57px;
    min-width: 57px;
    max-width: 57px;
    right: 0;
    border-left: .1rem solid $auk-gray-100;
  }
}

// Adjust procedure step to fit inside a panel
.auk-panel .vlc-procedure-step {
  &:first-child:before {
    top: -2.2rem;
    height: calc(100% + 4.4rem);
  }

  &:before {
    z-index: 0;
  }
}

.vlc-procedure-step .auk-panel,
.vlc-procedure-step .auk-accordion-panel {
  border: 0;
}

.vlc-procedure-step .auk-panel__header,
.vlc-procedure-step .auk-accordion-panel__header {
  height: 7.5rem;
}

.vlc-procedure-step .auk-accordion__button {
  padding-left: .5rem !important;
}

.vlc-procedure-step .auk-accordion__title {
  padding-left: .5rem;
}

.vlc-procedure-step--nopadding {
  padding: 0;
}

// Fix status pill icon alignment
.auk-status-pill {
  display: inline-flex;
  align-items: baseline;
  max-width: auto;

  .auk-icon {
    position: relative;
    bottom: -.15ex;
  }
}

// Add paused status pill skin
.auk-status-pill--paused {
  background-color: $auk-gray-200;
  border-color: $auk-gray-200;
}

// New status pill skins
.auk-status-pill--step-1,
.auk-status-pill--step-2,
.auk-status-pill--step-3,
.auk-status-pill--step-4,
.auk-status-pill--step-5,
.auk-status-pill--step-6,
.auk-status-pill--step-7 {
  @extend .auk-status-pill--not-started;
}

// Editable status pill
.auk-status-pill--action {
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;

  strong {
    font-weight: 500;
  }

  .auk-icon {
    padding-left: .3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }

  .auk-status-pill__label {
    padding-top: .15rem;
    padding-bottom: .25rem;
    padding-right: .5rem;
  }

  .auk-status-pill__action {
    display: inline-flex;
    align-items: center;
    padding-top: .2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-left: .1rem solid $auk-gray-100;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .auk-status-pill__action .auk-icon {
    font-size: 1.2rem;
    padding: 0;
    margin-right: .3rem;
  }

  &:hover .auk-status-pill__action,
  &:focus .auk-status-pill__action {
    background-color: rgba($auk-gray-100,.9);
  }

  &:focus {
    outline: none;
    border-color: $textarea-alt-outline-color;
  }
}

// Fix custom select styling
.auk-select {
  font-family: inherit;
  background-color: #fff;
}

.auk-select--block {
  width: 100%;
}
