.auk-table--noactions {
  .data-table tbody tr:hover {
    background-color: transparent !important;
  }
}

.auk-panel .au-c-table-wrapper {
  border: 0;

  tr:last-child {
    border-bottom: 0;
  }
}
