<div class="vlc-toolbar vlc-toolbar--bordered-top vlc-toolbar--bordered-bottom">
  <div class="vlc-toolbar__left">
    {{#if showBackButton}}
      {{utils/back-button}}
    {{/if}}
    <div class="vlc-toolbar__item u-padding--left">
      <h4 class="vlc-toolbar__title">{{title}}</h4>
    </div>
  </div>
  <div class="vlc-toolbar__right">
    {{yield}}
  </div>
</div>