{{agenda/printable-agenda/list-section/item-group/item-group-header
  mandatees=items.firstObject.sortedMandatees
}}
<div class="vlc-printable-agenda-list__item-list">
  {{#each items as |agendaitem|}}
    <div value={{agendaitem.priority}}>
      {{agenda/printable-agenda/list-section/item-group/item
        item=agendaitem
      }}
    </div>
  {{/each}}
</div>
