<div class="auk-centered-layout auk-u-mt-4">
  <div class="auk-content auk-centered-layout__inner auk-u-text-align--center">
    <h3 data-test-route-accountless-users-title>{{t "no-rights"}}</h3>
    <p>{{t "no-rights-message"}}</p>
  </div>
</div>
