<div class="auk-u-m-4">
  <Publications::Publication::PublicationActivities::PublicationsInfoPanel
    @publicationFlow={{this.publicationFlow}}
    @publicationSubcase={{this.model}}
    @isFinal={{this.publicationFlow.status.isFinal}}
  />
  {{outlet}}
</div>