<div class="auk-u-m-4">
  <Publications::Publication::Publications::PublicationsInfoPanel
    @publicationSubcase={{this.publicationSubcase}}
    @publicationFlow={{this.model}}
    @onSave={{this.savePublicationInfo}}
  />
</div>
