{{page-title (t "publication")}}

<div class="auk-u-m-4">
  <Publications::Publication::PublicationActivities::PublicationsInfoPanel
    @publicationFlow={{this.publicationFlow}}
    @publicationSubcase={{this.model}}
  />
  {{outlet}}
</div>