<div class="auk-u-m-4">
  <Publications::Publication::PublicationActivities::PublicationsInfoPanel
    @publicationFlow={{this.currentPublicationFlow.publicationFlow}}
    @publicationSubcase={{this.model}}
    @isFinal={{this.currentPublicationFlow.publicationFlow.status.isFinal}}
  />
</div>
