<div class="vlc-toolbar vlc-toolbar--auto">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      <h1 class="vlc-page-header__title auk-u-pb" data-test-newsletter-header-title>
        {{t "newsletter"}}
      </h1>
    </div>
  </div>
</div>
