<div class="auk-toolbar-complex auk-toolbar-complex--auto">
  <div class="auk-toolbar-complex__left">
    <div class="auk-toolbar-complex__item">
      <h1 class="auk-toolbar__title" data-test-newsletter-header-title>
        {{t "newsletter"}}
      </h1>
    </div>
  </div>
</div>
