<div class="vl-u-flex-space-between">
  <button class="vl-button vl-button--link vl-button--icon">
    <i class="vl-button__icon vl-vi vl-vi-pencil"></i>
  </button>
  <button
    class="vl-button vl-button--link vl-button--icon"
    {{action "openDocument" row bubbles=false}}
  >
    <i class="vl-button__icon vl-vi vl-vi-document"></i>
  </button>
  {{#link-to
    "cases.case.subcases.subcase"
    (await row.subcase.case.id)
    (await row.subcase.id)
    target="_blank"
    class="vl-button vl-button--link vl-button--icon"
  }}
    <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
  {{/link-to}}
</div>