<div class="vl-u-flex-space-between">
  <button class="vl-button vl-button--link vl-button--icon">
    <i class="vl-button__icon vl-vi vl-vi-pencil"></i>
  </button>
  <button
    class="vl-button vl-button--link vl-button--icon"
    {{action "navigateToNewsLetter" row bubbles=false}}
  >
    <i class="vl-button__icon vl-vi vl-vi-document"></i>
  </button>
  <button
    class="vl-button vl-button--link vl-button--icon"
    {{action "navigateToNewsLetter" row bubbles=false}}
  >
    <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
  </button>
</div>