<div class="vlc-u-box-model-maximize-height vlc-scroll-wrapper vl-u-no-overflow vl-loader-container--not-supported">
  <p>
    <WebComponents::AuLoader
            @message={{t "please-be-patient"}}
    />
  </p>
</div>
