{{!-- template-lint-disable  --}}
<ComponentPageIntro @title="Alert stack" />

<StyleguideSample
        @title="Default"
        @snippet="alert-stack-default.hbs"
>
  <div class="auk-u-position-relative auk-u-maximize-width auk-u-maximize-height auk-u-min-height-medium">
    {{!-- BEGIN-SNIPPET alert-stack-default --}}
    <Auk::AlertStack>
      <Auk::Alert @isClosable="true" @title="Info" @message="Dit is in een infobericht" />
      <Auk::Alert @skin="success" @isClosable="true" @title="Gelukt!" @message="Item toegevoegd" />
    </Auk::AlertStack>
    {{!-- END-SNIPPET --}}
  </div>
</StyleguideSample>

