<div class="vlc-toolbar vlc-toolbar--auto">
  <div class="vlc-toolbar__left">
    <div class="vlc-toolbar__item">
      {{#link-to
        "cases.case.subcases"
        class="vlc-backlink vl-link vl-link--bold"
      }}
        <i
          class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-left-fat"
        ></i>
        {{t "back"}}
      {{/link-to}}
    </div>
    <div class="vlc-toolbar__item">
      <ul class="vlc-tabs-reverse" role="tablist">
        <li class="vlc-tabs-reverse__item">
          {{#link-to
            "cases.case.subcases.subcase.overview"
            class="border-left vlc-tabs-reverse__link"
						activeClass="vlc-tabs-reverse__link--active"
          }}
            {{t "overview"}}
          {{/link-to}}
        </li>
        <li class="vlc-tabs-reverse__item">
          {{#link-to
            "cases.case.subcases.subcase.documents"
            class="vlc-tabs-reverse__link"
						activeClass="vlc-tabs-reverse__link--active"
          }}
            {{t "documents"}}
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>