// sass-lint:disable force-pseudo-nesting no-important
.vl-region {
  margin: 0 auto;
  padding: 3rem 0 6rem;

  @include respond-to(small) {
    padding: 3rem 0;
  }

  &.vl-region--no-space {
    padding: 0;
  }

  &.vl-region--no-space-bottom {
    padding-bottom: 0;
  }

  &.vl-region--no-space-top {
    padding-top: 0;
  }
}

.vl-region:not(.vl-region--alt) + .vl-region:not(.vl-region--alt) {
  padding-top: 0;
}

// color variants
.vl-region--alt {
  background-color: $alt-region-bg;
}

// two consequent different regions
.vl-region:not(.vl-region--alt) + .vl-region--alt,
.vl-region--alt + .vl-region:not(.vl-region--alt) {
  padding-top: 6rem;

  @include respond-to(small) {
    padding-top: 3rem;
  }
}

.vl-region:first-child {
  padding-top: 6rem;

  @include respond-to(small) {
    padding-top: 2rem;
  }
}

.vl-region--small {
  padding: 1.5rem 0;

  @include respond-to(small) {
    padding: 2rem 0;
  }
}

.vl-region--medium {
  padding: 3rem 0;

  @include respond-to(small) {
    padding: 2rem 0;
  }
}

.vl-region--bordered + .vl-region--bordered {
  border-top: 1px solid $alt-region-bg;

  &.vl-region--alt {
    border-top-color: $white;
  }
}
