/* ==========================================================================
  auk-alert
  ========================================================================== */

.auk-alert {
  padding: 1.6rem;
  margin: 0 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auk-alert {
  .auk-badge {
    flex-shrink: 0;
  }
}

.auk-alert__body {
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.auk-alert__text {
  .auk-alert__title {
    font-weight: 500;
    margin-bottom: .2rem;
  }
  .auk-alert__message {
    margin-bottom: 0;
  }
}

/* Skins
   ========================================================================== */

.auk-alert--default {
  background: $au-gray-100;
  .auk-badge--default {
    background-color: #FFFFFF;
  }
}

.auk-alert--success {
  background: $au-green-100;
}

.auk-alert--error {
  background: $au-red-100;
}

.auk-alert--warning {
  background: $au-yellow-100;
}

.auk-alert--loading {
  background: $au-gray-100;
}
