/* ==========================================================================
  auk-tabs
   ========================================================================== */

.auk-tabs {
  display: flex;
  // overflow: hidden;
  // overflow-x: scroll; disable scrollbar on tabs
}

.auk-tabs--reversed {
  border-top: .1rem solid $au-gray-300;
  margin-top: 1.2rem;
}

.auk-tabs a {
  color: $au-blue-600;
  font-weight: 500;
  height: 4.9rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: .3rem solid transparent;
  white-space: nowrap;
  &:hover {
    background: $au-gray-100;
  }
  &:focus {
    outline: 0;
    border-color: $au-yellow-400;
    box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
  }
}

.auk-tabs__tab-inner {
  border-right: .1rem solid #CCC;
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  top: .15rem;
  .auk-tabs__tab:last-child & {
    border-right: none;
  }
}

.auk-tabs a.active {
  color: $au-gray-900;
  border-bottom: .3rem solid $au-gray-900;
}

.auk-tabs--reversed a {
  border-top: .3rem solid transparent;
  border-bottom: none;
}

.auk-tabs--reversed .auk-tabs__tab-inner {
    bottom: .15rem;
}

.auk-tabs--reversed a.active {
  color: $au-gray-900;
  border-top: .3rem solid $au-gray-900;
  border-bottom: none;
}

.auk-tabs__divider {
  width: .1rem;
  height: 1.8rem;
  background-color: $au-gray-300;
  margin-left: 1rem;
}

.auk-tabs__tab:last-child {
  .auk-tabs__divider {
    display: none;
  }
}

.auk-tabs svg path {
  fill: currentColor;
}

.auk-icon + .auk-tabs__label,
.auk-tabs__label + .auk-icon {
  margin: 0 .6rem;
}

.auk-tabs__hierarchical-back a.active{
  color: $au-blue-600;
  border: none;
}
