/* ==========================================================================
  auk-hr
   ========================================================================== */

.auk-hr {
  margin: 2.4rem 0;
  border-bottom: .1rem solid $au-gray-300;
  hr {
    display: none;
  }
}
