/* ==========================================================================
  auk-panel-layout
   ========================================================================== */

.auk-panel-layout {
  display: flex;
  height: 100%;
  min-height: 0;
}

.auk-panel-layout__main-content {
  flex: 1;
  height: 100%;
  min-width: 0;
}

.auk-panel-layout__sidebar {
  position: relative;
  flex: 0 0 auto;
  height: 100%;
}

/* Agenda items
  ========================================================================== */

.auk-panel-layout__agenda-items {
  width: 32rem;
  height: 100%;

  @media (min-width: 128rem) {
    width: 40rem;
  }
  @media (min-width: 1440px) {
    width: 48rem;
  }
  // If there is a history panel, the agenda panel is 40px smaller
  .auk-panel-layout__agenda-history + & {
    width: 28rem;

    @media (min-width: 1280px) {
      width: 36rem;
    }

    @media (min-width: 1440px) {
      width: 44rem;
    }
  }
}
