/* ==========================================================================
  auk-textarea
   ========================================================================== */

.auk-textarea {
  border: 0.1rem solid $au-gray-300;
  padding: .6rem;
  width: 100%;
  max-width: 100%;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  color: $au-gray-800;
}

.auk-textarea:focus {
  outline: 0;
  border-color: $au-yellow-400;
  box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
}

.auk-textarea--resize-vertical {
  resize: vertical;
}
