/* ==========================================================================
  auk-progress-bar
   ========================================================================== */

.auk-progress-bar {
  width: 100%;
  background-color: $au-gray-300;
}

.auk-progress-bar__progress {
  height: .4rem;
  background-color: $au-blue-600;
  animation: fill 1s linear 1;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
