/* ==========================================================================
  auk-badge
  (Avatar)
  ========================================================================== */

.auk-badge {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

/* Sizes
   ========================================================================== */

.auk-badge--small {
  width: 2rem;
  height: 2rem;
  .auk-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

/* Skins
   ========================================================================== */

.auk-badge--default {
  background: $au-gray-200;
  color: #666;
}

.auk-badge--white {
  background: #FFF;
  color: #666;
}

.auk-badge--success {
  background: $au-green-500;
  color: #FFF;
}

.auk-badge--error {
  background: #DB3434;
  color: #FFF;
}

.auk-badge--warning {
  background: $au-yellow-400;
  color: #000;
}