/* ==========================================================================
  auk-alert-stack
  ---
  Create a global stack for alerts. You can add an element to the stack.
   ========================================================================== */

.auk-alert-stack {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  display: flex;
  flex-direction: column-reverse;

  .auk-alert {
    min-width: 40rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
}
