/* ==========================================================================
  auk-scroll-wrapper
   ========================================================================== */

.auk-scroll-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auk-scroll-wrapper__body {
  overflow: auto;
  flex: 1;
  height: 100%;
}
