/* ==========================================================================
  auk-icon
   ========================================================================== */

.auk-icon {
  display: inline-flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center;

  .ki {
    width: 100%;
    height: 100%;
    line-height: 1;
  }
}

.auk-icon--default {
  font-size: 1.8rem;
}

.auk-icon--light {
  color: #8c8c8c;
}

.auk-icon--large {
  font-size: 2.4rem;
}

.auk-icon--small {
  font-size: 1.2rem;
}

.auk-icon--muted {
  color: $au-gray-600;
}

.auk-icon--warning {
  color: $au-yellow-400;
}

.auk-icon--primary {
  color: $au-blue-600;
}

.auk-icon--success {
  color: $au-green-500;
}

.auk-icon--danger {
  color: $au-red-600;
}