/* ==========================================================================
  auk-toolbar-complex (complex variant)
   ========================================================================== */

.auk-toolbar-complex {
  min-height: 5rem;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
}

.auk-toolbar-complex__title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  display: inline;
  padding-right: 0.6rem;
}

.auk-toolbar-complex__title--long {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  line-height: 1.6;
  color: $au-gray-800;
}

.auk-toolbar-complex__title--small {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  display: inline;
}

.auk-toolbar-complex--auto {
  min-height: auto;
  height: auto;
}

.auk-toolbar-complex__left,
.auk-toolbar-complex__right {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.auk-toolbar-complex__left {
  justify-content: flex-start;
}

.auk-toolbar-complex__left .auk-toolbar-complex__item {
  margin-right: 1rem;
  max-width: 100%;
}

.auk-toolbar-complex__left .auk-toolbar-complex__item:only-child {
  margin: 0;
}

.auk-toolbar-complex__right {
  justify-content: flex-end;
}

.auk-toolbar-complex__right .auk-toolbar-complex__item {
  margin-left: 1rem;
  max-width: 100%;
}

.auk-toolbar-complex__right .auk-toolbar-complex__item:only-child {
  margin: 0;
}
