/* ==========================================================================
  auk-breadcrumb
   ========================================================================== */

.auk-breadcrumb {
  color: $au-gray-600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
