/* ==========================================================================
  auk-button
   ========================================================================== */

/* Mixins
   ========================================================================== */

@mixin button-focus {
  &:focus {
    outline: 0;
    border-color: $au-yellow-400;
    box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
  }
}

/* Component
   ========================================================================== */

.auk-button {
  font-family: flanders-sans, sans-serif;
  font-size: 1.6rem;
  border: none;
  appearance: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 0.75rem 1.2rem;
  background-color: transparent;
  white-space: nowrap;
  @include button-focus;
}

.auk-button__label {
  font-size: 1.6rem;
}

.auk-button {
  .auk-icon + .auk-button__label,
  .auk-button__label + .auk-icon {
    margin-left: 0.6rem;
  }
}

.auk-button--icon {
  padding: 0.75rem 0.85rem;
}

.auk-button--block {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.auk-button--icon img {
  display: block;
}

/* Skins
   ========================================================================== */

.auk-button--primary {
  background: $au-blue-600;
  color: #fff;
  &:hover,
  &:active {
    background: $au-blue-700;
  }
}

.auk-button--secondary {
  box-shadow: inset 0 0 0 0.2rem $au-blue-600;
  color: $au-blue-700;
  background: none;
  transition: box-shadow 0.2s;
  &:hover,
  &:active {
    box-shadow: inset 0 0 0 0.3rem $au-blue-700;
  }
}

.auk-button--tertiary {
  box-shadow: inset 0 0 0 0.1rem $au-gray-300;
  color: $au-blue-700;
  background: none;
  &:hover,
  &:active {
    color: $au-blue-600;
  }
}

.auk-button--borderless {
  color: $au-blue-700;
  background: none;
  &:hover,
  &:active {
    color: $au-blue-600;
  }
}

.auk-button--danger-primary {
  color: #fff;
  background: $au-red-600;
  &:hover,
  &:active {
    background: $au-red-500;
  }
}

.auk-button--danger-hover {
  box-shadow: inset 0 0 0 0.1rem $au-gray-600;
  color: $au-gray-700;
  background: none;
  &:hover,
  &:active {
    color: $au-red-500;
    border-color: $au-red-500;
  }
}

.auk-button--disabled {
  color: $au-gray-500;
  background-color: none;

  &:hover {
    cursor: default;
  }
}

/* Sizes
   ========================================================================== */

.auk-button--size-s {
  font-size: 1.3rem;
}

/* Temporary overrides
   ========================================================================== */

.auk-button--warning-primary {
  color: $au-gray-800;
  background: $au-yellow-400;
  &:hover,
  &:active {
    background: $au-yellow-300;
  }
}
