/* ==========================================================================
  auk-pill
   ========================================================================== */

.auk-pill {
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 0 .6rem;
  border-radius: .6rem;
  height: 2.4rem;
}

.auk-pill .auk-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: .5rem;
}

.auk-pill--icon-only {
  padding: 0 .3rem;
  .auk-icon {
    margin: 0;
  }
}

.auk-pill--icon-right {
  .auk-icon {
    margin-left: .6rem;
    margin-right: 0;
  }
}

.auk-pill--default {
  color: $au-gray-600;
  background: $au-gray-100;
  border: .1rem solid $au-gray-300;
}

.auk-pill--success {
  color: #FFF;
  background: $au-green-700;
}

.auk-pill--danger {
  color: #FFF;
  background: $au-red-600;
}

.auk-pill--warning {
  color: #000;
  background: $au-yellow-400;
}
