/* ==========================================================================
  auk-button-link
   ========================================================================== */

.auk-button-link {
  // Reset default button
  appearance: none;
  border: none;
  background: none;
  padding: 0;

  // Reset default link
  text-decoration: none;

  // Build styles
  font-family: flanders-sans,  sans-serif;
  font-size: 1.6rem;
  color: $au-blue-700;
  display: flex;
  &:hover,
  &:active {
    color: $au-blue-600;
  }
  &:focus {
    outline: 0;
    border-color: $au-yellow-400;
    box-shadow: inset 0 0 0 0.2rem $au-yellow-400;
  }
}

.auk-button-link[disabled] {
  color: $au-gray-400;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.auk-button-link--muted {
  color: $au-gray-600;
  &:hover,
  &:active {
    color: $au-gray-800;
  }
}

.auk-button-link--block {
  display: flex;
  width: 100%;
}

.auk-button-link--padded-y {
  padding: 0.6rem 0;
}

.auk-button-link--padded {
  padding: 0.6rem;
}

.auk-button-link {
  .auk-icon + .auk-button__label,
  .auk-button__label + .auk-icon {
    margin-left: .5rem;
  }
}

.auk-button-link--icon {
  padding: .8rem;
}

.auk-button-link .auk-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  line-height: 0;
}
