/* ==========================================================================
  auk-table
   ========================================================================== */

.auk-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.auk-table td,
.auk-table th {
  vertical-align: middle;
  padding: 1.2rem 1rem;
  border-bottom: 0.1rem solid $au-gray-300;
}

.auk-table tr td:first-child,
.auk-table tr th:first-child {
  padding-left: 1.2rem;
}

.auk-table tr td:last-child,
.auk-table tr th:last-child {
  padding-right: 1.2rem;
}

.auk-table th {
  border-bottom-width: 0.2rem;
  text-align: left;
  font-weight: 500;
  color: $au-gray-600;
}

.auk-table--striped tr:nth-child(odd) td {
  background: $au-gray-100;
}

.auk-table tr:last-child td {
  border-bottom-width: 0;
}

.auk-table__header--actions,
.auk-table__cell--actions {
  width: 3rem;
}

.auk-table__cell--actions > button {
  float: right;
}

.auk-table__row--collapsed-content td {
  background: $au-gray-100;
}

.auk-table {
  // If button toolbar appears in first column
  tr td:first-child .auk-button-toolbar {
    justify-content: flex-start;
  }
  .auk-button-toolbar {
    justify-content: flex-end;
  }
}

.auk-table code {
  background-color: #eee;
  color: #905;
  padding: 0.2rem 0.4rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1.3rem;
}

.auk-table .auk-table--vertical-align-top {
  vertical-align: top;
}

.auk-table--advanced {
  th {
    color: $au-gray-900;
  }

  .auk-table__cell--accent {
    background-color: $au-gray-100;
  }
}

.auk-table tr .auk-table__cell--gray-100 {
  background: $au-gray-100;
}

/* Status cells
  ========================================================================== */

.auk-table tr .auk-table__cell--success {
  background: $au-green-200;
  color: $au-green-700;
  text-align: center;
}

.auk-table tr .auk-table__cell--warning {
  background: $au-yellow-200;
  color: $au-yellow-600;
  text-align: center;
}

/* Table columns
  ========================================================================== */

$tableColCount: 12;
$i: 1;

@while $i < $tableColCount {
  .auk-table__col--#{$i} {
    width: #{$i / $tableColCount * 100%};
  }

  $i: $i + 1;
}
