/* ==========================================================================
  auk-label-error
   ========================================================================== */

  
.auk-label-error {
  color: #DB3434;
  font-family: 'flanders-sans', sans-serif;
  font-size: 1.4rem;
}
