/* ==========================================================================
  auk-input
   ========================================================================== */

.auk-input {
  border: 0.1rem solid $au-gray-300;
  padding: .7rem;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  color: $au-gray-800;
}

.auk-input::placeholder {
  color: $au-gray-500;
}

.auk-input:focus {
  outline: 0;
  border-color: $au-yellow-400;
  box-shadow: inset 0 0 0 0.1rem $au-yellow-400;
}

.auk-input--block {
  display: block;
  width: 100%;
}

.auk-input--error {
  border: .1rem solid $au-red-500;
}

.auk-input-with-icon {
  display: block;
  position: relative;
  width: 100%;

  .auk-input {
    padding-left: 3rem;
  }

  .auk-icon {
    left: 0.8rem;
    opacity: 0.75;
    position: absolute;
    top: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
  }
}

.auk-input--max-width {
  max-width: 30%;
}

// Widths
.auk-input--w-small { width: 15rem; }
.auk-input--w-medium { width: 30rem; }
.auk-input--w-large { width: 40rem; }