/* ==========================================================================
  auk-toolbar (simple variant)
   ========================================================================== */

.auk-toolbar {
  display: flex;
  align-items: center;
}

.auk-toolbar__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

.auk-toolbar__title--long {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  line-height: 1.6;
  color: $au-gray-800;
}

.auk-toolbar__spacer {
  flex: 1 1 auto;
}
