/* ==========================================================================
  auk-key-value
   ========================================================================== */

.auk-key-value-item__label {
  color: $au-gray-700;
  font-weight: 500;
  max-width: 22rem;
  margin-bottom: .5rem;
}

.auk-key-value-item {
  margin-bottom: 1rem;
}

.auk-key-value-item--horizontal {
  display: flex;
  align-items: center;
  height: 3.5rem;

  .auk-key-value-item__label {
    width: 45%;
    margin-bottom: 0;
  }
}
