/* ==========================================================================
    Object: Flex
    ---
    Object to make a container use flexbox
   ========================================================================== */

/* Variables
   ========================================================================== */

$auk-u-flex-gutter-width: 0.8rem !default;

/* Utility classes
     ========================================================================== */

.auk-u-flex {
  display: flex !important;
}

.auk-u-flex--inline {
  display: inline-flex !important;
}

.auk-u-flex--vertical {
  flex-direction: column !important;
}

.auk-u-flex--vertical-center {
  align-items: center !important;
}

.auk-u-flex--horizontal-center {
  justify-content: center !important;
}

.auk-u-flex--center {
  justify-content: center !important;
  align-items: center !important;
}

.auk-u-flex--justify-between {
  justify-content: space-between !important;
}

.auk-u-flex--justify-around {
  justify-content: space-around !important;
}

.auk-u-flex--justify-end {
  justify-content: flex-end !important;
}

.auk-u-flex--align-start {
  align-items: flex-start !important;
}

.auk-u-flex--align-end {
  align-items: flex-end !important;
}

.auk-u-flex--align-baseline {
  align-items: baseline !important;
}

.auk-u-flex--wrap {
  flex-wrap: wrap !important;
}

.auk-u-flex--align-self-start {
  align-self: flex-start !important;
}

.auk-u-flex--spaced > *:not(:last-child) {
  margin-right: $auk-u-flex-gutter-width !important;
}

.auk-u-flex--spaced-wide > *:not(:last-child) {
  margin-right: $auk-u-flex-gutter-width * 2 !important;
}

/* Flexible items
     ========================================================================== */

.auk-u-flex__item {
  flex: 1 !important;
}

.auk-u-flex__item--shrink {
  flex: 0 1 0 !important;
}
