/* ==========================================================================
  Spacing utitilities
   ========================================================================== */

/* Margin utilities
   ========================================================================== */

// All sides

.auk-u-m-0 {
  margin: 0 !important;
}

.auk-u-m {
  margin: .5rem !important;
}

.auk-u-m-2 {
  margin: 1rem !important;
}

.auk-u-m-3 {
  margin: 1.5rem !important;
}

.auk-u-m-4 {
  margin: 2rem !important;
}

.auk-u-m-8 {
  margin: 4rem !important;
}

// Bottom

.auk-u-mb {
  margin-bottom: .5rem !important;
}

.auk-u-mb-2 {
  margin-bottom: 1rem !important;
}

.auk-u-mb-3 {
  margin-bottom: 1.5rem !important;
}

.auk-u-mb-4 {
  margin-bottom: 2rem !important;
}

.auk-u-mb-6 {
  margin-bottom: 3rem !important;
}

.auk-u-mb-8 {
  margin-bottom: 4rem !important;
}

// Top

.auk-u-mt {
  margin-top: .5rem !important;
}

.auk-u-mt-2 {
  margin-top: 1rem !important;
}

.auk-u-mt-3 {
  margin-top: 1.5rem !important;
}

.auk-u-mt-4 {
  margin-top: 2rem !important;
}

.auk-u-mt-8 {
  margin-top: 4rem !important;
}


// Right

.auk-u-mr {
  margin-right: .5rem !important;
}

.auk-u-mr-2 {
  margin-right: 1rem !important;
}

.auk-u-mr-3 {
  margin-right: 1.5rem !important;
}

.auk-u-mr-4 {
  margin-right: 2rem !important;
}

// Left

.auk-u-ml {
  margin-left: .5rem !important;
}

.auk-u-ml-2 {
  margin-left: 1rem !important;
}

.auk-u-ml-3 {
  margin-left: 1.5rem !important;
}

// Margin both horizontal sides
.auk-u-mx {
  margin: 0 .5rem !important;
}

.auk-u-mx-2 {
  margin: 0 1rem !important;
}

.auk-u-mx-3 {
  margin: 0 1.5rem !important;
}

.auk-u-mx-4 {
  margin: 0 2rem !important;
}

// Margin both vertical sides
.auk-u-my {
  margin: .5rem 0 !important;
}

.auk-u-my-2 {
  margin: 1rem 0 !important;
}

.auk-u-my-3 {
  margin: 1.5rem 0 !important;
}

.auk-u-my-4 {
  margin: 2rem 0 !important;
}

/* Padding utilities
   ========================================================================== */

// Reset
.auk-u-p-0 {
  padding: 0 !important;
}

// All sides

.auk-u-p {
  padding: 0.5rem !important;
}

.auk-u-p-2 {
  padding: 1rem !important;
}

.auk-u-p-3 {
  padding: 1.5rem !important;
}

.auk-u-p-4 {
  padding: 2rem !important;
}

.auk-u-p-8 {
  padding: 4rem !important;
}

// Bottom

.auk-u-pb {
  padding: 0 0 .5rem !important;
}

.auk-u-pb-2 {
  padding: 0 0 1rem !important;
}

.auk-u-pb-3 {
  padding: 0 0 1.5rem !important;
}

.auk-u-pb-4 {
  padding: 0 0 2rem !important;
}
