/* ==========================================================================
  Overline
   ========================================================================== */

.auk-overline {
  text-transform: uppercase;
  font-weight: 500;
  color: $au-gray-700;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}