/* ==========================================================================
  auk-empty-state
  ========================================================================== */

.auk-empty-state {
  display: flex;
  align-items: center;
}

.auk-empty-state {
  .auk-badge {
    margin-right: 2rem;
  }
}

.auk-empty-state__content {
  color: $au-gray-600;
}
