// @todo find out where this is being used and why it exists as is

$textarea-alt-page-bg: #FFF;
$textarea-alt-base-font: flanders-sans, sans-serif;
$textarea-alt-form-font-size: 1.4rem;
$textarea-alt-text-color: #333332;
$textarea-alt-outline-color: $au-yellow-400; // au=yellow-400
$textarea-alt-placeholder-color: #666;
$textarea-alt-border-color: $au-gray-300;

.auk-textarea-alt {
  display: inline-block;
  background: $textarea-alt-page-bg;
  font-family: $textarea-alt-base-font;
  font-size: $textarea-alt-form-font-size;
  color: $textarea-alt-text-color;
  max-width: 100%;
  height: auto;
  line-height: normal;
  border-radius: 0;
  border: 0.1rem solid $textarea-alt-border-color;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  padding: 0.5rem 1rem;

  &:hover {
    box-shadow: none;
  }

  &:focus,
  &--focus {
    outline: none;
    border-color: $textarea-alt-outline-color;
    box-shadow: inset 0 0 0 0.1rem $textarea-alt-outline-color;
  }
  
  &::placeholder {
    color: $textarea-alt-placeholder-color;
  }
  
  // Textarea block modifier
  &--block {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
