/* ==========================================================================
  auk-label
   ========================================================================== */

.auk-label {
  font-weight: 500;
  color: $au-gray-700;
  display: block;
  padding-bottom: .6rem;
}

.auk-label--error {
  color: $au-red-700;
}

.auk-label abbr {
  opacity: 0.5;
  }