/* ==========================================================================
  Grid
  ---
  Basic flex-based grid system
  Based on flexbox and calc()
  Support:
     * IE10 and up
     * Edge, Chrome, Safari, Firefox (except very old versions)
   ========================================================================== */

$auk-o-grid-columns: 12 !default;
$auk-o-grid-column-gap: 1.6rem !default;

$auk-o-grid-bp1: 400px;
$auk-o-grid-bp2: 768px;
$auk-o-grid-bp3: 992px;
$auk-o-grid-bp4: 1200px;

.auk-o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($auk-o-grid-column-gap / 2);
  margin-right: -($auk-o-grid-column-gap / 2);
}

/* Grid columns (default)
  ========================================================================== */

[class*='auk-o-grid-col'] {
  flex: 1 0 auto;
  min-width: 0;
  margin-left: $auk-o-grid-column-gap / 2;
  margin-right: $auk-o-grid-column-gap / 2;
}

// Activate columns regardless of breakpoint
$i: 0;

@while($i < $auk-o-grid-columns) {
  .auk-o-grid-col-#{$i + 1} {
    width: calc(#{( ( $i + 1 ) / $auk-o-grid-columns ) * 100}% - #{$auk-o-grid-column-gap});
    flex: 1 1 auto;
  }
  $i: $i + 1;
}

// Activate columns only from breakpoint 1
$i: 0;

@media (min-width: $auk-o-grid-bp1) {

  [class*='auk-o-grid-col-bp1-'] {
      flex: 1 1 auto;
  }

  @while($i < $auk-o-grid-columns) {
    .auk-o-grid-col-bp1-#{$i + 1} {
      width: calc(#{( ( $i + 1 ) / $auk-o-grid-columns ) * 100}% - #{$auk-o-grid-column-gap});
    }
    $i: $i + 1;
  }
}

// Activate columns only from breakpoint 2
$i: 0;

@media (min-width: $auk-o-grid-bp2) {

  [class*='auk-o-grid-col-bp2-'] {
      flex: 1 1 auto;
  }

  @while($i < $auk-o-grid-columns) {
    .auk-o-grid-col-bp2-#{$i + 1} {
      width: calc(#{( ( $i + 1 ) / $auk-o-grid-columns ) * 100}% - #{$auk-o-grid-column-gap});
    }
    $i: $i + 1;
  }
}

$i: 0;

// Activate columns only from breakpoint 3
@media (min-width: $auk-o-grid-bp3) {

  [class*='auk-o-grid-col-bp3-'] {
      flex: 1 1 auto;
  }

  @while($i < $auk-o-grid-columns) {
    .auk-o-grid-col-bp3-#{$i + 1} {
      width: calc(#{( ( $i + 1 ) / $auk-o-grid-columns ) * 100}% - #{$auk-o-grid-column-gap});
    }
    $i: $i + 1;
  }
}

/* Grid columns (modifiers)
  ========================================================================== */

.auk-o-grid--no-wrap {
  flex-wrap: nowrap;
}

.auk-o-grid-col-static {
  flex: none;
}

.auk-o-grid-col-flex {
  flex: 1 1 auto;
}

.auk-o-grid--reverse {
  flex-direction: row-reverse;
}

.auk-o-grid--no-gutter {
  margin: 0;

  [class*='auk-o-grid-col'] {
    margin-left: 0;
    margin-right: 0;
  }
}
