/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Z-index
   ========================================================================== */
/* ==========================================================================
   Font
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Content
  ========================================================================== */
@font-face {
  font-family: flanders-serif;
  src: url(fonts/flanders-serif-light.woff2) format("woff2"), url(fonts/flanders-serif-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-serif;
  src: url(fonts/flanders-serif-regular.woff2) format("woff2"), url(fonts/flanders-serif-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-serif;
  src: url(fonts/flanders-serif-medium.woff2) format("woff2"), url(fonts/flanders-serif-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-serif;
  src: url(fonts/flanders-serif-bold.woff2) format("woff2"), url(fonts/flanders-serif-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-sans;
  src: url(fonts/flanders-sans-light.woff2) format("woff2"), url(fonts/flanders-sans-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-sans;
  src: url(fonts/flanders-sans-regular.woff2) format("woff2"), url(fonts/flanders-sans-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-sans;
  src: url(fonts/flanders-sans-medium.woff2) format("woff2"), url(fonts/flanders-sans-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: flanders-sans;
  src: url(fonts/flanders-sans-bold.woff2) format("woff2"), url(fonts/flanders-sans-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback; }
/* ==========================================================================
  reset
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
  e-base
   ========================================================================== */
*, *:after, *:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #2A2D31;
  line-height: 1.375;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem; }

a {
  color: #0E5EB8; }

strong {
  font-weight: 500; }

i, em {
  font-style: italic; }

hr {
  border: none;
  border-top: 0.1rem solid #CCD1D9; }

abbr[title] {
  text-decoration: none;
  opacity: 0.5; }

/*# sourceMappingURL=auk-base.css.map */
