/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Z-index
   ========================================================================== */
/* ==========================================================================
  Stylesheet for Kaleidos
   ========================================================================== */
/* ==========================================================================
  auk-accordion
  ========================================================================== */
.auk-accordion__content {
  display: none;
  transition: max-height 0.3s cubiauk-bezier(0, 1.05, 0, 1), overflow 0s 0s; }

.auk-accordion--is-active .auk-accordion__content {
  display: block; }

/* ==========================================================================
  auk-alert
  ========================================================================== */
.auk-alert {
  padding: 1.6rem;
  margin: 0 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.auk-alert .auk-badge {
  flex-shrink: 0; }

.auk-alert__body {
  display: flex;
  align-items: center; }
  .auk-alert__body > *:not(:last-child) {
    margin-right: 2rem; }

.auk-alert__text .auk-alert__title {
  font-weight: 500;
  margin-bottom: .2rem; }
.auk-alert__text .auk-alert__message {
  margin-bottom: 0; }

/* Skins
   ========================================================================== */
.auk-alert--default {
  background: #F4F5F6; }
  .auk-alert--default .auk-badge--default {
    background-color: #FFFFFF; }

.auk-alert--success {
  background: #F7FAE5; }

.auk-alert--error {
  background: #FCF3F3; }

.auk-alert--warning {
  background: #FFF9D5; }

.auk-alert--loading {
  background: #F4F5F6; }

/* ==========================================================================
  auk-alert-stack
  ---
  Create a global stack for alerts. You can add an element to the stack.
   ========================================================================== */
.auk-alert-stack {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  display: flex;
  flex-direction: column-reverse; }
  .auk-alert-stack .auk-alert {
    min-width: 40rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25); }

/* ==========================================================================
  auk-app-title
   ========================================================================== */
.auk-app-title {
  font-size: 1.7rem;
  font-weight: 500; }

/* ==========================================================================
  auk-badge
  (Avatar)
  ========================================================================== */
.auk-badge {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; }

/* Sizes
   ========================================================================== */
.auk-badge--small {
  width: 2rem;
  height: 2rem; }
  .auk-badge--small .auk-icon {
    width: 1.2rem;
    height: 1.2rem; }

/* Skins
   ========================================================================== */
.auk-badge--default {
  background: #E6E8EB;
  color: #666; }

.auk-badge--white {
  background: #FFF;
  color: #666; }

.auk-badge--success {
  background: #8BAE00;
  color: #FFF; }

.auk-badge--error {
  background: #DB3434;
  color: #FFF; }

.auk-badge--warning {
  background: #FFC515;
  color: #000; }

/* ==========================================================================
  auk-box
   ========================================================================== */
.auk-box {
  background-color: #F4F5F6;
  padding: 1.2rem; }

/* ==========================================================================
  auk-brand
   ========================================================================== */
.auk-brand {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 0.3rem; }

.auk-brand--link:focus {
  outline: none; }

.auk-brand__logo {
  position: relative;
  width: 4.9rem;
  height: 4.9rem;
  padding-left: .75rem;
  overflow: hidden;
  background-color: #FEE539;
  /* Gray border
  &::after {
    content: "";
    top: -.2rem;
    right: 17%;
    transform: rotate(-19deg);
    width: .1rem;
    height: calc(100% + .4rem);
    background-color: $au-gray-300;
    display: block;
    position: absolute;
  }*/ }
  .auk-brand__logo svg {
    height: 100%;
    width: 56%; }
  .auk-brand__logo::before {
    content: "";
    display: block;
    position: absolute;
    right: -.1rem;
    bottom: -.3rem;
    border-top: 9rem solid #FFF;
    border-left: 3.07818rem solid transparent; }

.auk-brand__logotype {
  font-size: 2.1rem;
  line-height: 1;
  position: relative;
  font-weight: 500;
  color: #000000;
  margin-left: .6rem;
  transition: color 125ms cubiauk-bezier(0.19, 1, 0.22, 1); }

/* ==========================================================================
  auk-breadcrumb
   ========================================================================== */
.auk-breadcrumb {
  color: #69717C;
  text-decoration: none; }
  .auk-breadcrumb:hover {
    text-decoration: underline; }

/* ==========================================================================
  auk-button-link
   ========================================================================== */
.auk-button-link {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  text-decoration: none;
  font-family: flanders-sans,  sans-serif;
  font-size: 1.6rem;
  color: #0E5EB8;
  display: flex; }
  .auk-button-link:hover, .auk-button-link:active {
    color: #0F6FD7; }
  .auk-button-link:focus {
    outline: 0;
    border-color: #FFC515;
    box-shadow: inset 0 0 0 0.2rem #FFC515; }

.auk-button-link[disabled] {
  color: #A1ABBA;
  text-decoration: none; }
  .auk-button-link[disabled]:hover, .auk-button-link[disabled]:active, .auk-button-link[disabled]:focus {
    text-decoration: none; }

.auk-button-link--muted {
  color: #69717C; }
  .auk-button-link--muted:hover, .auk-button-link--muted:active {
    color: #2A2D31; }

.auk-button-link--block {
  display: flex;
  width: 100%; }

.auk-button-link--padded-y {
  padding: 0.6rem 0; }

.auk-button-link--padded {
  padding: 0.6rem; }

.auk-button-link .auk-icon + .auk-button__label,
.auk-button-link .auk-button__label + .auk-icon {
  margin-left: .5rem; }

.auk-button-link--icon {
  padding: .8rem; }

.auk-button-link .auk-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  line-height: 0; }

/* ==========================================================================
  auk-button-loading
   ========================================================================== */
.auk-button-loading {
  font-family: flanders-sans, sans-serif;
  background: #E6E8EB;
  font-size: 1.6rem;
  border: none;
  appearance: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 0.9rem 1.2rem; }

.auk-button-loading svg path {
  fill: currentColor; }

/* ==========================================================================
  auk-button-toolbar
   ========================================================================== */
.auk-button-toolbar {
  display: flex;
  align-items: center; }

.auk-button-toolbar .auk-button + .auk-button {
  margin-left: 1rem; }

/* ==========================================================================
  auk-button
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Component
   ========================================================================== */
.auk-button {
  font-family: flanders-sans, sans-serif;
  font-size: 1.6rem;
  border: none;
  appearance: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 0.75rem 1.2rem;
  background-color: transparent;
  white-space: nowrap; }
  .auk-button:focus {
    outline: 0;
    border-color: #FFC515;
    box-shadow: inset 0 0 0 0.1rem #FFC515; }

.auk-button__label {
  font-size: 1.6rem; }

.auk-button .auk-icon + .auk-button__label,
.auk-button .auk-button__label + .auk-icon {
  margin-left: 0.6rem; }

.auk-button--icon {
  padding: 0.75rem 0.85rem; }

.auk-button--block {
  width: 100%;
  text-align: center;
  justify-content: center; }

.auk-button--icon img {
  display: block; }

/* Skins
   ========================================================================== */
.auk-button--primary {
  background: #0F6FD7;
  color: #fff; }
  .auk-button--primary:hover, .auk-button--primary:active {
    background: #0E5EB8; }

.auk-button--secondary {
  box-shadow: inset 0 0 0 0.2rem #0F6FD7;
  color: #0E5EB8;
  background: none;
  transition: box-shadow 0.2s; }
  .auk-button--secondary:hover, .auk-button--secondary:active {
    box-shadow: inset 0 0 0 0.3rem #0E5EB8; }

.auk-button--tertiary {
  box-shadow: inset 0 0 0 0.1rem #CCD1D9;
  color: #0E5EB8;
  background: none; }
  .auk-button--tertiary:hover, .auk-button--tertiary:active {
    color: #0F6FD7; }

.auk-button--borderless {
  color: #0E5EB8;
  background: none; }
  .auk-button--borderless:hover, .auk-button--borderless:active {
    color: #0F6FD7; }

.auk-button--danger-primary {
  color: #fff;
  background: #D92626; }
  .auk-button--danger-primary:hover, .auk-button--danger-primary:active {
    background: #FF4141; }

.auk-button--danger-hover {
  box-shadow: inset 0 0 0 0.1rem #69717C;
  color: #545961;
  background: none; }
  .auk-button--danger-hover:hover, .auk-button--danger-hover:active {
    color: #FF4141;
    border-color: #FF4141; }

.auk-button--disabled {
  color: #8E98A6;
  background-color: none; }
  .auk-button--disabled:hover {
    cursor: default; }

/* Sizes
   ========================================================================== */
.auk-button--size-s {
  font-size: 1.3rem; }

/* ==========================================================================
  auk-checkbox
   ========================================================================== */
.auk-checkbox {
  display: block;
  position: relative;
  padding: .5rem 0 .5rem 2.8rem;
  min-height: 3rem;
  line-height: 1.3; }

.auk-checkbox__table {
  display: block;
  position: relative;
  height: 3rem; }

.auk-checkbox--flipped {
  padding: .5rem 2.8rem .5rem 0; }
  .auk-checkbox--flipped .auk-checkbox__box {
    right: 0;
    left: auto; }

.auk-checkbox__toggle {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.auk-checkbox__box {
  position: absolute;
  top: .6rem;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  border: 0.1rem solid #CCD1D9;
  background: #FFF; }

/* When the checkbox is checked, add a blue background */
.auk-checkbox input:checked ~ .auk-checkbox__box {
  background-color: #0E5EB8;
  border: 0.1rem solid #0E5EB8; }

/* Create the checkmark/indicator (hidden when not checked) */
.auk-checkbox__box:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.auk-checkbox input:checked ~ .auk-checkbox__box:after {
  display: block;
  left: .5rem;
  top: 0;
  width: .6rem;
  height: 1.2rem;
  border: solid white;
  border-width: 0 .2rem .2rem 0;
  transform: rotate(45deg); }

.auk-checkbox input[type='checkbox']:focus ~ .auk-checkbox__box,
.auk-checkbox input[type='checkbox']:active ~ .auk-checkbox__box {
  border-color: #FFC515;
  box-shadow: inset 0 0 0 0.1rem #FFC515; }

.auk-checkbox-list--inline {
  display: flex;
  align-items: center; }
  .auk-checkbox-list--inline .auk-checkbox:not(:last-of-type) {
    margin-right: 2rem; }

/* ==========================================================================
  auk-code
   ========================================================================== */
.auk-code {
  background-color: #EEE;
  color: #905;
  padding: .2rem .4rem; }

.auk-code, .auk-pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1.3rem; }

.auk-pre {
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  background: #EEE;
  padding: 1.5rem; }

.auk-pre > .auk-code {
  background: none; }

/* ==========================================================================
  auk-columns
  ========================================================================== */
.auk-columns {
  display: flex; }

.auk-columns__column {
  flex: 1 1 auto;
  margin-right: 2.4rem; }

.auk-columns__column:first-child {
  width: 24rem; }

.auk-columns__column:last-child {
  margin-right: 0; }

/* ==========================================================================
  auk-container
  ========================================================================== */
.auk-container {
  max-width: 90rem; }

.auk-container--center {
  margin: 0 auto; }

/* ==========================================================================
  auk-content
   ========================================================================== */
.auk-content p {
  font-size: 1.6rem;
  margin: 0 0 1.5rem;
  line-height: 1.6;
  color: #545961; }

.auk-content strong {
  color: #000000; }

.auk-content h1, .auk-h1,
.auk-content h2, .auk-h2,
.auk-content h3, .auk-h3,
.auk-content h4, .auk-h4 {
  color: #212326; }

.auk-content h1, .auk-h1 {
  font-size: 3.2rem;
  margin: 0 0 3.2rem;
  font-weight: 500; }

.auk-content h2, .auk-h2 {
  font-size: 2.6rem;
  margin: 0 0 2.6rem;
  font-weight: 500; }

.auk-content h3, .auk-h3 {
  font-size: 2rem;
  margin: 0 0 1.5rem;
  font-weight: 500; }

.auk-content h4, .auk-h4 {
  font-size: 1.6rem;
  margin: 0 0 1.6rem;
  font-weight: 500; }

.auk-content p small, .auk-body-2 {
  font-size: 1.3rem; }

.auk-content ul, .auk-ul {
  list-style: inside; }

/* ==========================================================================
  auk-empty-state
  ========================================================================== */
.auk-empty-state {
  display: flex;
  align-items: center; }

.auk-empty-state .auk-badge {
  margin-right: 2rem; }

.auk-empty-state__content {
  color: #69717C; }

/* ==========================================================================
  auk-file-upload
   ========================================================================== */
.auk-file-upload {
  background: transparent;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.auk-file-upload--full-height {
  height: 100%; }

.auk-file-upload--full-height .auk-file-upload__content {
  flex: 1 1 auto; }

.auk-file-upload__content {
  border: 0.2rem dashed #CCD1D9;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none; }
  .auk-file-upload__content .auk-file-upload--text {
    color: #2A2D31; }

.auk-file-upload__content--label {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  padding: 3rem;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.auk-file-upload__link {
  margin: 0 0 .5rem;
  display: inline-flex;
  align-items: center; }
  .auk-file-upload__link span {
    color: #0E5EB8;
    text-decoration: underline; }
  .auk-file-upload__link .auk-icon {
    margin-right: 0.5rem;
    color: #8E98A6; }

/* ==========================================================================
  auk-form-group
   ========================================================================== */
.auk-form-group {
  margin: 0 0 1.8rem; }

.auk-form-group:last-child {
  margin: 0; }

.auk-form-group-layout--horizontal .auk-form-group {
  display: flex; }
.auk-form-group-layout--horizontal .auk-label {
  width: 45%;
  max-width: 22rem;
  padding: 0;
  display: flex;
  align-items: center;
  align-self: center; }
.auk-form-group-layout--horizontal select,
.auk-form-group-layout--horizontal input,
.auk-form-group-layout--horizontal textarea {
  flex: 1 1 auto; }

.auk-form-group--error label {
  color: #AB1F1F; }
.auk-form-group--error input, .auk-form-group--error textarea {
  border-color: #AB1F1F; }

.auk-form-group--grid {
  display: grid;
  grid-gap: 1rem; }
  .auk-form-group--grid div:first-child {
    grid-column-start: 1; }
  .auk-form-group--grid div:nth-child(2) {
    grid-column-start: 2; }

/* ==========================================================================
  auk-form-help-text
  ---
  Help text + Errors on forms
   ========================================================================== */
.auk-form-help-text {
  color: #69717C;
  display: flex;
  align-items: center;
  font-size: 1.3rem; }
  .auk-input + .auk-form-help-text, .auk-input-with-icon + .auk-form-help-text {
    margin-top: 0.5rem; }
  .auk-form-help-text .auk-icon {
    margin-right: 0.5rem; }

.auk-form-help-text--danger {
  color: #AB1F1F; }
  .auk-form-help-text--danger .auk-icon {
    color: #FF4141; }

.auk-form-help-text--success {
  color: #5F750B; }
  .auk-form-help-text--success .auk-icon {
    color: #8BAE00; }

.auk-form-help-text--warning {
  color: #7F6E3B; }
  .auk-form-help-text--warning .auk-icon {
    color: #FFC515; }

.auk-form-help-text + .auk-form-help-text {
  margin-top: 0.5rem; }

/* ==========================================================================
  auk-hr
   ========================================================================== */
.auk-hr {
  margin: 2.4rem 0;
  border-bottom: 0.1rem solid #E6E8EB; }
  .auk-hr hr {
    display: none; }

/* ==========================================================================
  auk-icon
   ========================================================================== */
.auk-icon {
  display: inline-flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center; }
  .auk-icon .ki {
    width: 100%;
    height: 100%;
    line-height: 1; }

.auk-icon--default {
  font-size: 1.8rem; }

.auk-icon--light {
  color: #8c8c8c; }

.auk-icon--large {
  font-size: 2.4rem; }

.auk-icon--small {
  font-size: 1.2rem; }

.auk-icon--muted {
  color: #69717C; }

.auk-icon--warning {
  color: #FFC515; }

.auk-icon--primary {
  color: #0F6FD7; }

.auk-icon--success {
  color: #8BAE00; }

.auk-icon--danger {
  color: #D92626; }

/* ==========================================================================
  auk-input
   ========================================================================== */
.auk-input {
  border: 0.1rem solid #CCD1D9;
  padding: .7rem;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  color: #2A2D31; }

.auk-input::placeholder {
  color: #8E98A6; }

.auk-input:focus {
  outline: 0;
  border-color: #FFC515;
  box-shadow: inset 0 0 0 0.1rem #FFC515; }

.auk-input--block {
  display: block;
  width: 100%; }

.auk-input--error {
  border: 0.1rem solid #FF4141; }

.auk-input-with-icon {
  display: block;
  position: relative;
  width: 100%; }
  .auk-input-with-icon .auk-input {
    padding-left: 3rem; }
  .auk-input-with-icon .auk-icon {
    left: 0.8rem;
    opacity: 0.75;
    position: absolute;
    top: 0.9rem;
    width: 1.8rem;
    height: 1.8rem; }

.auk-input--max-width {
  max-width: 30%; }

.auk-input--w-small {
  width: 15rem; }

.auk-input--w-medium {
  width: 30rem; }

.auk-input--w-large {
  width: 40rem; }

/* ==========================================================================
  auk-intro
  ---
  A text style for intro paragraphs
   ========================================================================== */
.auk-intro {
  font-size: 132%;
  margin: 0 0 2.4rem; }

/* ==========================================================================
  auk-key-value
   ========================================================================== */
.auk-key-value-item__label {
  color: #545961;
  font-weight: 500;
  max-width: 22rem;
  margin-bottom: .5rem; }

.auk-key-value-item {
  margin-bottom: 1rem; }

.auk-key-value-item--horizontal {
  display: flex;
  align-items: center;
  height: 3.5rem; }
  .auk-key-value-item--horizontal .auk-key-value-item__label {
    width: 45%;
    margin-bottom: 0; }

/* ==========================================================================
  auk-label-error
   ========================================================================== */
.auk-label-error {
  color: #DB3434;
  font-family: 'flanders-sans', sans-serif;
  font-size: 1.4rem; }

/* ==========================================================================
  auk-label
   ========================================================================== */
.auk-label {
  font-weight: 500;
  color: #545961;
  display: block;
  padding-bottom: .6rem; }

.auk-label--error {
  color: #AB1F1F; }

.auk-label abbr {
  opacity: 0.5; }

/* ==========================================================================
  auk-list
  ========================================================================== */
.auk-list__item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center; }

.auk-list__item .auk-button-toolbar {
  margin-left: auto; }

.auk-list--bordered .auk-list__item {
  border-bottom: 0.1rem solid #CCD1D9;
  padding: 1.2rem 1rem;
  margin: 0; }
  .auk-list--bordered .auk-list__item:last-child {
    border: none; }

.auk-list__item--gray-100 {
  background: #F4F5F6; }

/* ==========================================================================
  auk-loader
  ========================================================================== */
.auk-loader-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0; }
  .auk-loader-wrapper .auk-loader {
    margin-bottom: 0.5rem; }

.auk-loader-wrapper--small {
  padding: 0; }

.auk-loader {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 1.6rem; }
  .auk-loader:before {
    animation: loader-wave infinite 1s linear;
    position: absolute;
    display: block;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    box-shadow: 1rem 0 #666, 2rem 0 #666, 3rem 0 #666;
    border-radius: 50%;
    margin-top: -0.2rem;
    margin-left: -2.2rem;
    top: 50%;
    left: 50%; }

@keyframes loader-wave {
  0% {
    box-shadow: 1rem -0 #666, 2rem -0 #666, 3rem 0 #666; }
  10% {
    box-shadow: 1rem -0.3rem #666, 2rem -0 #666, 3rem -0 #666; }
  20% {
    box-shadow: 1rem -0.6rem #666, 2rem -0.3rem #666, 3rem -0 #666; }
  30% {
    box-shadow: 1rem -0.3rem #666, 2rem -0.6rem #666, 3rem -0.3rem #666; }
  40% {
    box-shadow: 1rem -0 #666, 2rem -0.3rem #666, 3rem -0.6rem #666; }
  50% {
    box-shadow: 1rem -0 #666, 2rem -0 #666, 3rem -0.3rem #666; }
  60% {
    box-shadow: 1rem -0 #666, 2rem -0 #666, 3rem -0 #666; }
  100% {
    box-shadow: 1rem -0 #666, 2rem -0 #666, 3rem -0 #666; } }
/* ==========================================================================
   Component: Menu
   ---
  Dropdown menu
   ========================================================================== */
.auk-menu {
  background: #FFF;
  min-width: 22rem;
  padding: 1rem 0; }

.auk-menu__item {
  color: #0E5EB8;
  text-decoration: none;
  display: flex;
  padding: 0.8rem 1.6rem; }
  .auk-menu__item:hover {
    background-color: #F4F5F6;
    color: #0F6FD7; }

.auk-menu__item--danger {
  color: #D92626; }
  .auk-menu__item--danger:hover {
    color: #FF4141; }

.auk-menu__divider {
  border-top: 0.1rem solid #CCD1D9;
  display: block;
  margin-top: .4rem;
  padding-top: .4rem; }

/* ==========================================================================
  auk-modal
   ========================================================================== */
.auk-modal {
  z-index: 3400;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2)); }

/* Parts
   ========================================================================== */
.auk-modal__push {
  flex: 1 0 auto; }

.auk-modal__header {
  padding: 0 2rem; }

.auk-modal__header--bordered {
  border-bottom: 0.1rem solid #CCD1D9; }

.auk-modal__footer {
  padding: 0 2rem; }

.auk-modal__footer--bordered {
  border-top: 0.1rem solid #CCD1D9; }

.auk-modal__header,
.auk-modal__content,
.auk-modal__footer {
  background: #fff; }

.auk-modal__header,
.auk-modal__footer {
  flex: 0 0 auto; }

.auk-modal__content {
  padding: 2rem;
  overflow: auto;
  max-height: calc(100vh - 4rem); }

/* Sizes
   ========================================================================== */
.auk-modal--large {
  width: 90rem; }

.auk-modal--medium {
  width: 70rem; }

.auk-modal--small {
  width: 50rem; }

.auk-modal--xsmall {
  width: 30rem; }

.auk-modal--full-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  .auk-modal--full-screen .auk-modal__content {
    height: 100%;
    flex: 1 1 auto; }
  .auk-modal--full-screen .auk-modal__push {
    display: none; }

/* Backdrop
   ========================================================================== */
.auk-modal-backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3300; }

/* ==========================================================================
  Component: navbar
  ---
  A container for navigational elements
  ========================================================================== */
.auk-navbar {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  min-height: 5rem; }

.auk-navbar > .auk-toolbar {
  flex: 1 0 auto; }

.auk-navbar--auto {
  height: auto;
  min-height: auto; }

.auk-navbar--white {
  background: #FFF; }

.auk-navbar--no-pad {
  padding: 0; }

.auk-navbar--gray-100 {
  background: #F4F5F6; }

.auk-navbar--gray-200 {
  background: #E6E8EB; }

/* Bordered equivalents
  ========================================================================== */
.auk-navbar--bordered-top {
  border-top: 0.1rem solid #CCD1D9; }

.auk-navbar--bordered-bottom {
  border-bottom: 0.1rem solid #CCD1D9; }

/* Sizes
  ========================================================================== */
.auk-navbar--large {
  min-height: 6rem; }

/* ==========================================================================
  Overline
   ========================================================================== */
.auk-overline {
  text-transform: uppercase;
  font-weight: 500;
  color: #545961;
  letter-spacing: 0.1rem;
  font-size: 1.3rem; }

/* ==========================================================================
  auk-pagination
   ========================================================================== */
.auk-pagination {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 2rem 0; }

.auk-pagination__element {
  padding: 0 0.5rem; }

.auk-pagination__list {
  display: flex;
  align-items: center; }

.auk-pagination__element-link--active {
  font-weight: 500; }

/* ==========================================================================
  auk-panel-layout
   ========================================================================== */
.auk-panel-layout {
  display: flex;
  height: 100%;
  min-height: 0; }

.auk-panel-layout__main-content {
  flex: 1;
  height: 100%;
  min-width: 0; }

.auk-panel-layout__sidebar {
  position: relative;
  flex: 0 0 auto;
  height: 100%; }

/* Agenda items
  ========================================================================== */
.auk-panel-layout__agenda-items {
  width: 32rem;
  height: 100%; }
  @media (min-width: 128rem) {
    .auk-panel-layout__agenda-items {
      width: 40rem; } }
  @media (min-width: 1440px) {
    .auk-panel-layout__agenda-items {
      width: 48rem; } }
  .auk-panel-layout__agenda-history + .auk-panel-layout__agenda-items {
    width: 28rem; }
    @media (min-width: 1280px) {
      .auk-panel-layout__agenda-history + .auk-panel-layout__agenda-items {
        width: 36rem; } }
    @media (min-width: 1440px) {
      .auk-panel-layout__agenda-history + .auk-panel-layout__agenda-items {
        width: 44rem; } }

/* ==========================================================================
  auk-panel
   ========================================================================== */
.auk-panel {
  background: #FFF;
  border: .1rem solid #C6CDD3; }

.auk-panel__header {
  padding: 0 2rem;
  height: 5.5rem;
  border-bottom: .1rem solid #C6CDD3;
  display: flex;
  align-items: center; }
  .auk-panel__header .auk-panel__title {
    font-weight: 500;
    font-size: 2rem;
    margin: 0; }

.auk-panel__header--borderless {
  border: none; }

.auk-panel__body {
  padding: 2rem; }
  .auk-panel__body > p:only-child {
    margin: 0; }
  .auk-panel__body + .auk-panel__body {
    border-top: .1rem solid #C6CDD3; }
  .auk-panel__body > .auk-table tr td:first-child,
  .auk-panel__body > .auk-table tr th:first-child {
    padding-left: 2rem; }
  .auk-panel__body > .auk-table tr td:last-child,
  .auk-panel__body > .auk-table tr th:last-child {
    padding-right: 2rem; }
  .auk-panel__body .auk-document-card {
    border: none; }
    .auk-panel__body .auk-document-card:not(:last-of-type) {
      border-bottom: 0.1rem solid #CCD1D9; }

.auk-panel__body--no-pad {
  padding: 0; }

.auk-panel__footer {
  padding: 0 2rem;
  height: 5.5rem;
  border-top: .1rem solid #C6CDD3;
  display: flex;
  align-items: center; }

.auk-panel--editing {
  background: #F3F5F6; }

/* ==========================================================================
  auk-pill-list
   ========================================================================== */
.auk-pill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .auk-pill-list .auk-pill:not(:first-of-type) {
    margin-left: .5rem; }

/* ==========================================================================
  auk-pill
   ========================================================================== */
.auk-pill {
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 0 .6rem;
  border-radius: .6rem;
  height: 2.4rem; }

.auk-pill .auk-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: .5rem; }

.auk-pill--icon-only {
  padding: 0 .3rem; }
  .auk-pill--icon-only .auk-icon {
    margin: 0; }

.auk-pill--icon-right .auk-icon {
  margin-left: .6rem;
  margin-right: 0; }

.auk-pill--default {
  color: #69717C;
  background: #F4F5F6;
  border: 0.1rem solid #CCD1D9; }

.auk-pill--success {
  color: #FFF;
  background: #5F750B; }

.auk-pill--danger {
  color: #FFF;
  background: #D92626; }

.auk-pill--warning {
  color: #000;
  background: #FFC515; }

/* ==========================================================================
  auk-popover
   ========================================================================== */
.auk-popover {
  background: #FFF;
  border: 0.1rem solid #CCD1D9;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  max-width: 45rem;
  min-width: 20rem; }

.auk-popover__header {
  border-bottom: 0.1rem solid #CCD1D9;
  padding: 0 2rem;
  height: 5rem; }

.auk-popover__body {
  padding: 1.2rem; }

.ember-popover {
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  font-family: inherit;
  border-radius: 3px; }

.ember-popover {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc; }

.ember-popover[aria-hidden="false"] {
  pointer-events: auto;
  cursor: initial;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto; }

.ember-popover {
  opacity: 0;
  -webkit-transition: opacity ease-out, margin ease-out;
  transition: opacity ease-out, margin ease-out;
  transition-duration: 200ms; }

.ember-popover.ember-tooltip-effect-none,
.ember-popover.ember-tooltip-show {
  opacity: 1; }

/* ==========================================================================
  auk-progress-bar
   ========================================================================== */
.auk-progress-bar {
  width: 100%;
  background-color: #CCD1D9; }

.auk-progress-bar__progress {
  height: .4rem;
  background-color: #0F6FD7;
  animation: fill 1s linear 1; }

@keyframes fill {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
/* ==========================================================================
  auk-radio
   ========================================================================== */
.auk-radio {
  display: block;
  position: relative;
  padding: .5rem 0 .5rem 2.4rem; }

.auk-radio__toggle {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.auk-radio__box {
  position: absolute;
  top: .7rem;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 100%;
  border: 0.1rem solid #CCD1D9; }

.auk-radio input[type='radio']:checked ~ .auk-radio__box {
  background: #0E5EB8;
  border-color: #0E5EB8; }
  .auk-radio input[type='radio']:checked ~ .auk-radio__box:before {
    content: "";
    background-color: #F4F5F6;
    position: absolute;
    height: .8rem;
    width: .8rem;
    top: 0.4rem;
    left: 0.4rem;
    border-radius: 100%; }

.auk-radio-list--inline {
  display: flex;
  align-items: center; }
  .auk-radio-list--inline .auk-radio:not(:last-of-type) {
    margin-right: 2rem; }

.auk-radio input[type='radio']:focus ~ .auk-radio__box,
.auk-radio input[type='radio']:active ~ .auk-radio__box {
  border-color: #FFC515;
  box-shadow: 0 0 0 0.1rem #FFC515; }

/* ==========================================================================
  auk-scroll-wrapper
   ========================================================================== */
.auk-scroll-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column; }

.auk-scroll-wrapper__body {
  margin-bottom: 5rem;
  overflow: scroll;
  flex: 1;
  height: 100%; }

/* ==========================================================================
   Component: search-results-list
   ========================================================================== */
.auk-search-results-list {
  background: #fff;
  min-width: 32rem;
  padding: 1rem 0; }

.auk-search-results-list__item a {
  color: #545961;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.6rem; }
  .auk-search-results-list__item a:hover {
    background-color: #F4F5F6;
    color: #0F6FD7; }

.auk-search-results-list__item:not(:last-of-type) {
  border-bottom: 0.1rem solid #E6E8EB; }

/* ==========================================================================
  auk-input
   ========================================================================== */
.auk-select {
  border: 0.1rem solid #CCD1D9;
  padding: .7rem 3rem .7rem .7rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5L0 0H9L4.5 5Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 1.2rem top 50%, 0 0;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem; }

.auk-select:focus {
  outline: 0;
  border-color: #FFC515;
  box-shadow: inset 0 0 0 0.1rem #FFC515; }

.auk-select--block {
  display: block;
  width: 100%; }

.auk-select--error {
  border: 0.1rem solid #FF4141; }

/* ==========================================================================
  Component: sidebar
  ========================================================================== */
.auk-sidebar {
  width: 24rem;
  height: 100%;
  background: #F4F5F6; }

.auk-sidebar--auto {
  width: auto; }

.auk-sidebar--gray-100 {
  background: #F4F5F6; }

.auk-sidebar--gray-200 {
  background: #E6E8EB; }

.auk-sidebar--white {
  background: #fff; }

.auk-sidebar--left {
  border-right: 0.1rem solid #CCD1D9; }

.auk-sidebar--right {
  border-left: 0.1rem solid #CCD1D9; }

.auk-sidebar--large {
  width: 35rem; }

.auk-sidebar--small {
  width: 20rem; }

.auk-sidebar--collapsed {
  width: 5.9rem; }

/* Sidebar items
     ========================================================================== */
.auk-sidebar__item a {
  display: block;
  text-decoration: none;
  padding: 1.5rem 2rem;
  color: #69717C; }

.auk-sidebar__item a.active {
  background: #E6E8EB;
  color: #2A2D31; }

/* Responsive panel layout
      ========================================================================== */
.auk-sidebar--responsive.auk-sidebar:not(.auk-sidebar--collapsed) {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -8px 15px 10px rgba(0, 0, 0, 0.14), -3px 15px 14px rgba(0, 0, 0, 0.12), -4px 15px 5px rgba(0, 0, 0, 0.2); }

@media (min-width: 1680px) {
  .auk-sidebar--responsive.auk-sidebar:not(.auk-sidebar--collapsed) {
    position: initial;
    box-shadow: none; } }
/* ==========================================================================
  auk-status-pill
   ========================================================================== */
.auk-status-pill {
  border: 0.1rem solid #CCD1D9;
  border-radius: 0.5rem;
  padding: 0.35rem 0.6rem;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 400; }

.auk-status-pill__label {
  padding-left: 0.4rem; }

.auk-status-pill--in-progress {
  background-color: #FFF29B;
  border: 0.1rem solid #FFF29B;
  color: #7F6E3B; }
  .auk-status-pill--in-progress .auk-icon {
    color: #7F6E3B; }

.auk-status-pill--done {
  background-color: #ECF2CD;
  border: 0.1rem solid #ECF2CD;
  color: #5F750B; }
  .auk-status-pill--done .auk-icon {
    color: #5F750B; }

.auk-status-pill--not-started {
  background-color: #DCECFD;
  border: 0.1rem solid #DCECFD;
  color: #0E5EB8; }
  .auk-status-pill--not-started .auk-icon {
    color: #0E5EB8; }

.auk-status-pill--error {
  background-color: #F7E3E3;
  border: 0.1rem solid #F7E3E3;
  color: #AB1F1F; }
  .auk-status-pill--error .auk-icon {
    color: #AB1F1F; }

/* ==========================================================================
  auk-table
   ========================================================================== */
.auk-table {
  border: none;
  border-collapse: collapse;
  width: 100%; }

.auk-table td,
.auk-table th {
  vertical-align: middle;
  padding: 1.2rem 1rem;
  border-bottom: 0.1rem solid #CCD1D9; }

.auk-table tr td:first-child,
.auk-table tr th:first-child {
  padding-left: 1.2rem; }

.auk-table tr td:last-child,
.auk-table tr th:last-child {
  padding-right: 1.2rem; }

.auk-table th {
  border-bottom-width: 0.2rem;
  text-align: left;
  font-weight: 500;
  color: #69717C; }

.auk-table--striped tr:nth-child(odd) td {
  background: #F4F5F6; }

.auk-table tr:last-child td {
  border-bottom-width: 0; }

.auk-table__header--actions,
.auk-table__cell--actions {
  width: 3rem; }

.auk-table__cell--actions > button {
  float: right; }

.auk-table__row--collapsed-content td {
  background: #F4F5F6; }

.auk-table tr td:first-child .auk-button-toolbar {
  justify-content: flex-start; }
.auk-table .auk-button-toolbar {
  justify-content: flex-end; }

.auk-table code {
  background-color: #eee;
  color: #905;
  padding: 0.2rem 0.4rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1.3rem; }

.auk-table .auk-table--vertical-align-top {
  vertical-align: top; }

.auk-table--advanced th {
  color: #212326; }
.auk-table--advanced .auk-table__cell--accent {
  background-color: #F4F5F6; }

.auk-table tr .auk-table__cell--gray-100 {
  background: #F4F5F6; }

/* Status cells
  ========================================================================== */
.auk-table tr .auk-table__cell--success {
  background: #ECF2CD;
  color: #5F750B;
  text-align: center; }

.auk-table tr .auk-table__cell--warning {
  background: #FFF29B;
  color: #7F6E3B;
  text-align: center; }

/* Table columns
  ========================================================================== */
.auk-table__col--1 {
  width: 8.3333333333%; }

.auk-table__col--2 {
  width: 16.6666666667%; }

.auk-table__col--3 {
  width: 25%; }

.auk-table__col--4 {
  width: 33.3333333333%; }

.auk-table__col--5 {
  width: 41.6666666667%; }

.auk-table__col--6 {
  width: 50%; }

.auk-table__col--7 {
  width: 58.3333333333%; }

.auk-table__col--8 {
  width: 66.6666666667%; }

.auk-table__col--9 {
  width: 75%; }

.auk-table__col--10 {
  width: 83.3333333333%; }

.auk-table__col--11 {
  width: 91.6666666667%; }

/* ==========================================================================
  auk-tabs
   ========================================================================== */
.auk-tabs {
  display: flex; }

.auk-tabs--reversed {
  border-top: 0.1rem solid #CCD1D9;
  margin-top: 1.2rem; }

.auk-tabs a {
  color: #0F6FD7;
  font-weight: 500;
  height: 5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: .3rem solid transparent;
  white-space: nowrap; }
  .auk-tabs a:hover {
    background: #F4F5F6; }
  .auk-tabs a:focus {
    outline: 0;
    border-color: #FFC515;
    box-shadow: inset 0 0 0 0.1rem #FFC515; }

.auk-tabs__tab-inner {
  border-right: .1rem solid #CCC;
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  top: .15rem; }
  .auk-tabs__tab:last-child .auk-tabs__tab-inner {
    border-right: none; }

.auk-tabs a.active {
  color: #212326;
  border-bottom: 0.3rem solid #212326; }

.auk-tabs--reversed a {
  border-top: .3rem solid transparent;
  border-bottom: none; }

.auk-tabs--reversed .auk-tabs__tab-inner {
  bottom: .15rem; }

.auk-tabs--reversed a.active {
  color: #212326;
  border-top: 0.3rem solid #212326;
  border-bottom: none; }

.auk-tabs__divider {
  width: .1rem;
  height: 1.8rem;
  background-color: #CCD1D9;
  margin-left: 1rem; }

.auk-tabs__tab:last-child .auk-tabs__divider {
  display: none; }

.auk-tabs svg path {
  fill: currentColor; }

.auk-icon + .auk-tabs__label,
.auk-tabs__label + .auk-icon {
  margin: 0 .6rem; }

.auk-tabs__hierarchical-back a.active {
  color: #0F6FD7;
  border: none; }

.auk-textarea-alt {
  display: inline-block;
  background: #FFF;
  font-family: flanders-sans, sans-serif;
  font-size: 1.4rem;
  color: #333332;
  max-width: 100%;
  height: auto;
  line-height: normal;
  border-radius: 0;
  border: 0.1rem solid #CCD1D9;
  -webkit-appearance: none;
  padding: 0.5rem 1rem; }
  .auk-textarea-alt:hover {
    box-shadow: none; }
  .auk-textarea-alt:focus, .auk-textarea-alt--focus {
    outline: none;
    border-color: #FFC515;
    box-shadow: inset 0 0 0 0.1rem #FFC515; }
  .auk-textarea-alt::placeholder {
    color: #666; }
  .auk-textarea-alt--block {
    display: block;
    width: 100%;
    box-sizing: border-box; }

/* ==========================================================================
  auk-textarea
   ========================================================================== */
.auk-textarea {
  border: 0.1rem solid #CCD1D9;
  padding: .6rem;
  width: 100%;
  max-width: 100%;
  font-family: flanders-sans, sans-serif;
  font-size: 1.5rem;
  color: #2A2D31; }

.auk-textarea:focus {
  outline: 0;
  border-color: #FFC515;
  box-shadow: inset 0 0 0 0.1rem #FFC515; }

.auk-textarea--resize-vertical {
  resize: vertical; }

/* ==========================================================================
  auk-toolbar-complex (complex variant)
   ========================================================================== */
.auk-toolbar-complex {
  min-height: 5rem;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around; }

.auk-toolbar-complex__title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  display: inline;
  padding-right: 0.6rem; }

.auk-toolbar-complex__title--long {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  line-height: 1.6;
  color: #2A2D31; }

.auk-toolbar-complex__title--small {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  display: inline; }

.auk-toolbar-complex--auto {
  min-height: auto;
  height: auto; }

.auk-toolbar-complex__left,
.auk-toolbar-complex__center,
.auk-toolbar-complex__right {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  max-width: 100%; }

.auk-toolbar-complex__left {
  justify-content: flex-start; }

.auk-toolbar-complex__left .auk-toolbar-complex__item {
  margin-right: 1rem;
  max-width: 100%; }

.auk-toolbar-complex__left .auk-toolbar-complex__item:only-child {
  margin: 0; }

.auk-toolbar-complex__center {
  justify-content: center; }

.auk-toolbar-complex__center .auk-toolbar-complex__item {
  margin-right: 1rem;
  max-width: 100%; }

.auk-toolbar-complex__center .auk-toolbar-complex__item:only-child {
  margin: 0; }

.auk-toolbar-complex__right {
  justify-content: flex-end; }

.auk-toolbar-complex__right .auk-toolbar-complex__item {
  margin-left: 1rem;
  max-width: 100%; }

.auk-toolbar-complex__right .auk-toolbar-complex__item:only-child {
  margin: 0; }

/* ==========================================================================
  auk-toolbar (simple variant)
   ========================================================================== */
.auk-toolbar {
  display: flex;
  align-items: center; }

.auk-toolbar__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0; }

.auk-toolbar__title--long {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  line-height: 1.6;
  color: #2A2D31; }

.auk-toolbar__spacer {
  flex: 1 1 auto; }

/* ==========================================================================
  auk-tooltip
   ========================================================================== */
.ember-tooltip-base {
  display: none;
  height: 0;
  width: 0;
  position: absolute; }

.ember-tooltip {
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  font-family: inherit;
  border-radius: 3px;
  font-weight: initial; }

.ember-tooltip {
  max-width: 250px;
  padding: 6px 10px;
  color: #fff;
  background: #3a3c47;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  white-space: normal;
  /* IE doesnt support initial so fall back to normal */
  white-space: initial; }

.ember-tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border: 5px solid transparent; }

.ember-tooltip {
  opacity: 0;
  -webkit-transition: opacity ease-out, margin ease-out;
  transition: opacity ease-out, margin ease-out;
  transition-duration: 200ms; }

.ember-tooltip.ember-tooltip-effect-none,
.ember-tooltip.ember-tooltip-show {
  opacity: 1; }

.ember-tooltip[x-placement^="top"] .ember-tooltip-arrow {
  border-bottom-width: 0;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0; }

.ember-tooltip[x-placement^="top"] .ember-tooltip-arrow {
  border-top-color: #3a3c47; }

.ember-tooltip[x-placement^="right"] .ember-tooltip-arrow {
  border-left-width: 0;
  left: -5px;
  top: calc(50% - 5px);
  margin-right: 0;
  margin-left: 0; }

.ember-tooltip[x-placement^="right"] .ember-tooltip-arrow {
  border-right-color: #3a3c47; }

.ember-tooltip[x-placement^="bottom"] .ember-tooltip-arrow {
  border-top-width: 0;
  top: -5px;
  left: calc(50% - 5px);
  margin-bottom: 0;
  margin-top: 0; }

.ember-tooltip[x-placement^="bottom"] .ember-tooltip-arrow {
  border-bottom-color: #3a3c47; }

.ember-tooltip[x-placement^="left"] .ember-tooltip-arrow {
  border-right-width: 0;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0; }

.ember-tooltip[x-placement^="left"] .ember-tooltip-arrow {
  border-left-color: #3a3c47; }

/* ==========================================================================
  Grid
  ---
  Basic flex-based grid system
  Based on flexbox and calc()
  Support:
     * IE10 and up
     * Edge, Chrome, Safari, Firefox (except very old versions)
   ========================================================================== */
.auk-o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.8rem;
  margin-right: -0.8rem; }

/* Grid columns (default)
  ========================================================================== */
[class*='auk-o-grid-col'] {
  flex: 1 0 auto;
  min-width: 0;
  margin-left: 0.8rem;
  margin-right: 0.8rem; }

.auk-o-grid-col-1 {
  width: calc(8.3333333333% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-2 {
  width: calc(16.6666666667% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-3 {
  width: calc(25% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-4 {
  width: calc(33.3333333333% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-5 {
  width: calc(41.6666666667% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-6 {
  width: calc(50% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-7 {
  width: calc(58.3333333333% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-8 {
  width: calc(66.6666666667% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-9 {
  width: calc(75% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-10 {
  width: calc(83.3333333333% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-11 {
  width: calc(91.6666666667% - 1.6rem);
  flex: 1 1 auto; }

.auk-o-grid-col-12 {
  width: calc(100% - 1.6rem);
  flex: 1 1 auto; }

@media (min-width: 400px) {
  [class*='auk-o-grid-col-bp1-'] {
    flex: 1 1 auto; }

  .auk-o-grid-col-bp1-1 {
    width: calc(8.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp1-2 {
    width: calc(16.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp1-3 {
    width: calc(25% - 1.6rem); }

  .auk-o-grid-col-bp1-4 {
    width: calc(33.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp1-5 {
    width: calc(41.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp1-6 {
    width: calc(50% - 1.6rem); }

  .auk-o-grid-col-bp1-7 {
    width: calc(58.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp1-8 {
    width: calc(66.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp1-9 {
    width: calc(75% - 1.6rem); }

  .auk-o-grid-col-bp1-10 {
    width: calc(83.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp1-11 {
    width: calc(91.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp1-12 {
    width: calc(100% - 1.6rem); } }
@media (min-width: 768px) {
  [class*='auk-o-grid-col-bp2-'] {
    flex: 1 1 auto; }

  .auk-o-grid-col-bp2-1 {
    width: calc(8.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp2-2 {
    width: calc(16.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp2-3 {
    width: calc(25% - 1.6rem); }

  .auk-o-grid-col-bp2-4 {
    width: calc(33.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp2-5 {
    width: calc(41.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp2-6 {
    width: calc(50% - 1.6rem); }

  .auk-o-grid-col-bp2-7 {
    width: calc(58.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp2-8 {
    width: calc(66.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp2-9 {
    width: calc(75% - 1.6rem); }

  .auk-o-grid-col-bp2-10 {
    width: calc(83.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp2-11 {
    width: calc(91.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp2-12 {
    width: calc(100% - 1.6rem); } }
@media (min-width: 992px) {
  [class*='auk-o-grid-col-bp3-'] {
    flex: 1 1 auto; }

  .auk-o-grid-col-bp3-1 {
    width: calc(8.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp3-2 {
    width: calc(16.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp3-3 {
    width: calc(25% - 1.6rem); }

  .auk-o-grid-col-bp3-4 {
    width: calc(33.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp3-5 {
    width: calc(41.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp3-6 {
    width: calc(50% - 1.6rem); }

  .auk-o-grid-col-bp3-7 {
    width: calc(58.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp3-8 {
    width: calc(66.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp3-9 {
    width: calc(75% - 1.6rem); }

  .auk-o-grid-col-bp3-10 {
    width: calc(83.3333333333% - 1.6rem); }

  .auk-o-grid-col-bp3-11 {
    width: calc(91.6666666667% - 1.6rem); }

  .auk-o-grid-col-bp3-12 {
    width: calc(100% - 1.6rem); } }
/* Grid columns (modifiers)
  ========================================================================== */
.auk-o-grid--no-wrap {
  flex-wrap: nowrap; }

.auk-o-grid-col-static {
  flex: none; }

.auk-o-grid-col-flex {
  flex: 1 1 auto; }

.auk-o-grid--reverse {
  flex-direction: row-reverse; }

.auk-o-grid--no-gutter {
  margin: 0; }
  .auk-o-grid--no-gutter [class*='auk-o-grid-col'] {
    margin-left: 0;
    margin-right: 0; }

.auk-u-cursor-grab {
  cursor: grab !important; }

.auk-u-cursor-grab:active {
  cursor: grabbing !important; }

.auk-u-cursor-pointer {
  cursor: pointer !important; }

.auk-u-cursor-default {
  cursor: default !important; }

/* ==========================================================================
    Object: Flex
    ---
    Object to make a container use flexbox
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Utility classes
     ========================================================================== */
.auk-u-flex {
  display: flex !important; }

.auk-u-flex--inline {
  display: inline-flex !important; }

.auk-u-flex--vertical {
  flex-direction: column !important; }

.auk-u-flex--vertical-center {
  align-items: center !important; }

.auk-u-flex--horizontal-center {
  justify-content: center !important; }

.auk-u-flex--center {
  justify-content: center !important;
  align-items: center !important; }

.auk-u-flex--justify-between {
  justify-content: space-between !important; }

.auk-u-flex--justify-around {
  justify-content: space-around !important; }

.auk-u-flex--justify-end {
  justify-content: flex-end !important; }

.auk-u-flex--align-start {
  align-items: flex-start !important; }

.auk-u-flex--align-end {
  align-items: flex-end !important; }

.auk-u-flex--align-baseline {
  align-items: baseline !important; }

.auk-u-flex--wrap {
  flex-wrap: wrap !important; }

.auk-u-flex--align-self-start {
  align-self: flex-start !important; }

.auk-u-flex--spaced > *:not(:last-child) {
  margin-right: 0.8rem !important; }

.auk-u-flex--spaced-wide > *:not(:last-child) {
  margin-right: 1.6rem !important; }

/* Flexible items
     ========================================================================== */
.auk-u-flex__item {
  flex: 1 !important; }

.auk-u-flex__item--shrink {
  flex: 0 1 0 !important; }

/* ==========================================================================
  Utilities: generic (no category)
  ========================================================================== */
.auk-u-maximize-width {
  width: 100% !important; }

.auk-u-maximize-height {
  height: 100% !important; }

.auk-u-block {
  display: block !important; }

.auk-u-inline {
  display: inline !important; }

.auk-u-align-middle {
  vertical-align: middle !important; }

.auk-u-sr-only {
  position: absolute !important;
  left: -10000px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important; }

.auk-u-overflow-hidden {
  overflow: hidden !important; }

.auk-u-bg-alt {
  background-color: #F4F5F6 !important; }

/* ==========================================================================
  Utilities: Scroll
  ========================================================================== */
.auk-u-scroll-scrollable {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important; }

.auk-u-scroll-no-overflow {
  overflow: hidden !important; }

/* ==========================================================================
  Spacing utitilities
   ========================================================================== */
/* Margin utilities
   ========================================================================== */
.auk-u-m-0 {
  margin: 0 !important; }

.auk-u-m {
  margin: .5rem !important; }

.auk-u-m-2 {
  margin: 1rem !important; }

.auk-u-m-3 {
  margin: 1.5rem !important; }

.auk-u-m-4 {
  margin: 2rem !important; }

.auk-u-m-8 {
  margin: 4rem !important; }

.auk-u-mb {
  margin-bottom: .5rem !important; }

.auk-u-mb-2 {
  margin-bottom: 1rem !important; }

.auk-u-mb-3 {
  margin-bottom: 1.5rem !important; }

.auk-u-mb-4 {
  margin-bottom: 2rem !important; }

.auk-u-mb-6 {
  margin-bottom: 3rem !important; }

.auk-u-mb-8 {
  margin-bottom: 4rem !important; }

.auk-u-mt {
  margin-top: .5rem !important; }

.auk-u-mt-2 {
  margin-top: 1rem !important; }

.auk-u-mt-3 {
  margin-top: 1.5rem !important; }

.auk-u-mt-4 {
  margin-top: 2rem !important; }

.auk-u-mt-8 {
  margin-top: 4rem !important; }

.auk-u-mr {
  margin-right: .5rem !important; }

.auk-u-mr-2 {
  margin-right: 1rem !important; }

.auk-u-mr-3 {
  margin-right: 1.5rem !important; }

.auk-u-mr-4 {
  margin-right: 2rem !important; }

.auk-u-ml {
  margin-left: .5rem !important; }

.auk-u-ml-2 {
  margin-left: 1rem !important; }

.auk-u-ml-3 {
  margin-left: 1.5rem !important; }

.auk-u-mx {
  margin: 0 .5rem !important; }

.auk-u-mx-2 {
  margin: 0 1rem !important; }

.auk-u-mx-3 {
  margin: 0 1.5rem !important; }

.auk-u-mx-4 {
  margin: 0 2rem !important; }

.auk-u-my {
  margin: .5rem 0 !important; }

.auk-u-my-2 {
  margin: 1rem 0 !important; }

.auk-u-my-3 {
  margin: 1.5rem 0 !important; }

.auk-u-my-4 {
  margin: 2rem 0 !important; }

/* Padding utilities
   ========================================================================== */
.auk-u-p-0 {
  padding: 0 !important; }

.auk-u-p {
  padding: 0.5rem !important; }

.auk-u-p-2 {
  padding: 1rem !important; }

.auk-u-p-3 {
  padding: 1.5rem !important; }

.auk-u-p-4 {
  padding: 2rem !important; }

.auk-u-p-8 {
  padding: 4rem !important; }

.auk-u-pb {
  padding: 0 0 .5rem !important; }

.auk-u-pb-2 {
  padding: 0 0 1rem !important; }

.auk-u-pb-3 {
  padding: 0 0 1.5rem !important; }

.auk-u-pb-4 {
  padding: 0 0 2rem !important; }

/* ==========================================================================
  Text utilities
   ========================================================================== */
.auk-u-muted {
  color: #69717C !important; }

.auk-u-italic {
  font-style: italic !important; }

.auk-u-text-small {
  font-size: 1.3rem !important; }

.auk-u-text-bold {
  font-weight: 500 !important; }

.auk-u-text-normal {
  font-weight: normal !important; }

.auk-u-text-nowrap {
  white-space: nowrap !important; }

.auk-u-text-prewrap {
  white-space: pre-wrap !important; }

.auk-u-text-align--right {
  text-align: right !important; }

.auk-u-text-align--center {
  text-align: center !important; }

.auk-u-text-pre {
  white-space: pre !important; }

.auk-u-text-pre-line {
  white-space: pre-line !important; }

.auk-u-text-decoration-underline {
  text-decoration: underline !important; }

/*# sourceMappingURL=auk-standalone.css.map */
