{{#unless this.loadData.isRunning}}
  <span class="auk-u-ml">
    {{#if @publicationSubcase.endDate}}
      <Auk::StatusPill data-test-proofs-statuspill-done @status="success" />
    {{else}}
      {{#if (gt this.requests.length 0)}}
        <Auk::StatusPill @step={{3}} data-test-proofs-statuspill-in-progress />
      {{else}}
        <Auk::StatusPill
          data-test-proofs-statuspill-not-started
          @step={{0}}
        />
      {{/if}}
    {{/if}}
  </span>
{{/unless}}