<div class="l-printable-agenda__item">
  <div class="auk-u-non-breakable-group@print">
    <Agenda::PrintableAgenda::ListSection::ItemGroup::Item::Content
      @item={{@item}}
    />
  </div>
  {{#if @item.sortedPieces}}
    <Agenda::PrintableAgenda::ListSection::ItemGroup::Item::DocumentList
      @pieces={{@item.sortedPieces}}
      @isDraftAccessLevelArgs={{hash
        meeting=@isDraftAccessLevelArgs.meeting
        agenda=@isDraftAccessLevelArgs.agenda
        agendaitem=@item
      }}
    />
  {{/if}}
</div>