{{#if this.mandatees}}
  <h3 class="auk-u-text-uppercase auk-u-text-decoration-underline auk-printable-agenda-list__item-indented">
    {{#each this.mandatees as |mandatee|}}
      {{mandatee.title}}
      {{#if (not-eq mandatee this.mandatees.lastObject)}}
        <br/>&
      {{/if}}
    {{/each}}
  </h3>
{{/if}}
