<h3
  class="auk-u-mb-3 auk-u-text-uppercase l-printable-agenda__item-group-header
    {{if (not @mandatees) "l-printable-agenda__item-group-header--muted auk-u-keep-colors@print"}}"
>{{! auk-u-text-decoration-underline }}
  {{#if @mandatees}}
    {{#each @mandatees as |mandatee|}}
      {{mandatee.title}}
      {{#if (not-eq mandatee @mandatees.lastObject)}}
        <br />&
      {{/if}}
    {{/each}}
  {{else}}
    {{t "no-mandatee-assigned"}}
  {{/if}}
</h3>