{{agenda/printable-agenda/list-section/item-group/item-group-header
  mandatees=items.firstObject.sortedMandatees
}}
<ol class="vlc-printable-agenda-list__item-list">
  {{#each items as |agendaItem|}}
    <li value={{agendaItem.priority}}>
      {{agenda/printable-agenda/list-section/item-group/item
        item=agendaItem
      }}
    </li>
  {{/each}}
</ol>