{{agenda/printable-agenda/list-section/item-group/item-group-header
  mandatees=items.firstObject.sortedMandatees
}}
<div class="vlc-printable-agenda-list__item-list">
  {{#each items as |agendaItem|}}
    <div value={{agendaItem.priority}}>
      {{agenda/printable-agenda/list-section/item-group/item
        item=agendaItem
      }}
    </div>
  {{/each}}
</div>
