/* ==========================================================================
   vl-comments
   ========================================================================== */

   .vl-comments {
    .vl-badge {
      margin-right: 0.8rem;
      width: 3.2rem;
      height: 3.2rem;
      flex: 1 0 auto;
    }
  
    .vl-comments-input {
      display: flex;
      align-items: center;
      margin: 1.6rem 0 3.2rem;
      .vl-input-field {
        width: 100%;
      }
    }
  
    .vl-comments-comment {
      display: flex;
      margin-top: 1.6rem
    }

    .vl-comments-comment-content {
      width:100%;
    }
  
    .vl-comments-comment-content__header {
      display: flex;
      justify-content: space-between;

    }
  
    .vl-comments-comment-content__meta {
      margin-left: auto;
      font-size: 1.3rem;
    }
  
    .vl-comments-comment--response {
      margin-left: 4rem;
      background: $blue-gray-lightest;
      padding: 1.6rem;
    }
    .vl-comments-input--response {
      margin-left: 4rem;
      margin-top: 0.4rem;
      background: $blue-gray-lightest;
      padding: 1.6rem;
    }
  }