/* ==========================================================================
   vl-layout-agenda
   ========================================================================== */

   .vl-layout-agenda {
    display: flex;
  }
  
  .vl-layout-agenda__sidebar {
    flex: 1 0 184px;
    border-right: 1px solid $ghost;
  }
  
  .vl-layout-agenda__master {
    flex: 1 0 416px;
    border-right: 1px solid $ghost;
    padding:1em;
  }
  
  .vl-layout-agenda__detail {
    flex: 3 1 auto;
    // Temporary spacing fix spacing
    padding: 2rem;
  }
  
  