// c-side-nav

.c-side-nav {
  background: $blue-gray-lighter;
  height: 100%;

  .vl-button.collapsed {
    display: none;
  }
}

.c-side-nav-title {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $ghost;

  .vl-title {
    display: flex;
    align-items: center;
    margin-right: 0.4rem;

    .vl-icon {
      padding-right: 0.8rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.c-side-nav-item {
  padding: 0.8rem 1.6rem;
  border-bottom: 1px solid $ghost;
  a {
    text-decoration: none;
  }
}

.c-side-nav-item--active {
  background: $white;
  border-left: 3px solid $primary-blue;
  .c-side-nav-item__label {
    font-weight: 500;
    margin-bottom: 0;
  }
}
.c-side-nav-item__label {
  margin-bottom: 0.4rem;
  color: $black;
}

.c-side-nav-item__meta {
  font-size: 1.3rem;
  color: $blue-gray-dark;
}

.c-side-nav-item__meta--small {
  display: none;
  font-size: 1.3rem;
  color: $blue-gray-dark;
}


// Collapsed state menu
.vl-layout-agenda__sidebar--collapsed {
  flex: 1 0 95px;
  transition: all 0.3s ease-in-out;

  .c-side-nav-item__label span {
    display: none;
  }

  .c-side-nav-title .vl-title span {
    display: none;
  }

  // Collapse button
  .vl-button.collapsed {
    display: block;
  }

  .vl-button.default {
    display: none;
  }

  .c-side-nav-item__meta--small {
    display: block;
    font-size: 1.3rem;
    color: $blue-gray-dark;
  }

  .c-side-nav-item__meta {
    display: none;
  }
}