// c-view-switch

.c-view-switch {
  display: flex;
  margin: 0 2.4rem;

  .c-view-switch__item {
    margin: 0 0.8em;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $blue-gray;
    }
    // Icons were not found in iconset, so temporarily added them as SVG's
    .o-svg-icon svg {
      fill: $blue-gray;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      vertical-align: middle;
      margin-right: 0.4rem;
    }
  }

  .c-view-switch__item--active {
    a {
      color: $primary-blue;
    }
    .o-svg-icon svg {
      fill: $primary-blue;
    }
  }
}