/* ==========================================================================
  Reverse tabs
   ========================================================================== */

.vlc-tabs-reverse {
  display: flex;
}

.vlc-tabs-reverse__link {
  padding: 0.7rem 1rem 0.8rem;
  display: block;
  border-top: 0.3rem solid transparent;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  &:hover,
  &:focus {
    background: rgba(#FFF,0.5);
    transition: background 0.18s ease-in;
  }
  // Extra border
  position: relative;
  &:after {
    content: " ";
    height: 2.5rem;
    width: 0.1rem;
    position: absolute;
    background: $silver-chalice;
    right: 0;
    top: 0.8rem;
  }

}

// Remove extra border on last child
.vlc-tabs-reverse__item {
  &:last-child a:after {
    background: transparent;
  }
}

.vlc-tabs-reverse__link--active {
  border-top-color: #000;
  color: #000;
}

.vlc-tabs-reverse__item--border-left {
  border-left: 1px solid #cbd2da;
}
