// Import custom config before 'ember-rdfa-editor' to overwrite !default's
@import '../fixes/fix-ember-rdfa-editor';
@import '../ember-rdfa-editor';

.rdfa-editor {
  height: 30rem;
  border: .1rem solid #BFC8D1;
}

// This was not an option in the skinning, so hardcoded
.say-toolbar {
  border-bottom: .1rem solid #BFC8D1;
}

// Disable display of toast hints
// @see https://github.com/lblod/ember-rdfa-editor/issues/26
.say-container__aside {
  display: none;
}