/* ==========================================================================
  Agenda items
   ========================================================================== */

/* Modifiers on main object
   ========================================================================== */

.vlc-agenda-detail-sidebar--spaced {
  .vlc-agenda-detail-sidebar__sub-item {
    margin-bottom: 0.4rem;
  }
}

/* Main and sub item
   ========================================================================== */

.vlc-agenda-detail-sidebar__sub-item > a,
.vlc-agenda-detail-sidebar__sub-item > span { // a
  display: block;
  position: relative;
  padding: 1.8rem 1.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: $dove-gray;
  background: $porcelain;
  border-bottom: 0.01rem solid $ghost;
}

.vl-u-text-color-agenda-list {
  color: $mine-shaft;
}

.vlc-agenda-detail-sidebar__sub-item a {
  &:hover,
  &:focus {
    background: $blue-gray-lighter;
    color: $blue-dark;

    span {
      color: $blue-dark;
    }

    .vl-badge--alt {
      background-color: $blue-gray-lightest;
    }

    .vlc-document-list__item--active .vl-badge--alt {
      background-color: $green-light;
    }
  }
}

a.vlc-agenda-detail-sidebar__sub-item--active,
a.vlc-agenda-detail-sidebar__sub-item--active:hover,
a.vlc-agenda-detail-sidebar__sub-item--active:active {
  background: $science-blue;
  border: none;
  color: #fff;

  .ember-power-select-selected-item{
    color:#000;
  }

  span,
  .vlc-agenda-detail-sidebar__status--positive,
  .ember-power-select-selected-item,
  pre,
  p,
  i {
    color: #fff;
  }
}

a.vlc-agenda-detail-sidebar__sub-item--active:focus {
  background: darken($science-blue, 5%);
}

.vlc-agenda-meta {
  padding-left: 3rem;
}

.vlc-agenda-meta__times-passed {
  opacity: 0.65;
}

// Subject: the “title”
.vlc-agenda-detail-sidebar__subject {
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  line-height: 130%;
}

.vlc-agenda-detail-sidebar__text-container {
  width: calc(100% - 3rem);
}


// Content: the longer description
.vlc-agenda-detail-sidebar__content {
  font-size: 1.4rem;
  opacity: 0.65;
  line-height: 1.3;
  margin: 1rem 0;
}

.vlc-agenda-detail-sidebar__remark__content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.vlc-agenda-detail-sidebar__sub-item--active a,
.vlc-agenda-detail-sidebar__sub-item--active a:hover,
.vlc-agenda-detail-sidebar__sub-item--active a:active {
  background: $science-blue;
  color: #FFF;
}


.vlc-agenda-detail-sidebar__sub-item--active a:focus {
  background: darken($science-blue, 5%);
}

.vlc-agenda-detail-sidebar-sub-item__numbering {
  min-width: 3rem;
  text-align: right;
  margin-right: 0.5rem;
  line-height: 140%;
}

// 'No items available' item
.vlc-agenda-detail-sidebar__no-items-message {
  display: flex;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
}

.vlc-agenda-detail-sidebar__no-items-text {
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: $blue-gray-dark;
  margin: 1.5rem;
}

/* Agenda items compare view
========================================================================== */

.vlc-agenda-detail-sidebar-compare-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-column-gap: 4.8rem;
  grid-template-areas:
    "agenda-1 agenda-2"
    "speaker-1 speaker-2"
    "agenda-1-item-1 agenda-2-item-1"
    "agenda-1-item-2 agenda-2-item-2"
    "agenda-1-item-3 agenda-2-item-3"
    "agenda-1-item-4 agenda-2-item-4"
    "empty agenda-2-item-5"
    "agenda-1-item-5 agenda-2-item-6";

  .vlc-agenda-detail-sidebar-compare__item  {
    .vlc-agenda-detail-sidebar__sub-item {
      height: 100%;
      .vlc-agenda-detail-sidebar__sub-item-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .vlc-agenda-detail-sidebar-compare__item--bordered {
    border-bottom: 1px solid $border-color;
  }

  .vlc-document-list__item {
    width: calc(50% - 1rem);
  }
}

// Grid area empty cell
.vlc-agenda-detail-sidebar-compare__item--empty {
  grid-area: empty;
}

// Grid areas agenda 1
.agenda-1 {
  grid-area: agenda-1;
}

.agenda-speaker-header-1 {
  grid-area: speaker-1;
}

$i: 0;

@while($i < 6) {
  .agenda-1-item-#{$i} {
    grid-area: agenda-1-item-#{$i};
  }
  $i: $i + 1;
}

// Grid areas agenda 2

.agenda-2 {
  grid-area: agenda-2;
}

.agenda-speaker-header-2 {
  grid-area: speaker-2;
}

$i: 0;

@while($i < 7) {
  .agenda-2-item-#{$i} {
    grid-area: agenda-2-item-#{$i};
  }
  $i: $i + 1;
}

.vlc-agenda-detail-sidebar-compare__item.agenda-2-item-3 {
  opacity: 0.30;
}

.vlc-agenda-detail-sidebar__status--positive {
  font-weight: 500;
  opacity: 1;
  color: $napier-green;
}

.vlc-agenda-detail-sidebar__formally-ok-label {
  display: flex;
  padding-top: 1.5rem;

  .formally-ok-icon {
    &::before {
      margin-right: 0.2rem;
      height: 100%;
    }

    &.ki-check::before {
      line-height: 1.8rem;
    }

    &.ki-cross::before {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
