/* ==========================================================================
  Key value
  The logic for the widths is: [short, medium, long, very long] where medium is the default
   ========================================================================== */

.vlc-key-value-item__label {
  color: #545961;
  font-weight: 500;
  max-width: 22rem;
}

.vlc-key-value-item {
  margin: 1rem 0;
}

.vlc-key-value-item--horizontal {
  display: flex;
  align-items: center;
  height: 3.5rem;

  .vlc-key-value-item__label {
    width: 45%;
  }

  .vlc-key-value-item__value {
    width: 100%;
  }
}
