/* ==========================================================================
    Agenda items - Section header
    For usage in sidebar
   ========================================================================== */

.vlc-agenda-items-section-header {
background: $porcelain;
padding: 1.2rem;
  .vlc-panel-layout__agenda-items & {
    position: sticky;
    height: 4.8rem;
    top: 0;
  }
}

.vlc-agenda-items-section-header__title {
margin: 0;
font-size: 1.8rem;
font-weight: 500;
}

.vlc-agenda-items-section-header__link {
font-size: 1.4rem;
}
