/* ==========================================================================
  Header
   ========================================================================== */

.vlc-kitchensink-sample-header {
  font-weight: 500;
  font-size: 2rem;
  margin: 3rem 0 2rem;
}
