/* ==========================================================================
  Agenda meta
  The last line in an agenda item
   ========================================================================== */

.vlc-agenda-meta,
.vlc-agenda-meta__status-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vlc-agenda-meta__status {
  display: flex;
  align-items: center;
  opacity: 0.65;
}

.vlc-agenda-meta__status {
  font-weight: 500;
}

.vlc-agenda-items__status {
  font-size: 1.4rem;
  white-space: nowrap;
  align-items: center;

  .formally-ok-icon {
    &::before {
      margin-right: 0.4rem;
      height: 100%;
    }

    &.ki-check::before {
      line-height: 2.4rem;
    }

    &.ki-cross::before {
      margin-right: 0;
      font-size: 2.1rem;
      line-height: 2.3rem;
      font-weight: 700;
    }
  }
}

.vlc-agenda-meta__status--positive {
  opacity: 1;
  color: $napier-green;
}

.vlc-agenda-meta__status--warning {
  opacity: 1;
  color: #ECB307;
}

.vlc-agenda-items__sub-item--active a,
.vlc-agenda-items__sub-item--active a:hover,
.vlc-agenda-items__sub-item--active a:active {
  .vlc-agenda-meta__status {
    color: #FFF;
  }
}

.vlc-agenda-meta__times-passed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vlc-agenda-meta__recently-added {
  opacity: 0.5;
  margin-right: 1rem;
  i {
    font-size: 1em;
    display: inline;
    font-weight: 500;

    &:before {
      position: relative;
      top: 1.2px;
    }
  }
}

.vlc-agenda-meta__recently-added:hover {
  opacity: 1;
}
