/* ==========================================================================
    Agenda items - Section header
    For usage in sidebar
   ========================================================================== */

.vlc-agenda-detail-sidebar-section-header {
  background: $athens-gray;
  padding: 1.2rem;
}

.vlc-agenda-detail-sidebar-section-header--border-bottom {
  border-bottom: 0.01rem solid $ghost;
}

.vlc-agenda-detail-sidebar-section-header__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.vlc-agenda-detail-sidebar-section-header__link {
  font-size: 1.4rem;
}
