/* ==========================================================================
  vlc-pagination
   ========================================================================== */

.vlc-pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.vlc-pagination__element {
  padding: 0 0.5rem;
}

.vlc-pagination__list {
  display: flex;
  align-items: center;
}

.vlc-pagination__element-link--active {
  font-weight: 500;
}

.vlc-pagination__fontsize {
  font-size: 1.6rem;
}
