/* ==========================================================================
  vlc-procedure-step
   ========================================================================== */

.vlc-procedure-step {
  &:before {
    content: " ";
    background: $auk-color-border;
    height: calc(100% + 2.2rem);
    width: 1px;
    position: absolute;
    left: -3rem;
    top: 0;
    z-index: -1;
  }
  &:last-child {
    &:before {
      height: 50%;
    }
  }

  margin-left: 5rem;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }

  // Code from “info tile” (equivalent of a card)
  display: block;
  position: relative;
  border: 1px solid $auk-color-border;
  padding: 1.7rem;

  a.auk-h4 {
    text-decoration: none;
  }
}

.vlc-procedure-step__meta {
  font-size: 1.3rem;
  color: $auk-gray-500;
}

.vlc-procedure-step__badge-wrapper {
  position: absolute;
  left: -4.7rem;
  top: calc(50% - 1.7rem);
}
