/* ==========================================================================
   vlc-document-card
   ========================================================================== */

.vlc-document-card {
  display: block;
  border: 0.1rem solid $auk-color-border;
  padding: 1.8rem;

  .auk-h4 {
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.vlc-document-card--borderless {
  border: none;
}

.vlc-document-card__summary {
  display: flex;
  align-items: center;
}

.vlc-document-card__content {
  flex: 1;
  min-width: 0;
}

.vlc-document-card-content__meta {
  font-size: 1.4rem;
  color: $auk-gray-600;
}

.vlc-document-card__actions {
  margin-left: auto;
}


/* ==========================================================================
   Documents timeline
   ========================================================================== */

.vlc-document-card-versions {
  margin-top: 1rem;

  .auk-accordion__item .auk-accordion__content {
    margin: 1.8rem -1.8rem -1.8rem;
    padding: 1rem 1.8rem;
    background: $auk-gray-100;
    border-top: 1px solid $auk-color-border;
  }
}

.vlc-document-card-item {
  display: block;
  position: relative;

  &:before {
    content: "";
    background: $auk-gray-300;
    height: calc(100% - 1.5rem);
    width: 1px;
    position: absolute;
    left: -3.1rem;
    top: 3.2rem;
    z-index: 0;
  }
  &:last-child {
    &:before {
      height: 0;
    }
  }

  margin-left: 5rem;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.vlc-document-card-item__title {
  display: flex;
  align-items: center;

  .auk-h1,
  .auk-h2,
  .auk-h3,
  .auk-h4 {
    margin-right: 0.5em;
  }
}

.vlc-document-card-item__meta {
  font-size: 1.4rem;
}

.vlc-document--deleted-state {
  opacity: 0.3;
  pointer-events: none;
  cursor: none;
}

.vlc-document-card-toolbar__right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.vlc-document-card-item__icon {
  position: absolute;
  left: -4rem;
  top: 0.6rem;
  color: $auk-blue-500;
}
