/* ==========================================================================
  vlc-kitchensink-navigation
   ========================================================================== */

.vlc-kitchensink-navigation {
  border: #CBD2DA solid 0.1rem;
  width: 28.6rem;
  height: 100%;
  padding-top: 1.6rem;
  background: #F3F5F6;
}

.vlc-kitchensink-navigation-item {
  .active {
    color: #0055CC;
    background-color: #E8EBEE;
  }
}

.vlc-kitchensink-navigation-link {
  width: 100%;
  display: block;
  color: #333332;
  text-decoration: none;
  letter-spacing: 0.05rem;
  padding: 1.5rem 2rem;
}

.vlc-kitchensink-navigation-link:hover {
  color: #0055CC;
}

.vlc-kitchensink-navigation-item:active {
  color: #333332;
}

.vlc-kitchensink-navigation-header {
  margin: 2rem 1rem;
  font-weight: bold;
  text-transform: uppercase;

  &:first-child {
    margin: 0rem 1rem 2rem;
  }
}
