/* ==========================================================================
Component: Publication overview
 ---
Component for aligning multiple sub components on a horizontal axis
========================================================================== */

.vlc-publication-overview-navbar {
    & > .ember-view {
        width:100%;
    }
}
.vlc-case-name-header{
  min-width: 30rem
}
.vlc-publication-grid-header-lg{
  display:table-cell;
}
.vlc-publication-grid-header-sm{
  display:none;
}
@media screen and (max-width: 1200px) {
  .vlc-publication-grid-header-lg{
    display:none;
  }

  .vlc-publication-grid-header-sm{
    display:table-cell;
  }
}
