$say-paper: false;
$say-paper-sidebar: false;
$say-editor-background: white;
$say-toolbar-background: white;
$say-editor-padding: 1rem;
// $say-font: $auk-font-sans-family; // Currently the default editor fonts. https://github.com/lblod/ember-rdfa-editor/blob/039156d2f4d4933551fbc31939bd8893a7d01211/app/styles/ember-rdfa-editor/_s-settings.scss#L26

@import 'ember-rdfa-editor';

.rdfa-editor {
  height: 30rem;
  border: .1rem solid #BFC8D1;
}

// This was not an option in the skinning, so hardcoded
.say-toolbar {
  border-bottom: .1rem solid #BFC8D1;
}

// Disable display of toast hints
// @see https://github.com/lblod/ember-rdfa-editor/issues/26
.say-container__aside {
  display: none;
}
