/* ==========================================================================
  .vlc-document-list
   ========================================================================== */

.vlc-document-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.vlc-document-list__item {
  list-style: none;
  margin: 0.4rem 1rem 0.4rem 0;

  a, span {
    display: flex;
    align-items: center;
    color: $dove-gray;
    font-weight: 400;
    padding-right: 1rem;
  }

  a {
    text-decoration: none;

    &:hover,
    &:active {
      background: $blue-gray-lightest;
      border-radius: 1.5rem;
    }

    &:focus {
      color: $science-blue;
    }
  }

  .auk-icon {
    margin-right: 0.7rem;
    line-height: 1rem;
  }
}

/* Active state
   ========================================================================== */

.vlc-document-list__item--active {
  .auk-icon {
    color: $green;
  }
}

/* Loading state
   ========================================================================== */

.vlc-document-list__item--loading {
  span {
    opacity: 0.2;
  }
}

/* Document item list show more
   ========================================================================== */
.vlc-document-show-more-button {
  color: $primary-blue;
  border: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  margin-top: 1rem;
  cursor: pointer;
}

.vlc-document-show-more-button__icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.vlc-document-show-more-button__text {
  line-height: 1.9rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
