.vlc-environment-pill {
  pointer-events: none;
  background: #fefefe;
  border: 1px solid #e2e2e2;
  border-radius: 2.2rem;
  padding: 0.2rem 1.2rem;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 99999;
}

.vlc-environment-pill--local {
  background-color: $auk-pink;
  border-color: darken($auk-pink, 5%);
  color: $auk-white;
}

.vlc-environment-pill--dev {
  background-color: $auk-green-500;
  border-color: darken($auk-green-500, 5%);
  color: $auk-white;
}

.vlc-environment-pill--test {
  background-color: $auk-yellow-500;
  border-color: darken($auk-yellow-500, 5%);
  color: $auk-yellow-800;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.vlc-environment-pill--prod {
  background-color: $auk-red-500;
  border-color: darken($auk-red-500, 5%);
  color: $auk-white;

  animation: blink 1s cubic-bezier(1,-0.09, 0, 0.99) infinite;
}
