@use "../auk";

.vlc-environment-pill {
  pointer-events: none;
  background: #fefefe;
  border: 1px solid #e2e2e2;
  font-weight: bold;
  z-index: 99999;

  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: .3rem;
  padding: 0 .3rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

.vlc-environment-pill--secondary {
  right: 8rem;
}

.vlc-environment-pill--local {
  background-color: auk.$color-pink;
  border-color: darken(auk.$color-pink, 5%);
  color: auk.$color-white;
}

.vlc-environment-pill--dev {
  background-color: auk.$color-green-500;
  border-color: darken(auk.$color-green-500, 5%);
  color: auk.$color-white;
}

.vlc-environment-pill--test {
  background-color: auk.$color-yellow-500;
  border-color: darken(auk.$color-yellow-500, 5%);
  color: auk.$color-yellow-800;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.vlc-environment-pill--prod {
  background-color: auk.$color-red-500;
  border-color: darken(auk.$color-red-500, 5%);
  color: auk.$color-white;

  animation: blink 1s cubic-bezier(1,-0.09, 0, 0.99) infinite;
}
