@use "sass:color";

@use "../auk";

.vlc-environment-pill {
  pointer-events: none;
  background: #fefefe;
  border: 1px solid rgba(0, 0, 0, .05);
  font-weight: bold;
  z-index: 99999;

  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: .3rem;
  padding: 0 .3rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

.vlc-environment-pill--secondary {
  right: 8rem;
}

.vlc-environment-pill--local {
  background-color: var(--au-pink-500);
  color: var(--au-white);
}

.vlc-environment-pill--dev {
  background-color: var(--au-green-500);
  color: var(--au-white);
}

.vlc-environment-pill--test {
  background-color: var(--au-yellow-300);
  color: var(--au-yellow-900);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.vlc-environment-pill--prod {
  background-color: var(--au-red-500);
  color: var(--au-white);

  animation: blink 1s cubic-bezier(1,-0.09, 0, 0.99) infinite;
}
