/* ==========================================================================
	 Printable agenda list
	 ========================================================================== */

.vlc-printable-agenda-list {
  padding: 4rem;

  h2.vlc-printable-agenda-list__title {
    margin-top: 0;
    text-align: center;
  }
}
