/* ==========================================================================
  vlc-kitchensink-header
   ========================================================================== */

.vlc-kitchensink-header {
  font-size: 3.4rem;
  margin: 2rem 0;
  color: #000000;
}
