/* ==========================================================================
  Date range
  Wrapper for from-to date (2 datepickers)
   ========================================================================== */

.vlc-date-range {
  display: flex;
  .vl-input-group {
    min-width: 200px;
  }
}

.vlc-date-range__separator {
  line-height: 3.5rem;
  display: block;
  margin: 0 0.5rem;
}