/* ==========================================================================
  vl-panel-layout
  ========================================================================== */

.vlc-panel-layout {
  display: flex;
  height: 100%;
  // Firefox fix for scroll with flex-direction: column
  min-height: 0;
}

.vlc-panel-layout-agenda__detail {
  z-index: 1;
  width: 100%;
}

.vlc-panel-layout__agenda-history {
  width: 20rem;
  height: 100%;
}

.vlc-panel-layout__agenda-items {
  width: 320px;
  height: 100%;
  background: $porcelain;
  border-right: 1px solid $ghost;

  @media (min-width: 1280px) {
    width: 400px;
  }

  @media (min-width: 1440px) {
    width: 480px;
  }

  // If there is a history panel, the agenda panel is 40px smaller
  .vlc-panel-layout__agenda-history + & {
    width: 280px;

    @media (min-width: 1280px) {
      width: 360px;
    }

    @media (min-width: 1440px) {
      width: 440px;
    }
  }

}

.vlc-panel-layout__main-content {
  flex: 1;
  height: 100%;
  min-width: 0;
}


