/* ==========================================================================
  vlc-kitchensink-container
   ========================================================================== */

.vlc-kitchensink-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}

.vlc-kitchensink-container__main {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  text-align: left;
}
