/* ==========================================================================
	 Toast buttons
	 ========================================================================== */

.vlc-toaster-button {
  margin-top: 1rem;
  padding: 0 1rem;
  border: 1px solid $blue-gray-light;
  background-color: unset;
  cursor: pointer;
}
