/* ==========================================================================
Component: Publication status selector
 ---
Component for selecting a status for publication
========================================================================== */

.vlc-publication-status-change-small-text {
  font-size: 1.3rem;
  color: $blue-gray-dark;
}
