/* ==========================================================================
  Agenda items
   ========================================================================== */

/* Modifiers on main object
   ========================================================================== */

.vlc-agenda-detail-sidebar--spaced {
  .vlc-agenda-detail-sidebar__sub-item {
    margin-bottom: 0.4rem;
  }
}

/* Main and sub item
   ========================================================================== */

.vlc-agenda-detail-sidebar__sub-item > a,
.vlc-agenda-detail-sidebar__sub-item > span { // a
  display: block;
  position: relative;

  padding: 1rem 1.5rem;
  background: $auk-gray-100;
  border-bottom: 0.01rem solid $auk-gray-300;

  color: $auk-gray-600;
  font-size: 1.3rem;
  text-decoration: none;
}

.vlc-agenda-detail-sidebar__sub-item a {
  &:hover,
  &:focus {
    background: $auk-gray-200;
  }
}

a.vlc-agenda-detail-sidebar__sub-item--active,
a.vlc-agenda-detail-sidebar__sub-item--active:hover,
a.vlc-agenda-detail-sidebar__sub-item--active:focus,
a.vlc-agenda-detail-sidebar__sub-item--active:active {
  background: $auk-white;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 0.4rem;
    height: 100%;
    background-color: $auk-color-primary;

    content: "";
  }
}

.vlc-agenda-meta {
  padding-left: 3rem;
}

// Subject: the “title”
.vlc-agenda-detail-sidebar__subject {
  display: flex;
  justify-content: flex-start;

  color: $auk-blue-500;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;

  .vlc-agenda-detail-sidebar__sub-item:hover &,
  .vlc-agenda-detail-sidebar__sub-item:focus & {
    color: $auk-blue-700;
  }

  .vlc-agenda-detail-sidebar__sub-item--active &,
  .vlc-agenda-detail-sidebar__sub-item--active:hover &,
  .vlc-agenda-detail-sidebar__sub-item--active:focus & {
    color: $auk-color-text;
  }
}

// $auk-blue-500
// color: $auk-color-text;

.vlc-agenda-detail-sidebar__text-container {
  width: calc(100% - 3rem);
}


// Content: the longer description
.vlc-agenda-detail-sidebar__content {
  font-size: 1.4rem;
  opacity: 0.65;
  line-height: 1.3;
  margin: 1rem 0;
}

.vlc-agenda-detail-sidebar__remark__content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.vlc-agenda-detail-sidebar-sub-item__numbering {
  margin-right: 0.5rem;
  min-width: 2.5rem;

  color: $auk-color-text;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.4;
}

// 'No items available' item
.vlc-agenda-detail-sidebar__no-items-message {
  display: flex;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
}

.vlc-agenda-detail-sidebar__no-items-text {
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: $auk-gray-600;
  margin: 1.5rem;
}

.vlc-agenda-detail-sidebar__labels {
  display: flex;
  gap: .25rem;
  margin-left: .25rem;
}
