// Yellow headers
.vlc-list-section-header {
  background: $orange-light;
  color: $mine-shaft;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  background: $orange-light;
  line-height: 1.33;
}

.vlc-list-section-header + .vlc-list-section-header {
  clear: both;
}
