/* ==========================================================================
    Agenda items - Section header
    For usage in sidebar
   ========================================================================== */

.vlc-agenda-items-section-header {
  background: #f3f5f6;
  padding: 1.2rem;
}

.vlc-agenda-items-section-header__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.vlc-agenda-items-section-header__link {
  font-size: 1.4rem;
}
