/* ==========================================================================
  Agenda items
   ========================================================================== */

/* Main and sub item
   ========================================================================== */

.vlc-agenda-items__sub-item > a,
.vlc-agenda-items__sub-item > span { // a
  display: block;
  position: relative;
  font-size: 1.3rem;
  text-decoration: none;
  color: $black;
}

.vlc-agenda-items__sub-item a {
  &:hover,
  &:focus {
    background: $blue-gray-lighter;
    color: $blue-dark;

    span {
      color: $blue-dark;
    }

    .vl-badge--alt {
      background-color: $blue-gray-lightest;
    }

    .vlc-document-list__item--active .vl-badge--alt {
      background-color: $green-light;
    }
  }
}

a.vlc-agenda-items__sub-item--active,
a.vlc-agenda-items__sub-item--active:hover,
a.vlc-agenda-items__sub-item--active:active {
  background: $science-blue;
  color: #fff;

  span {
    color: #fff;
  }

  .vlc-agenda-items__status--positive {
    color: #fff;
  }

  .ember-power-select-selected-item {
    color: #000;
  }
}

a.vlc-agenda-items__sub-item--active:focus {
  background: darken($science-blue, 5%);
}

.vlc-agenda-meta {
  padding-left: 3rem;
}

// Subject: the “title”
.vlc-agenda-items__subject {
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  margin: 0 0 1rem;
  font-weight: 500;
}


// Content: the longer description
.vlc-agenda-items__content {
  font-size: 1.4rem;
  opacity: 0.65;
  line-height: 1.3;
  margin: 1rem 0;
}

.vlc-agenda-items__sub-item--active a,
.vlc-agenda-items__sub-item--active a:hover,
.vlc-agenda-items__sub-item--active a:active {
  background: $science-blue;
  color: #FFF;
}

.vlc-agenda-items__sub-item--active a:focus {
  background: darken($science-blue, 5%);
}

.vlc-agenda-items-sub-item__numbering {
  min-width: 4rem;
}

/* Agenda items compare view
========================================================================== */

.vlc-agenda-items-compare-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-column-gap: 4.8rem;
  grid-template-areas: "agenda-1 agenda-2" "speaker-1 speaker-2" "agenda-1-item-1 agenda-2-item-1" "agenda-1-item-2 agenda-2-item-2" "agenda-1-item-3 agenda-2-item-3" "agenda-1-item-4 agenda-2-item-4" "empty agenda-2-item-5" "agenda-1-item-5 agenda-2-item-6";

  .vlc-agenda-items-compare__item {
    .vlc-agenda-items__sub-item {
      height: 100%;

      .vlc-agenda-items__sub-item-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .vlc-agenda-items-compare__item--bordered {
    border-bottom: 1px solid $border-color;
  }

  .vlc-document-list__item {
    width: calc(50% - 1rem);
  }
}

// Grid area empty cell
.vlc-agenda-items-compare__item--empty {
  grid-area: empty;
}

// Grid areas agenda 1
.agenda-1 {
  grid-area: agenda-1;
}

.agenda-speaker-header-1 {
  grid-area: speaker-1;
}

$i: 0;

@while ($i < 6) {
  .agenda-1-item-#{$i} {
    grid-area: agenda-1-item-#{$i};
  }
  $i: $i + 1;
}

// Grid areas agenda 2

.agenda-2 {
  grid-area: agenda-2;
}

.agenda-speaker-header-2 {
  grid-area: speaker-2;
}

$i: 0;

@while ($i < 7) {
  .agenda-2-item-#{$i} {
    grid-area: agenda-2-item-#{$i};
  }
  $i: $i + 1;
}

//
.vlc-agenda-items-compare__item.agenda-2-item-3 {
  opacity: 0.30;
}

.vlc-agenda-items__status--positive {
  font-weight: 500;
  opacity: 1;
  color: $napier-green;
}

.vlc-agenda-items__body {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #FFF;
  border-bottom: .1rem solid $border-color;

  // Override HR spacing
  .vlc-hr {
    margin: 1.5rem 0;
  }
}

.vlc-agenda-items__body-padding {
  padding-bottom: 1.5rem;
}

.vlc-agenda-items__remarks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.vlc-agenda-items__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .vl-link__icon {
    color: $dove-gray;
    font-size: 1.7rem;
  }

  .vlc-agenda-item__icons--margin {
    margin-left: 1rem;
  }
}

.vlc-agenda-items__confidentiality-button {
  margin-left: 1rem;
  align-items: center;
  color: white;
}

.vlc-agenda-items__sub-item a:hover .vlc-agenda-items__confidentiality-button,
.vlc-agenda-items__sub-item a:hover .vlc-agenda-items__confidentiality-button .vlc-agenda-items__icons {
  color: white;
}

.vlc-agenda-items__text {
  width: 100%;
}

.vlc-agenda-items__cursor {
  cursor: grab;
  margin-right: 0.7rem;
}
