/* ==========================================================================
  .vlc-document-list
   ========================================================================== */

.vlc-document-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.vlc-document-list__item {
  margin: 0.4rem 1rem 0.4rem 0;

  a, span {
    display: flex;
    align-items: center;
    color: $dove-gray;
    font-weight: 400;
    padding-right: 1rem;
  }

  a {
    text-decoration: none;

    &:hover,
    &:active {
      background: $blue-gray-lightest;
      border-radius: 1.5rem;
    }

    &:focus {
      color: $science-blue;
    }
  }

  .vl-badge__icon {
    margin-right: 0.7rem;
    font-size: 1.7rem;
    line-height: 1rem;
  }
}

/* Active state
   ========================================================================== */

.vlc-document-list__item--active {
  .vl-badge__icon {
    color: $green;
  }
}

/* Loading state
   ========================================================================== */

.vlc-document-list__item--loading {
  span {
    opacity: 0.2;
  }
}

/* Document item list show more
   ========================================================================== */
