/* ==========================================================================
	 Printable agenda list
	 ========================================================================== */

$indentation-spacing: 3rem;

.vlc-printable-agenda-list {
  padding: 4rem;

  .indented {
    padding-left: $indentation-spacing;
  }

  .vlc-printable-agenda-list__session-title {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2.4rem;
  }

  .vlc-printable-agenda-list__title, .vlc-printable-agenda-list__group-title .vlc-printable-agenda-list__description {
    white-space: pre-line;
  }

  .vlc-printable-agenda-list__item-number, .vlc-printable-agenda-list__item-letter {
    min-width: $indentation-spacing;
  }

  .vlc-printable-agenda-list__item-letter, .vlc-printable-agenda-list__item-number {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .vlc-printable-agenda-list__document-list {
  	list-style: none;

    // CSS reset for list elements to appear as plain new lines, as per example
    margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;

    &.indented {
      padding-left: $indentation-spacing;
    }

    li {
      margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
  }
}
