/* ==========================================================================
  Kitchensink sample
   ========================================================================== */

.vlc-kitchensink-sample {
  border: 1px solid #DDD;
  padding: 4rem;
  margin: 0 0 2rem;
}

