/* ==========================================================================
  .vlc-document-list
   ========================================================================== */

.vlc-document-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.vlc-document-list__item {
  list-style: none;
  margin: 0.4rem 1rem 0.4rem 0;

  a, span:not(.au-c-pill) {
    display: flex;
    align-items: center;
    color: $auk-gray-600;
    font-weight: 400;
    padding-right: .5rem;
  }

  a {
    padding-left: .5rem;

    text-decoration: none;

    &:hover,
    &:active {
      background: $auk-gray-100;
      border-radius: 1.5rem;
    }

    &:focus {
      color: $auk-color-primary;
    }
  }

  .auk-icon {
    margin-right: 0.7rem;
    line-height: 1rem;
  }
}

/* Active state
   ========================================================================== */

.vlc-document-list__item--active {
  .auk-icon {
    color: $auk-green-500;
  }
}

/* Loading state
   ========================================================================== */

.vlc-document-list__item--loading {
  span {
    opacity: 0.2;
  }
}

/* Document item list show more
   ========================================================================== */
.vlc-document-show-more-button {
  color: $auk-blue-500;
  border: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  margin-top: 1rem;
  cursor: pointer;
}

.vlc-document-show-more-button__text {
  line-height: 1.9rem;
}
