.vlc-agenda-item-big {
  border-bottom: 1px solid $ghost;
  padding: 2rem 1.6rem;
  background-color: $white;
}

/* ==========================================================================
   vl-agenda-items
   ========================================================================== */

.vlc-agenda-item {
  border-bottom: 1px solid $ghost;
  padding: 2rem 1.6rem;
  background-color: $white;

  .vl-title {
    padding-bottom: $spacing-xxsmall;
  }

  .vl-long-title {
    padding-bottom: $spacing-small;
  }

}

.vlc-agenda-item__meta {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.vlc-agenda-item__meta--positive {
  font-weight: 500;
  color: $napier-green;
  & + i {
    color: $napier-green;
  }
}

// Yellow headers
.vlc-agenda-items__header {
  background: $orange-light;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  padding: 1.3rem;
  color: $mine-shaft;
}

// Attachments - documents
.vl-attachments {
  flex-wrap: wrap;
  font-weight: 500;
  .vl-attachment {
    .vl-badge {
      margin-right: $spacing-xxsmall;
    }
    margin-bottom: $spacing-small;
    margin-right: $spacing-small;
  }
}

.vl-document-badge {
  background-color: $porcelain;
  font-weight: 500;
  i {
    color: $blue-gray-dark;
  }
}

/* Modifier for scrollable panel with agenda items
   ========================================================================== */

.vlc-agenda-items--small {

  a.vlc-agenda-item {
    text-decoration: none;
    display: block;
    color: inherit;
  }

  .vlc-agenda-item--active {
    background: $primary-blue;
    * {
      color: white;
    }
  }

  .vlc-agenda-items__header {
    padding: 3rem 1.5rem 1.5rem;
  }

}