/* ==========================================================================
   vlc-backlink
   Back button (item in toolbar)
   ========================================================================== */

.vlc-backlink {
  display: flex;
  padding:0.2em 0.2em;
  font-size: 1.2em;
  transform: rotate(90deg);
  text-decoration: none;

  i {
    position: relative;
    top: 0.2rem;
  }
}
