/* ==========================================================================
  vl-page-header
  ========================================================================== */

.vlc-page-header {
  padding: 1.5rem;
  border-bottom: 1px solid $ghost;

  .vlc-page-header__title {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  .vlc-page-header__title--max-width {
    text-overflow: ellipsis;
    max-width: 800px;
    overflow: hidden;
    white-space: nowrap;
  }

  .vlc-page-header__title--max-width-title {
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
  }

  .vlc-page-header__subtitle {
    font-weight: normal;
  }
}

.vlc-page-header__sub {
  display: flex;
  align-items: center;
  border-top: 1px solid $ghost;
}


.vlc-page-header__status {
  border-left: 1px solid $ghost;
  margin-left: 1rem;
  padding-left: 1rem;
}

.vlc-page-header--condensed {
  padding: 0 4rem;
}
