/* ==========================================================================
  vlc-comment
    consisting of:
    * vlc-comment-input
    * vlc-comment
   ========================================================================== */

/* ==========================================================================
   vlc-comment-input
   ========================================================================== */

.vlc-comment-input {
  display: flex;
  margin: 1.6rem 0 3.2rem;
  .vl-badge {
    margin-right: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    max-width: 3.2rem;
    flex: 1 0 auto;
  }
}

/* ==========================================================================
   vlc-comment
   ========================================================================== */

.vlc-comment {
  display: flex;
  margin-top: 3.2rem;

  .vl-badge {
    margin-top: 1.5rem;
    margin-right: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    flex: 0 0 3.2rem;
  }
}

.vlc-comment-content {
  flex: 1 1 auto;
  background: $blue-gray-lightest;
  padding: 1.5rem;
}

.vlc-comment-content__meta {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: $gray
}

.vlc-comment-content__header {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

/* Response
  ========================================================================== */

.vlc-comment--response {
  margin-left: 5.6rem;
  margin-top: 1.5rem;
  .vlc-comment-content {
    background: $porcelain;
  }
}

.vlc-comment-input--response {
  margin-left: 5.6rem;
  margin-top: 1.5rem;
}
