/* ==========================================================================
Component: Publication overview
 ---
Component for aligning multiple sub components on a horizontal axis
========================================================================== */

.vlc-publication-overview-navbar {
    & > .ember-view {
        width:100%;
    }
}
.vlc-case-name-header{
  min-width: 25rem
}

