/* ==========================================================================
  vlc-color-badge-holder
  Layout parent for vlc-color-badge
   ========================================================================== */

.vlc-color-badge-holder {
  display: flex;
  align-items: baseline;
}

.vlc-color-badge-holder__badge {
  flex: 0 auto;
}

.vlc-color-badge-holder__label {
  flex: 1;
  margin-left: 1rem;
}
