/* ==========================================================================
  vlc-color-badge
  Colored rectangle with a label
   ========================================================================== */

.vlc-color-badge {
  width: 1rem;
  height: 1rem;
  background: $mine-shaft;
  border-radius: 0.2rem;
}

.vlc-color-badge--success {
  background: $napier-green;
}

.vlc-color-badge--warning {
  background: $amber;
}

.vlc-color-badge--error {
  background: #DB3434;
}
