/* ==========================================================================
	 Button in input
	 ========================================================================== */

 .vlc-button-in-input {
   position: absolute;
   top: 44%;
   right: 3.6rem;
 }
