/* ==========================================================================
  vlc-pill
  Pill with fixed a11y for colors
   ========================================================================== */

.vlc-pill {
  font-size: 1.4rem;
  font-weight: 500;
  height: 2.4rem;
  line-height: 2.4rem;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  background: #CCC;
  border-radius: 0.5rem;
  color: $mine-shaft;
  padding: 0 0.6rem;
}

.vlc-pill--success {
  background: $napier-green;
  color: #FFF;
}

.vlc-pill--warning {
  background: $amber;
}

.vlc-pill--error {
  // background: $tall-poppy;
  background: #DB3434;
  color: #FFF;
}

.vlc-pill--clickable {
  cursor: pointer;
}
