/* ==========================================================================
   publications-status-pill
   ========================================================================== */

.publications-status-pill {
  border: .1rem solid $au-gray-300;
  border-radius: .5rem;
  padding: .35rem .6rem;
  white-space: nowrap;
}

.publications-status-pill__status-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.9rem;
}

.publications-status-pill__label {
  display: inline-block;
  padding-left: .4rem;
  color: $gray-dark;
}

.publications-status-pill--in-progress {
  color: $au-yellow-400;
}

.publications-status-pill--done {
  color: $au-green-500;
}

.publications-status-pill__not-started-symbol {
  display: block;
  margin-bottom: 0.3rem;
  width: 1.2rem;
  height: 1.2rem;

  border: 1.5px solid $au-gray-800;
  border-radius: 2.8rem;
}
