/* ==========================================================================
   vlc-container
   ========================================================================== */

.vlc-container {
  max-width: 90rem;
}

.vlc-container-center {
  margin: 0 auto;	
  max-width: 90rem;
}
