/* ==========================================================================
	 Printable agenda list
	 ========================================================================== */

.vlc-printable-agenda-list {
  padding: 4rem;

  h2.vlc-printable-agenda-list__title {
    margin-top: 0;
    text-align: center;
  }

  h4.vlc-printable-agenda-list__title {
    white-space: pre-line;
  }

  p.vlc-printable-agenda-list__description {
  	white-space: pre-line;
  }

  ul.vlc-printable-agenda-list__document-list {
  	list-style: none;

    // CSS reset for list elements to appear as plain new lines, as per example
    margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
    li {
      margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
  }
}
