/* ==========================================================================
   vlc-decision-result-select
   Wrapper div around power-select in order to modify power-select's default
   display, which causes unnecessary margin for the selected item.
   ========================================================================== */

.decision-result-select .ember-power-select-selected-item {
  display: flex;
  margin-left: 0;
}

.decision-result-select .ember-power-select-trigger {
  padding-left: 1rem;
}
