/* ==========================================================================
  vl-view-switch
  ========================================================================== */

.vlc-view-switch {
  display: flex;
  margin: 0 2.4rem;

  .vlc-view-switch__item {
    margin: 0 0.8em;
    a {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $blue-gray-dark;
    }

    // Icons were not found in iconset, so temporarily added them as SVG's
    .o-svg-icon svg {
      fill: $blue-gray-dark;
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      vertical-align: middle;
      margin-right: 0.4rem;
    }
  }

  .vlc-view-switch__item--active,
  .vlc-view-switch__item:hover {
    a {
      color: $black;
    }
    .o-svg-icon svg {
      fill: $black;
    }
  }
}