/* ==========================================================================
  Component: Minister list with authorities
   ========================================================================== */

.vlc-minister-list {
  .vlc-minister-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    padding: 1.8rem 0;
  }

  .vlc-minister-item__title {
    margin-bottom: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
  }
}
