/* ==========================================================================
  Agenda items
   ========================================================================== */

/* Modifiers on main object
   ========================================================================== */

.vlc-agenda-detail-sidebar--spaced {
  .vlc-agenda-detail-sidebar__sub-item {
    margin-bottom: 0.4rem;
  }
}

/* Main and sub item
   ========================================================================== */

.vlc-agenda-detail-sidebar__sub-item > a,
.vlc-agenda-detail-sidebar__sub-item > span { // a
  display: block;
  position: relative;
  padding: 1.8rem 1.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: $dove-gray;
  background: $porcelain;
  border-bottom: 0.01rem solid $ghost;
}

.vl-u-text-color-agenda-list {
  color: $mine-shaft;
}

.vlc-agenda-detail-sidebar__sub-item a {
  &:hover,
  &:focus {
    background: $blue-gray-lighter;
    color: $blue-dark;

    span {
      color: $blue-dark;
    }

    .vl-badge--alt {
      background-color: $blue-gray-lightest;
    }

    .vlc-document-list__item--active .vl-badge--alt {
      background-color: $green-light;
    }
  }
}

a.vlc-agenda-detail-sidebar__sub-item--active,
a.vlc-agenda-detail-sidebar__sub-item--active:hover,
a.vlc-agenda-detail-sidebar__sub-item--active:focus,
a.vlc-agenda-detail-sidebar__sub-item--active:active {
  background: $science-blue;
  border: none;
  color: #fff;

  .ember-power-select-selected-item{
    color:#000;
  }

  span,
  .vlc-agenda-detail-sidebar__status--positive,
  .ember-power-select-selected-item,
  pre,
  p,
  i {
    color: #fff;
  }
}

a.vlc-agenda-detail-sidebar__sub-item--active:focus {
  background: darken($science-blue, 5%);
}

.vlc-agenda-meta {
  padding-left: 3rem;
}

.vlc-agenda-meta__times-passed {
  opacity: 0.65;
}

// Subject: the “title”
.vlc-agenda-detail-sidebar__subject {
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  line-height: 130%;
}

.vlc-agenda-detail-sidebar__text-container {
  width: calc(100% - 3rem);
}


// Content: the longer description
.vlc-agenda-detail-sidebar__content {
  font-size: 1.4rem;
  opacity: 0.65;
  line-height: 1.3;
  margin: 1rem 0;
}

.vlc-agenda-detail-sidebar__remark__content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.vlc-agenda-detail-sidebar__sub-item--active a,
.vlc-agenda-detail-sidebar__sub-item--active a:hover,
.vlc-agenda-detail-sidebar__sub-item--active a:active {
  background: $science-blue;
  color: #FFF;
}


.vlc-agenda-detail-sidebar__sub-item--active a:focus {
  background: darken($science-blue, 5%);
}

.vlc-agenda-detail-sidebar-sub-item__numbering {
  min-width: 3rem;
  text-align: right;
  margin-right: 0.5rem;
  line-height: 140%;
  color: #333332;
}

// 'No items available' item
.vlc-agenda-detail-sidebar__no-items-message {
  display: flex;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
}

.vlc-agenda-detail-sidebar__no-items-text {
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: $blue-gray-dark;
  margin: 1.5rem;
}

.vlc-agenda-detail-sidebar__formally-ok-label {
  display: flex;
  padding-top: 1.5rem;

  .formally-ok-icon {
    &::before {
      margin-right: 0.2rem;
      height: 100%;
      padding-bottom: 0.3rem;
    }

    &.ki-check::before {
      line-height: 1.8rem;
    }

    &.ki-cross::before {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
