/* ==========================================================================
   vlc-backlink
   Back button (item in toolbar)
   ========================================================================== */

.vlc-backlink {
  padding: 0.8rem 0.2rem;
  display: inline-flex;
  i {
    position: relative;
  }
}