// Yellow headers
.vlc-list-section-header {
  background: $orange-light;
  color: $mine-shaft;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.33;

  border-bottom: 1px solid #EDD53D;
}

.vlc-list-section-header-title {
  opacity: 0.4;
}

.vlc-list-section-header + .vlc-list-section-header {
  clear: both;
}
.vlc-agenda-items--spaced {
  .vlc-list-section-header {
    margin-top: 1.5rem;
  }
}
