/* ==========================================================================
  Component: Toolbar
  ---
  Component for aligning multiple sub components on a horizontal axis
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-toolbar-item-spacing: 0.8rem !default;
$c-toolbar-main-border-color: $ghost;
$c-toolbar-size-regular: 6.5rem;
$c-toolbar-size-medium: 5rem;
$c-toolbar-z: 21;
$c-toolbar-middle-z: 20;

/* Component
  ========================================================================== */

.vlc-toolbar {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: $c-toolbar-size-regular;
}

.vlc-toolbar--medium {
  height: $c-toolbar-size-medium;
}

.vlc-toolbar--spaced {
  padding: 0 2.4rem;
}

.vlc-toolbar--auto {
  height: auto;
}

.vlc-toolbar__left {
  z-index: $c-toolbar-z; // Left and right should have higher z-index than center; if the elements overlap, there is a bigger chance we can still tap the action most likely contained on the left or right end
  max-width: 100%;
  .vlc-toolbar__item {
    margin-right: $c-toolbar-item-spacing;
    &:only-child {
      margin: 0;
    }
  }
}

.vlc-toolbar__item__width {
  width: 60%;
}

.vlc-toolbar__right {
  z-index: $c-toolbar-z; // Left and right should have higher z-index than center; if the elements overlap, there is a bigger chance we can still tap the action most likely contained on the left or right end
  max-width: 100%;
  .vlc-toolbar__item {
    margin-left: $c-toolbar-item-spacing;
    &:only-child {
      margin: 0;
    }
  }
}

.vlc-toolbar__left,
.vlc-toolbar__right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.vlc-toolbar__item {
  position: relative;
}

/* Specific children
  ========================================================================== */

.vlc-toolbar__title {
  font-weight: 500;
  font-size: 2rem; // Same as h4
}

/* Justified toolbar
  ========================================================================== */

.vlc-toolbar__justified {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  .vlc-toolbar__item {
    margin-right: $c-toolbar-item-spacing;
  }
}

.vlc-toolbar__item--stretch {
  flex: 1;
}

.vlc-toolbar__justified {
  .vlc-toolbar__item:last-child {
    margin: 0;
  }
}

/* Toolbar aligned top
  ========================================================================== */

.vlc-toolbar--align-top {
  align-items: flex-start;
}

/* Bordered equivalents
   ========================================================================== */

.vlc-toolbar--bordered-top {
  border-top: 0.1rem solid $ghost;
}

.vlc-toolbar--bordered-bottom {
  border-bottom: 0.1rem solid $ghost;
}

/* Slide-in toolbar
	 ========================================================================== */

.vlc-toolbar--slide-in {
  position: absolute;
  top: 0;
  right: 18rem;
  left: 18rem;
  max-height: 4.3rem;
  z-index: 3200;
  width: calc(100% - 37rem);
}
