.vlc-new-session {
  align-items: center;
  margin-left: 5px;

  .vlc-new-session__label {
    font-size: 1.6rem;
  }

  .vlc-new-session__identifier {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.vlc-new-session__meetingNumberPrefix {
  margin-top: 1rem;
}

.vlc-new-session__meetingNumberPrefix__container {
  margin-right: 1rem;
}

.vlc-new-session__flex {
  display: flex;
}
