/* ==========================================================================
  Component: User
  ---
  Signed in user on the top right (desktop)
   ========================================================================== */

.vlc-user {
  display: flex;
  font-size: 1.4rem;
  padding: 0 1rem;
  align-items: center;
}

.vlc-user__username {
  margin-right: 0.5rem;
}
