/* ==========================================================================
  Input field block
  Provide a wrapper for each form field to be able to handle layout at that level
   ========================================================================== */

.vlc-input-field-block {
  + .vlc-input-field-block {
    margin-top: 2rem;
  }
}

.vlc-input-field-power-select {
  width: 23rem;
}

/* ==========================================================================
  Input field inline
  Provide a wrapper for each form field to be able to handle layout at that level
   ========================================================================== */

.vlc-input-field-group-wrapper--inline {
  display: flex;
  width: 100%;

  .vlc-input-field-group {
    margin-right: 1rem;
    flex: 0 1 auto;

    &:last-child {
      margin-right: 0;
    }
  }

  .vlc-input-field-group--grow {
    flex: 1 0 auto;
    .auk-input {
      width: 100%; // Why is this not a default?
    }
  }

}
