/* ==========================================================================
  vlc-box
  Just a grey box
   ========================================================================== */

.vlc-box {
  background: $porcelain;
  padding: 2rem;
  margin: 0 0 4rem;
}

.vlc-box--padding-sides-only {
  padding: 0 2rem;
}
