/* ==========================================================================
  Component: Button Toolbar
  ---
  Group multiple buttons together
   ========================================================================== */

.vlc-button-toolbar {
  align-items: center;
  display: flex;

  .auk-button + .auk-button {
    margin-left: 0.4rem;
  }

  .auk-button + .vl-popover {
    margin-left: 0.4rem;
  }

}
