/* ==========================================================================
   Component: navbar
   ---
   A container for navigational elements
   ========================================================================== */

/* Variables
   ========================================================================== */

$vl-bar-size-padding: 2rem !default;
$vl-bar-size-regular: 6.5rem !default;
$vl-bar-size-large: 9.5rem !default;

/* Component
   ========================================================================== */

.vlc-navbar {
  padding: 0 $vl-bar-size-padding;
  height: $vl-bar-size-regular;
  width: 100%;
  display: flex;
  align-items: center;
}

.vlc-navbar > .vlc-toolbar {
  flex: 1 0 auto;
}

.vlc-navbar--auto {
  height: auto;
}

.vlc-navbar--no-padding {
  padding: 0;
}

.vlc-navbar--white {
  background: #FFF;
}

.vlc-navbar--bg-alt {
  background: $athens-gray;
}

.vlc-navbar--align-with-m-header {
  padding-left: 4rem;
}

/* Bordered equivalents
   ========================================================================== */

.vlc-navbar--bordered-top {
  border-top: 0.1rem solid $ghost;
}

.vlc-navbar--bordered-bottom {
  border-bottom: 0.1rem solid $ghost;
}

/* With tabs
   ========================================================================== */

.vlc-navbar--tabs {
  white-space: nowrap;
}

.vlc-navbar--tabs-bottom {
  align-items: flex-end;
}

/* Sizes
	 ========================================================================== */

.vlc-navbar--large {
  height: $vl-bar-size-large;
}
