<div class="au-c-card au-o-box au-o-box--small">
  <AuFieldset as |Fieldset|>
    <Fieldset.legend>{{t "confidential"}}</Fieldset.legend>
    <Fieldset.content>
      <Auk::CheckboxList>
        <AuControlCheckbox
          data-test-route-search-confidential-only-checkbox
          @label={{t "search-confidential-only" objectVerb=(lowercase @objectVerb)}}
          @checked={{@confidentialOnly}}
          @onChange={{@onChange}}
        />
      </Auk::CheckboxList>
    </Fieldset.content>
  </AuFieldset>
</div>