<div class="au-c-card au-o-box au-o-box--small">
  <AuFieldset as |Fieldset|>
    <Fieldset.legend>{{t "confidential"}}</Fieldset.legend>
    <Fieldset.content>
      <Auk::CheckboxList>
        <AuCheckbox
          @checked={{@confidentialOnly}}
          @onChange={{@onChange}}
        >
          {{t "search-confidential-only" objectVerb=(lowercase @objectVerb)}}
        </AuCheckbox>
      </Auk::CheckboxList>
    </Fieldset.content>
  </AuFieldset>
</div>