<div class="au-c-card au-o-box au-o-box--small">
  <AuFieldset as |Fieldset|>
    <Fieldset.legend>{{t "confidential"}}</Fieldset.legend>
    <Fieldset.content>
      <AuCheckboxGroup> {{!-- Just use the group component here as a styling method as also using the included functionality would unnecessarily overcomplicate things --}}
        <AuCheckbox
          @checked={{@confidentialOnly}}
          @onChange={{@onChange}}
        >
          {{t "search-confidential-only" objectVerb=(lowercase @objectVerb)}}
        </AuCheckbox>
      </AuCheckboxGroup>
    </Fieldset.content>
  </AuFieldset>
</div>