<div>
  <AuHeading
    @level="3"
    @skin="6"
    class="au-u-hidden-visually"
  >Inhoud</AuHeading>
  <ul class="au-c-list-navigation">
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="search.cases">
        {{t "agendaitem-case"}}
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="search.agendaitems">
        {{t "agenda"}}
      </AuNavigationLink>
    </li>
  </ul>
</div>