<div class="cases--subcases-overview">
  {{#if model}}
    {{#each model as |subcase|}}
      <div class="cases--subcases-item">
        <div class="cases--subcases-item-arrow">
          <img src="/assets/right-arrow.svg" />
        </div>
        <div class="cases--subcases-item-content">
          {{#link-to "cases.case.subcases.subcase" subcase.id}}
            <h4>
              {{subcase.title}}
            </h4>
          {{/link-to}}
          <span>
            {{moment-format subcase.created "dd. DD-MM-YYYY"}}
          </span>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div>
      <p>
        Er zijn nog geen deeldossiers
      </p>
    </div>
  {{/if}}
</div>