/* ==========================================================================
  Component: styleguide bordered list header
  ========================================================================== */

.br-styleguide-bordered-list-header {
  padding: 0.6rem;
  font-size: 1.6rem;
}
