/* ==========================================================================
  Component: styleguide bordered list
  ========================================================================== */

.br-styleguide-bordered-list {
  margin: 0 0 1.6rem;
}

.br-styleguide-bordered-list ul {
  margin: 0 0 0 1.6rem;
}

.br-styleguide-bordered-list li {
  border-bottom: 0.1rem solid $au-gray-200;
}

.br-styleguide-bordered-list li:last-child {
  border: none;
}

.br-styleguide-bordered-list a {
  display: block;
  padding: 0.6rem;
  color: $au-gray-600;
  &.active {
    color: #000;
    background: $au-gray-100;
  }
  &:hover {
    color: $au-blue-700;
  }
  &:focus {
    outline: 0;
    border-color: $au-yellow-500;
    box-shadow: inset 0 0 0 0.2rem $au-yellow-500;
  }
  text-decoration: none;
}

.br-styleguide-bordered-list--on-gray-100 {
  a.active {
    background: $au-gray-200;
  }
}

.auk-accordion .br-styleguide-bordered-list {
  padding-left: 2rem;
}
