/* ==========================================================================
  Code Blocks
  ========================================================================== */

.br-styleguide-code-block {
  margin: 1.2rem 0 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1.3rem;
}
