<div class="auk-input-with-icon">
  <input
          class="auk-input {{this.error}} {{this.block}}"
          type="text"
          ...attributes
  />
  <WebComponents::AuIcon @name="calendar" />
</div>
