@use "sass:map";

@use "../settings";

/* ==========================================================================
   Mixins
   ---
   Global SCSS mixins
   ========================================================================== */

@mixin element-focus {
   &:focus {
      outline: 0;
      border-color: settings.$color-yellow-500;
      box-shadow: inset 0 0 0 0.1rem settings.$color-yellow-500;
   }
}

@mixin breakpoint($breakpoint) {
   @media (min-width: map.get($map: settings.$global-breakpoints, $key: $breakpoint)) {
      @content;
   }
}
