<div class="page">
  <div
    id="main"
    itemprop="mainContentOfPage"
    role="main"
    tabindex="-1"
    class="main-content"
  >
    <header
      class="content-header content-header--small content-header--half-image"
    >
      <div class="content-header__wrapper">
        <picture class="content-header__bg">
          <img
            sizes="50vw"
            src="/assets/images/loket-header-1600.jpg"
            srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
            alt=""
            title=""
           />

        </picture>
        <div class="layout layout--wide">
          <div class="content-header__content">
            <div class="content-header__logo-wrapper">
              <a
                href="#"
                class="content-header__entity-logo content-header__entity-logo--lowercase"
              >
                <span class="content-header__entity-logo__prefix">
                  Kanselarij
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="vl-alert vl-alert--warning" role="alert">
      <div class="vl-alert__icon">
        <i class="vl-vi vl-vi-alert-triangle" aria-hidden="true"></i>
      </div>
      <div class="vl-alert__content">
        <p class="vl-alert__title">
          Geen rechten
        </p>
        <div class="vl-alert__message">
          <p>
            Je account heeft nog geen rechten om deze applicatie te gebruiken.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>