<div class="cases--header">

  <div class="cases--info">
    <h1>Dossiers</h1>
    <p>32.000 dossiers</p>
  </div>

  <div >
    {{#link-to "cases.create"}}
      <button>+ Nieuw dossier aanmaken</button>
    {{/link-to}}
  </div>

</div>

<div class="cases--content">
  {{outlet}}
</div>

