<div class="cases--content">
  <div class="cases--content-50">
    <div class="cases--header">
      {{cases/cases-search cases=model showFilters="true"}}
    </div>
    {{cases/case-item model=model}}
  </div>
  <div class="cases--content-50">
    {{outlet}}
  </div>
</div>