<div class="side-nav-small">
	<div class="title-container">
		{{t 'comparison.nav-title'}}
	</div>
	{{#each agendas as |agenda|}}
	<button {{action "selectAgenda" agenda}}>{{agenda.agendaName}}</button>
	{{/each}}
</div>
{{agenda/compare-agenda-list
  currentAgenda=(await currentAgenda)
  agendaToCompare=(await agendaToCompare)
}}