<div class="side-nav-small">
  <div class="title-container">
    {{t "comparison.nav-title"}}
  </div>
  {{#each (await agendas) as |agenda|}}
    <button {{action "selectAgenda" agenda}}>
      {{agenda.agendaName}}
    </button>
  {{/each}}
</div>
{{agenda/compare-agenda-list
  currentAgenda=currentAgenda
  agendaToCompare=agendaToCompare
}}