<div class="files--header">

  <div class="files--header-tile files--search">

    <div>
      <label>Zoeken</label>
      <div class="files--search-content">
        <form>
          <input placeholder="search" />
          <div class="files--search-submit">
            <button>
              <img src="/assets/search.svg" />
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="">
      <button>Show filters</button>
    </div>

  </div>

  <div class="files--header-tile files--sub-file-header">
    <h3>DEELDOSSIERS</h3>
    <button>+ nieuw deeldossier</button>
  </div>

</div>



<div class="files--content">



</div>