{{!-- template-lint-disable  --}}
<div class="icons-page">
<h1>kaleidos-icons</h1><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-add"/>
            </span>
            <br/>
            <span class="label">add</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-alert-triangle"/>
            </span>
            <br/>
            <span class="label">alert-triangle</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-arrow-down"/>
            </span>
            <br/>
            <span class="label">arrow-down</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-arrow-left"/>
            </span>
            <br/>
            <span class="label">arrow-left</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-arrow-right"/>
            </span>
            <br/>
            <span class="label">arrow-right</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-arrow-up"/>
            </span>
            <br/>
            <span class="label">arrow-up</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-bin"/>
            </span>
            <br/>
            <span class="label">bin</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-calendar"/>
            </span>
            <br/>
            <span class="label">calendar</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-check-small"/>
            </span>
            <br/>
            <span class="label">check-small</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-cross"/>
            </span>
            <br/>
            <span class="label">cross</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-hierarchical-back"/>
            </span>
            <br/>
            <span class="label">hierarchical-back</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-info-circle"/>
            </span>
            <br/>
            <span class="label">info-circle</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-nav-down"/>
            </span>
            <br/>
            <span class="label">nav-down</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-nav-left"/>
            </span>
            <br/>
            <span class="label">nav-left</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-nav-right"/>
            </span>
            <br/>
            <span class="label">nav-right</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-nav-up"/>
            </span>
            <br/>
            <span class="label">nav-up</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-pencil"/>
            </span>
            <br/>
            <span class="label">pencil</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-question-mark"/>
            </span>
            <br/>
            <span class="label">question-mark</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-redo"/>
            </span>
            <br/>
            <span class="label">redo</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-search"/>
            </span>
            <br/>
            <span class="label">search</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-sitemap"/>
            </span>
            <br/>
            <span class="label">sitemap</span>
        </div><div class="preview">
            <span class="inner">
                <i class=" kaleidos-icon-user"/>
            </span>
            <br/>
            <span class="label">user</span>
        </div>
</div>