<div style="" class="vl-u-display-flex vlc-login full-height full-width u-padding--left--large u-padding--right--large">
  <div class="vlc-login-content">
    <h1 class="h1 u-spacer--tiny u-padding--bottom--large">Kaleidos</h1>
    <h2 class="h4 vlc-u-font-weight-normal u-padding--bottom--large">
      Een webapplicatie die helpt bij het plannen en opvolgen van de agenda van de Vlaamse Regering.
    </h2>
    <div>
      <p class="u-spacer--tiny">
        Lukt het aanmelden niet? Neem contact op met uw interne beheerder. Indien er zich een probleem voordoet,
        contacteer
        <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">
          gebruikersbeheer Vlaanderen
        </a>
        .
      </p>
      <p class="u-spacer--tiny">
        Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet
        verschijnt.
      </p>
      <div class="u-padding--top--large">
        {{acmidm-login}}
      </div>
    </div>

  </div>
</div>