{{#if (await model)}}
  {{newsletter/newsletter-header-overview
    agenda=(await model.agenda)
    amountOfItems=(await model.amountOfItems)
  }}
  <div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    {{newsletter/newsletter-meeting meeting=(await model.meeting)}}
    {{#each (await model.agendaitems) as |agendaitem|}}
      {{newsletter/newsletter-item
        agenda=(await model.agenda)
        agendaitem=agendaitem
      }}
    {{/each}}
  </div>
  {{#if (not (eq (await model.agendaitems.length) 0))}}
    {{web-components/vl-pagination
      page=page
      size=size
      links=(await links)
      nbOfItems=nbOfItems
      total=total
    }}
  {{/if}}
  </div>  
{{/if}}
