<div class="files--header">
  {{sessions/sessions-selector
    sessions=model
    currentSession=currentSession
    selectedAgenda=selectedAgenda
    creatingNewSession=creatingNewSession
    addingSubCasesToAgenda=addingSubCasesToAgenda
    chooseSession=(action 'chooseSession')
  }}
  <div class="files--header-tile files--sub-file-header">
    {{#if creatingNewSession}}
      {{sessions/forms/new-session cancelForm=(action "cancelNewSessionForm")}}
    {{/if}}
  </div>
</div>
{{outlet}}