<div class="files--header">
  <div class="files--header-tile files--search">
    <div class="session-header">
      <div class="session-title-container">
        <strong class="sessions-title">
          Agenda van
        </strong>
      </div>
      {{#power-select
        options=sessions
        selected=selectedDate
        searchField="plannedstart"
        search=(perform searchTask)
        oninput=(action "resetValue")
        onchange=(action "chooseSession") as |session|
      }}
        {{moment-format session.plannedstart "dddd DD-MM-YYYY"}}
      {{/power-select}}
      <button {{action "createNewSession"}}>
        Nieuwe zitting
      </button>
    </div>
    <div>
      <p class="sessions-subtitle">
        62 agendapunten, 12 mededelingen
      </p>
    </div>
  </div>
  <div class="files--header-tile files--sub-file-header">
    {{#if creatingNewSession}}
      {{sessions/forms/new-session}}
    {{/if}}
  </div>
</div>
<div class="files--content">
  <div class="files--content-tile">
    <div class="files--decree">
      <div class="files--decree-content">
        <div class="files--decree-content-label"></div>
        <div class="files--decree-content-expand">
          <img src="/assets/down-arrow.svg" />
          <span></span>
        </div>
      </div>
      <div class="files--decree-options">
        <div>
          <span></span>
        </div>
        <div class="files--decree-options-settings">
          <img src="/assets/setting.svg" alt="Settings" />
        </div>
        <div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="files--content-tile"></div>
</div>