<div class="vlc-scroll-wrapper">
  <div class="vl-u-bg-alt">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <div class="vlc-toolbar vlc-toolbar--auto">
            <div class="vlc-toolbar__left">
              <ul class="vl-tabs vl-u-reset-margin" role="tablist">
                <li class="vl-tab">
                  {{#link-to
                    "settings.overview"
                    class="vl-tab__link"
                    activeClass="vl-tab__link--active"
                  }}
                    {{t "general-settings"}}
                  {{/link-to}}
                </li>
                <li class="vl-tab">
                  {{#link-to
                    "settings.ministers"
                    class="vl-tab__link"
                    activeClass="vl-tab__link--active"
                  }}
                    {{t "manage-ministers"}}
                  {{/link-to}}
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="vlc-scroll-wrapper__body">
    <div class="vl-u-spacer-extended-l">
      {{outlet}}
    </div>
  </div>
</div>