{{#if isLoading}}
  <div class="auk-loader" role="alert" aria-busy="true"></div>
{{else}}
  <input class="vl-toggle"
         type="checkbox"
         value="1"
         checked={{await value}}
  />

  <label class="vl-toggle__label"
    {{action "valueChanged" row bubbles=false}}
  >
    <span aria-hidden="true"></span>
    <span class="auk-u-sr-only"></span>
  </label>
{{/if}}