<button type="button" data-test-delete-user class="vl-button vl-button--link vl-button--icon vlc-link-pointer" {{action "toggleIsVerifying" bubbles=false}}>
  <i class="ki-delete" aria-hidden="true"></i>
  <span class="vl-u-visually-hidden">
    {{t "delete"}}
  </span>
</button>
{{#if isVerifying}}
  {{web-components/vl-modal-verify
    title=(t "delete-account")
    message=(t "delete-account-message")
    cancel=(action "toggleIsVerifying")
    verify=(action "deleteAccount")
  }}
{{/if}}
