<div class="auk-o-flex auk-o-flex--justify-end">
  {{!-- <WebComponents::LightTable::VlDeleteUser
    @row={{this.row}}
    @refreshRoute={{this.tableActions.refreshRoute}}
  /> --}}
  <Auk::DropdownMenu
    @skin="borderless"
    @icon="three-dots"
    as |Menu|
  >
    {{!-- <Menu.Item
    >
      Activeren
    </Menu.Item> --}}
    <Menu.Item>
      Deactiveren
    </Menu.Item>
    <Menu.Divider />
    <Menu.Item
      @skin="danger"
      data-test-document-card-delete
    >
      Blokkeren
    </Menu.Item>
  </Auk::DropdownMenu>
  <Settings::User::NextButton @row={{this.row}} @goToRoute={{this.goToRoute}} />
</div>