<div class="auk-o-flex">
  <WebComponents::LightTable::VlDeleteUser
    @row={{row}}
    @refreshRoute={{tableActions.refreshRoute}}
  />
  <Settings::User::NextButton @row={{row}} @goToRoute={{goToRoute}} />
</div>