<div class="auk-o-flex">
  {{web-components/light-table/vl-delete-user
    row=row
    refreshRoute=tableActions.refreshRoute
  }}
  <Settings::User::NextButton
          @row={{row}}
          @goToRoute={{goToRoute}}/>
</div>
