<div class="auk-o-flex">
  <WebComponents::LightTable::VlDeleteUser
    @row={{this.row}}
    @refreshRoute={{this.tableActions.refreshRoute}}
  />
  <Settings::User::NextButton @row={{this.row}} @goToRoute={{this.goToRoute}} />
</div>