<span>
  <a
    href={{@doc.viewDocumentURL}} target="_blank" rel="noreferrer noopener"
    data-test-document-badge-link
  >
    <Auk::Icon @name={{if @isHighlighted "document-added" "document"}} />
    {{@doc.name}}
  </a>
  {{#if @isShowingAccessLevel}}
    <AccessLevelPill
      @accessLevel={{@accessLevel}}
    />
  {{/if}}
</span>