<Documents::DocumentList
  @pieces={{@pieces}}
as |documents|>
  <div class="grid-container">
    {{#each documents as |doc|}}
      <Documents::DocumentBadge
        @piece={{doc}}
        @isHighlighted={{includes doc @highlightedPieces}}
        @isClickable={{true}}
      />
    {{/each}}
  </div>
</Documents::DocumentList>