<span class="auk-pill auk-pill--white">
  {{#if this.icon}}
    <div class="auk-icon auk-icon--default auk-icon--{{this.icon}}">
      <i class="ki ki-{{this.icon}}"></i>
    </div>
  {{/if}}
  {{uppercase @extension}}
</span>