<div class="vlc-scroll-wrapper__header">
  <div class="vlc-navbar vlc-navbar--bordered-bottom vlc-hide-on-print">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__justified">
        <div class="vlc-toolbar__item vlc-u-box-model-maximize-width">
          <div class="auk-form-group">
            <WebComponents::AuInput
              @icon="search"
              type="text"
              @block="true"
              @placeholder={{t "search-placeholder"}}
              @value={{this.searchText}}
              {{on "input" this.debouncedSearch}}
              @enter={{this.search}}
              data-test-trigger-search-input
            />
          </div>
        </div>
        {{#if this.debouncedSearchTask.isRunning}}
          <div class="auk-loader" role="alert" aria-busy="true"></div>
        {{/if}}
      </div>
    </div>
  </div>
</div>