{{#web-components/vl-modal
  closeModal=(action "close")
  isOverlay=true
  large=true
  title=(t "document-add")
}}
  <div class="vl-modal-dialog__content">
    {{#if (or multipleFiles (not model.length))}}
      {{file-uploader uploadedFile=(action "add") multipleFiles=multipleFiles}}
    {{/if}}
    <div class="upload-container">
      {{#each model as |uploadedFile|}}
        {{#ember-kaleidos-webuniversum/vl-uploaded-document
          name=uploadedFile.filename
          extension=uploadedFile.extension
          size=uploadedFile.size
          downloadLink=(concat uploadedFile.downloadLink "?name=" uploadedFile.filename)
          downloadName=uploadedFile.filename
          delete=(action "delete" uploadedFile)
        }}
          <div class="metadata-container">
            <div class="vlc-input-field-block">
              {{web-components/vl-form-label value=(t "document-name")}}
              {{web-components/vl-form-input width="4" value=(mut uploadedFile.filenameWithoutExtension)}}
            </div>
          </div>
        {{/ember-kaleidos-webuniversum/vl-uploaded-document}}
      {{/each}}
    </div>
  </div>
  {{web-components/vl-modal-footer
    isLoading=isLoading
    cancelButtonText=(t "cancel")
    saveButtonText=(t "document-add")
    cancelAction=(action "cancel")
    saveAction=(action "save")
    disableSave=(eq model.length 0)
  }}
{{/web-components/vl-modal}}
