<div class="compare-title">
  <h2>
    {{agendaToCompare.name}}
  </h2>
  <h2>
    {{currentAgenda.name}}
  </h2>
</div>
<div class="compare-agenda-list-container">
  {{#each changedItems as |changedSet|}}
    {{agenda/compare-agenda-item changedSet=changedSet}}
  {{/each}}
</div>