/* ==========================================================================
   ember-tag-input
   ========================================================================== */

.emberTagInput {
  border: 0.1rem solid $auk-gray-300;
  border-radius: .3rem;
  width: 100%;
  background-color: $auk-white;
  padding: .7rem;

  font-family: $g-base-font-family;
  font-size: 1.5rem;
  color: $auk-gray-800;

  &::placeholder {
    color: $auk-gray-500;
  }

  &:focus-within {
    box-shadow: none;

    outline: var(--au-outline);
    outline-offset: var(--au-outline-offset);
  }

  @extend .auk-filter-pill-list;
}

.emberTagInput-tag {
  @extend .auk-filter-pill;
}

.emberTagInput-tag--remove {
  opacity: 0.75;
}

.emberTagInput-remove {
  @extend .auk-icon;
  @extend .auk-icon--x;

  &:before {
    @extend %auk-icons-font-style;
    @extend .ki-x;
  }

  text-decoration: none !important;
  color: inherit !important;
}

.emberTagInput-new {
  display: inline-flex;
}

.emberTagInput-input {
  border: none;
  padding: 0;

  font-family: $g-base-font-family;
  font-size: 1.5rem;
  color: $auk-gray-800;

  &:focus {
    outline: none;
  }
}
