/* ==========================================================================
   ember-rdfa-editor
   ========================================================================== */

// Variables

$say-toolbar-background: var(--au-white);
$say-editor-background: var(--au-white);
$say-editor-padding: 1rem;
$say-paper-min-height: 120rem;


// Custom variables

$say-container-height: 60rem;
$say-editor-border-color: $au-input-border-color;
$say-editor-border-radius: $au-input-border-radius;


// @import 'ember-rdfa-editor/custom-components';
// This used to be the only import regarding the rdfa-editor styling but because we only use the basic functionality for the moment & we don't really need the deprecated styling from that package, we'll be only importing the necessary SCSS files (see below)

@import 'ember-rdfa-editor/c-container';
@import 'ember-rdfa-editor/c-dropdown';
@import 'ember-rdfa-editor/c-content';
@import 'ember-rdfa-editor/c-editor';
@import 'ember-rdfa-editor/c-icon';
@import 'ember-rdfa-editor/c-toolbar';
@import 'ember-rdfa-editor/c-table';
@import 'ember-rdfa-editor/shame';


// Overrides

.say-container {
  height: $say-container-height;

  border: .1rem solid $say-editor-border-color;
  border-radius: $say-editor-border-radius;
}

.auk-rdfa-fullscreen .say-container {
  border-radius: 0;
}

.say-toolbar {
  border-bottom-color: $say-editor-border-color;
  border-top-left-radius: $say-editor-border-radius;
  border-top-right-radius: $say-editor-border-radius;
}

.say-toolbar__group {
  padding-right: 0;
  padding-left: 0;
}

.say-toolbar__button,
.say-dropdown__button {
  &:focus {
    outline-offset: -0.3rem;
  }
}

.say-toolbar__button + .say-toolbar__button {
  border-left-color: $say-editor-border-color;
}

.say-dropdown + .say-toolbar__button {
  border-left: 0.1rem solid $say-editor-border-color;
}

.say-container__main {
  border-bottom-right-radius: $say-editor-border-radius;
  border-bottom-left-radius: $say-editor-border-radius;
}

.say-editor__inner {
  overflow-wrap: anywhere;

  p {
    white-space: break-spaces;
  }
}

.say-content {
  --au-font: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  &,
  p,
  ul,
  ol,
  div {
    @include au-font-size(1.8rem);
  }

  > * + * {
    margin-top: 1.5rem;
  }

  > p + ul,
  > p + ol {
    margin-top: 0;
  }

  ul,
  ol {
    margin-left: 2.8rem;
  }
}

.say-container__aside {
  pointer-events: none;
}

.say-editor-hints {
  pointer-events: auto;
}


// Full screen

.auk-rdfa-holder {
  //
}

.auk-rdfa-holder__header {
  .auk-rdfa-fullscreen & {
    padding: 1rem;
    flex-grow: 0;
  }
}

.auk-rdfa-fullscreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: .5rem;
  left: .5rem;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 6rem rgba(0,0,0,.8);

  .say-container {
    height: calc(100vh - 6.5rem);
    border: 0;
    border-top: .1rem solid $auk-gray-300;
  }

  .say-editor__paper,
  .say-editor__inner {
    min-height: calc(100vh - 13.1rem);
  }

  .say-editor {
    padding-top: 3rem;
  }
}
